workflows/AR Risk Account Functions, Airtable - ERP.json
{
  "active": true,
  "connections": {
    "Freeze Account": {
      "main": [
        [
          {
            "node": "Freeze Account1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unfreeze",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unfreeze": {
      "main": [
        [
          {
            "node": "Unfreeze Account",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Freeze Account1": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unfreeze Account": {
      "main": [
        [
          {
            "node": "Slack1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Limit": {
      "main": [
        [
          {
            "node": "Update Limit ERP",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Terms",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Terms": {
      "main": [
        [
          {
            "node": "Update Terms ERP",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Query Balance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Balance": {
      "main": [
        [
          {
            "node": "Format Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Date": {
      "main": [
        [
          {
            "node": "Query Balance ERP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Balance ERP": {
      "main": [
        [
          {
            "node": "Search Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Record": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Encode Customer Name": {
      "main": [
        [
          {
            "node": "Freeze Account",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Array is Empty. Update 0 Values",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Range Values",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AR trigger": {
      "main": [
        [
          {
            "node": "Encode Customer Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-03-14T09:46:55.051Z",
  "id": "JH96IF02M7y9dzdO",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "AR Risk Account Functions, Airtable - ERP",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "a74eaf1c-dd2b-401b-896c-378f3274d930",
              "leftValue": "={{ $('AR trigger').item.json.body['Account Functions'] }}",
              "rightValue": "Freeze Account",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "57f1767d-073c-42d0-a227-6a89dc768cce",
      "name": "Freeze Account",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1440,
        460
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "2e59579e-bf4b-4257-8102-974cec1ec769",
              "leftValue": "={{ $('AR trigger').item.json.body[\"Account Functions\"] }}",
              "rightValue": "Unfreeze Account",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": false
        }
      },
      "id": "914acef0-098b-490c-b62e-174599652374",
      "name": "Unfreeze",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1660,
        540
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#account_management",
          "mode": "name"
        },
        "messageType": "block",
        "blocksUi": "={\n   \"blocks\":[\n      {\n         \"type\":\"section\",\n         \"text\":{\n            \"type\":\"mrkdwn\",\n            \"text\":\"ALERT:\\n{{ $('AR trigger').item.json[\"body\"][\"Customer Name\"] }} has been frozen.\"\n         },\n         \"accessory\":{\n            \"type\":\"button\",\n            \"text\":{\n               \"type\":\"plain_text\",\n               \"text\":\"Go To Customer\",\n               \"emoji\":true\n            },\n            \"value\":\"click_me_123\",\n            \"url\":\"https://portal.bulkbox.cloud/app/customer/{{ $('Encode Customer Name').item.json[\"encodedName\"] }}\",\n            \"action_id\":\"button-action\"\n         }\n      }\n   ]\n}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "717b01c5-0756-4937-a5b2-b69ae161efde",
      "name": "Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        1900,
        240
      ],
      "credentials": {
        "slackApi": {
          "id": "nHsD7aEjogT4fnip",
          "name": "BBX Bot (n8n)"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#account_management",
          "mode": "name"
        },
        "messageType": "block",
        "blocksUi": "={\n   \"blocks\":[\n      {\n         \"type\":\"section\",\n         \"text\":{\n            \"type\":\"mrkdwn\",\n            \"text\":\"ALERT:\\n{{ $('AR trigger').item.json[\"body\"][\"Customer Name\"] }} has been unfrozen.\"\n         },\n         \"accessory\":{\n            \"type\":\"button\",\n            \"text\":{\n               \"type\":\"plain_text\",\n               \"text\":\"Go To Customer\",\n               \"emoji\":true\n            },\n            \"value\":\"click_me_123\",\n            \"url\":\"https://portal.bulkbox.cloud/app/customer/{{ $('Encode Customer Name').item.json[\"encodedName\"] }}\",\n            \"action_id\":\"button-action\"\n         }\n      }\n   ]\n}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "893e76f6-076e-438e-9a91-d06fe4bc3ef7",
      "name": "Slack1",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        2100,
        380
      ],
      "credentials": {
        "slackApi": {
          "id": "nHsD7aEjogT4fnip",
          "name": "BBX Bot (n8n)"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://portal.bulkbox.cloud/api/resource/Customer/{{ $('Encode Customer Name').item.json[\"encodedName\"] }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "erpNextApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "is_frozen",
              "value": "1"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "23577436-7bb6-4c3d-9491-25a2b6e737af",
      "name": "Freeze Account1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1660,
        340
      ],
      "credentials": {
        "erpNextApi": {
          "id": "OVfEC6rfwqA5vwcf",
          "name": "ERPNext account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://portal.bulkbox.cloud/api/resource/Customer/{{ $('Encode Customer Name').item.json[\"encodedName\"] }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "erpNextApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "is_frozen",
              "value": "0"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "3cd6760a-7ac7-4306-871e-b549c98b50fa",
      "name": "Unfreeze Account",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1880,
        440
      ],
      "credentials": {
        "erpNextApi": {
          "id": "OVfEC6rfwqA5vwcf",
          "name": "ERPNext account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "d8431a2d-e0bf-44d0-a4f7-3adaa9bc3371",
              "leftValue": "={{ $('AR trigger').item.json.body[\"Account Functions\"] }}",
              "rightValue": "Update Limit",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b186abab-8640-484e-886e-572b550e224e",
      "name": "Update Limit",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1880,
        640
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://portal.bulkbox.cloud/api/resource/Customer/{{ $('Encode Customer Name').item.json[\"encodedName\"] }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "erpNextApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"data\":{\"credit_limits\":[{\"company\":\"Three Spears Limited\",\"credit_limit\":{{ $('AR trigger').item.json.body[\"Credit Limit\"] }}}]}}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "e3795677-69ab-4df0-992b-8f6faa75ccf3",
      "name": "Update Limit ERP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2140,
        580
      ],
      "credentials": {
        "erpNextApi": {
          "id": "OVfEC6rfwqA5vwcf",
          "name": "ERPNext account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "b2e4554e-7112-4ad2-9841-72ea611235de",
              "leftValue": "={{ $('AR trigger').item.json.body[\"Account Functions\"] }}",
              "rightValue": "Update Payment Terms",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "05784b52-5611-4cf6-9d33-ebc733e68267",
      "name": "Update Terms",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2100,
        780
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://portal.bulkbox.cloud/api/resource/Customer/{{ $('Encode Customer Name').item.json[\"encodedName\"] }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "erpNextApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "payment_terms",
              "value": "={{ $('AR trigger').item.json.body['Payment Terms'] }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "f79c52a6-39bd-4567-b1e2-82e363b1f129",
      "name": "Update Terms ERP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2360,
        680
      ],
      "credentials": {
        "erpNextApi": {
          "id": "OVfEC6rfwqA5vwcf",
          "name": "ERPNext account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "a1899ac1-2f94-41ca-8694-a5203c4c60b1",
              "leftValue": "={{ $('AR trigger').item.json.body[\"Account Functions\"] }}",
              "rightValue": "Query Balance",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "63830164-bca5-4780-a194-9d58bfcb22d6",
      "name": "Query Balance",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2400,
        940
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $now }}",
        "format": "yyyy-MM-dd",
        "options": {}
      },
      "id": "d58360ad-5a71-493b-b7ab-6f13d801085f",
      "name": "Format Date",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        2700,
        880
      ]
    },
    {
      "parameters": {
        "url": "=https://portal.bulkbox.cloud/api/method/frappe.desk.query_report.run?report_name=Accounts+Receivable+Summary&filters={\"company\":\"Three+Spears+Limited\",\"ageing_based_on\":\"Posting+Date\",\"report_date\":\"{{ $json[\"formattedDate\"] }}\",\"range1\":7,\"range2\":15,\"range3\":30,\"range4\":45,\"range5\":46,\"customer\":\"{{ $('Encode Customer Name').item.json[\"encodedName\"] }}\"}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "erpNextApi",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "b1dc434b-7ad0-4157-8188-c9cb48b449fc",
      "name": "Query Balance ERP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2980,
        880
      ],
      "credentials": {
        "erpNextApi": {
          "id": "OVfEC6rfwqA5vwcf",
          "name": "ERPNext account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Retrieve the input data from the previous node\nconst inputData = items[0].json;\n\n// Define a function to check if a value is empty and set it to zero if it is\nconst checkEmptyAndSetToZero = (value) => {\n    return value === undefined || value === null ? 0 : value;\n};\n\n// Iterate over each field in the input data\nfor (const fieldName in inputData) {\n    if (inputData.hasOwnProperty(fieldName)) {\n        // Check if the field value is empty and set it to zero if it is\n        inputData[fieldName] = checkEmptyAndSetToZero(inputData[fieldName]);\n    }\n}\n\n// Return the updated input data\nreturn [{ json: inputData }];\n"
      },
      "id": "b7da99e3-701d-4137-a3a5-5dec3431f92f",
      "name": "if Empty 0",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        980,
        1020
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app7c9cfju1wCcghr",
          "mode": "list",
          "cachedResultName": "AR Management Tool",
          "cachedResultUrl": "https://airtable.com/app7c9cfju1wCcghr"
        },
        "table": {
          "__rl": true,
          "value": "tblzg5Zj11G3fiwyr",
          "mode": "list",
          "cachedResultName": "Main",
          "cachedResultUrl": "https://airtable.com/app7c9cfju1wCcghr/tblzg5Zj11G3fiwyr"
        },
        "filterByFormula": "=({Customer ID} = \"{{ $('AR trigger').item.json.body[\"Customer Name\"] }}\")",
        "options": {}
      },
      "id": "84517e70-7177-443e-b092-c1ef5b467af6",
      "name": "Search Record",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        3260,
        880
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "q5ICF2DzH8KpL3Ai",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const jsonData = items[0].json.body;\n\n// Accessing the customer name from the JSON data\nconst customerName = jsonData[\"Customer Name\"];\n\n// Encoding the customer name\nconst encodedCustomerName = encodeURIComponent(customerName);\n\n// Returning the encoded customer name\nreturn [{ json: { encodedName: encodedCustomerName } }];\n\n"
      },
      "id": "876a18b1-4b59-4870-8c26-46cd65f04ae8",
      "name": "Encode Customer Name",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1220,
        460
      ]
    },
    {
      "parameters": {
        "content": "# Need to setup error notification for every route.\n## * Slack Notification to Error channel\n## * Also configure BBX Bot using authentication token.\n",
        "height": 266.7352185089975,
        "width": 462.36503856041054
      },
      "id": "d3fb7981-acc9-438f-8a81-74f7e1ff8f6a",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3640,
        60
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "91bd4932-53a2-4857-b709-2d076b599dde",
              "leftValue": "={{ $('Query Balance ERP').item.json.body.message.result }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "359d89bd-4f6e-4d31-80f4-7eed03a46809",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3480,
        880
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app7c9cfju1wCcghr",
          "mode": "list",
          "cachedResultName": "AR Management Tool",
          "cachedResultUrl": "https://airtable.com/app7c9cfju1wCcghr"
        },
        "table": {
          "__rl": true,
          "value": "tblzg5Zj11G3fiwyr",
          "mode": "list",
          "cachedResultName": "Main",
          "cachedResultUrl": "https://airtable.com/app7c9cfju1wCcghr/tblzg5Zj11G3fiwyr"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "account-balance": "={{ $ifEmpty($('Query Balance ERP').item.json.body.message.result.outstanding,0) }}",
            "0 - 7": "={{ $ifEmpty($('Query Balance ERP').item.json.body.message.result.outstanding,0) }}",
            "8 - 15": "={{ $ifEmpty($('Query Balance ERP').item.json.body.message.result.outstanding,0) }}",
            "16 - 30": "={{ $ifEmpty($('Query Balance ERP').item.json.body.message.result.outstanding,0) }}",
            "31 - 45": "={{ $ifEmpty($('Query Balance ERP').item.json.body.message.result.outstanding,0) }}",
            "46+": "={{ $ifEmpty($('Query Balance ERP').item.json.body.message.result.outstanding,0) }}",
            "id": "={{ $json.id }}",
            "Account Status": "={{ $json['Account Status'] }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Customer ID",
              "displayName": "Customer ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Company",
                  "value": "Company"
                },
                {
                  "name": "Individual",
                  "value": "Individual"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Customer Group",
              "displayName": "Customer Group",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Account Sales",
                  "value": "Account Sales"
                },
                {
                  "name": "Service Sales",
                  "value": "Service Sales"
                },
                {
                  "name": "Corporate",
                  "value": "Corporate"
                },
                {
                  "name": "Consumer",
                  "value": "Consumer"
                },
                {
                  "name": "Food Service",
                  "value": "Food Service"
                },
                {
                  "name": "Retail",
                  "value": "Retail"
                },
                {
                  "name": "Cash Sales",
                  "value": "Cash Sales"
                },
                {
                  "name": "All Customer Groups",
                  "value": "All Customer Groups"
                },
                {
                  "name": "Restaurant Sales",
                  "value": "Restaurant Sales"
                },
                {
                  "name": "Bolt Retail Shop",
                  "value": "Bolt Retail Shop"
                },
                {
                  "name": "B2C",
                  "value": "B2C"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Territory",
              "displayName": "Territory",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Kenya",
                  "value": "Kenya"
                },
                {
                  "name": "All Territories",
                  "value": "All Territories"
                },
                {
                  "name": "Rest Of The World",
                  "value": "Rest Of The World"
                },
                {
                  "name": "Nairobi",
                  "value": "Nairobi"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Account Manager",
              "displayName": "Account Manager",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "",
                  "value": ""
                },
                {
                  "name": "ahmed@bulkbox.co.ke",
                  "value": "ahmed@bulkbox.co.ke"
                },
                {
                  "name": "rashid@bulkbox.co.ke",
                  "value": "rashid@bulkbox.co.ke"
                },
                {
                  "name": "eugene@bulkbox.co.ke",
                  "value": "eugene@bulkbox.co.ke"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Tax ID",
              "displayName": "Tax ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Mobile No",
              "displayName": "Mobile No",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email ID",
              "displayName": "Email ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Account Functions",
              "displayName": "Account Functions",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Freeze Account",
                  "value": "Freeze Account"
                },
                {
                  "name": "Unfreeze Account",
                  "value": "Unfreeze Account"
                },
                {
                  "name": "Update Limit",
                  "value": "Update Limit"
                },
                {
                  "name": "Query Balance",
                  "value": "Query Balance"
                },
                {
                  "name": "Update Payment Terms",
                  "value": "Update Payment Terms"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Credit Limit",
              "displayName": "Credit Limit",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "account-balance",
              "displayName": "account-balance",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Limit Notification",
              "displayName": "Limit Notification",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Payment Terms",
              "displayName": "Payment Terms",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Cash on Delivery",
                  "value": "Cash on Delivery"
                },
                {
                  "name": "End of Day",
                  "value": "End of Day"
                },
                {
                  "name": "NET 7",
                  "value": "NET 7"
                },
                {
                  "name": "NET 15",
                  "value": "NET 15"
                },
                {
                  "name": "NET 30",
                  "value": "NET 30"
                },
                {
                  "name": "Prepayment",
                  "value": "Prepayment"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "0 - 7",
              "displayName": "0 - 7",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "8 - 15",
              "displayName": "8 - 15",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "16 - 30",
              "displayName": "16 - 30",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "31 - 45",
              "displayName": "31 - 45",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "46+",
              "displayName": "46+",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Created Date",
              "displayName": "Created Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Account Status",
              "displayName": "Account Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Active",
                  "value": "Active"
                },
                {
                  "name": "Disabled",
                  "value": "Disabled"
                },
                {
                  "name": "Frozen",
                  "value": "Frozen"
                },
                {
                  "name": "Deleted",
                  "value": "Deleted"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Collection Amount",
              "displayName": "Collection Amount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Credit Utlization",
              "displayName": "Credit Utlization",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Risk Level %",
              "displayName": "Risk Level %",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Risk Level",
              "displayName": "Risk Level",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Low",
                  "value": "Low"
                },
                {
                  "name": "Medium",
                  "value": "Medium"
                },
                {
                  "name": "High",
                  "value": "High"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Follow Up Date",
              "displayName": "Follow Up Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Follow Up Status",
              "displayName": "Follow Up Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Unresponsive",
                  "value": "Unresponsive"
                },
                {
                  "name": "Expecting Payment",
                  "value": "Expecting Payment"
                },
                {
                  "name": "ETR Invoices",
                  "value": "ETR Invoices"
                },
                {
                  "name": "Non commital",
                  "value": "Non commital"
                },
                {
                  "name": "SOA/AR Sent",
                  "value": "SOA/AR Sent"
                },
                {
                  "name": "Cheque Ready for Collection",
                  "value": "Cheque Ready for Collection"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Risk Category",
              "displayName": "Risk Category",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Disabled",
              "displayName": "Disabled",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Default Price List",
              "displayName": "Default Price List",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Customer Primary Contact",
              "displayName": "Customer Primary Contact",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Is Frozen",
              "displayName": "Is Frozen",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Bypass Credit Limit Check",
              "displayName": "Bypass Credit Limit Check",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Credit Collection Tasks",
              "displayName": "Credit Collection Tasks",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Customer Account",
              "displayName": "Customer Account",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Credit Collection Tasks 2",
              "displayName": "Credit Collection Tasks 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Collection Status",
              "displayName": "Collection Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pending",
                  "value": "Pending"
                },
                {
                  "name": "In Progress",
                  "value": "In Progress"
                },
                {
                  "name": "Complete",
                  "value": "Complete"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expected Amount",
              "displayName": "Expected Amount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Remarks",
              "displayName": "Remarks",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Collection Priority",
              "displayName": "Collection Priority",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Low",
                  "value": "Low"
                },
                {
                  "name": "Medium",
                  "value": "Medium"
                },
                {
                  "name": "High",
                  "value": "High"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Cc'd Email ID",
              "displayName": "Cc'd Email ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Credit Collection Tasks 3",
              "displayName": "Credit Collection Tasks 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "35c3ab36-fe3a-44cf-bba8-37d5a65bd0f3",
      "name": "Array is Empty. Update 0 Values",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        3700,
        760
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "q5ICF2DzH8KpL3Ai",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app7c9cfju1wCcghr",
          "mode": "list",
          "cachedResultName": "AR Management Tool",
          "cachedResultUrl": "https://airtable.com/app7c9cfju1wCcghr"
        },
        "table": {
          "__rl": true,
          "value": "tblzg5Zj11G3fiwyr",
          "mode": "list",
          "cachedResultName": "Main",
          "cachedResultUrl": "https://airtable.com/app7c9cfju1wCcghr/tblzg5Zj11G3fiwyr"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "account-balance": "={{ $ifEmpty($('Query Balance ERP').item.json.body.message.result[0].outstanding,0) }}",
            "0 - 7": "={{ $ifEmpty($('Query Balance ERP').item.json.body.message.result[0].range1,0) }}",
            "8 - 15": "={{ $ifEmpty($('Query Balance ERP').item.json.body.message.result[0].range2,0) }}",
            "16 - 30": "={{ $ifEmpty($('Query Balance ERP').item.json.body.message.result[0].range3,0) }}",
            "31 - 45": "={{ $ifEmpty($('Query Balance ERP').item.json.body.message.result[0].range4,0) }}",
            "46+": "={{ $ifEmpty($('Query Balance ERP').item.json.body.message.result[0].range5,0) }}",
            "id": "={{ $json.id }}",
            "Account Status": "={{ $json['Account Status'] }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Customer ID",
              "displayName": "Customer ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Company",
                  "value": "Company"
                },
                {
                  "name": "Individual",
                  "value": "Individual"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Customer Group",
              "displayName": "Customer Group",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Account Sales",
                  "value": "Account Sales"
                },
                {
                  "name": "Service Sales",
                  "value": "Service Sales"
                },
                {
                  "name": "Corporate",
                  "value": "Corporate"
                },
                {
                  "name": "Consumer",
                  "value": "Consumer"
                },
                {
                  "name": "Food Service",
                  "value": "Food Service"
                },
                {
                  "name": "Retail",
                  "value": "Retail"
                },
                {
                  "name": "Cash Sales",
                  "value": "Cash Sales"
                },
                {
                  "name": "All Customer Groups",
                  "value": "All Customer Groups"
                },
                {
                  "name": "Restaurant Sales",
                  "value": "Restaurant Sales"
                },
                {
                  "name": "Bolt Retail Shop",
                  "value": "Bolt Retail Shop"
                },
                {
                  "name": "B2C",
                  "value": "B2C"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Territory",
              "displayName": "Territory",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Kenya",
                  "value": "Kenya"
                },
                {
                  "name": "All Territories",
                  "value": "All Territories"
                },
                {
                  "name": "Rest Of The World",
                  "value": "Rest Of The World"
                },
                {
                  "name": "Nairobi",
                  "value": "Nairobi"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Account Manager",
              "displayName": "Account Manager",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "",
                  "value": ""
                },
                {
                  "name": "ahmed@bulkbox.co.ke",
                  "value": "ahmed@bulkbox.co.ke"
                },
                {
                  "name": "rashid@bulkbox.co.ke",
                  "value": "rashid@bulkbox.co.ke"
                },
                {
                  "name": "eugene@bulkbox.co.ke",
                  "value": "eugene@bulkbox.co.ke"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Tax ID",
              "displayName": "Tax ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Mobile No",
              "displayName": "Mobile No",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email ID",
              "displayName": "Email ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Account Functions",
              "displayName": "Account Functions",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Freeze Account",
                  "value": "Freeze Account"
                },
                {
                  "name": "Unfreeze Account",
                  "value": "Unfreeze Account"
                },
                {
                  "name": "Update Limit",
                  "value": "Update Limit"
                },
                {
                  "name": "Query Balance",
                  "value": "Query Balance"
                },
                {
                  "name": "Update Payment Terms",
                  "value": "Update Payment Terms"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Credit Limit",
              "displayName": "Credit Limit",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "account-balance",
              "displayName": "account-balance",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Limit Notification",
              "displayName": "Limit Notification",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Payment Terms",
              "displayName": "Payment Terms",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Cash on Delivery",
                  "value": "Cash on Delivery"
                },
                {
                  "name": "End of Day",
                  "value": "End of Day"
                },
                {
                  "name": "NET 7",
                  "value": "NET 7"
                },
                {
                  "name": "NET 15",
                  "value": "NET 15"
                },
                {
                  "name": "NET 30",
                  "value": "NET 30"
                },
                {
                  "name": "Prepayment",
                  "value": "Prepayment"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "0 - 7",
              "displayName": "0 - 7",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "8 - 15",
              "displayName": "8 - 15",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "16 - 30",
              "displayName": "16 - 30",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "31 - 45",
              "displayName": "31 - 45",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "46+",
              "displayName": "46+",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Created Date",
              "displayName": "Created Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Account Status",
              "displayName": "Account Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Active",
                  "value": "Active"
                },
                {
                  "name": "Disabled",
                  "value": "Disabled"
                },
                {
                  "name": "Frozen",
                  "value": "Frozen"
                },
                {
                  "name": "Deleted",
                  "value": "Deleted"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Collection Amount",
              "displayName": "Collection Amount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Credit Utlization",
              "displayName": "Credit Utlization",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Risk Level %",
              "displayName": "Risk Level %",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Risk Level",
              "displayName": "Risk Level",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Low",
                  "value": "Low"
                },
                {
                  "name": "Medium",
                  "value": "Medium"
                },
                {
                  "name": "High",
                  "value": "High"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Follow Up Date",
              "displayName": "Follow Up Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Follow Up Status",
              "displayName": "Follow Up Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Unresponsive",
                  "value": "Unresponsive"
                },
                {
                  "name": "Expecting Payment",
                  "value": "Expecting Payment"
                },
                {
                  "name": "ETR Invoices",
                  "value": "ETR Invoices"
                },
                {
                  "name": "Non commital",
                  "value": "Non commital"
                },
                {
                  "name": "SOA/AR Sent",
                  "value": "SOA/AR Sent"
                },
                {
                  "name": "Cheque Ready for Collection",
                  "value": "Cheque Ready for Collection"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Risk Category",
              "displayName": "Risk Category",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Disabled",
              "displayName": "Disabled",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Default Price List",
              "displayName": "Default Price List",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Customer Primary Contact",
              "displayName": "Customer Primary Contact",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Is Frozen",
              "displayName": "Is Frozen",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Bypass Credit Limit Check",
              "displayName": "Bypass Credit Limit Check",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Credit Collection Tasks",
              "displayName": "Credit Collection Tasks",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Customer Account",
              "displayName": "Customer Account",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Credit Collection Tasks 2",
              "displayName": "Credit Collection Tasks 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Collection Status",
              "displayName": "Collection Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pending",
                  "value": "Pending"
                },
                {
                  "name": "In Progress",
                  "value": "In Progress"
                },
                {
                  "name": "Complete",
                  "value": "Complete"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expected Amount",
              "displayName": "Expected Amount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Remarks",
              "displayName": "Remarks",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Collection Priority",
              "displayName": "Collection Priority",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Low",
                  "value": "Low"
                },
                {
                  "name": "Medium",
                  "value": "Medium"
                },
                {
                  "name": "High",
                  "value": "High"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Cc'd Email ID",
              "displayName": "Cc'd Email ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Credit Collection Tasks 3",
              "displayName": "Credit Collection Tasks 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "982b4c29-6bb9-4a70-b229-ff7a757bb7e7",
      "name": "Update Range Values",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        3700,
        960
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "q5ICF2DzH8KpL3Ai",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "content": "- Consider an empty array if there is no balance on customer account\n\nRashid"
      },
      "id": "6893627c-a0c1-4f49-9cd7-f5fba9a330bf",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3640,
        580
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "account-functions",
        "options": {}
      },
      "id": "54e58f2f-23b8-4dad-baf0-2561d1590ccd",
      "name": "AR trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        1000,
        460
      ],
      "webhookId": "fb2d103b-9544-4d2d-8a44-1b9144838d44"
    }
  ],
  "pinData": {
    "AR trigger": [
      {
        "json": {
          "headers": {
            "host": "n8n.bulkbox.cloud",
            "user-agent": "Mozilla/5.0 (compatible; AirtableScripting; +https://airtable.com/developers/scripting;)",
            "content-length": "138",
            "accept": "*/*",
            "accept-encoding": "gzip,deflate",
            "content-type": "application/json",
            "x-airtable-source": "app7c9cfju1wCcghr/wflSwETMS1LdM4Hp1",
            "x-forwarded-for": "44.200.112.240",
            "x-forwarded-host": "n8n.bulkbox.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "19ac6f0cdfeb",
            "x-real-ip": "44.200.112.240"
          },
          "params": {},
          "query": {},
          "body": {
            "Customer Name": "Muze Club",
            "Account Functions": "Query Balance",
            "Account Status": "Active",
            "Account Balance": 0,
            "Credit Limit": 30000
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Africa/Nairobi",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "pA3zEasbGp50knPq"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-03-05T20:25:50.007Z",
      "updatedAt": "2024-03-05T20:25:50.007Z",
      "id": "Axa7tUwnaZFPBQmp",
      "name": "Production"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-05-21T11:32:21.000Z",
  "versionId": "c0a6e353-5785-4f20-9256-408887ea5b1e"
}