workflows/Bulkbox Order -> ERP (Main Workflow).json
{
  "active": true,
  "connections": {
    "Get Order from website": {
      "main": [
        [
          {
            "node": "Split Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Total Item List",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get adjusted Units / Case SIze",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Items S.O": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Order": {
      "main": [
        [
          {
            "node": "Order ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Order ID": {
      "main": [
        [
          {
            "node": "Get Order from website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get adjusted Units / Case SIze": {
      "main": [
        [
          {
            "node": "If Item in MASTER",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get customer addresses": {
      "main": [
        [
          {
            "node": "Split Addresses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Items": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Addresses": {
      "main": [
        [
          {
            "node": "Loop Over Addresses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Addresses": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Address Exists in System",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create S.O with test item": {
      "main": [
        [
          {
            "node": "Update Sales Order with items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Address Exists in System": {
      "main": [
        [
          {
            "node": "Create S.O with test item",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Addresses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Address": {
      "main": [
        [
          {
            "node": "Create S.O with test item1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create S.O with test item1": {
      "main": [
        [
          {
            "node": "Update Sales Order with items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If  Customer Exists": {
      "main": [
        [
          {
            "node": "Get customer addresses",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Customer Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Customer": {
      "main": [
        [
          {
            "node": "Create Address1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Address1": {
      "main": [
        [
          {
            "node": "Create S.O with test item2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create S.O with test item2": {
      "main": [
        [
          {
            "node": "Update Sales Order with items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qty": {
      "main": [
        [
          {
            "node": "Items S.O",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Total Item List": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Item in MASTER": {
      "main": [
        [
          {
            "node": "Qty",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Unites per Case from ERP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Unites per Case from ERP": {
      "main": [
        [
          {
            "node": "Items S.O",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Information": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search State Name": {
      "main": [
        [
          {
            "node": "Add Shipping Item to Items Array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tax": {
      "main": [
        [
          {
            "node": "Get User Information",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "data items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search State Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "data items": {
      "main": [
        [
          {
            "node": "Tax",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Shipping Item to Items Array": {
      "main": [
        [
          {
            "node": "data items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sales Order with items": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Price Difference1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sales Order with items2": {
      "main": [
        [
          {
            "node": "Filter2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Price Difference2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter PICKUP": {
      "main": [
        [
          {
            "node": "Create S.O with test item5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Create S.O with test item4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter2": {
      "main": [
        [
          {
            "node": "Create S.O with test item6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Create Address",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sales Order with items3": {
      "main": [
        [
          {
            "node": "Filter PICKUP",
            "type": "main",
            "index": 0
          },
          {
            "node": "Price Difference",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Check for existing Customer - Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for existing Customer - Email": {
      "main": [
        [
          {
            "node": "If  Customer Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Customer Record": {
      "main": [
        [
          {
            "node": "Create Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Price Difference2": {
      "main": [
        [
          {
            "node": "Slack2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Price Difference1": {
      "main": [
        [
          {
            "node": "Slack1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Price Difference": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-07-01T06:11:57.752Z",
  "id": "uMVl0xWUVBz6AV8V",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Bulkbox Order -> ERP (Main Workflow)",
  "nodes": [
    {
      "parameters": {
        "url": "=https://bulkbox.co.ke/api/orders/{{ $('Order ID').item.json.order_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "ed3942c5-c7ad-417e-8713-17334795070d",
      "name": "Get Order from website",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        480
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "ttlwVRmZ1lkIHlXQ",
          "name": "Website"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a2618332-c7d2-4471-b3b9-a346f131388f",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2140,
        420
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7f07ada1-1aea-4790-9e1d-89a7598a9537",
              "name": "item_code",
              "value": "={{ $('Split Items').item.json.products.product_code }} ",
              "type": "string"
            },
            {
              "id": "8a6ec11f-0315-45fa-8e19-bff1b945ee9e",
              "name": "qty",
              "value": "=\n{{ $json.qty *  $('Loop Over Items').item.json.products.amount || $json.data.units_per_case *  $('Loop Over Items').item.json.products.amount}}",
              "type": "number"
            },
            {
              "id": "dba2d602-ee56-481f-92f6-ead1b3ec73e0",
              "name": "idx",
              "value": "={{$node[\"Loop Over Items\"].context[\"currentRunIndex\"]+1;}}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "8c23b7ba-d186-45b2-8a5a-981b468e73f6",
      "name": "Items S.O",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        2940,
        680
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "5ad574f5-01e4-43b7-92ca-6b6b833f9fba",
              "leftValue": "={{ $json.body.subject }}",
              "rightValue": "has been placed successfully",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "f0d01ce0-fe9a-42db-962a-6d348657294b",
              "leftValue": "={{ $json.body.email }}",
              "rightValue": "sales@bulkbox.co.ke",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "53f5d783-af39-4217-99f4-e8cadd6ebae7",
      "name": "Order",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        1140,
        480
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a5f2318c-ae12-4606-8953-e39b78998c54",
              "name": "order_id",
              "value": "={{ $json.body.subject.match(/\\d+/) }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "f58ac059-cf0e-4f5c-b3dd-1972c6e28b03",
      "name": "Order ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1380,
        480
      ]
    },
    {
      "parameters": {
        "url": "=https://bulkbox.co.ke/api/users/{{ $('Get Order from website').item.json.user_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "706b0026-b19c-4234-b043-55cd809f02a8",
      "name": "Get User Information",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3700,
        300
      ],
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "ttlwVRmZ1lkIHlXQ",
          "name": "Website"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appSCi0a1zPuJizxg",
          "mode": "list",
          "cachedResultName": "Bulkbox Final Master",
          "cachedResultUrl": "https://airtable.com/appSCi0a1zPuJizxg"
        },
        "table": {
          "__rl": true,
          "value": "tbl2hGiQmpSg73Una",
          "mode": "list",
          "cachedResultName": "MASTER",
          "cachedResultUrl": "https://airtable.com/appSCi0a1zPuJizxg/tbl2hGiQmpSg73Una"
        },
        "filterByFormula": "=({Item Code}=\"{{ $json.products.product_code }}\")",
        "options": {}
      },
      "id": "2b6ec9c5-70c3-425e-85e4-c15f59175bf2",
      "name": "Get adjusted Units / Case SIze",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        2300,
        540
      ],
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "q5ICF2DzH8KpL3Ai",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "52a9fa93-98c5-4fe3-b882-2816b61aa44a",
      "name": "Total Item List",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2340,
        300
      ]
    },
    {
      "parameters": {
        "url": "=https://portal.bulkbox.cloud/api/resource/Customer?fields=[\"customer_name\",\"email_id\"]&filters=[[\"email_id\",\"=\",\"{{ $('Get User Information').item.json.body.email }}\"]] ",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "erpNextApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "69c83513-215f-4ba6-bceb-956a9239ebdb",
      "name": "Check for existing Customer - Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4220,
        300
      ],
      "alwaysOutputData": true,
      "credentials": {
        "erpNextApi": {
          "id": "OVfEC6rfwqA5vwcf",
          "name": "ERPNext Prod"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://portal.bulkbox.cloud/api/resource/Address?fields=[\"name\",\"address_title\",\"address_line1\",\"address_line2\"]&filters=[[\"address_title\", \"like\", \"%{{ encodeURIComponent($json.body.data[0].customer_name) }}%\"]] ",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "erpNextApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "b5323109-7d68-4e5a-b511-f917a2e61d78",
      "name": "Get customer addresses",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4880,
        180
      ],
      "alwaysOutputData": true,
      "credentials": {
        "erpNextApi": {
          "id": "OVfEC6rfwqA5vwcf",
          "name": "ERPNext Prod"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "products",
        "include": "=",
        "options": {}
      },
      "id": "48c1e023-66bc-4a56-9537-90606691febd",
      "name": "Split Items",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1840,
        480
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.data",
        "options": {}
      },
      "id": "4f47fcb8-55b3-4433-94f9-34c3f43464d9",
      "name": "Split Addresses",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        5080,
        180
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "73e92ab9-833b-465f-bc86-755353761e51",
      "name": "Loop Over Addresses",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        5260,
        180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://portal.bulkbox.cloud/api/resource/Sales%20Order",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "erpNextApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"data\":{\n      \"customer\":\"{{ $('Check for existing Customer - Email').item.json[\"body\"][\"data\"][0][\"customer_name\"] }}\",\n      \"order_type\":\"Sales\",\n      \"payment_method\":\"M-PESA\",\n      \"title\":\"{{ $('Check for existing Customer - Email').item.json[\"body\"][\"data\"][0][\"customer_name\"]}} - Online\",\n      \"company\":\"Three Spears Limited\",\n      \"transaction_date\":\"{{ $today.format(\"yyyy-MM-dd\")}}\",\n      \"delivery_date\":\"{{ $today.plus(1, \"day\").format(\"yyyy-MM-dd\")}}\",\"customer_address\":\"{{ $json.name }}\",\n      \"selling_price_list\":\"Standard Selling\",\n      \"po_no\":\"Order ‎#{{ $('Order ID').item.json[\"order_id\"] }}\",\n      \"attach_order\":\"https://bulkbox.co.ke/admin.php?dispatch=orders.print_invoice&order_id={{ $('Order ID').item.json[\"order_id\"] }}\",\n      \"doctype\":\"Sales Order\",\n      \"items\":[\n         {\n            \"item_code\":\"TEST01\",\n            \"qty\":1\n         }\n      ]\n   }\n} ",
        "options": {}
      },
      "id": "cf85a417-041e-4fed-b6a3-86fc6787e2d9",
      "name": "Create S.O with test item",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5720,
        260
      ],
      "credentials": {
        "erpNextApi": {
          "id": "OVfEC6rfwqA5vwcf",
          "name": "ERPNext Prod"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "docType": "Sales%20Order",
        "documentName": "={{ $json.data.name }}",
        "properties": {
          "customProperty": [
            {
              "field": "items",
              "value": "={{ $('data items').item.json.items }}"
            },
            {
              "field": "taxes",
              "value": "={{ $('Tax').item.json.data }}"
            }
          ]
        }
      },
      "id": "3ab2bd6a-ef75-461e-8b42-62af3a4d0229",
      "name": "Update Sales Order with items",
      "type": "n8n-nodes-base.erpNext",
      "typeVersion": 1,
      "position": [
        5940,
        260
      ],
      "alwaysOutputData": true,
      "retryOnFail": false,
      "credentials": {
        "erpNextApi": {
          "id": "OVfEC6rfwqA5vwcf",
          "name": "ERPNext Prod"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://portal.bulkbox.cloud/api/resource/Address",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "erpNextApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"address_title\":\"{{$('Get Order from website').item.json[\"firstname\"]+\" \"+$('Get Order from website').item.json[\"lastname\"]}} Address\",\n   \"name\":\"{{$('Get Order from website').item.json[\"firstname\"]+\" \"+$('Get Order from website').item.json[\"lastname\"]}} Shipping\",\n   \"address_type\":\"Billing\",\n   \"address_line1\":\"{{$('Get Order from website').item.json[\"s_address\"]}}\",\n   \"address_line2\":\"{{$('Get Order from website').item.json[\"s_address_2\"]}}\",\n   \"city\":\"{{ $('Get Order from website').item.json.s_state_descr }}\",\n   \"state\":\"Nairobi\",\n   \"Country\":\"Kenya\",\"phone\":\"{{$('Get Order from website').item.json[\"phone\"]}} - {{$('Get Order from website').item.json[\"firstname\"]+\" \"+$('Get Order from website').item.json[\"lastname\"]}}\",\n   \"is_primary_address\":1,\n   \"links\":[\n      {\n         \"link_doctype\":\"Customer\",\n         \"link_name\":\"{{$('Check for existing Customer - Email').item.json[\"body\"][\"data\"][0][\"customer_name\"]}}\"\n      }\n   ]\n}",
        "options": {}
      },
      "id": "583be0c2-0a67-4808-8869-78cd320d6b9c",
      "name": "Create Address",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5720,
        80
      ],
      "credentials": {
        "erpNextApi": {
          "id": "OVfEC6rfwqA5vwcf",
          "name": "ERPNext Prod"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "2c57bc1d-2a06-40ec-a188-a5bab2a1fc0e",
              "leftValue": "={{ $json.address_line1 }}",
              "rightValue": "={{ $('Get Order from website').item.json.s_address }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "27eb86c1-9212-4572-bf64-59083cbbd80a",
              "leftValue": "={{ $json.address_line2 }}",
              "rightValue": "={{ $('Get Order from website').item.json.s_address }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "410f6d63-f766-47dd-864b-c14bb559aa1b",
      "name": "If Address Exists in System",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        5520,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://portal.bulkbox.cloud/api/resource/Sales%20Order",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "erpNextApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"data\":{\n      \"customer\":\"{{ $('Check for existing Customer - Email').item.json[\"body\"][\"data\"][0][\"customer_name\"] }}\",\n      \"order_type\":\"Sales\",\n      \"payment_method\":\"M-PESA\",\n      \"title\":\"{{ $('Check for existing Customer - Email').item.json[\"body\"][\"data\"][0][\"customer_name\"]}} - Online\",\n      \"company\":\"Three Spears Limited\",\n      \"transaction_date\":\"{{ $today.format(\"yyyy-MM-dd\")}}\",\n      \"delivery_date\":\"{{ $today.plus(1, \"day\").format(\"yyyy-MM-dd\")}}\",\"customer_address\":\"{{ $('Create Address').item.json[\"data\"][\"name\"] }}\",\n      \"selling_price_list\":\"Standard Selling\",\n      \"po_no\":\"Order ‎#{{ $('Order ID').item.json[\"order_id\"] }}\",\n      \"attach_order\":\"https://bulkbox.co.ke/admin.php?dispatch=orders.print_invoice&order_id={{ $('Order ID').item.json[\"order_id\"] }}\",\n      \"doctype\":\"Sales Order\",\n      \"items\":[\n         {\n            \"item_code\":\"TEST01\",\n            \"qty\":1\n         }\n      ]\n   }\n} ",
        "options": {}
      },
      "id": "2b97c4a7-bbba-4872-bdd0-5733f0bb0ea9",
      "name": "Create S.O with test item1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5940,
        80
      ],
      "credentials": {
        "erpNextApi": {
          "id": "OVfEC6rfwqA5vwcf",
          "name": "ERPNext Prod"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "docType": "Sales%20Order",
        "documentName": "={{ $json.data.name }}",
        "properties": {
          "customProperty": [
            {
              "field": "items",
              "value": "={{ $('data items').item.json.items }}"
            },
            {
              "field": "taxes",
              "value": "={{ $('Tax').item.json.data }}"
            }
          ]
        }
      },
      "id": "2e04a2ea-fbeb-4eff-9bd0-692e7c161769",
      "name": "Update Sales Order with items1",
      "type": "n8n-nodes-base.erpNext",
      "typeVersion": 1,
      "position": [
        1460,
        -1480
      ],
      "alwaysOutputData": true,
      "retryOnFail": false,
      "credentials": {
        "erpNextApi": {
          "id": "OVfEC6rfwqA5vwcf",
          "name": "ERPNext Prod"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "82425dca-4b53-43ce-94c7-5dc3bbc40536",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        5500,
        80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "956198e5-14e4-4ad7-a6ef-e672241fd858",
              "leftValue": "={{ $json.body.data[0].customer_name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "74114150-1a5a-407e-9268-b8763c6b7148",
      "name": "If  Customer Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4520,
        220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://portal.bulkbox.cloud/api/resource/Customer",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "erpNextApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"data\":[\n      {\n         \"name\":\"{{ $ifEmpty($('Get User Information').item.json[\"body\"][\"company\"],$('Get User Information').item.json[\"body\"][\"firstname\"]+\" \"+$('Get User Information').item.json[\"body\"][\"lastname\"]).trim().toLowerCase().split(' ').map(word => word.charAt(0).toUpperCase() + word.slice(1)).join(' ')}}\",\n         \"customer_name\":\"{{ $ifEmpty($('Get User Information').item.json[\"body\"][\"company\"],$('Get User Information').item.json[\"body\"][\"firstname\"]+\" \"+$('Get User Information').item.json[\"body\"][\"lastname\"]).trim().toLowerCase().split(' ').map(word => word.charAt(0).toUpperCase() + word.slice(1)).join(' ')}}\",\n         \"customer_type\":\"Individual\",\n         \"customer_group\":\"Consumer\",\n         \"territory\":\"All Territories\",\n         \"mobile_no\":\"{{ $('Get User Information').item.json[\"body\"][\"phone\"] }}\",\n         \"email_id\":\"{{ $('Get User Information').item.json[\"body\"][\"email\"] }}\",\"tax_id\":\"{{ $ifEmpty($('Get User Information').item.json[\"body\"][\"tax_id\"], \"NILL\")}}\",\n         \"payment_terms\":\"Cash On Delivery\",\n         \"credit_limits\": [\n            {\n                \"parent\": \"{{ $ifEmpty($('Get User Information').item.json[\"body\"][\"company\"],$('Get User Information').item.json[\"body\"][\"firstname\"]+\" \"+$('Get User Information').item.json[\"body\"][\"lastname\"]).trim().toLowerCase().split(' ').map(word => word.charAt(0).toUpperCase() + word.slice(1)).join(' ')}}\",\n                \"parentfield\": \"credit_limits\",\n                \"parenttype\": \"Customer\",\n                \"credit_limit\": 50000.0,\n                \"doctype\": \"Customer Credit Limit\"\n            }\n        ]\n      }\n   ]\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "9f011a7d-c0a7-4427-9db3-8fe128b19049",
      "name": "Create Customer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5080,
        500
      ],
      "credentials": {
        "erpNextApi": {
          "id": "OVfEC6rfwqA5vwcf",
          "name": "ERPNext Prod"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://portal.bulkbox.cloud/api/resource/Address",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "erpNextApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"address_title\":\"{{$('Get Order from website').item.json[\"firstname\"]+\" \"+$('Get Order from website').item.json[\"lastname\"]}} Address\",\n   \"name\":\"{{$('Get Order from website').item.json[\"firstname\"]+\" \"+$('Get Order from website').item.json[\"lastname\"]}} Shipping\",\n   \"address_type\":\"Billing\",\n   \"address_line1\":\"{{ $ifEmpty($('Get Order from website').item.json[\"s_address\"],\"n/a\")}}\",\n   \"address_line2\":\"{{$ifEmpty($('Get Order from website').item.json[\"s_address_2\"],\"n/a\")}}\",\n   \"city\":\"{{ $('Get Order from website').item.json.s_state_descr }}\",\n   \"state\":\"Nairobi\",\n   \"Country\":\"Kenya\",\"phone\":\"{{$('Get Order from website').item.json[\"phone\"]}} - {{$('Get Order from website').item.json[\"firstname\"]+\" \"+$('Get Order from website').item.json[\"lastname\"]}}\",\n   \"is_primary_address\":1,\n   \"links\":[\n      {\n         \"link_doctype\":\"Customer\",\n         \"link_name\":\"{{ $('Create Customer').item.json[\"body\"][\"data\"][\"name\"] }}\"\n      }\n   ]\n} ",
        "options": {}
      },
      "id": "4917bbd4-7430-40b0-a5fc-6ff059572adc",
      "name": "Create Address1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5300,
        500
      ],
      "credentials": {
        "erpNextApi": {
          "id": "OVfEC6rfwqA5vwcf",
          "name": "ERPNext Prod"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://portal.bulkbox.cloud/api/resource/Sales%20Order",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "erpNextApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"data\":{\n      \"customer\":\"{{ $('Create Customer').item.json[\"body\"][\"data\"][\"customer_name\"] }}\",\n      \"order_type\":\"Sales\",\n      \"payment_method\":\"M-PESA\",\n      \"title\":\"{{ $('Create Customer').item.json[\"body\"][\"data\"][\"customer_name\"] }} - Online\",\n      \"company\":\"Three Spears Limited\",\n      \"transaction_date\":\"{{ $today.format(\"yyyy-MM-dd\")}}\",\n      \"delivery_date\":\"{{ $today.plus(1, \"day\").format(\"yyyy-MM-dd\")}}\",\"customer_address\":\"{{ $json.name }}\",\n      \"selling_price_list\":\"Standard Selling\",\n      \"po_no\":\"Order ‎#{{ $('Order ID').item.json[\"order_id\"] }}\",\n      \"attach_order\":\"https://bulkbox.co.ke/admin.php?dispatch=orders.print_invoice&order_id={{ $('Order ID').item.json[\"order_id\"] }}\",\n      \"doctype\":\"Sales Order\",\n      \"items\":[\n         {\n            \"item_code\":\"TEST01\",\n            \"qty\":1\n         }\n      ]\n   }\n} ",
        "options": {}
      },
      "id": "686cc02e-87ee-4176-9b83-7bb88f08dd82",
      "name": "Create S.O with test item2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5520,
        500
      ],
      "credentials": {
        "erpNextApi": {
          "id": "OVfEC6rfwqA5vwcf",
          "name": "ERPNext Prod"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "docType": "Sales%20Order",
        "documentName": "={{ $json.data.name }}",
        "properties": {
          "customProperty": [
            {
              "field": "=items",
              "value": "={{ $('data items').item.json.items }}"
            },
            {
              "field": "taxes",
              "value": "={{ $('Tax').item.json.data }}"
            }
          ]
        }
      },
      "id": "ae743d6d-0d3d-4441-83f6-e1b397ee436a",
      "name": "Update Sales Order with items2",
      "type": "n8n-nodes-base.erpNext",
      "typeVersion": 1,
      "position": [
        5720,
        500
      ],
      "alwaysOutputData": true,
      "retryOnFail": false,
      "credentials": {
        "erpNextApi": {
          "id": "OVfEC6rfwqA5vwcf",
          "name": "ERPNext Prod"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5853b6b1-9668-4788-890e-ee684f692012",
              "name": "qty",
              "value": "={{ $ifEmpty( $json[\"Adjusted Units\"], $json[\"Units Per Case\"] )}}\n",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "5ae516bc-3678-476e-8632-94c45fb71c9e",
      "name": "Qty",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        2740,
        520
      ]
    },
    {
      "parameters": {
        "content": "# Flow of Automation\n## * Receives webhook from brevo.\n## * Filers to only check for orders successfully placed.\n## * GEts the order details form the website using the order_id.\n## * Splits the items in the order, and loops through airtable to get their adjusted quantity /  case size.\n## * Gives the items 'idx' postion to be placed in the sales order.\n## * Gets the user information from the website.\n## * Checks if user is existent in the ERP.\n## * Checks if address given exists.\n## * Creates S.O with test items usng http node.\n## * Updates the created items with items from website.",
        "height": 512.2006141248717,
        "width": 1314.7799385875135
      },
      "id": "5b661c35-b92a-48d1-99ac-0eee524908f1",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        740,
        -440
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n   \"data\":[\n      {\n         \"charge_type\":\"On Net Total\",\n         \"account_head\":\"VAT - 16% - TSL\",\n         \"description\": \"VAT - 16% - TSL\"\n      },\n      {\n         \"charge_type\":\"On Net Total\",\n         \"account_head\":\"Zero Rated Tax - TSL\",\n         \"description\":\"Zero Rated Tax - TSL\"\n      }\n   ]\n}",
        "options": {}
      },
      "id": "30720f1d-b634-4998-a0c7-745e4ced1459",
      "name": "Tax",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        3420,
        300
      ]
    },
    {
      "parameters": {
        "url": "=https://portal.bulkbox.cloud/api/resource/Item/{{ $('Loop Over Items').item.json.products.product_code }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "erpNextApi",
        "options": {}
      },
      "id": "38c35f49-508b-4ab9-b01d-8033c130a4f3",
      "name": "Get Unites per Case from ERP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2740,
        680
      ],
      "credentials": {
        "erpNextApi": {
          "id": "OVfEC6rfwqA5vwcf",
          "name": "ERPNext Prod"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "190ac8db-c2cf-4d63-bc53-a652680eb60f",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ea1ea70d-d259-403d-9e6e-ef340e3201b7",
      "name": "If Item in MASTER",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2500,
        540
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appSCi0a1zPuJizxg",
          "mode": "list",
          "cachedResultName": "Bulkbox Final Master",
          "cachedResultUrl": "https://airtable.com/appSCi0a1zPuJizxg"
        },
        "table": {
          "__rl": true,
          "value": "tblHwkMVbotHdnwON",
          "mode": "list",
          "cachedResultName": "Shipping Rule",
          "cachedResultUrl": "https://airtable.com/appSCi0a1zPuJizxg/tblHwkMVbotHdnwON"
        },
        "filterByFormula": "=({Shipping CS Code}=\"{{ $('Get Order from website').item.json.s_state }}\")",
        "options": {}
      },
      "id": "f0d90e0a-9545-40c9-aaea-ffdcab31b1cf",
      "name": "Search State Name",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        2720,
        340
      ],
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "bkyswNNfOLjWVLuS",
          "name": "n8n Gatu token"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d691e1f3-4754-4397-a6cc-26ddde4d5cad",
              "name": "items",
              "value": "={{ $json.data }}",
              "type": "array"
            },
            {
              "id": "9d6d0927-6933-4b8c-934c-34ef1a209180",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c700437e-bc48-4414-8aae-77faa4a2279d",
      "name": "data items",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        3180,
        180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "0c0ee924-f0ac-453e-bd9a-2e24ec2fbeb4",
              "leftValue": "={{ $('Get Order from website').item.json.shipping_cost }}",
              "rightValue": "0.00",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "f545cf02-76c9-41a7-bb4f-4e781cb8e4ed",
              "leftValue": "={{ $('Get Order from website').item.json.s_state }}",
              "rightValue": "PICKUP",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "740790c9-39ef-4cd6-91a5-27326cd3cc23",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2560,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Reference the data from the previous nodes\nlet array = $('Total Item List').all();\nlet previousNodeData = $('Search State Name').first(); // Retrieves the first item from the previous node\n\n// Extract the Item Code from the previous node\nlet newItemCode = previousNodeData.json[\"Item Code\"]; // Adjust this field name as necessary\n\n// Define the new item to be added\nlet newItem = {\n    \"item_code\": newItemCode,\n    \"qty\": 1,\n    // \"idx\": 3 // Adjust the index as needed\n};\n\n// Loop over the array and add the new item\narray.forEach(obj => {\n    if (obj.json.data && Array.isArray(obj.json.data)) {\n        obj.json.data.push(newItem);\n    }\n});\n\n// Return the modified array in the correct format\nreturn array.map(obj => ({ json: obj.json }));\n"
      },
      "id": "6f8d7906-b637-4516-8e46-e0df53a460b4",
      "name": "Add Shipping Item to Items Array",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2940,
        340
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "ac3ef44d-4dfd-41ca-9c61-b25ba542525a",
              "leftValue": "={{ $('Get Order from website').item.json.shipping_cost }}",
              "rightValue": "0.00",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "ba224010-b37a-4ffd-a631-0dada76f3e02",
              "leftValue": "={{ $('Get Order from website').item.json.s_state }}",
              "rightValue": "PICKUP",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "4c17b1ec-d7b6-4bf4-b639-023f5fa00b9d",
      "name": "Filter1",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        6160,
        260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "ac3ef44d-4dfd-41ca-9c61-b25ba542525a",
              "leftValue": "={{ $('Get Order from website').item.json.shipping_cost }}",
              "rightValue": "0.00",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "ba224010-b37a-4ffd-a631-0dada76f3e02",
              "leftValue": "={{ $('Get Order from website').item.json.s_state }}",
              "rightValue": "PICKUP",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "849a11da-c353-4b9f-87d6-951580d1c2ce",
      "name": "Filter2",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        5940,
        500
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "ac3ef44d-4dfd-41ca-9c61-b25ba542525a",
              "leftValue": "={{ $('Get Order from website').item.json.shipping_cost }}",
              "rightValue": "0.00",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "ba224010-b37a-4ffd-a631-0dada76f3e02",
              "leftValue": "={{ $('Get Order from website').item.json.s_state }}",
              "rightValue": "PICKUP",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "0f43806f-c039-4132-a5df-356ee692b9ae",
      "name": "Filter PICKUP",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        6540,
        80
      ]
    },
    {
      "parameters": {
        "content": "### \n   \"links\":[\n      {\n         \"link_doctype\":\"Customer\",\n         \"link_name\":\"{{$('Check for existing Customer - Email').item.json[\"body\"][\"data\"][0][\"customer_name\"]}}\"\n      }\n   ]",
        "height": 245.56712328767122,
        "width": 441.55811263318117
      },
      "id": "bb1ba60c-d57d-4e10-92bc-81a73131319b",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4100,
        -180
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://portal.bulkbox.cloud/api/resource/Sales%20Order/{{ $('Update Sales Order with items').item.json.name }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "erpNextApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"data\":{\"delivery_slot\":\"Pickup\"}\n} ",
        "options": {}
      },
      "id": "6efac4e8-30fb-49af-b979-e0d558b918f5",
      "name": "Create S.O with test item4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6380,
        260
      ],
      "credentials": {
        "erpNextApi": {
          "id": "OVfEC6rfwqA5vwcf",
          "name": "ERPNext Prod"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://portal.bulkbox.cloud/api/resource/Sales%20Order/{{ $('Update Sales Order with items3').item.json.name }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "erpNextApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"data\":{\"delivery_slot\":\"Pickup\"}\n} ",
        "options": {}
      },
      "id": "eae1b5a0-cc45-478c-8af2-e963692e4985",
      "name": "Create S.O with test item5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6820,
        80
      ],
      "credentials": {
        "erpNextApi": {
          "id": "OVfEC6rfwqA5vwcf",
          "name": "ERPNext Prod"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://portal.bulkbox.cloud/api/resource/Sales%20Order/{{ $('Update Sales Order with items2').item.json.name }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "erpNextApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"data\":{\"delivery_slot\":\"Pickup\"}\n} ",
        "options": {}
      },
      "id": "a9bbb763-b563-4e48-9fbc-af5151d3c52a",
      "name": "Create S.O with test item6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6160,
        500
      ],
      "credentials": {
        "erpNextApi": {
          "id": "OVfEC6rfwqA5vwcf",
          "name": "ERPNext Prod"
        }
      }
    },
    {
      "parameters": {
        "content": "## Add Sections where if name of ERP is not similar to customer name on website, update the companyh section in the website\n",
        "height": 255.63567732115678,
        "width": 651.9690715372908
      },
      "id": "ef708c62-582e-4237-aee3-17bd8380ca09",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2080,
        -400
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "docType": "=Sales%20Order",
        "documentName": "={{ $json.data.name }}",
        "properties": {
          "customProperty": [
            {
              "field": "items",
              "value": "={{ $('data items').item.json.items }}"
            },
            {
              "field": "taxes",
              "value": "={{ $('Tax').item.json.data }}"
            }
          ]
        }
      },
      "id": "eb281d36-7b1c-41d9-a619-50406b81473b",
      "name": "Update Sales Order with items3",
      "type": "n8n-nodes-base.erpNext",
      "typeVersion": 1,
      "position": [
        6160,
        80
      ],
      "alwaysOutputData": true,
      "retryOnFail": false,
      "credentials": {
        "erpNextApi": {
          "id": "OVfEC6rfwqA5vwcf",
          "name": "ERPNext Prod"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Access the usergroup_id from the incoming JSON\nconst userGroupId = parseInt(items[0].json.body.user_groups[0].usergroup_id, 10);\n\n// Log the usergroup_id to ensure it is captured correctly\nconsole.log('User Group ID:', userGroupId);\n\n// Switch statement to return different values based on usergroup_id\nlet result;\n\nswitch(userGroupId) {\n    case 7:\n        result = \"Consumer\";\n        break;\n    case 8:\n        result = \"Food Service\";\n        break;\n    case 10:\n        result = \"Retail\";\n        break;\n    case 11:\n        result = \"Other Business\";\n        break;\n    default:\n        result = \"Corporate\";\n}\n\n// Return the result in the required format\nreturn [{ value: result }];"
      },
      "id": "fcc7b4e1-7641-4905-ae25-cf250bea2c24",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3960,
        300
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appqmFBvp9I9IB1YV",
          "mode": "list",
          "cachedResultName": "Contact Database",
          "cachedResultUrl": "https://airtable.com/appqmFBvp9I9IB1YV"
        },
        "table": {
          "__rl": true,
          "value": "tblBkafwuK7H4aReA",
          "mode": "list",
          "cachedResultName": "Contacts",
          "cachedResultUrl": "https://airtable.com/appqmFBvp9I9IB1YV/tblBkafwuK7H4aReA"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Contact Status": "Cash Customer",
            "Company Name": "={{ $ifEmpty($('Get User Information').item.json[\"body\"][\"company\"],$('Get User Information').item.json[\"body\"][\"firstname\"]+\" \"+$('Get User Information').item.json[\"body\"][\"lastname\"]) }}",
            "First Name": "={{ $('Get User Information').item.json.body.firstname }}",
            "Last Name": "={{ $('Get User Information').item.json.body.lastname }}",
            "Contact Type": "={{ $('Code').item.json.value }}",
            "Source": "Website",
            "Tel": "={{ $('Get User Information').item.json.body.phone }}",
            "Email": "={{ $('Get User Information').item.json.body.email }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Job Role",
              "displayName": "Job Role",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Owner",
                  "value": "Owner"
                },
                {
                  "name": "General Manager",
                  "value": "General Manager"
                },
                {
                  "name": "Procurement Manager",
                  "value": "Procurement Manager"
                },
                {
                  "name": "Procurement Officer",
                  "value": "Procurement Officer"
                },
                {
                  "name": "Office Adminstrator",
                  "value": "Office Adminstrator"
                },
                {
                  "name": "Undefined",
                  "value": "Undefined"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Contact Status",
              "displayName": "Contact Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Lead",
                  "value": "Lead"
                },
                {
                  "name": "One Time Customers",
                  "value": "One Time Customers"
                },
                {
                  "name": "Account",
                  "value": "Account"
                },
                {
                  "name": "Unassigned",
                  "value": "Unassigned"
                },
                {
                  "name": "Lost Customer",
                  "value": "Lost Customer"
                },
                {
                  "name": "Closed",
                  "value": "Closed"
                },
                {
                  "name": "Cash Customer",
                  "value": "Cash Customer"
                },
                {
                  "name": "Credit Customer",
                  "value": "Credit Customer"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Contact Type",
              "displayName": "Contact Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Food Service",
                  "value": "Food Service"
                },
                {
                  "name": "Retail",
                  "value": "Retail"
                },
                {
                  "name": "Corporate",
                  "value": "Corporate"
                },
                {
                  "name": "Unassigned",
                  "value": "Unassigned"
                },
                {
                  "name": "Consumer",
                  "value": "Consumer"
                },
                {
                  "name": "Other",
                  "value": "Other"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Website",
                  "value": "Website"
                },
                {
                  "name": "App",
                  "value": "App"
                },
                {
                  "name": "Landing Page",
                  "value": "Landing Page"
                },
                {
                  "name": "Other Forms",
                  "value": "Other Forms"
                },
                {
                  "name": "ERP",
                  "value": "ERP"
                },
                {
                  "name": "Whatsapp",
                  "value": "Whatsapp"
                },
                {
                  "name": "Email",
                  "value": "Email"
                },
                {
                  "name": "Call in",
                  "value": "Call in"
                },
                {
                  "name": "Supplier Referall",
                  "value": "Supplier Referall"
                },
                {
                  "name": "Customer Referall",
                  "value": "Customer Referall"
                },
                {
                  "name": "Outbound",
                  "value": "Outbound"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Tel",
              "displayName": "Tel",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Created Date",
              "displayName": "Created Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Send to CRM / Moosend",
              "displayName": "Send to CRM / Moosend",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Send to CRM",
                  "value": "Send to CRM"
                },
                {
                  "name": "Moosend",
                  "value": "Moosend"
                },
                {
                  "name": "Send to CRM Sophia",
                  "value": "Send to CRM Sophia"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Created By",
              "displayName": "Created By",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "User Group ID",
              "displayName": "User Group ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Assigned",
              "displayName": "Assigned",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Month",
              "displayName": "Month",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Send Sales Email",
              "displayName": "Send Sales Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Send Intro Sequence",
                  "value": "Send Intro Sequence"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Bio Check",
              "displayName": "Bio Check",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "New Opportunity Stage",
              "displayName": "New Opportunity Stage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "New",
                  "value": "New"
                },
                {
                  "name": "Info Shared",
                  "value": "Info Shared"
                },
                {
                  "name": "Meeting Scheduled",
                  "value": "Meeting Scheduled"
                },
                {
                  "name": "Negotiation",
                  "value": "Negotiation"
                },
                {
                  "name": "Account Opening",
                  "value": "Account Opening"
                },
                {
                  "name": "Closed Won",
                  "value": "Closed Won"
                },
                {
                  "name": "Closed Lost",
                  "value": "Closed Lost"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Upsell Stage",
              "displayName": "Upsell Stage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Outreach Stage",
                  "value": "Outreach Stage"
                },
                {
                  "name": "Meeting Stage",
                  "value": "Meeting Stage"
                },
                {
                  "name": "Closed-Won",
                  "value": "Closed-Won"
                },
                {
                  "name": "Closed-Lost",
                  "value": "Closed-Lost"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expected MRR",
              "displayName": "Expected MRR",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expected Close Date",
              "displayName": "Expected Close Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "New Deals",
              "displayName": "New Deals",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "New Deals copy",
              "displayName": "New Deals copy",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Upsell Deals copy",
              "displayName": "Upsell Deals copy",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Deals copy",
              "displayName": "Deals copy",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Assign Sales Member",
              "displayName": "Assign Sales Member",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Ahmed Wurie",
                  "value": "Ahmed Wurie"
                },
                {
                  "name": "Assign Sales Member",
                  "value": "Assign Sales Member"
                },
                {
                  "name": "Brian Mong'are",
                  "value": "Brian Mong'are"
                },
                {
                  "name": "Elsie Watare",
                  "value": "Elsie Watare"
                },
                {
                  "name": "Emma Anagei Anagei",
                  "value": "Emma Anagei Anagei"
                },
                {
                  "name": "Eugene Aaron",
                  "value": "Eugene Aaron"
                },
                {
                  "name": "Rashid Salim",
                  "value": "Rashid Salim"
                },
                {
                  "name": "Sophia Khalid",
                  "value": "Sophia Khalid"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Lead Allocation",
              "displayName": "Lead Allocation",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Assign Sales (Round Robin)",
              "displayName": "Assign Sales (Round Robin)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "803557e4-6d54-4b6d-b323-c108b176c04a",
      "name": "Create Customer Record",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        4880,
        500
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "q5ICF2DzH8KpL3Ai",
          "name": "Airtable Personal Access Token account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C07N0LHM5NG",
          "mode": "id"
        },
        "text": "=Hello,\nFollowing order has a difference in price with the website, kindly investigate:\nWebsite Order ID: {{ $('Get Order from website').item.json.order_id }}\nERP Sales Order: {{ $('Update Sales Order with items3').item.json.name }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "fb8c71a5-9f3a-4c87-b94c-f27936d6a846",
      "name": "Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        6800,
        260
      ],
      "credentials": {
        "slackApi": {
          "id": "nHsD7aEjogT4fnip",
          "name": "BBX Bot (n8n)"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "f0dbdca3-92e5-4d9a-b99f-3c0ba916c3bc",
              "leftValue": "={{ Number($('Update Sales Order with items3').item.json.grand_total) - $('Get Order from website').item.json.total }}",
              "rightValue": 50,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "79e378ba-7b19-4fae-9adb-bc3d00493b57",
              "leftValue": "={{ Number($('Update Sales Order with items3').item.json.grand_total) - $('Get Order from website').item.json.total }}",
              "rightValue": -50,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "ad070ebe-e014-4e87-b499-09f6074dc0f5",
      "name": "Price Difference",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        6580,
        260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "f0dbdca3-92e5-4d9a-b99f-3c0ba916c3bc",
              "leftValue": "={{ Number($('Update Sales Order with items').item.json.grand_total) - $('Get Order from website').item.json.total }}",
              "rightValue": 50,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "c131d945-0998-4e45-998a-ef459bd64e8e",
              "leftValue": "={{ Number($('Update Sales Order with items').item.json.grand_total) - $('Get Order from website').item.json.total }}",
              "rightValue": -50,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "37001c74-68a8-40d6-9e6c-30667602b57f",
      "name": "Price Difference1",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        6580,
        440
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "f0dbdca3-92e5-4d9a-b99f-3c0ba916c3bc",
              "leftValue": "={{ Number($('Update Sales Order with items2').item.json.grand_total) - $('Get Order from website').item.json.total }}",
              "rightValue": 50,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "8ab0caf7-93f1-4e27-8e91-39c357556272",
              "leftValue": "={{ Number($('Update Sales Order with items2').item.json.grand_total) - $('Get Order from website').item.json.total }}",
              "rightValue": -50,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "2f18809e-67d5-4518-b8ea-aed77d465f0e",
      "name": "Price Difference2",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        6580,
        620
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C07N0LHM5NG",
          "mode": "id"
        },
        "text": "=Hello,\nFollowing order has a difference in price with the website, kindly investigate:\nWebsite Order ID: {{ $('Get Order from website').item.json.order_id }}\nERP Sales Order: {{ $('Update Sales Order with items').item.json.name }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "14e22c33-02c4-4141-a0ae-9005a79a26e0",
      "name": "Slack1",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        6820,
        440
      ],
      "credentials": {
        "slackApi": {
          "id": "nHsD7aEjogT4fnip",
          "name": "BBX Bot (n8n)"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C07N0LHM5NG",
          "mode": "id"
        },
        "text": "=Hello,\nFollowing order has a difference in price with the website, kindly investigate:\nWebsite Order ID: {{ $('Get Order from website').item.json.order_id }}\nERP Sales Order: {{ $('Update Sales Order with items2').item.json.name }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "e7be47be-8ff1-4016-a284-baae9935fdbe",
      "name": "Slack2",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        6820,
        620
      ],
      "credentials": {
        "slackApi": {
          "id": "nHsD7aEjogT4fnip",
          "name": "BBX Bot (n8n)"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "730b4433-4805-42be-bdfd-59a13ae1919d",
        "options": {}
      },
      "id": "245ae735-bfa5-47ef-b168-2ba227de6cd1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        920,
        480
      ],
      "webhookId": "24c6c903-c83b-403d-9649-7348e31a9c89"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.bulkbox.cloud",
            "user-agent": "SendinBlue Webhook",
            "content-length": "383",
            "accept": "*/*",
            "accept-encoding": "gzip",
            "content-type": "application/json",
            "traceparent": "00-d4f2108e3ba4ce63c264f4e68950450e-9e17d2abf2fe3add-01",
            "x-forwarded-for": "1.179.112.136",
            "x-forwarded-host": "n8n.bulkbox.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "19ac6f0cdfeb",
            "x-real-ip": "1.179.112.136"
          },
          "params": {},
          "query": {},
          "body": {
            "id": 1039147,
            "email": "sales@bulkbox.co.ke",
            "message-id": "<a40b68c11cca44bb7b941b52a2f65c77@bulkbox.co.ke>",
            "date": "2024-07-03 11:50:14",
            "tag": "",
            "event": "delivered",
            "subject": "Bulkbox: Order #32958 has been placed successfully",
            "sending_ip": "77.32.148.23",
            "ts_event": 1719996614,
            "ts": 1719996614,
            "reason": "sent",
            "ts_epoch": 1719996614000,
            "sender_email": "sales@bulkbox.co.ke"
          },
          "webhookUrl": "https://n8n.bulkbox.cloud/webhook/730b4433-4805-42be-bdfd-59a13ae1919d",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "pA3zEasbGp50knPq"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-03-05T20:25:50.007Z",
      "updatedAt": "2024-03-05T20:25:50.007Z",
      "id": "Axa7tUwnaZFPBQmp",
      "name": "Production"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-10-03T11:49:37.000Z",
  "versionId": "b4556fde-7324-42b9-9951-6cb9838af96a"
}