workflows/Frozen Status Verification.json
{
  "active": false,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "ERPNext1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Records": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Update Frozen Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Update Frozen Status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Frozen Status": {
      "main": [
        [
          {
            "node": "ERPNext",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ERPNext1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "ERPNext2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ERPNext2": {
      "main": [
        [
          {
            "node": "Airtable1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-07-15T07:30:27.101Z",
  "id": "0xOiZPePA34tezoQ",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Frozen Status Verification",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "id": "80f7910f-5745-41d1-84a7-f10590a8e7b5",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        620,
        500
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app7c9cfju1wCcghr",
          "mode": "list",
          "cachedResultName": "AR Management Tool",
          "cachedResultUrl": "https://airtable.com/app7c9cfju1wCcghr"
        },
        "table": {
          "__rl": true,
          "value": "tblzg5Zj11G3fiwyr",
          "mode": "list",
          "cachedResultName": "Main",
          "cachedResultUrl": "https://airtable.com/app7c9cfju1wCcghr/tblzg5Zj11G3fiwyr"
        },
        "options": {}
      },
      "id": "db34d7d3-3d49-4aa2-bf47-83cd58075fa6",
      "name": "Get All Records",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        700,
        -40
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "q5ICF2DzH8KpL3Ai",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "22965af6-14af-4846-a32f-73e870dd3c6c",
              "leftValue": "={{ $json['Frozen Status'] }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "6220fa31-155b-474b-a8eb-457ad5bcf5da",
              "leftValue": "={{ $json['Account Status'] }}",
              "rightValue": "Active",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d1d57a4f-ff39-4291-8739-138e3aebb3e5",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        880,
        -40
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app7c9cfju1wCcghr",
          "mode": "list",
          "cachedResultName": "AR Management Tool",
          "cachedResultUrl": "https://airtable.com/app7c9cfju1wCcghr"
        },
        "table": {
          "__rl": true,
          "value": "tblzg5Zj11G3fiwyr",
          "mode": "list",
          "cachedResultName": "Main",
          "cachedResultUrl": "https://airtable.com/app7c9cfju1wCcghr/tblzg5Zj11G3fiwyr"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "Account Status": "Frozen"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Customer ID",
              "displayName": "Customer ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Company",
                  "value": "Company"
                },
                {
                  "name": "Individual",
                  "value": "Individual"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Customer Group",
              "displayName": "Customer Group",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Account Sales",
                  "value": "Account Sales"
                },
                {
                  "name": "Service Sales",
                  "value": "Service Sales"
                },
                {
                  "name": "Corporate",
                  "value": "Corporate"
                },
                {
                  "name": "Consumer",
                  "value": "Consumer"
                },
                {
                  "name": "Food Service",
                  "value": "Food Service"
                },
                {
                  "name": "Retail",
                  "value": "Retail"
                },
                {
                  "name": "Cash Sales",
                  "value": "Cash Sales"
                },
                {
                  "name": "All Customer Groups",
                  "value": "All Customer Groups"
                },
                {
                  "name": "Restaurant Sales",
                  "value": "Restaurant Sales"
                },
                {
                  "name": "Bolt Retail Shop",
                  "value": "Bolt Retail Shop"
                },
                {
                  "name": "B2C",
                  "value": "B2C"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Territory",
              "displayName": "Territory",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Kenya",
                  "value": "Kenya"
                },
                {
                  "name": "All Territories",
                  "value": "All Territories"
                },
                {
                  "name": "Rest Of The World",
                  "value": "Rest Of The World"
                },
                {
                  "name": "Nairobi",
                  "value": "Nairobi"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Account Manager",
              "displayName": "Account Manager",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "",
                  "value": ""
                },
                {
                  "name": "ahmed@bulkbox.co.ke",
                  "value": "ahmed@bulkbox.co.ke"
                },
                {
                  "name": "rashid@bulkbox.co.ke",
                  "value": "rashid@bulkbox.co.ke"
                },
                {
                  "name": "eugene@bulkbox.co.ke",
                  "value": "eugene@bulkbox.co.ke"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Tax ID",
              "displayName": "Tax ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Mobile No",
              "displayName": "Mobile No",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email ID",
              "displayName": "Email ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Sales Team Assignment",
              "displayName": "Sales Team Assignment",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Brian Mong'are",
                  "value": "Brian Mong'are"
                },
                {
                  "name": "Sophia Khalid",
                  "value": "Sophia Khalid"
                },
                {
                  "name": "Emma Anagei Anagei",
                  "value": "Emma Anagei Anagei"
                },
                {
                  "name": "Assign Sales Member",
                  "value": "Assign Sales Member"
                },
                {
                  "name": "Eugene Aaron",
                  "value": "Eugene Aaron"
                },
                {
                  "name": "Elsie Watare",
                  "value": "Elsie Watare"
                },
                {
                  "name": "Rashid Salim",
                  "value": "Rashid Salim"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Account Functions",
              "displayName": "Account Functions",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Freeze Account",
                  "value": "Freeze Account"
                },
                {
                  "name": "Unfreeze Account",
                  "value": "Unfreeze Account"
                },
                {
                  "name": "Query Balance",
                  "value": "Query Balance"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Update Payment Terms & Limit",
              "displayName": "Update Payment Terms & Limit",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Update Limit",
                  "value": "Update Limit"
                },
                {
                  "name": "Update Payment Terms",
                  "value": "Update Payment Terms"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Is Frozen",
              "displayName": "Is Frozen",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Credit Limit",
              "displayName": "Credit Limit",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "account-balance",
              "displayName": "account-balance",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Limit Notification",
              "displayName": "Limit Notification",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Payment Terms",
              "displayName": "Payment Terms",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Cash on Delivery",
                  "value": "Cash on Delivery"
                },
                {
                  "name": "End of Day",
                  "value": "End of Day"
                },
                {
                  "name": "NET 7",
                  "value": "NET 7"
                },
                {
                  "name": "NET 15",
                  "value": "NET 15"
                },
                {
                  "name": "NET 30",
                  "value": "NET 30"
                },
                {
                  "name": "Prepayment",
                  "value": "Prepayment"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "0 - 7",
              "displayName": "0 - 7",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "8 - 15",
              "displayName": "8 - 15",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "16 - 30",
              "displayName": "16 - 30",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "31 - 45",
              "displayName": "31 - 45",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "46+",
              "displayName": "46+",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Created Date",
              "displayName": "Created Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Account Status",
              "displayName": "Account Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Active",
                  "value": "Active"
                },
                {
                  "name": "Disabled",
                  "value": "Disabled"
                },
                {
                  "name": "Frozen",
                  "value": "Frozen"
                },
                {
                  "name": "Deleted",
                  "value": "Deleted"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Collection Amount",
              "displayName": "Collection Amount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Overdue Amount",
              "displayName": "Overdue Amount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Frozen Status",
              "displayName": "Frozen Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Credit Utlization",
              "displayName": "Credit Utlization",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Risk Level %",
              "displayName": "Risk Level %",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Risk Level",
              "displayName": "Risk Level",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Low",
                  "value": "Low"
                },
                {
                  "name": "Medium",
                  "value": "Medium"
                },
                {
                  "name": "High",
                  "value": "High"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Follow Up Date",
              "displayName": "Follow Up Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Follow Up Status",
              "displayName": "Follow Up Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Unresponsive",
                  "value": "Unresponsive"
                },
                {
                  "name": "Expecting Payment",
                  "value": "Expecting Payment"
                },
                {
                  "name": "ETR Invoices",
                  "value": "ETR Invoices"
                },
                {
                  "name": "Non commital",
                  "value": "Non commital"
                },
                {
                  "name": "SOA/AR Sent",
                  "value": "SOA/AR Sent"
                },
                {
                  "name": "Cheque Ready for Collection",
                  "value": "Cheque Ready for Collection"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Risk Tolerance Level",
              "displayName": "Risk Tolerance Level",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Disabled",
              "displayName": "Disabled",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Default Price List",
              "displayName": "Default Price List",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Customer Primary Contact",
              "displayName": "Customer Primary Contact",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Bypass Credit Limit Check",
              "displayName": "Bypass Credit Limit Check",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Credit Collection Tasks",
              "displayName": "Credit Collection Tasks",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Customer Account",
              "displayName": "Customer Account",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Credit Collection Tasks 2",
              "displayName": "Credit Collection Tasks 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Collection Status",
              "displayName": "Collection Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pending",
                  "value": "Pending"
                },
                {
                  "name": "In Progress",
                  "value": "In Progress"
                },
                {
                  "name": "Complete",
                  "value": "Complete"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expected Amount",
              "displayName": "Expected Amount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Remarks",
              "displayName": "Remarks",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Collection Priority",
              "displayName": "Collection Priority",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Low",
                  "value": "Low"
                },
                {
                  "name": "Medium",
                  "value": "Medium"
                },
                {
                  "name": "High",
                  "value": "High"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Cc'd Email ID",
              "displayName": "Cc'd Email ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Credit Collection Tasks 3",
              "displayName": "Credit Collection Tasks 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "e4a20d94-6a1e-4b95-8224-feae1b15f863",
      "name": "Update Frozen Status",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        1100,
        -160
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "q5ICF2DzH8KpL3Ai",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "22965af6-14af-4846-a32f-73e870dd3c6c",
              "leftValue": "={{ $json['Frozen Status'] }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "6220fa31-155b-474b-a8eb-457ad5bcf5da",
              "leftValue": "={{ $json['Account Status'] }}",
              "rightValue": "Frozen",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7cea4f56-2cec-4f97-9153-47c86980621c",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1100,
        40
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app7c9cfju1wCcghr",
          "mode": "list",
          "cachedResultName": "AR Management Tool",
          "cachedResultUrl": "https://airtable.com/app7c9cfju1wCcghr"
        },
        "table": {
          "__rl": true,
          "value": "tblzg5Zj11G3fiwyr",
          "mode": "list",
          "cachedResultName": "Main",
          "cachedResultUrl": "https://airtable.com/app7c9cfju1wCcghr/tblzg5Zj11G3fiwyr"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "Account Status": "Active"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Customer ID",
              "displayName": "Customer ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Company",
                  "value": "Company"
                },
                {
                  "name": "Individual",
                  "value": "Individual"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Customer Group",
              "displayName": "Customer Group",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Account Sales",
                  "value": "Account Sales"
                },
                {
                  "name": "Service Sales",
                  "value": "Service Sales"
                },
                {
                  "name": "Corporate",
                  "value": "Corporate"
                },
                {
                  "name": "Consumer",
                  "value": "Consumer"
                },
                {
                  "name": "Food Service",
                  "value": "Food Service"
                },
                {
                  "name": "Retail",
                  "value": "Retail"
                },
                {
                  "name": "Cash Sales",
                  "value": "Cash Sales"
                },
                {
                  "name": "All Customer Groups",
                  "value": "All Customer Groups"
                },
                {
                  "name": "Restaurant Sales",
                  "value": "Restaurant Sales"
                },
                {
                  "name": "Bolt Retail Shop",
                  "value": "Bolt Retail Shop"
                },
                {
                  "name": "B2C",
                  "value": "B2C"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Territory",
              "displayName": "Territory",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Kenya",
                  "value": "Kenya"
                },
                {
                  "name": "All Territories",
                  "value": "All Territories"
                },
                {
                  "name": "Rest Of The World",
                  "value": "Rest Of The World"
                },
                {
                  "name": "Nairobi",
                  "value": "Nairobi"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Account Manager",
              "displayName": "Account Manager",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "",
                  "value": ""
                },
                {
                  "name": "ahmed@bulkbox.co.ke",
                  "value": "ahmed@bulkbox.co.ke"
                },
                {
                  "name": "rashid@bulkbox.co.ke",
                  "value": "rashid@bulkbox.co.ke"
                },
                {
                  "name": "eugene@bulkbox.co.ke",
                  "value": "eugene@bulkbox.co.ke"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Tax ID",
              "displayName": "Tax ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Mobile No",
              "displayName": "Mobile No",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email ID",
              "displayName": "Email ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Sales Team Assignment",
              "displayName": "Sales Team Assignment",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Brian Mong'are",
                  "value": "Brian Mong'are"
                },
                {
                  "name": "Sophia Khalid",
                  "value": "Sophia Khalid"
                },
                {
                  "name": "Emma Anagei Anagei",
                  "value": "Emma Anagei Anagei"
                },
                {
                  "name": "Assign Sales Member",
                  "value": "Assign Sales Member"
                },
                {
                  "name": "Eugene Aaron",
                  "value": "Eugene Aaron"
                },
                {
                  "name": "Elsie Watare",
                  "value": "Elsie Watare"
                },
                {
                  "name": "Rashid Salim",
                  "value": "Rashid Salim"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Account Functions",
              "displayName": "Account Functions",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Freeze Account",
                  "value": "Freeze Account"
                },
                {
                  "name": "Unfreeze Account",
                  "value": "Unfreeze Account"
                },
                {
                  "name": "Query Balance",
                  "value": "Query Balance"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Update Payment Terms & Limit",
              "displayName": "Update Payment Terms & Limit",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Update Limit",
                  "value": "Update Limit"
                },
                {
                  "name": "Update Payment Terms",
                  "value": "Update Payment Terms"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Is Frozen",
              "displayName": "Is Frozen",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Credit Limit",
              "displayName": "Credit Limit",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "account-balance",
              "displayName": "account-balance",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Limit Notification",
              "displayName": "Limit Notification",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Payment Terms",
              "displayName": "Payment Terms",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Cash on Delivery",
                  "value": "Cash on Delivery"
                },
                {
                  "name": "End of Day",
                  "value": "End of Day"
                },
                {
                  "name": "NET 7",
                  "value": "NET 7"
                },
                {
                  "name": "NET 15",
                  "value": "NET 15"
                },
                {
                  "name": "NET 30",
                  "value": "NET 30"
                },
                {
                  "name": "Prepayment",
                  "value": "Prepayment"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "0 - 7",
              "displayName": "0 - 7",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "8 - 15",
              "displayName": "8 - 15",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "16 - 30",
              "displayName": "16 - 30",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "31 - 45",
              "displayName": "31 - 45",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "46+",
              "displayName": "46+",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Created Date",
              "displayName": "Created Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Account Status",
              "displayName": "Account Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Active",
                  "value": "Active"
                },
                {
                  "name": "Disabled",
                  "value": "Disabled"
                },
                {
                  "name": "Frozen",
                  "value": "Frozen"
                },
                {
                  "name": "Deleted",
                  "value": "Deleted"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Collection Amount",
              "displayName": "Collection Amount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Overdue Amount",
              "displayName": "Overdue Amount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Frozen Status",
              "displayName": "Frozen Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Credit Utlization",
              "displayName": "Credit Utlization",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Risk Level %",
              "displayName": "Risk Level %",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Risk Level",
              "displayName": "Risk Level",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Low",
                  "value": "Low"
                },
                {
                  "name": "Medium",
                  "value": "Medium"
                },
                {
                  "name": "High",
                  "value": "High"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Follow Up Date",
              "displayName": "Follow Up Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Follow Up Status",
              "displayName": "Follow Up Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Unresponsive",
                  "value": "Unresponsive"
                },
                {
                  "name": "Expecting Payment",
                  "value": "Expecting Payment"
                },
                {
                  "name": "ETR Invoices",
                  "value": "ETR Invoices"
                },
                {
                  "name": "Non commital",
                  "value": "Non commital"
                },
                {
                  "name": "SOA/AR Sent",
                  "value": "SOA/AR Sent"
                },
                {
                  "name": "Cheque Ready for Collection",
                  "value": "Cheque Ready for Collection"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Risk Tolerance Level",
              "displayName": "Risk Tolerance Level",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Disabled",
              "displayName": "Disabled",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Default Price List",
              "displayName": "Default Price List",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Customer Primary Contact",
              "displayName": "Customer Primary Contact",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Bypass Credit Limit Check",
              "displayName": "Bypass Credit Limit Check",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Credit Collection Tasks",
              "displayName": "Credit Collection Tasks",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Customer Account",
              "displayName": "Customer Account",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Credit Collection Tasks 2",
              "displayName": "Credit Collection Tasks 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Collection Status",
              "displayName": "Collection Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pending",
                  "value": "Pending"
                },
                {
                  "name": "In Progress",
                  "value": "In Progress"
                },
                {
                  "name": "Complete",
                  "value": "Complete"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expected Amount",
              "displayName": "Expected Amount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Remarks",
              "displayName": "Remarks",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Collection Priority",
              "displayName": "Collection Priority",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Low",
                  "value": "Low"
                },
                {
                  "name": "Medium",
                  "value": "Medium"
                },
                {
                  "name": "High",
                  "value": "High"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Cc'd Email ID",
              "displayName": "Cc'd Email ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Credit Collection Tasks 3",
              "displayName": "Credit Collection Tasks 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "f9037634-8022-4f7d-b4fc-abc66143ca01",
      "name": "Update Frozen Status1",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        1320,
        -60
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "q5ICF2DzH8KpL3Ai",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "docType": "Customer",
        "documentName": "={{ $json.fields['Customer ID'] }}",
        "properties": {
          "customProperty": [
            {
              "field": "is_frozen",
              "value": "1"
            }
          ]
        }
      },
      "id": "cfb8fe1e-3000-45e2-bcea-d2528c053693",
      "name": "ERPNext",
      "type": "n8n-nodes-base.erpNext",
      "typeVersion": 1,
      "position": [
        1320,
        -240
      ],
      "credentials": {
        "erpNextApi": {
          "id": "OVfEC6rfwqA5vwcf",
          "name": "ERPNext Prod"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "docType": "Customer",
        "returnAll": true,
        "options": {}
      },
      "id": "861dd261-b314-4197-b320-421ae3aea483",
      "name": "ERPNext1",
      "type": "n8n-nodes-base.erpNext",
      "typeVersion": 1,
      "position": [
        840,
        500
      ],
      "credentials": {
        "erpNextApi": {
          "id": "OVfEC6rfwqA5vwcf",
          "name": "ERPNext Prod"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "2f9bed77-7887-4816-9c96-d4de396daa3f",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1080,
        580
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app7c9cfju1wCcghr",
          "mode": "list",
          "cachedResultName": "AR Management Tool",
          "cachedResultUrl": "https://airtable.com/app7c9cfju1wCcghr"
        },
        "table": {
          "__rl": true,
          "value": "tblzg5Zj11G3fiwyr",
          "mode": "list",
          "cachedResultName": "Main",
          "cachedResultUrl": "https://airtable.com/app7c9cfju1wCcghr/tblzg5Zj11G3fiwyr"
        },
        "filterByFormula": "=({Customer ID}=\"{{ $json.name }}\")",
        "options": {}
      },
      "id": "b7df97e6-f975-469d-bd86-5978ae0eb8d5",
      "name": "Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        1300,
        680
      ],
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "q5ICF2DzH8KpL3Ai",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "73a8c000-3160-44e5-a4a8-b18c20f9b19b",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "3775f535-b914-4efa-84b6-de3e4e566fcc",
              "leftValue": "={{ $json['Account Status'] }}",
              "rightValue": "Disabled",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "fdfeb87d-ecab-4f6b-9360-efb056606a33",
              "leftValue": "={{ $json['Account Status'] }}",
              "rightValue": "Deleted",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "33a713db-58cd-4d7f-8737-0ec0ba199cea",
      "name": "If2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1520,
        740
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app7c9cfju1wCcghr",
          "mode": "list",
          "cachedResultName": "AR Management Tool",
          "cachedResultUrl": "https://airtable.com/app7c9cfju1wCcghr"
        },
        "table": {
          "__rl": true,
          "value": "tblzg5Zj11G3fiwyr",
          "mode": "list",
          "cachedResultName": "Main",
          "cachedResultUrl": "https://airtable.com/app7c9cfju1wCcghr/tblzg5Zj11G3fiwyr"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('If2').item.json.id }}",
            "Is Frozen": "={{ $if($json.is_frozen == 1, 1, 0) }}",
            "Account Status": "={{ $if($json.is_frozen == 1,\"Frozen\",\"Active\") }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Customer ID",
              "displayName": "Customer ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Company",
                  "value": "Company"
                },
                {
                  "name": "Individual",
                  "value": "Individual"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Customer Group",
              "displayName": "Customer Group",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Account Sales",
                  "value": "Account Sales"
                },
                {
                  "name": "Service Sales",
                  "value": "Service Sales"
                },
                {
                  "name": "Corporate",
                  "value": "Corporate"
                },
                {
                  "name": "Consumer",
                  "value": "Consumer"
                },
                {
                  "name": "Food Service",
                  "value": "Food Service"
                },
                {
                  "name": "Retail",
                  "value": "Retail"
                },
                {
                  "name": "Cash Sales",
                  "value": "Cash Sales"
                },
                {
                  "name": "All Customer Groups",
                  "value": "All Customer Groups"
                },
                {
                  "name": "Restaurant Sales",
                  "value": "Restaurant Sales"
                },
                {
                  "name": "Bolt Retail Shop",
                  "value": "Bolt Retail Shop"
                },
                {
                  "name": "B2C",
                  "value": "B2C"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Territory",
              "displayName": "Territory",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Kenya",
                  "value": "Kenya"
                },
                {
                  "name": "All Territories",
                  "value": "All Territories"
                },
                {
                  "name": "Rest Of The World",
                  "value": "Rest Of The World"
                },
                {
                  "name": "Nairobi",
                  "value": "Nairobi"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Account Manager",
              "displayName": "Account Manager",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "",
                  "value": ""
                },
                {
                  "name": "ahmed@bulkbox.co.ke",
                  "value": "ahmed@bulkbox.co.ke"
                },
                {
                  "name": "rashid@bulkbox.co.ke",
                  "value": "rashid@bulkbox.co.ke"
                },
                {
                  "name": "eugene@bulkbox.co.ke",
                  "value": "eugene@bulkbox.co.ke"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Tax ID",
              "displayName": "Tax ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Mobile No",
              "displayName": "Mobile No",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email ID",
              "displayName": "Email ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Sales Team Assignment",
              "displayName": "Sales Team Assignment",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Brian Mong'are",
                  "value": "Brian Mong'are"
                },
                {
                  "name": "Sophia Khalid",
                  "value": "Sophia Khalid"
                },
                {
                  "name": "Emma Anagei Anagei",
                  "value": "Emma Anagei Anagei"
                },
                {
                  "name": "Assign Sales Member",
                  "value": "Assign Sales Member"
                },
                {
                  "name": "Eugene Aaron",
                  "value": "Eugene Aaron"
                },
                {
                  "name": "Elsie Watare",
                  "value": "Elsie Watare"
                },
                {
                  "name": "Rashid Salim",
                  "value": "Rashid Salim"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Account Functions",
              "displayName": "Account Functions",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Freeze Account",
                  "value": "Freeze Account"
                },
                {
                  "name": "Unfreeze Account",
                  "value": "Unfreeze Account"
                },
                {
                  "name": "Query Balance",
                  "value": "Query Balance"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Update Payment Terms & Limit",
              "displayName": "Update Payment Terms & Limit",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Update Limit",
                  "value": "Update Limit"
                },
                {
                  "name": "Update Payment Terms",
                  "value": "Update Payment Terms"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Is Frozen",
              "displayName": "Is Frozen",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Credit Limit",
              "displayName": "Credit Limit",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "account-balance",
              "displayName": "account-balance",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Limit Notification",
              "displayName": "Limit Notification",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Payment Terms",
              "displayName": "Payment Terms",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Cash on Delivery",
                  "value": "Cash on Delivery"
                },
                {
                  "name": "End of Day",
                  "value": "End of Day"
                },
                {
                  "name": "NET 7",
                  "value": "NET 7"
                },
                {
                  "name": "NET 15",
                  "value": "NET 15"
                },
                {
                  "name": "NET 30",
                  "value": "NET 30"
                },
                {
                  "name": "Prepayment",
                  "value": "Prepayment"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "0 - 7",
              "displayName": "0 - 7",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "8 - 15",
              "displayName": "8 - 15",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "16 - 30",
              "displayName": "16 - 30",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "31 - 45",
              "displayName": "31 - 45",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "46+",
              "displayName": "46+",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Created Date",
              "displayName": "Created Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Account Status",
              "displayName": "Account Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Active",
                  "value": "Active"
                },
                {
                  "name": "Disabled",
                  "value": "Disabled"
                },
                {
                  "name": "Frozen",
                  "value": "Frozen"
                },
                {
                  "name": "Deleted",
                  "value": "Deleted"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Collection Amount",
              "displayName": "Collection Amount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Overdue Amount",
              "displayName": "Overdue Amount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Frozen Status",
              "displayName": "Frozen Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Credit Utlization",
              "displayName": "Credit Utlization",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Risk Level %",
              "displayName": "Risk Level %",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Risk Level",
              "displayName": "Risk Level",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Low",
                  "value": "Low"
                },
                {
                  "name": "Medium",
                  "value": "Medium"
                },
                {
                  "name": "High",
                  "value": "High"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Follow Up Date",
              "displayName": "Follow Up Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Follow Up Status",
              "displayName": "Follow Up Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Unresponsive",
                  "value": "Unresponsive"
                },
                {
                  "name": "Expecting Payment",
                  "value": "Expecting Payment"
                },
                {
                  "name": "ETR Invoices",
                  "value": "ETR Invoices"
                },
                {
                  "name": "Non commital",
                  "value": "Non commital"
                },
                {
                  "name": "SOA/AR Sent",
                  "value": "SOA/AR Sent"
                },
                {
                  "name": "Cheque Ready for Collection",
                  "value": "Cheque Ready for Collection"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Risk Tolerance Level",
              "displayName": "Risk Tolerance Level",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Disabled",
              "displayName": "Disabled",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Default Price List",
              "displayName": "Default Price List",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Customer Primary Contact",
              "displayName": "Customer Primary Contact",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Bypass Credit Limit Check",
              "displayName": "Bypass Credit Limit Check",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Credit Collection Tasks",
              "displayName": "Credit Collection Tasks",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Customer Account",
              "displayName": "Customer Account",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Credit Collection Tasks 2",
              "displayName": "Credit Collection Tasks 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Collection Status",
              "displayName": "Collection Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pending",
                  "value": "Pending"
                },
                {
                  "name": "In Progress",
                  "value": "In Progress"
                },
                {
                  "name": "Complete",
                  "value": "Complete"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expected Amount",
              "displayName": "Expected Amount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Remarks",
              "displayName": "Remarks",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Collection Priority",
              "displayName": "Collection Priority",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Low",
                  "value": "Low"
                },
                {
                  "name": "Medium",
                  "value": "Medium"
                },
                {
                  "name": "High",
                  "value": "High"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Cc'd Email ID",
              "displayName": "Cc'd Email ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Credit Collection Tasks 3",
              "displayName": "Credit Collection Tasks 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "0e1c7616-b774-407c-a332-d7534d6ac54e",
      "name": "Airtable1",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        2160,
        940
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "q5ICF2DzH8KpL3Ai",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "docType": "Customer",
        "documentName": "={{ $('ERPNext1').item.json.name }}"
      },
      "id": "41c307d0-b8bc-47bc-9bcc-944aff753023",
      "name": "ERPNext2",
      "type": "n8n-nodes-base.erpNext",
      "typeVersion": 1,
      "position": [
        1900,
        840
      ],
      "credentials": {
        "erpNextApi": {
          "id": "OVfEC6rfwqA5vwcf",
          "name": "ERPNext Prod"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a3f10260-80be-42f7-9c8f-9fb55069f96e",
              "name": "Name",
              "value": "={{ $('Loop Over Items').item.json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "02174a9c-6437-4434-9a15-341b6196e61b",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1700,
        900
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "Africa/Nairobi",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "pA3zEasbGp50knPq"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2024-03-05T20:25:50.007Z",
      "updatedAt": "2024-03-05T20:25:50.007Z",
      "id": "Axa7tUwnaZFPBQmp",
      "name": "Production"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-07-26T09:21:19.000Z",
  "versionId": "e3098cc6-b9ae-4f1a-b030-5fb375abb91b"
}