workflows/Frozen Status Verification.json
{
  "active": true,
  "connections": {
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Airtable2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable2": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "customer": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get All Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Records": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-07-15T07:30:27.101Z",
  "id": "0xOiZPePA34tezoQ",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Frozen Status Verification",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "6a210bb3-4bb2-46f0-b279-2b05cb3d9339",
      "name": "Loop Over Items2",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        740,
        240
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app7c9cfju1wCcghr",
          "mode": "list",
          "cachedResultName": "AR Management Tool",
          "cachedResultUrl": "https://airtable.com/app7c9cfju1wCcghr"
        },
        "table": {
          "__rl": true,
          "value": "tblzg5Zj11G3fiwyr",
          "mode": "list",
          "cachedResultName": "Main",
          "cachedResultUrl": "https://airtable.com/app7c9cfju1wCcghr/tblzg5Zj11G3fiwyr"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Loop Over Items2').item.json.id }}",
            "Account Functions": "Freeze Account"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Customer ID",
              "displayName": "Customer ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Company",
                  "value": "Company"
                },
                {
                  "name": "Individual",
                  "value": "Individual"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Customer Group",
              "displayName": "Customer Group",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Account Sales",
                  "value": "Account Sales"
                },
                {
                  "name": "Service Sales",
                  "value": "Service Sales"
                },
                {
                  "name": "Corporate",
                  "value": "Corporate"
                },
                {
                  "name": "Consumer",
                  "value": "Consumer"
                },
                {
                  "name": "Food Service",
                  "value": "Food Service"
                },
                {
                  "name": "Retail",
                  "value": "Retail"
                },
                {
                  "name": "Cash Sales",
                  "value": "Cash Sales"
                },
                {
                  "name": "All Customer Groups",
                  "value": "All Customer Groups"
                },
                {
                  "name": "Restaurant Sales",
                  "value": "Restaurant Sales"
                },
                {
                  "name": "Bolt Retail Shop",
                  "value": "Bolt Retail Shop"
                },
                {
                  "name": "B2C",
                  "value": "B2C"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Territory",
              "displayName": "Territory",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Kenya",
                  "value": "Kenya"
                },
                {
                  "name": "All Territories",
                  "value": "All Territories"
                },
                {
                  "name": "Rest Of The World",
                  "value": "Rest Of The World"
                },
                {
                  "name": "Nairobi",
                  "value": "Nairobi"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Account Manager",
              "displayName": "Account Manager",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "",
                  "value": ""
                },
                {
                  "name": "ahmed@bulkbox.co.ke",
                  "value": "ahmed@bulkbox.co.ke"
                },
                {
                  "name": "rashid@bulkbox.co.ke",
                  "value": "rashid@bulkbox.co.ke"
                },
                {
                  "name": "eugene@bulkbox.co.ke",
                  "value": "eugene@bulkbox.co.ke"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Tax ID",
              "displayName": "Tax ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Mobile No",
              "displayName": "Mobile No",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email ID",
              "displayName": "Email ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Sales Team Assignment",
              "displayName": "Sales Team Assignment",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Brian Mong'are",
                  "value": "Brian Mong'are"
                },
                {
                  "name": "Sophia Khalid",
                  "value": "Sophia Khalid"
                },
                {
                  "name": "Emma Anagei Anagei",
                  "value": "Emma Anagei Anagei"
                },
                {
                  "name": "Assign Sales Member",
                  "value": "Assign Sales Member"
                },
                {
                  "name": "Eugene Aaron",
                  "value": "Eugene Aaron"
                },
                {
                  "name": "Elsie Watare",
                  "value": "Elsie Watare"
                },
                {
                  "name": "Rashid Salim",
                  "value": "Rashid Salim"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Account Functions",
              "displayName": "Account Functions",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Freeze Account",
                  "value": "Freeze Account"
                },
                {
                  "name": "Unfreeze Account",
                  "value": "Unfreeze Account"
                },
                {
                  "name": "Query Balance",
                  "value": "Query Balance"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Update Payment Terms & Limit",
              "displayName": "Update Payment Terms & Limit",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Update Limit",
                  "value": "Update Limit"
                },
                {
                  "name": "Update Payment Terms",
                  "value": "Update Payment Terms"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Is Frozen",
              "displayName": "Is Frozen",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Credit Limit",
              "displayName": "Credit Limit",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "account-balance",
              "displayName": "account-balance",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Limit Notification",
              "displayName": "Limit Notification",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Payment Terms",
              "displayName": "Payment Terms",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Cash on Delivery",
                  "value": "Cash on Delivery"
                },
                {
                  "name": "End of Day",
                  "value": "End of Day"
                },
                {
                  "name": "NET 7",
                  "value": "NET 7"
                },
                {
                  "name": "NET 15",
                  "value": "NET 15"
                },
                {
                  "name": "NET 30",
                  "value": "NET 30"
                },
                {
                  "name": "Prepayment",
                  "value": "Prepayment"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "0 - 7",
              "displayName": "0 - 7",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "8 - 15",
              "displayName": "8 - 15",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "16 - 30",
              "displayName": "16 - 30",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "31 - 45",
              "displayName": "31 - 45",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "46+",
              "displayName": "46+",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Created Date",
              "displayName": "Created Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Account Status",
              "displayName": "Account Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Active",
                  "value": "Active"
                },
                {
                  "name": "Disabled",
                  "value": "Disabled"
                },
                {
                  "name": "Frozen",
                  "value": "Frozen"
                },
                {
                  "name": "Deleted",
                  "value": "Deleted"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Collection Amount",
              "displayName": "Collection Amount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Overdue Amount",
              "displayName": "Overdue Amount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Frozen Status",
              "displayName": "Frozen Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Credit Utlization",
              "displayName": "Credit Utlization",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Risk Level %",
              "displayName": "Risk Level %",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Risk Level",
              "displayName": "Risk Level",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Low",
                  "value": "Low"
                },
                {
                  "name": "Medium",
                  "value": "Medium"
                },
                {
                  "name": "High",
                  "value": "High"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Follow Up Date",
              "displayName": "Follow Up Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Follow Up Status",
              "displayName": "Follow Up Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Unresponsive",
                  "value": "Unresponsive"
                },
                {
                  "name": "Expecting Payment",
                  "value": "Expecting Payment"
                },
                {
                  "name": "ETR Invoices",
                  "value": "ETR Invoices"
                },
                {
                  "name": "Non commital",
                  "value": "Non commital"
                },
                {
                  "name": "SOA/AR Sent",
                  "value": "SOA/AR Sent"
                },
                {
                  "name": "Cheque Ready for Collection",
                  "value": "Cheque Ready for Collection"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Risk Tolerance Level",
              "displayName": "Risk Tolerance Level",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Target Collection Day",
              "displayName": "Target Collection Day",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Monday",
                  "value": "Monday"
                },
                {
                  "name": "Tuesday",
                  "value": "Tuesday"
                },
                {
                  "name": "Wednesday",
                  "value": "Wednesday"
                },
                {
                  "name": "Thursday",
                  "value": "Thursday"
                },
                {
                  "name": "Friday",
                  "value": "Friday"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Disabled",
              "displayName": "Disabled",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Default Price List",
              "displayName": "Default Price List",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Customer Primary Contact",
              "displayName": "Customer Primary Contact",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Bypass Credit Limit Check",
              "displayName": "Bypass Credit Limit Check",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Credit Collection Tasks",
              "displayName": "Credit Collection Tasks",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Customer Account",
              "displayName": "Customer Account",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Credit Collection Tasks 2",
              "displayName": "Credit Collection Tasks 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Collection Status",
              "displayName": "Collection Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pending",
                  "value": "Pending"
                },
                {
                  "name": "In Progress",
                  "value": "In Progress"
                },
                {
                  "name": "Complete",
                  "value": "Complete"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expected Amount",
              "displayName": "Expected Amount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Remarks",
              "displayName": "Remarks",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Collection Priority",
              "displayName": "Collection Priority",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Low",
                  "value": "Low"
                },
                {
                  "name": "Medium",
                  "value": "Medium"
                },
                {
                  "name": "High",
                  "value": "High"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Cc'd Email ID",
              "displayName": "Cc'd Email ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Credit Collection Tasks 3",
              "displayName": "Credit Collection Tasks 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "4fb467b4-b606-44fe-9dde-51d01b6df733",
      "name": "Airtable2",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        1660,
        480
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "q5ICF2DzH8KpL3Ai",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "547995d1-25a9-471e-b644-515c6018fa95",
              "leftValue": "={{ $json.is_frozen }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "7a09753f-c4c4-4f67-8f97-a665d91ba63d",
              "leftValue": "={{ $('Edit Fields1').item.json.frozen_status }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "42f2a0a6-2211-4954-8f49-a49e419ae8de",
              "leftValue": "={{ $('Edit Fields1').item.json.is_frozen }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5d895dd8-620e-4cc9-ad6a-b07fc0368e91",
      "name": "If4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1400,
        420
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "docType": "Customer",
        "documentName": "={{ $json.customer }}"
      },
      "id": "241d2410-3255-4189-b405-1f19c072a995",
      "name": "customer",
      "type": "n8n-nodes-base.erpNext",
      "typeVersion": 1,
      "position": [
        1180,
        380
      ],
      "credentials": {
        "erpNextApi": {
          "id": "OVfEC6rfwqA5vwcf",
          "name": "ERPNext Prod"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "id": "80f7910f-5745-41d1-84a7-f10590a8e7b5",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        320,
        240
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app7c9cfju1wCcghr",
          "mode": "list",
          "cachedResultName": "AR Management Tool",
          "cachedResultUrl": "https://airtable.com/app7c9cfju1wCcghr"
        },
        "table": {
          "__rl": true,
          "value": "tblzg5Zj11G3fiwyr",
          "mode": "list",
          "cachedResultName": "Main",
          "cachedResultUrl": "https://airtable.com/app7c9cfju1wCcghr/tblzg5Zj11G3fiwyr"
        },
        "filterByFormula": "({Is Frozen} != {Frozen Status})",
        "options": {}
      },
      "id": "db34d7d3-3d49-4aa2-bf47-83cd58075fa6",
      "name": "Get All Records",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        520,
        240
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "q5ICF2DzH8KpL3Ai",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "190615db-e089-46b0-9ef0-1d13f8db2a17",
              "name": "customer",
              "value": "={{ $json['Customer ID'] }}",
              "type": "string"
            },
            {
              "id": "f24c650e-0139-4c77-b11c-6660488603cc",
              "name": "is_frozen",
              "value": "={{ $json['Is Frozen'] }}",
              "type": "number"
            },
            {
              "id": "902fbf2d-03d2-4a28-9ada-c4aec9198c77",
              "name": "frozen_status",
              "value": "={{ $json['Frozen Status'] }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "35c0f246-a109-4f4a-a31e-3c24d8497e58",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        960,
        340
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "Africa/Nairobi",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "pA3zEasbGp50knPq"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2024-03-05T20:25:50.007Z",
      "updatedAt": "2024-03-05T20:25:50.007Z",
      "id": "Axa7tUwnaZFPBQmp",
      "name": "Production"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-09-09T08:08:58.000Z",
  "versionId": "ef317489-5142-4b1e-860e-5708e418b231"
}