workflows/Gross profit.json
{
  "active": true,
  "connections": {
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item": {
      "main": [
        [
          {
            "node": "Gross Profit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gross Profit": {
      "main": [
        [
          {
            "node": "Gross Profit < 4%",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gross Profit < 4%": {
      "main": [
        [
          {
            "node": "Slack1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sales Order": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-03-13T12:21:31.186Z",
  "id": "Hf8co5bmw9ucGSbu",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Gross profit",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "4074b4d2-7f46-4627-be34-af1f2c12dd7a",
        "options": {}
      },
      "id": "e52403cd-c25a-4b0b-a992-15034023c3e1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        1220,
        480
      ],
      "webhookId": "4074b4d2-7f46-4627-be34-af1f2c12dd7a"
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.items",
        "options": {}
      },
      "id": "3cc0304b-ff87-4587-a04c-fa844acd659c",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1420,
        640
      ]
    },
    {
      "parameters": {
        "jsCode": "// Initialize an empty array to store the output items\nconst outputItems = [];\n\n// Accessing the items array passed from the split out node\nconst itemsArray = items;\n\n// Looping through each item in the items array\nfor (const item of itemsArray) {\n    // Accessing the data of each item\n    const data = item.json;\n\n    // Now you can access specific properties of each item's data and perform your calculations\n    const rate = data.rate;\n    const incoming_rate = data.incoming_rate;\n    const item_code = data.item_code;\n    const sales_invoice = data.parent;\n    const item_group = data.item_group\n\n    // Calculating percentage change for each item\n    // const percentageChange = (((rate - incoming_rate) / rate) * 100).toFixed(2);\n    const percentageChange = Math.round(((rate - incoming_rate) / rate) * 100 * 100) / 100;\n\n\n    // Creating an object representing the output item for this iteration\n    const outputItem = {\n        item: item_code,\n        sales_invoice: sales_invoice,\n        item_group: item_group,\n        percentageChange: percentageChange\n    };\n\n    // Pushing the outputItem to the outputItems array\n    outputItems.push(outputItem);\n}\n\n// Returning the outputItems array containing the calculated percentage changes for each item\nreturn outputItems;"
      },
      "id": "ead18913-4fcd-4698-9eb9-dfa492683c30",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1660,
        480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "8f2cf3d4-467f-4df6-9033-42ac39ccd29c",
              "leftValue": "={{ $json.percentageChange }}",
              "rightValue": 4,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            },
            {
              "id": "5a4a2dd0-4acf-4650-b27c-cadb83e271f4",
              "leftValue": "={{ $json.item_group }}",
              "rightValue": "Glass Bottles & Crates",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3ebf196f-b9a2-4427-a1a9-3c58b9346e6b",
      "name": "Filter1",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        1880,
        480
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#priceupdates",
          "mode": "name"
        },
        "text": "=The following item *{{ $json.item }}* gross profit falls below *4%* - {{ $json.percentageChange }} Sales Invoice *{{ $json.sales_invoice }}* ",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "12899309-61e3-40b3-b1a2-d77366ac502f",
      "name": "Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        2100,
        480
      ],
      "credentials": {
        "slackApi": {
          "id": "nHsD7aEjogT4fnip",
          "name": "BBX Bot (n8n)"
        }
      }
    },
    {
      "parameters": {
        "url": "=https:/portal.bulkbox.cloud/api/resource/Item?fields=[\"item_code\",\"last_purchase_rate\"]&filters=[[\"item_code\",\"=\",\"{{ $('Split Out').item.json[\"item_code\"] }}\"]]",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "erpNextApi",
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "id": "891c1bc5-0670-452d-8521-667ae6b0e56b",
      "name": "Item",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1880,
        700
      ],
      "credentials": {
        "erpNextApi": {
          "id": "OVfEC6rfwqA5vwcf",
          "name": "ERPNext Prod"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "96977d3a-91ce-4768-810e-4ebd663d7b1e",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1660,
        640
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "94259299-d328-442d-ab7d-65e7e0fc835d",
              "name": "percentage Change",
              "value": "={{ Math.round((($('Split Out').item.json[\"rate\"] -  $('Item').item.json[\"data\"][0][\"last_purchase_rate\"])/$('Split Out').item.json[\"rate\"])*100*100)/100 }}",
              "type": "number"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": false
        }
      },
      "id": "e45b9909-70ac-4a58-96d5-cfbad3e2d26a",
      "name": "Gross Profit",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        2080,
        700
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#priceupdates",
          "mode": "name"
        },
        "messageType": "block",
        "blocksUi": "={\n\t\"blocks\": [\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\"text\": \"The following item *{{ $('Item').item.json[\"data\"][0][\"item_code\"] }}* gross profit fall below *4%* - *{{ $('Gross Profit').item.json[\"percentage Change\"] }}%*.\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"type\": \"actions\",\n\t\t\t\"elements\": [\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"button\",\n\t\t\t\t\t\"text\": {\n\t\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\t\"text\": \"{{ $('Sales Order').item.json[\"body\"][\"name\"] }}\",\n\t\t\t\t\t\t\"emoji\": true\n\t\t\t\t\t},\n\t\t\t\t\t\"value\": \"click_me_123\",\n\t\t\t\t\t\"url\": \"https://portal.bulkbox.cloud/app/sales-order/{{ $('Sales Order').item.json[\"body\"][\"name\"] }}\",\n\t\t\t\t\t\"action_id\": \"actionId-0\"\n\t\t\t\t}\n\t\t\t]\n\t\t}\n\t]\n}",
        "text": "=The following item *{{ $('Item').item.json[\"data\"][0][\"item_code\"] }}* gross profit falls below *4%* - {{ $('Gross Profit').item.json[\"percentage Change\"] }} Sales Order *{{ $('Sales Order').item.json[\"body\"][\"name\"] }}*",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "dfa89176-7aa2-456e-b7a7-8b9b9678dbca",
      "name": "Slack1",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        2520,
        780
      ],
      "credentials": {
        "slackApi": {
          "id": "nHsD7aEjogT4fnip",
          "name": "BBX Bot (n8n)"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "3f493a0e-5189-41db-88b5-1e20553346e7",
              "leftValue": "={{ $json[\"percentage Change\"] }}",
              "rightValue": 4,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            },
            {
              "id": "87f6cd5b-118e-42c2-9985-461f639079fd",
              "leftValue": "={{ $('Sales Order').item.json.body.items[0].item_group }}",
              "rightValue": "Glass Bottles & Crates",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "46c6d43d-0c19-4cac-98df-f25f068b8d01",
      "name": "Gross Profit < 4%",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2300,
        700
      ]
    },
    {
      "parameters": {
        "content": "## Changes Made\n### * Webhook added for Sales Order.\n### * Since Sales Order does not contain incoming_rate, we call for the last_purchase_rate from the item.",
        "height": 276.3261870290768,
        "width": 336.35098319580095
      },
      "id": "c6a13c96-5339-4d2c-887b-6b0e92565e5e",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        960,
        180
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.items",
        "options": {}
      },
      "id": "2339ffad-e2bd-4eef-944d-f7fd099cab16",
      "name": "Split Out1",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1420,
        480
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "995ada04-97db-4594-94aa-584c5d9eb82d",
        "options": {}
      },
      "id": "a3a641b2-06bb-4744-bc25-778c19a1ef36",
      "name": "Sales Order",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        1220,
        640
      ],
      "webhookId": "995ada04-97db-4594-94aa-584c5d9eb82d"
    }
  ],
  "pinData": {
    "Sales Order": [
      {
        "json": {
          "headers": {
            "host": "n8n.bulkbox.cloud",
            "user-agent": "python-requests/2.31.0",
            "content-length": "78630",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate",
            "content-type": "application/json",
            "x-forwarded-for": "167.235.206.20",
            "x-forwarded-host": "n8n.bulkbox.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "19ac6f0cdfeb",
            "x-real-ip": "167.235.206.20"
          },
          "params": {},
          "query": {},
          "body": {
            "name": "SAL-ORD-2024-04085",
            "items": [
              {
                "name": "e0af0f85bd",
                "owner": "elsie@bulkbox.co.ke",
                "creation": "2024-07-09 22:39:22.002237",
                "modified": "2024-07-11 13:24:17.258961",
                "modified_by": "vincent@bulkbox.co.ke",
                "parent": "SAL-ORD-2024-04085",
                "parentfield": "items",
                "parenttype": "Sales Order",
                "idx": 1,
                "docstatus": 1,
                "item_code": "RDD041",
                "customer_item_code": null,
                "ensure_delivery_based_on_produced_serial_no": 0,
                "posa_notes": null,
                "delivery_date": "2024-07-12",
                "item_name": "Chain Kwo Rice Vinegar 500ml",
                "posa_row_id": null,
                "description": "Chain Kwo Rice Vinegar 500ml",
                "item_group": "Vinegars",
                "brand": "Chain Kwo",
                "image": "https://v5.airtableusercontent.com/v3/u/26/26/1711044000000/Se5e4Zrn88Ibt8sHioh9Gg/nvypBcV8onzvbpgaq7dttyd_Lkp3l-gUevEKb1nw0C5f2FB3Yl5kc_mPm4MGrNCCzVjmzy8-AeKMrcit0Ywojp4Gt4-GlHE-D4O2Lzo0gOs6YghZeugbpn5D74nwysqXjMO6HLZCWGao1RUHmdcFUA/OB_NFHR2bj80dqRMeH6no6LEZRTr_w_XoP8wXiG39-4",
                "qty": 24,
                "case_size": "12",
                "stock_uom": "PCS",
                "picked_qty": 0,
                "uom": "PCS",
                "conversion_factor": 1,
                "stock_qty": 24,
                "price_list_rate": 235.32,
                "base_price_list_rate": 235.32,
                "margin_type": "",
                "margin_rate_or_amount": 0,
                "rate_with_margin": 0,
                "discount_percentage": 0,
                "discount_amount": 0,
                "base_rate_with_margin": 0,
                "rate": 235.32,
                "amount": 5647.68,
                "item_tax_template": "16% - TSL",
                "base_rate": 235.32,
                "base_amount": 5647.68,
                "pricing_rules": "",
                "stock_uom_rate": 235.32,
                "is_free_item": 0,
                "grant_commission": 1,
                "net_rate": 235.32,
                "net_amount": 5647.68,
                "base_net_rate": 235.32,
                "base_net_amount": 5647.68,
                "billed_amt": 0,
                "valuation_rate": 212.22,
                "gross_profit": 554.4,
                "delivered_by_supplier": 0,
                "supplier": "Roshni Distributors LTD",
                "weight_per_unit": 0,
                "total_weight": 0,
                "weight_uom": null,
                "warehouse": "Storage - TSL",
                "target_warehouse": null,
                "prevdoc_docname": null,
                "against_blanket_order": 0,
                "blanket_order": null,
                "blanket_order_rate": 0,
                "bom_no": null,
                "projected_qty": 47,
                "actual_qty": 47,
                "ordered_qty": 0,
                "planned_qty": 0,
                "work_order_qty": 0,
                "produced_qty": 0,
                "delivered_qty": 0,
                "returned_qty": 0,
                "additional_notes": null,
                "page_break": 0,
                "item_tax_rate": "{\"VAT - 16% - TSL\": 16.0}",
                "transaction_date": "2024-07-09",
                "doctype": "Sales Order Item"
              },
              {
                "name": "c2af7b648a",
                "owner": "elsie@bulkbox.co.ke",
                "creation": "2024-07-09 22:39:22.002237",
                "modified": "2024-07-11 13:24:17.258961",
                "modified_by": "vincent@bulkbox.co.ke",
                "parent": "SAL-ORD-2024-04085",
                "parentfield": "items",
                "parenttype": "Sales Order",
                "idx": 2,
                "docstatus": 1,
                "item_code": "PPK028",
                "customer_item_code": null,
                "ensure_delivery_based_on_produced_serial_no": 0,
                "posa_notes": null,
                "delivery_date": "2024-07-12",
                "item_name": "Ola Tortilla Chips Mexican Crunch 200g",
                "posa_row_id": null,
                "description": "Ola Tortilla Chips Mexican Crunch 200g",
                "item_group": "Tortilla & Nachos",
                "brand": "OLA",
                "image": "https://v5.airtableusercontent.com/v3/u/26/26/1711044000000/fgKuSzwYf4xeWHu0BiMsEg/syLcm46P9w1lppAuuwqejw02rZFn5XIvD_me59AwyKuJzpLLkUnz-RUscwWaGR1L1ptE-TME169kXCQhS-rX2oi9QHNe2HXQVVd8XRaI_j8v-zdD5Fe-xDR9kVf8-3VLLllWdl8XlVCa7amAjTScuujpztq6AWDKW3OLSSMhIQgQitCszAt9xKw-AbzGQTOL/plI778TC5l8fmhiQLtDyD3Mlx2jqkE5I_LrdHY_Xvi4",
                "qty": 24,
                "case_size": "12",
                "stock_uom": "PCS",
                "picked_qty": 0,
                "uom": "PCS",
                "conversion_factor": 1,
                "stock_qty": 24,
                "price_list_rate": 252.16,
                "base_price_list_rate": 252.16,
                "margin_type": "",
                "margin_rate_or_amount": 0,
                "rate_with_margin": 0,
                "discount_percentage": 0,
                "discount_amount": 0,
                "base_rate_with_margin": 0,
                "rate": 252.16,
                "amount": 6051.84,
                "item_tax_template": "16% - TSL",
                "base_rate": 252.16,
                "base_amount": 6051.84,
                "pricing_rules": "",
                "stock_uom_rate": 252.16,
                "is_free_item": 0,
                "grant_commission": 1,
                "net_rate": 252.16,
                "net_amount": 6051.84,
                "base_net_rate": 252.16,
                "base_net_amount": 6051.84,
                "billed_amt": 0,
                "valuation_rate": 226.94,
                "gross_profit": 605.28,
                "delivered_by_supplier": 0,
                "supplier": "Propack Kenya",
                "weight_per_unit": 0,
                "total_weight": 0,
                "weight_uom": null,
                "warehouse": "Storage - TSL",
                "target_warehouse": null,
                "prevdoc_docname": null,
                "against_blanket_order": 0,
                "blanket_order": null,
                "blanket_order_rate": 0,
                "bom_no": null,
                "projected_qty": 84.134650012,
                "actual_qty": 36,
                "ordered_qty": 0,
                "planned_qty": 0,
                "work_order_qty": 0,
                "produced_qty": 0,
                "delivered_qty": 0,
                "returned_qty": 0,
                "additional_notes": null,
                "page_break": 0,
                "item_tax_rate": "{\"VAT - 16% - TSL\": 16.0}",
                "transaction_date": "2024-07-09",
                "doctype": "Sales Order Item"
              },
              {
                "name": "27d2040b92",
                "owner": "elsie@bulkbox.co.ke",
                "creation": "2024-07-09 22:39:22.002237",
                "modified": "2024-07-11 13:24:17.258961",
                "modified_by": "vincent@bulkbox.co.ke",
                "parent": "SAL-ORD-2024-04085",
                "parentfield": "items",
                "parenttype": "Sales Order",
                "idx": 3,
                "docstatus": 1,
                "item_code": "TFL163",
                "customer_item_code": null,
                "ensure_delivery_based_on_produced_serial_no": 0,
                "posa_notes": null,
                "delivery_date": "2024-07-12",
                "item_name": "Kenylon Whole Peeled Tomatoes 420g",
                "posa_row_id": null,
                "description": "Kenylon Whole Peeled Tomatoes 420g",
                "item_group": "Canned Vegetables",
                "brand": "Kenylon",
                "image": "https://v5.airtableusercontent.com/v3/u/26/26/1711044000000/8MCi8tgdc05FCSH-pexsBQ/45cbKsrZKym9erWZu-7yF6_Kh1sSSoi_HWWiuRcOPLivZxaCo0QvLmk-DaZL20mKgw4e8cYgG3px6jThDhyDGZcgRtxtPvmMAX51y0spF4QTRdFMrJc4D3U2cO1xuIB_GGajQutMAtPInDH10ts5Ug-iAK2fEj-ETRrwSPaZNxjjXWeVSVvze-2poTy6vtrA/-coSnWM1tuhJ7jegPKD1TSO2sDD-U4Az3nQO8kGaZLk",
                "qty": 24,
                "case_size": "12",
                "stock_uom": "PCS",
                "picked_qty": 0,
                "uom": "PCS",
                "conversion_factor": 1,
                "stock_qty": 24,
                "price_list_rate": 150.23,
                "base_price_list_rate": 150.23,
                "margin_type": "",
                "margin_rate_or_amount": 0,
                "rate_with_margin": 0,
                "discount_percentage": 0,
                "discount_amount": 0,
                "base_rate_with_margin": 0,
                "rate": 150.23,
                "amount": 3605.52,
                "item_tax_template": "16% - TSL",
                "base_rate": 150.23,
                "base_amount": 3605.52,
                "pricing_rules": "",
                "stock_uom_rate": 150.23,
                "is_free_item": 0,
                "grant_commission": 1,
                "net_rate": 150.23,
                "net_amount": 3605.52,
                "base_net_rate": 150.23,
                "base_net_amount": 3605.52,
                "billed_amt": 0,
                "valuation_rate": 139.37,
                "gross_profit": 260.64,
                "delivered_by_supplier": 0,
                "supplier": "Trufoods LTD",
                "weight_per_unit": 0,
                "total_weight": 0,
                "weight_uom": null,
                "warehouse": "Storage - TSL",
                "target_warehouse": null,
                "prevdoc_docname": null,
                "against_blanket_order": 0,
                "blanket_order": null,
                "blanket_order_rate": 0,
                "bom_no": null,
                "projected_qty": 168,
                "actual_qty": 144,
                "ordered_qty": 0,
                "planned_qty": 0,
                "work_order_qty": 0,
                "produced_qty": 0,
                "delivered_qty": 0,
                "returned_qty": 0,
                "additional_notes": null,
                "page_break": 0,
                "item_tax_rate": "{\"VAT - 16% - TSL\": 16.0}",
                "transaction_date": "2024-07-09",
                "doctype": "Sales Order Item"
              },
              {
                "name": "8899c9c86f",
                "owner": "elsie@bulkbox.co.ke",
                "creation": "2024-07-09 22:39:22.002237",
                "modified": "2024-07-11 13:24:17.258961",
                "modified_by": "vincent@bulkbox.co.ke",
                "parent": "SAL-ORD-2024-04085",
                "parentfield": "items",
                "parenttype": "Sales Order",
                "idx": 4,
                "docstatus": 1,
                "item_code": "RDD164",
                "customer_item_code": null,
                "ensure_delivery_based_on_produced_serial_no": 0,
                "posa_notes": null,
                "delivery_date": "2024-07-12",
                "item_name": "Novi Peeled Tomatoes 400g",
                "posa_row_id": null,
                "description": "Novi Peeled Tomatoes 400g",
                "item_group": "Canned Vegetables",
                "brand": "Novi",
                "image": "https://v5.airtableusercontent.com/v3/u/26/26/1711044000000/HW2B4DkCxJ68BxoVfjy91g/ercSCTduScUa1r8jJqknEpgCQ1sfIy3r0Lq_P0WIcewXDHvrW9BzWRY5pydPtZDN7kmMPXNku58F13aG0J2mgvzroaUHPspnXPUO2y1aLIuPtDfRPVjtqPPwXTrwJn9fs-c31nra8L28pnNJUOqLWw/ScEvSC53GIJJylFtyqXTNCrOnFOjU1gcLtLBgpmJPFY",
                "qty": 36,
                "case_size": "24",
                "stock_uom": "PCS",
                "picked_qty": 0,
                "uom": "PCS",
                "conversion_factor": 1,
                "stock_qty": 36,
                "price_list_rate": 191.4,
                "base_price_list_rate": 191.4,
                "margin_type": "",
                "margin_rate_or_amount": 0,
                "rate_with_margin": 0,
                "discount_percentage": 0,
                "discount_amount": 0,
                "base_rate_with_margin": 0,
                "rate": 191.4,
                "amount": 6890.4,
                "item_tax_template": "16% - TSL",
                "base_rate": 191.4,
                "base_amount": 6890.4,
                "pricing_rules": "",
                "stock_uom_rate": 191.4,
                "is_free_item": 0,
                "grant_commission": 1,
                "net_rate": 191.4,
                "net_amount": 6890.4,
                "base_net_rate": 191.4,
                "base_net_amount": 6890.4,
                "billed_amt": 0,
                "valuation_rate": 170.96,
                "gross_profit": 735.84,
                "delivered_by_supplier": 0,
                "supplier": "Roshni Distributors LTD",
                "weight_per_unit": 0,
                "total_weight": 0,
                "weight_uom": null,
                "warehouse": "Storage - TSL",
                "target_warehouse": null,
                "prevdoc_docname": null,
                "against_blanket_order": 0,
                "blanket_order": null,
                "blanket_order_rate": 0,
                "bom_no": null,
                "projected_qty": 222,
                "actual_qty": 78,
                "ordered_qty": 0,
                "planned_qty": 0,
                "work_order_qty": 0,
                "produced_qty": 0,
                "delivered_qty": 0,
                "returned_qty": 0,
                "additional_notes": null,
                "page_break": 0,
                "item_tax_rate": "{\"VAT - 16% - TSL\": 16.0}",
                "transaction_date": "2024-07-09",
                "doctype": "Sales Order Item"
              },
              {
                "name": "57bfbe3d0e",
                "owner": "elsie@bulkbox.co.ke",
                "creation": "2024-07-09 22:39:22.002237",
                "modified": "2024-07-11 13:24:17.258961",
                "modified_by": "vincent@bulkbox.co.ke",
                "parent": "SAL-ORD-2024-04085",
                "parentfield": "items",
                "parenttype": "Sales Order",
                "idx": 5,
                "docstatus": 1,
                "item_code": "PPK026",
                "customer_item_code": null,
                "ensure_delivery_based_on_produced_serial_no": 0,
                "posa_notes": null,
                "delivery_date": "2024-07-12",
                "item_name": "Ola Tortilla Chips Cheese Crunch 200g",
                "posa_row_id": null,
                "description": "Ola Tortilla Chips Cheese Crunch 200g",
                "item_group": "Tortilla & Nachos",
                "brand": "OLA",
                "image": "https://v5.airtableusercontent.com/v3/u/26/26/1711044000000/4xSxCrLApoeuJzh0ITUyeA/UVVdSp8wvloB7MlV5bN5jNB79TzcaiN7ArfWgqJqHCWqr7l7crY7E_rlaZ7kJkGuBaYavuxtXezBNdMRUh4gg4x_MsOCPlcq3wHgKHY0wlAPxz_ElFepX7lzTrlstJXmvHmgC50syylX_ILB8F8Iv46LV9-1D9dGf_0JG8XgeJM/Rlkwn8A-zvqEI2NCTbny8zChlcBme_ZmNZypy0uSqC4",
                "qty": 36,
                "case_size": "12",
                "stock_uom": "PCS",
                "picked_qty": 0,
                "uom": "PCS",
                "conversion_factor": 1,
                "stock_qty": 36,
                "price_list_rate": 252.16,
                "base_price_list_rate": 252.16,
                "margin_type": "",
                "margin_rate_or_amount": 0,
                "rate_with_margin": 0,
                "discount_percentage": 0,
                "discount_amount": 0,
                "base_rate_with_margin": 0,
                "rate": 252.16,
                "amount": 9077.76,
                "item_tax_template": "16% - TSL",
                "base_rate": 252.16,
                "base_amount": 9077.76,
                "pricing_rules": "",
                "stock_uom_rate": 252.16,
                "is_free_item": 0,
                "grant_commission": 1,
                "net_rate": 252.16,
                "net_amount": 9077.76,
                "base_net_rate": 252.16,
                "base_net_amount": 9077.76,
                "billed_amt": 0,
                "valuation_rate": 226.94,
                "gross_profit": 907.92,
                "delivered_by_supplier": 0,
                "supplier": "Propack Kenya",
                "weight_per_unit": 0,
                "total_weight": 0,
                "weight_uom": null,
                "warehouse": "Storage - TSL",
                "target_warehouse": null,
                "prevdoc_docname": null,
                "against_blanket_order": 0,
                "blanket_order": null,
                "blanket_order_rate": 0,
                "bom_no": null,
                "projected_qty": 104.863110288,
                "actual_qty": 24,
                "ordered_qty": 0,
                "planned_qty": 0,
                "work_order_qty": 0,
                "produced_qty": 0,
                "delivered_qty": 0,
                "returned_qty": 0,
                "additional_notes": null,
                "page_break": 0,
                "item_tax_rate": "{\"VAT - 16% - TSL\": 16.0}",
                "transaction_date": "2024-07-09",
                "doctype": "Sales Order Item"
              },
              {
                "name": "48a569e3f5",
                "owner": "elsie@bulkbox.co.ke",
                "creation": "2024-07-09 22:39:22.002237",
                "modified": "2024-07-11 13:24:17.258961",
                "modified_by": "vincent@bulkbox.co.ke",
                "parent": "SAL-ORD-2024-04085",
                "parentfield": "items",
                "parenttype": "Sales Order",
                "idx": 6,
                "docstatus": 1,
                "item_code": "PPK042",
                "customer_item_code": null,
                "ensure_delivery_based_on_produced_serial_no": 0,
                "posa_notes": null,
                "delivery_date": "2024-07-12",
                "item_name": "Kettle Cooked Potato Crisps Salsa Verde 40g",
                "posa_row_id": null,
                "description": "Kettle Cooked Potato Crisps Salsa Verde 40g",
                "item_group": "Chips & Crisps",
                "brand": "Krackles",
                "image": "https://v5.airtableusercontent.com/v3/u/27/27/1711044000000/bzMhJuJccD1A3DJF5kIQyQ/4gTY6QQv6Z7pU1YV2N2wImaSkG_6h0cAvLZPaSIJuPSFHtFXt8oqIy4wa0j-W-4tD6vwEqU2fh5aPpxw8UKpWC_Aqd4Q5unw15RCtKZ10eoK8dGOZc2hDzhLiws9ynHAeLd-ZbGH53QZVmT2QDAHp56x6eLlrkXP5d1AKaBA3iU/31DIb2RYZdARM_QvPLGQpGycoaSi_1lnPE8prWCt0UQ",
                "qty": 12,
                "case_size": "48",
                "stock_uom": "PCS",
                "picked_qty": 0,
                "uom": "PCS",
                "conversion_factor": 1,
                "stock_qty": 12,
                "price_list_rate": 56.37,
                "base_price_list_rate": 56.37,
                "margin_type": "",
                "margin_rate_or_amount": 0,
                "rate_with_margin": 0,
                "discount_percentage": 0,
                "discount_amount": 0,
                "base_rate_with_margin": 0,
                "rate": 56.37,
                "amount": 676.44,
                "item_tax_template": "16% - TSL",
                "base_rate": 56.37,
                "base_amount": 676.44,
                "pricing_rules": "",
                "stock_uom_rate": 56.37,
                "is_free_item": 0,
                "grant_commission": 1,
                "net_rate": 56.37,
                "net_amount": 676.44,
                "base_net_rate": 56.37,
                "base_net_amount": 676.44,
                "billed_amt": 0,
                "valuation_rate": 50.01,
                "gross_profit": 76.32,
                "delivered_by_supplier": 0,
                "supplier": "Propack Kenya",
                "weight_per_unit": 0,
                "total_weight": 0,
                "weight_uom": null,
                "warehouse": "Storage - TSL",
                "target_warehouse": null,
                "prevdoc_docname": null,
                "against_blanket_order": 0,
                "blanket_order": null,
                "blanket_order_rate": 0,
                "bom_no": null,
                "projected_qty": 84,
                "actual_qty": 36,
                "ordered_qty": 0,
                "planned_qty": 0,
                "work_order_qty": 0,
                "produced_qty": 0,
                "delivered_qty": 0,
                "returned_qty": 0,
                "additional_notes": null,
                "page_break": 0,
                "item_tax_rate": "{\"VAT - 16% - TSL\": 16.0}",
                "transaction_date": "2024-07-09",
                "doctype": "Sales Order Item"
              },
              {
                "name": "d13900b0b9",
                "owner": "elsie@bulkbox.co.ke",
                "creation": "2024-07-09 22:39:22.002237",
                "modified": "2024-07-11 13:24:17.258961",
                "modified_by": "vincent@bulkbox.co.ke",
                "parent": "SAL-ORD-2024-04085",
                "parentfield": "items",
                "parenttype": "Sales Order",
                "idx": 7,
                "docstatus": 1,
                "item_code": "TFL155",
                "customer_item_code": null,
                "ensure_delivery_based_on_produced_serial_no": 0,
                "posa_notes": null,
                "delivery_date": "2024-07-12",
                "item_name": "Kenylon Chick Peas 420g",
                "posa_row_id": null,
                "description": "Kenylon Chick Peas 420g",
                "item_group": "Canned Vegetables",
                "brand": "Kenylon",
                "image": "https://v5.airtableusercontent.com/v3/u/26/26/1711044000000/YA5LAbyV_C_0J6IOHnExeQ/QyCglWT3xWUoGanL-Vfe47h-wD29MIT7pEt0av50oVWw5vuIxcMYJHGOxVj4n0Gtun_jVPu9wDeP8fmubymJhXYo8LcO3sEioqgP7teWzDOryEBTearjioV3KW3dL8FRSey-j7sm9WmSgIzJn3G83TXJa77-_kcze8utowv9QUsZJ4oQZGKUsu3sY-6u8PcC/DIeAu6FgRjgT8Dl4lNPw-NUxQ9hbI6lcmJmMHibjjBQ",
                "qty": 160,
                "case_size": "12",
                "stock_uom": "PCS",
                "picked_qty": 0,
                "uom": "PCS",
                "conversion_factor": 1,
                "stock_qty": 160,
                "price_list_rate": 150.23,
                "base_price_list_rate": 150.23,
                "margin_type": "",
                "margin_rate_or_amount": 0,
                "rate_with_margin": 0,
                "discount_percentage": 0,
                "discount_amount": 0,
                "base_rate_with_margin": 0,
                "rate": 150.23,
                "amount": 24036.8,
                "item_tax_template": "16% - TSL",
                "base_rate": 150.23,
                "base_amount": 24036.8,
                "pricing_rules": "",
                "stock_uom_rate": 150.23,
                "is_free_item": 0,
                "grant_commission": 1,
                "net_rate": 150.23,
                "net_amount": 24036.8,
                "base_net_rate": 150.23,
                "base_net_amount": 24036.8,
                "billed_amt": 0,
                "valuation_rate": 139.37,
                "gross_profit": 1737.6,
                "delivered_by_supplier": 0,
                "supplier": "Trufoods LTD",
                "weight_per_unit": 0,
                "total_weight": 0,
                "weight_uom": null,
                "warehouse": "Storage - TSL",
                "target_warehouse": null,
                "prevdoc_docname": null,
                "against_blanket_order": 0,
                "blanket_order": null,
                "blanket_order_rate": 0,
                "bom_no": null,
                "projected_qty": 263,
                "actual_qty": 251,
                "ordered_qty": 0,
                "planned_qty": 0,
                "work_order_qty": 0,
                "produced_qty": 0,
                "delivered_qty": 0,
                "returned_qty": 0,
                "additional_notes": null,
                "page_break": 0,
                "item_tax_rate": "{\"VAT - 16% - TSL\": 16.0}",
                "transaction_date": "2024-07-09",
                "doctype": "Sales Order Item"
              },
              {
                "name": "b51f81dac0",
                "owner": "elsie@bulkbox.co.ke",
                "creation": "2024-07-09 22:39:22.002237",
                "modified": "2024-07-11 13:24:17.258961",
                "modified_by": "vincent@bulkbox.co.ke",
                "parent": "SAL-ORD-2024-04085",
                "parentfield": "items",
                "parenttype": "Sales Order",
                "idx": 8,
                "docstatus": 1,
                "item_code": "TFL094",
                "customer_item_code": null,
                "ensure_delivery_based_on_produced_serial_no": 0,
                "posa_notes": null,
                "delivery_date": "2024-07-12",
                "item_name": "Kenylon Tomato Paste 450g",
                "posa_row_id": null,
                "description": "Kenylon Tomato Paste 450g",
                "item_group": "Tomato Paste & Sauces",
                "brand": "Kenylon",
                "image": "https://v5.airtableusercontent.com/v3/u/26/26/1711044000000/HAnlPWVgZVUaaI6DCwMIUw/5ulvoZixVlQJBO-H4std9bAj5o4-yy2PbRVoeX0OnpagUWmvvefxumguRpvnWCyFWFMqKnatChUNrDw6dY2Q9n7Pibf-PWDHeh8_0j8otLcwxJIja90mAZn7WYjaDxLTC9u3Ts1Yz2KJAuwExHZAFQcpylH-WEx_2JLcLv-sSE1tYDoY9XxeW6Uo9BGG9aBJ/X93idd_rdFPVTc7uBYSkcie8HMT87fRFImZKHC1VF7k",
                "qty": 36,
                "case_size": "12",
                "stock_uom": "PCS",
                "picked_qty": 0,
                "uom": "PCS",
                "conversion_factor": 1,
                "stock_qty": 36,
                "price_list_rate": 203.63,
                "base_price_list_rate": 203.63,
                "margin_type": "",
                "margin_rate_or_amount": 0,
                "rate_with_margin": 0,
                "discount_percentage": 0,
                "discount_amount": 0,
                "base_rate_with_margin": 0,
                "rate": 203.63,
                "amount": 7330.68,
                "item_tax_template": "16% - TSL",
                "base_rate": 203.63,
                "base_amount": 7330.68,
                "pricing_rules": "",
                "stock_uom_rate": 203.63,
                "is_free_item": 0,
                "grant_commission": 1,
                "net_rate": 203.63,
                "net_amount": 7330.68,
                "base_net_rate": 203.63,
                "base_net_amount": 7330.68,
                "billed_amt": 0,
                "valuation_rate": 189.66,
                "gross_profit": 502.92,
                "delivered_by_supplier": 0,
                "supplier": "Trufoods LTD",
                "weight_per_unit": 0,
                "total_weight": 0,
                "weight_uom": null,
                "warehouse": "Storage - TSL",
                "target_warehouse": null,
                "prevdoc_docname": null,
                "against_blanket_order": 0,
                "blanket_order": null,
                "blanket_order_rate": 0,
                "bom_no": null,
                "projected_qty": 193,
                "actual_qty": 49,
                "ordered_qty": 0,
                "planned_qty": 0,
                "work_order_qty": 0,
                "produced_qty": 0,
                "delivered_qty": 0,
                "returned_qty": 0,
                "additional_notes": null,
                "page_break": 0,
                "item_tax_rate": "{\"VAT - 16% - TSL\": 16.0}",
                "transaction_date": "2024-07-09",
                "doctype": "Sales Order Item"
              },
              {
                "name": "f2704f905d",
                "owner": "elsie@bulkbox.co.ke",
                "creation": "2024-07-09 22:39:22.002237",
                "modified": "2024-07-11 13:24:17.258961",
                "modified_by": "vincent@bulkbox.co.ke",
                "parent": "SAL-ORD-2024-04085",
                "parentfield": "items",
                "parenttype": "Sales Order",
                "idx": 9,
                "docstatus": 1,
                "item_code": "TFL161",
                "customer_item_code": null,
                "ensure_delivery_based_on_produced_serial_no": 0,
                "posa_notes": null,
                "delivery_date": "2024-07-12",
                "item_name": "Kenylon Processed Peas 420g",
                "posa_row_id": null,
                "description": "Kenylon Processed Peas 420g",
                "item_group": "Canned Vegetables",
                "brand": "Kenylon",
                "image": "https://v5.airtableusercontent.com/v3/u/26/26/1711044000000/nuHT1f_L83BFBfss3fhOIg/Jwof1j5j_J9PV8ZRwq1iJrZwpwDGP4LI4xCbk6a1VqYyeS-XG31kZF0Q14vf88vdPyTA09I6xKKlYrgs6DP8scbg3_EZYgBys1PNlqbglJ-9O42gASt4dZSiEsGZ9Vvfv9Su0YPo7mWoAPUn-RX4Gwz-zHa2jpGwz-i2fxBi0vvQeoheLQzdyEOQklEmD-Wi/i81UmT4ZPZY4XaihgiSi_sU9lCIM1S-SkhVRyRkWCgk",
                "qty": 12,
                "case_size": "12",
                "stock_uom": "PCS",
                "picked_qty": 0,
                "uom": "PCS",
                "conversion_factor": 1,
                "stock_qty": 12,
                "price_list_rate": 150.23,
                "base_price_list_rate": 150.23,
                "margin_type": "",
                "margin_rate_or_amount": 0,
                "rate_with_margin": 0,
                "discount_percentage": 0,
                "discount_amount": 0,
                "base_rate_with_margin": 0,
                "rate": 150.23,
                "amount": 1802.76,
                "item_tax_template": "16% - TSL",
                "base_rate": 150.23,
                "base_amount": 1802.76,
                "pricing_rules": "",
                "stock_uom_rate": 150.23,
                "is_free_item": 0,
                "grant_commission": 1,
                "net_rate": 150.23,
                "net_amount": 1802.76,
                "base_net_rate": 150.23,
                "base_net_amount": 1802.76,
                "billed_amt": 0,
                "valuation_rate": 139.37,
                "gross_profit": 130.32,
                "delivered_by_supplier": 0,
                "supplier": "Trufoods LTD",
                "weight_per_unit": 0,
                "total_weight": 0,
                "weight_uom": null,
                "warehouse": "Storage - TSL",
                "target_warehouse": null,
                "prevdoc_docname": null,
                "against_blanket_order": 0,
                "blanket_order": null,
                "blanket_order_rate": 0,
                "bom_no": null,
                "projected_qty": 3.816345966,
                "actual_qty": 0,
                "ordered_qty": 0,
                "planned_qty": 0,
                "work_order_qty": 0,
                "produced_qty": 0,
                "delivered_qty": 0,
                "returned_qty": 0,
                "additional_notes": null,
                "page_break": 0,
                "item_tax_rate": "{\"VAT - 16% - TSL\": 16.0}",
                "transaction_date": "2024-07-09",
                "doctype": "Sales Order Item"
              },
              {
                "name": "1901bcfb24",
                "owner": "elsie@bulkbox.co.ke",
                "creation": "2024-07-09 22:39:22.002237",
                "modified": "2024-07-11 13:24:17.258961",
                "modified_by": "vincent@bulkbox.co.ke",
                "parent": "SAL-ORD-2024-04085",
                "parentfield": "items",
                "parenttype": "Sales Order",
                "idx": 10,
                "docstatus": 1,
                "item_code": "PPK030",
                "customer_item_code": null,
                "ensure_delivery_based_on_produced_serial_no": 0,
                "posa_notes": null,
                "delivery_date": "2024-07-12",
                "item_name": "Ola Tortilla Chips Lime Crunch 200g",
                "posa_row_id": null,
                "description": "Ola Tortilla Chips Lime Crunch 200g",
                "item_group": "Tortilla & Nachos",
                "brand": "OLA",
                "image": "https://v5.airtableusercontent.com/v3/u/27/27/1711044000000/m8yobbvB8y-Gp4Dw61jzAw/glCNEwcm6YNx2h6Qf_rF1vA3o1vy_XWB8RNPX8r2P_2waihjpJXAe5AV5sYktg-qCblqOHZNODiZBAPpMTTZjEuXRIGe6v__ALUkRJMGx9GV-_Dq5VoEKmmtJTEF-zjWbp1SJ7olqYUlBRPE1J5AHBENXuYjFKNCji-hUwsFQPQ/k3KiLchpn6BIIxp2g2iRLAqUpecuyVC-JBzujv6_bOI",
                "qty": 24,
                "case_size": "12",
                "stock_uom": "PCS",
                "picked_qty": 0,
                "uom": "PCS",
                "conversion_factor": 1,
                "stock_qty": 24,
                "price_list_rate": 252.16,
                "base_price_list_rate": 252.16,
                "margin_type": "",
                "margin_rate_or_amount": 0,
                "rate_with_margin": 0,
                "discount_percentage": 0,
                "discount_amount": 0,
                "base_rate_with_margin": 0,
                "rate": 252.16,
                "amount": 6051.84,
                "item_tax_template": "16% - TSL",
                "base_rate": 252.16,
                "base_amount": 6051.84,
                "pricing_rules": "",
                "stock_uom_rate": 252.16,
                "is_free_item": 0,
                "grant_commission": 1,
                "net_rate": 252.16,
                "net_amount": 6051.84,
                "base_net_rate": 252.16,
                "base_net_amount": 6051.84,
                "billed_amt": 0,
                "valuation_rate": 226.94,
                "gross_profit": 605.28,
                "delivered_by_supplier": 0,
                "supplier": "Propack Kenya",
                "weight_per_unit": 0,
                "total_weight": 0,
                "weight_uom": null,
                "warehouse": "Storage - TSL",
                "target_warehouse": null,
                "prevdoc_docname": null,
                "against_blanket_order": 0,
                "blanket_order": null,
                "blanket_order_rate": 0,
                "bom_no": null,
                "projected_qty": 88.450991348,
                "actual_qty": 12,
                "ordered_qty": 0,
                "planned_qty": 0,
                "work_order_qty": 0,
                "produced_qty": 0,
                "delivered_qty": 0,
                "returned_qty": 0,
                "additional_notes": null,
                "page_break": 0,
                "item_tax_rate": "{\"VAT - 16% - TSL\": 16.0}",
                "transaction_date": "2024-07-09",
                "doctype": "Sales Order Item"
              },
              {
                "name": "eb94015346",
                "owner": "elsie@bulkbox.co.ke",
                "creation": "2024-07-09 22:39:22.002237",
                "modified": "2024-07-11 13:24:17.258961",
                "modified_by": "vincent@bulkbox.co.ke",
                "parent": "SAL-ORD-2024-04085",
                "parentfield": "items",
                "parenttype": "Sales Order",
                "idx": 11,
                "docstatus": 1,
                "item_code": "TFL151",
                "customer_item_code": null,
                "ensure_delivery_based_on_produced_serial_no": 0,
                "posa_notes": null,
                "delivery_date": "2024-07-12",
                "item_name": "Kenylon Baked Baked Beans In Tomato Sauce 420g",
                "posa_row_id": null,
                "description": "Kenylon Baked Baked Beans In Tomato Sauce 420g",
                "item_group": "Canned Vegetables",
                "brand": "Kenylon",
                "image": "https://v5.airtableusercontent.com/v3/u/26/26/1711044000000/9-iWJgjyBwwKT3cieXravA/DwDlt7fsOnMc3xmgGofUsPnyNsBoaFTK4eogqDP45LkTzZl1kxDq4PJVXOfreydVVUYPkL5j4MEGjTDqT2wR_mPS_z_g6YXTJGI9hXr4XY7eKLAsevUqcMdNerN6ioglH6VvBzSufA3Igsn5m4XJ-OfqAtYtYJeTmQuIxtKaXesSKsMo3FhLClbjGT3IJifW/xguLNIGjM7rfTJbrrMewBDYIu2lTRRcPNYwj4RRXuv4",
                "qty": 84,
                "case_size": "12",
                "stock_uom": "PCS",
                "picked_qty": 0,
                "uom": "PCS",
                "conversion_factor": 1,
                "stock_qty": 84,
                "price_list_rate": 133.72,
                "base_price_list_rate": 133.72,
                "margin_type": "",
                "margin_rate_or_amount": 0,
                "rate_with_margin": 0,
                "discount_percentage": 0,
                "discount_amount": 0,
                "base_rate_with_margin": 0,
                "rate": 133.72,
                "amount": 11232.48,
                "item_tax_template": "16% - TSL",
                "base_rate": 133.72,
                "base_amount": 11232.48,
                "pricing_rules": "",
                "stock_uom_rate": 133.72,
                "is_free_item": 0,
                "grant_commission": 1,
                "net_rate": 133.72,
                "net_amount": 11232.48,
                "base_net_rate": 133.72,
                "base_net_amount": 11232.48,
                "billed_amt": 0,
                "valuation_rate": 123.55,
                "gross_profit": 854.28,
                "delivered_by_supplier": 0,
                "supplier": "Trufoods LTD",
                "weight_per_unit": 0,
                "total_weight": 0,
                "weight_uom": null,
                "warehouse": "Storage - TSL",
                "target_warehouse": null,
                "prevdoc_docname": null,
                "against_blanket_order": 0,
                "blanket_order": null,
                "blanket_order_rate": 0,
                "bom_no": null,
                "projected_qty": 163,
                "actual_qty": 91,
                "ordered_qty": 0,
                "planned_qty": 0,
                "work_order_qty": 0,
                "produced_qty": 0,
                "delivered_qty": 0,
                "returned_qty": 0,
                "additional_notes": null,
                "page_break": 0,
                "item_tax_rate": "{\"VAT - 16% - TSL\": 16.0}",
                "transaction_date": "2024-07-09",
                "doctype": "Sales Order Item"
              },
              {
                "name": "13422fb89e",
                "owner": "elsie@bulkbox.co.ke",
                "creation": "2024-07-09 22:39:22.002237",
                "modified": "2024-07-11 13:24:17.258961",
                "modified_by": "vincent@bulkbox.co.ke",
                "parent": "SAL-ORD-2024-04085",
                "parentfield": "items",
                "parenttype": "Sales Order",
                "idx": 12,
                "docstatus": 1,
                "item_code": "PPK027",
                "customer_item_code": null,
                "ensure_delivery_based_on_produced_serial_no": 0,
                "posa_notes": null,
                "delivery_date": "2024-07-12",
                "item_name": "Ola Tortilla Chips Cool Crunch 200g",
                "posa_row_id": null,
                "description": "Ola Tortilla Chips Cool Crunch 200g",
                "item_group": "Tortilla & Nachos",
                "brand": "OLA",
                "image": "https://v5.airtableusercontent.com/v3/u/26/26/1711044000000/d2FF8JpHQ4u9_TXbL6l8Kg/XXRZilm4bk7IGcBvfVt-jGjh96H38UXc0GDDD3r6rK7QBxH4yl2oJ7-5zFQjgHtGAZg5c3tpw4w9CTHZr82Ey5I9CDEFX0DfHoHTf1sPK-TdEMiEYQowXpuUL3LbwTOxeTECxADLipirdjCqNycvgi-1rAoQJYsmLsMu6hQ3pGY/uYIRiltkg64m6RS-Q8a3xMc-HoBskHf3_O5jlNWQSB0",
                "qty": 12,
                "case_size": "12",
                "stock_uom": "PCS",
                "picked_qty": 0,
                "uom": "PCS",
                "conversion_factor": 1,
                "stock_qty": 12,
                "price_list_rate": 252.16,
                "base_price_list_rate": 252.16,
                "margin_type": "",
                "margin_rate_or_amount": 0,
                "rate_with_margin": 0,
                "discount_percentage": 0,
                "discount_amount": 0,
                "base_rate_with_margin": 0,
                "rate": 252.16,
                "amount": 3025.92,
                "item_tax_template": "16% - TSL",
                "base_rate": 252.16,
                "base_amount": 3025.92,
                "pricing_rules": "",
                "stock_uom_rate": 252.16,
                "is_free_item": 0,
                "grant_commission": 1,
                "net_rate": 252.16,
                "net_amount": 3025.92,
                "base_net_rate": 252.16,
                "base_net_amount": 3025.92,
                "billed_amt": 0,
                "valuation_rate": 226.94,
                "gross_profit": 302.64,
                "delivered_by_supplier": 0,
                "supplier": "Propack Kenya",
                "weight_per_unit": 0,
                "total_weight": 0,
                "weight_uom": null,
                "warehouse": "Storage - TSL",
                "target_warehouse": null,
                "prevdoc_docname": null,
                "against_blanket_order": 0,
                "blanket_order": null,
                "blanket_order_rate": 0,
                "bom_no": null,
                "projected_qty": 72,
                "actual_qty": 24,
                "ordered_qty": 0,
                "planned_qty": 0,
                "work_order_qty": 0,
                "produced_qty": 0,
                "delivered_qty": 0,
                "returned_qty": 0,
                "additional_notes": null,
                "page_break": 0,
                "item_tax_rate": "{\"VAT - 16% - TSL\": 16.0}",
                "transaction_date": "2024-07-09",
                "doctype": "Sales Order Item"
              },
              {
                "name": "caea92e058",
                "owner": "elsie@bulkbox.co.ke",
                "creation": "2024-07-09 22:39:22.002237",
                "modified": "2024-07-11 13:24:17.258961",
                "modified_by": "vincent@bulkbox.co.ke",
                "parent": "SAL-ORD-2024-04085",
                "parentfield": "items",
                "parenttype": "Sales Order",
                "idx": 13,
                "docstatus": 1,
                "item_code": "TFL157",
                "customer_item_code": null,
                "ensure_delivery_based_on_produced_serial_no": 0,
                "posa_notes": null,
                "delivery_date": "2024-07-12",
                "item_name": "Kenylon Crushed Tomatoes 400g",
                "posa_row_id": null,
                "description": "Kenylon Crushed Tomatoes 400g",
                "item_group": "Canned Vegetables",
                "brand": "Kenylon",
                "image": "https://v5.airtableusercontent.com/v3/u/26/26/1711044000000/4B5r1rWZP2LrX5q9E-iWZg/yzLW__x-R3XOjqSohspdB-ChMLF5_m_9j3iSRCy3PdbTlONUCVQrbV4bhvjtdI3m5e2LjoEtA2SdLPb3zhTerfiFRW-RYTw0K25bvvTUpS6ElMd2V0I3TDBbdVnTUiPuLwkj5LnwwM0b1-GR8N9GSt58sYBFAPQzYYKIlcTcE5vatqNOEnXe-kAIZk3RnpH0/zwQDNo0CuiCYU6zJPRW43qjRrF71rHkpSSUNJaQM7lw",
                "qty": 108,
                "case_size": "12",
                "stock_uom": "PCS",
                "picked_qty": 0,
                "uom": "PCS",
                "conversion_factor": 1,
                "stock_qty": 108,
                "price_list_rate": 150.23,
                "base_price_list_rate": 150.23,
                "margin_type": "",
                "margin_rate_or_amount": 0,
                "rate_with_margin": 0,
                "discount_percentage": 0,
                "discount_amount": 0,
                "base_rate_with_margin": 0,
                "rate": 150.23,
                "amount": 16224.84,
                "item_tax_template": "16% - TSL",
                "base_rate": 150.23,
                "base_amount": 16224.84,
                "pricing_rules": "",
                "stock_uom_rate": 150.23,
                "is_free_item": 0,
                "grant_commission": 1,
                "net_rate": 150.23,
                "net_amount": 16224.84,
                "base_net_rate": 150.23,
                "base_net_amount": 16224.84,
                "billed_amt": 0,
                "valuation_rate": 139.37,
                "gross_profit": 1172.88,
                "delivered_by_supplier": 0,
                "supplier": "Trufoods LTD",
                "weight_per_unit": 0,
                "total_weight": 0,
                "weight_uom": null,
                "warehouse": "Storage - TSL",
                "target_warehouse": null,
                "prevdoc_docname": null,
                "against_blanket_order": 0,
                "blanket_order": null,
                "blanket_order_rate": 0,
                "bom_no": null,
                "projected_qty": 308,
                "actual_qty": 140,
                "ordered_qty": 0,
                "planned_qty": 0,
                "work_order_qty": 0,
                "produced_qty": 0,
                "delivered_qty": 0,
                "returned_qty": 0,
                "additional_notes": null,
                "page_break": 0,
                "item_tax_rate": "{\"VAT - 16% - TSL\": 16.0}",
                "transaction_date": "2024-07-09",
                "doctype": "Sales Order Item"
              },
              {
                "name": "5ae1c02e9b",
                "owner": "elsie@bulkbox.co.ke",
                "creation": "2024-07-09 22:39:22.002237",
                "modified": "2024-07-11 13:24:17.258961",
                "modified_by": "vincent@bulkbox.co.ke",
                "parent": "SAL-ORD-2024-04085",
                "parentfield": "items",
                "parenttype": "Sales Order",
                "idx": 14,
                "docstatus": 1,
                "item_code": "PLD076",
                "customer_item_code": null,
                "ensure_delivery_based_on_produced_serial_no": 0,
                "posa_notes": null,
                "delivery_date": "2024-07-12",
                "item_name": "Barilla Penne Rigate  Whole Wheat 500g",
                "posa_row_id": null,
                "description": "Barilla Penne Rigate  Whole Wheat 500g",
                "item_group": "Pasta & Spaghetti",
                "brand": "Barilla",
                "image": "",
                "qty": 12,
                "case_size": "14",
                "stock_uom": "PCS",
                "picked_qty": 0,
                "uom": "PCS",
                "conversion_factor": 1,
                "stock_qty": 12,
                "price_list_rate": 496.8,
                "base_price_list_rate": 496.8,
                "margin_type": "",
                "margin_rate_or_amount": 0,
                "rate_with_margin": 0,
                "discount_percentage": 0,
                "discount_amount": 0,
                "base_rate_with_margin": 0,
                "rate": 496.8,
                "amount": 5961.6,
                "item_tax_template": "16% - TSL",
                "base_rate": 496.8,
                "base_amount": 5961.6,
                "pricing_rules": "",
                "stock_uom_rate": 496.8,
                "is_free_item": 0,
                "grant_commission": 1,
                "net_rate": 496.8,
                "net_amount": 5961.6,
                "base_net_rate": 496.8,
                "base_net_amount": 5961.6,
                "billed_amt": 0,
                "valuation_rate": 0,
                "gross_profit": 5961.6,
                "delivered_by_supplier": 0,
                "supplier": null,
                "weight_per_unit": 0,
                "total_weight": 0,
                "weight_uom": null,
                "warehouse": "Storage - TSL",
                "target_warehouse": null,
                "prevdoc_docname": null,
                "against_blanket_order": 0,
                "blanket_order": null,
                "blanket_order_rate": 0,
                "bom_no": null,
                "projected_qty": 14,
                "actual_qty": 0,
                "ordered_qty": 0,
                "planned_qty": 0,
                "work_order_qty": 0,
                "produced_qty": 0,
                "delivered_qty": 0,
                "returned_qty": 0,
                "additional_notes": null,
                "page_break": 0,
                "item_tax_rate": "{\"VAT - 16% - TSL\": 16.0}",
                "transaction_date": "2024-07-09",
                "doctype": "Sales Order Item"
              },
              {
                "name": "cd11455059",
                "owner": "elsie@bulkbox.co.ke",
                "creation": "2024-07-09 22:39:22.002237",
                "modified": "2024-07-11 13:24:17.258961",
                "modified_by": "vincent@bulkbox.co.ke",
                "parent": "SAL-ORD-2024-04085",
                "parentfield": "items",
                "parenttype": "Sales Order",
                "idx": 15,
                "docstatus": 1,
                "item_code": "PPK043",
                "customer_item_code": null,
                "ensure_delivery_based_on_produced_serial_no": 0,
                "posa_notes": null,
                "delivery_date": "2024-07-12",
                "item_name": "Kettle Cooked Potato Crisps Lemon & Black Pepper 40g",
                "posa_row_id": null,
                "description": "Kettle Cooked Potato Crisps Lemon &amp; Black Pepper 40g",
                "item_group": "Chips & Crisps",
                "brand": "Krackles",
                "image": "https://v5.airtableusercontent.com/v3/u/26/26/1711044000000/ZWrYwHGmB2tgVYPnICjanA/yamZjdv2Y_sajeSc98sTt1YMiMcp7IXkVMnYIaHSnGAZ_sC1PaJwSXmPevN1Q6H8yH3zlQF-S6D1eJxrPjeQLjLryr3KHHaOeZG8s3vsIb7N-gZYyeJs3i3V8uHTDy3wSh2Ts2_N1jg2LvDWjYO-2F6RgrwyUGvATkstIuLXJVh8jmtP5QzEFT5_wvvzYRl6/rkMTOW1grmGVRPNxr0CfLb00i5gyyjFuGTrn0XQuzvY",
                "qty": 12,
                "case_size": "48",
                "stock_uom": "PCS",
                "picked_qty": 0,
                "uom": "PCS",
                "conversion_factor": 1,
                "stock_qty": 12,
                "price_list_rate": 56.37,
                "base_price_list_rate": 56.37,
                "margin_type": "",
                "margin_rate_or_amount": 0,
                "rate_with_margin": 0,
                "discount_percentage": 0,
                "discount_amount": 0,
                "base_rate_with_margin": 0,
                "rate": 56.37,
                "amount": 676.44,
                "item_tax_template": "16% - TSL",
                "base_rate": 56.37,
                "base_amount": 676.44,
                "pricing_rules": "",
                "stock_uom_rate": 56.37,
                "is_free_item": 0,
                "grant_commission": 1,
                "net_rate": 56.37,
                "net_amount": 676.44,
                "base_net_rate": 56.37,
                "base_net_amount": 676.44,
                "billed_amt": 0,
                "valuation_rate": 49.46,
                "gross_profit": 82.92,
                "delivered_by_supplier": 0,
                "supplier": "Propack Kenya",
                "weight_per_unit": 0,
                "total_weight": 0,
                "weight_uom": null,
                "warehouse": "Storage - TSL",
                "target_warehouse": null,
                "prevdoc_docname": null,
                "against_blanket_order": 0,
                "blanket_order": null,
                "blanket_order_rate": 0,
                "bom_no": null,
                "projected_qty": 96,
                "actual_qty": 48,
                "ordered_qty": 0,
                "planned_qty": 0,
                "work_order_qty": 0,
                "produced_qty": 0,
                "delivered_qty": 0,
                "returned_qty": 0,
                "additional_notes": null,
                "page_break": 0,
                "item_tax_rate": "{\"VAT - 16% - TSL\": 16.0}",
                "transaction_date": "2024-07-09",
                "doctype": "Sales Order Item"
              },
              {
                "name": "bd7368182c",
                "owner": "elsie@bulkbox.co.ke",
                "creation": "2024-07-09 22:39:22.002237",
                "modified": "2024-07-11 13:24:17.258961",
                "modified_by": "vincent@bulkbox.co.ke",
                "parent": "SAL-ORD-2024-04085",
                "parentfield": "items",
                "parenttype": "Sales Order",
                "idx": 16,
                "docstatus": 1,
                "item_code": "DFL017",
                "customer_item_code": null,
                "ensure_delivery_based_on_produced_serial_no": 0,
                "posa_notes": null,
                "delivery_date": "2024-07-12",
                "item_name": "Santa Maria Black Beans in Brine 400g",
                "posa_row_id": null,
                "description": "Santa Maria Black Beans in Brine 400g",
                "item_group": "Canned Vegetables",
                "brand": "Santa Maria",
                "image": "https://v5.airtableusercontent.com/v3/u/29/29/1715875200000/jh4npKYyVzA7H1plYQBCGQ/sxhJ2TKRmcaSDF2P1eCk-xnELfuuHx0WtoroRZ2KU3Gecd64YlnGwCDXRDDF8fDybYkRQKv37IAcWDlya01xMGVVMwmYz4Pi2XmafOy4vFyFEO2bzH3AYJ1KVS_0HZ1jA4g06TyYAkLEJzRf2_aVpaR9hYCYl1mYqRRct4CSbzMbothL3MseuNPRsB097b3SVjcW_DrcKmt3X0d6HecyoA/lHofOqHMA9jBZYWhBTg1TFWtJlir9zNGJZg1UR7vafE",
                "qty": 120,
                "case_size": "24",
                "stock_uom": "PCS",
                "picked_qty": 0,
                "uom": "PCS",
                "conversion_factor": 1,
                "stock_qty": 120,
                "price_list_rate": 194.66,
                "base_price_list_rate": 194.66,
                "margin_type": "",
                "margin_rate_or_amount": 0,
                "rate_with_margin": 0,
                "discount_percentage": 0,
                "discount_amount": 0,
                "base_rate_with_margin": 0,
                "rate": 194.66,
                "amount": 23359.2,
                "item_tax_template": "16% - TSL",
                "base_rate": 194.66,
                "base_amount": 23359.2,
                "pricing_rules": "",
                "stock_uom_rate": 194.66,
                "is_free_item": 0,
                "grant_commission": 1,
                "net_rate": 194.66,
                "net_amount": 23359.2,
                "base_net_rate": 194.66,
                "base_net_amount": 23359.2,
                "billed_amt": 0,
                "valuation_rate": 175.3,
                "gross_profit": 2323.2,
                "delivered_by_supplier": 0,
                "supplier": "Debenham and Fear LTD",
                "weight_per_unit": 0,
                "total_weight": 0,
                "weight_uom": null,
                "warehouse": "Storage - TSL",
                "target_warehouse": null,
                "prevdoc_docname": null,
                "against_blanket_order": 0,
                "blanket_order": null,
                "blanket_order_rate": 0,
                "bom_no": null,
                "projected_qty": 222,
                "actual_qty": 6,
                "ordered_qty": 0,
                "planned_qty": 0,
                "work_order_qty": 0,
                "produced_qty": 0,
                "delivered_qty": 0,
                "returned_qty": 0,
                "additional_notes": null,
                "page_break": 0,
                "item_tax_rate": "{\"VAT - 16% - TSL\": 16.0}",
                "transaction_date": "2024-07-09",
                "doctype": "Sales Order Item"
              },
              {
                "name": "eab2321b35",
                "owner": "elsie@bulkbox.co.ke",
                "creation": "2024-07-09 22:39:22.002237",
                "modified": "2024-07-11 13:24:17.258961",
                "modified_by": "vincent@bulkbox.co.ke",
                "parent": "SAL-ORD-2024-04085",
                "parentfield": "items",
                "parenttype": "Sales Order",
                "idx": 17,
                "docstatus": 1,
                "item_code": "RDD163",
                "customer_item_code": null,
                "ensure_delivery_based_on_produced_serial_no": 0,
                "posa_notes": null,
                "delivery_date": "2024-07-12",
                "item_name": "Novi Chopped Tomatoes 400g",
                "posa_row_id": null,
                "description": "Novi Chopped Tomatoes 400g",
                "item_group": "Canned Vegetables",
                "brand": "Novi",
                "image": "https://v5.airtableusercontent.com/v3/u/26/26/1711044000000/AFCIqwlEgCdkMHoZEmr5dA/wCScPXQzzXTrwVYMrFxbT6g-VLnW5V5Pe6PFVEZvmHz3XkaPNQAE3A1FZ2CBsFGfO2q4JvyRTZV0RBJbTuNmZW1nGf7jo6PAMKJlk-RI6uqU5Bo1lPuEQZ39x8_EhKZEjjroLHjjf-71AfBzM129LO5Hq6Fu_tYULpBpcX7s8no/zpZNpdz9TTDwmPyw-kYJUfqM86XPuPCFscURjvUHQJs",
                "qty": 96,
                "case_size": "24",
                "stock_uom": "PCS",
                "picked_qty": 0,
                "uom": "PCS",
                "conversion_factor": 1,
                "stock_qty": 96,
                "price_list_rate": 191.4,
                "base_price_list_rate": 191.4,
                "margin_type": "",
                "margin_rate_or_amount": 0,
                "rate_with_margin": 0,
                "discount_percentage": 0,
                "discount_amount": 0,
                "base_rate_with_margin": 0,
                "rate": 191.4,
                "amount": 18374.4,
                "item_tax_template": "16% - TSL",
                "base_rate": 191.4,
                "base_amount": 18374.4,
                "pricing_rules": "",
                "stock_uom_rate": 191.4,
                "is_free_item": 0,
                "grant_commission": 1,
                "net_rate": 191.4,
                "net_amount": 18374.4,
                "base_net_rate": 191.4,
                "base_net_amount": 18374.4,
                "billed_amt": 0,
                "valuation_rate": 170.96,
                "gross_profit": 1962.24,
                "delivered_by_supplier": 0,
                "supplier": "Roshni Distributors LTD",
                "weight_per_unit": 0,
                "total_weight": 0,
                "weight_uom": null,
                "warehouse": "Storage - TSL",
                "target_warehouse": null,
                "prevdoc_docname": null,
                "against_blanket_order": 0,
                "blanket_order": null,
                "blanket_order_rate": 0,
                "bom_no": null,
                "projected_qty": 72,
                "actual_qty": 72,
                "ordered_qty": 0,
                "planned_qty": 0,
                "work_order_qty": 0,
                "produced_qty": 0,
                "delivered_qty": 0,
                "returned_qty": 0,
                "additional_notes": null,
                "page_break": 0,
                "item_tax_rate": "{\"VAT - 16% - TSL\": 16.0}",
                "transaction_date": "2024-07-09",
                "doctype": "Sales Order Item"
              },
              {
                "name": "dc3b19c815",
                "owner": "elsie@bulkbox.co.ke",
                "creation": "2024-07-09 22:39:22.002237",
                "modified": "2024-07-11 13:24:17.258961",
                "modified_by": "vincent@bulkbox.co.ke",
                "parent": "SAL-ORD-2024-04085",
                "parentfield": "items",
                "parenttype": "Sales Order",
                "idx": 18,
                "docstatus": 1,
                "item_code": "TFL154",
                "customer_item_code": null,
                "ensure_delivery_based_on_produced_serial_no": 0,
                "posa_notes": null,
                "delivery_date": "2024-07-12",
                "item_name": "Kenylon Butter Beans 420g",
                "posa_row_id": null,
                "description": "Kenylon Butter Beans 420g",
                "item_group": "Canned Vegetables",
                "brand": "Kenylon",
                "image": "https://v5.airtableusercontent.com/v3/u/26/26/1711044000000/ZTGdZps6a77DVAXHzniVOA/w0Uk1mtk2KDg6KrUhkbzusUGMJRJW1qWzi5LambYYZrDyrLFN26SvLnbdgHebCTPq7lZ9JbVMVQOUzPJfknuBLMfq0nlHQfsspUPvp8l8vupwhVE5yMXbZK-aHfiNlevJ8dEHdE4kkDE0gn29xXLHjmYdvBrOYv3Lsiog6WgzKJvKPuORsxQhV9Am7S4jvty/K8qWqRWie2Fqbte-i8CoS6ysp_h0DaTMJMsQ9fh6ihM",
                "qty": 60,
                "case_size": "12",
                "stock_uom": "PCS",
                "picked_qty": 0,
                "uom": "PCS",
                "conversion_factor": 1,
                "stock_qty": 60,
                "price_list_rate": 150.23,
                "base_price_list_rate": 150.23,
                "margin_type": "",
                "margin_rate_or_amount": 0,
                "rate_with_margin": 0,
                "discount_percentage": 0,
                "discount_amount": 0,
                "base_rate_with_margin": 0,
                "rate": 150.23,
                "amount": 9013.8,
                "item_tax_template": "16% - TSL",
                "base_rate": 150.23,
                "base_amount": 9013.8,
                "pricing_rules": "",
                "stock_uom_rate": 150.23,
                "is_free_item": 0,
                "grant_commission": 1,
                "net_rate": 150.23,
                "net_amount": 9013.8,
                "base_net_rate": 150.23,
                "base_net_amount": 9013.8,
                "billed_amt": 0,
                "valuation_rate": 139.08,
                "gross_profit": 669,
                "delivered_by_supplier": 0,
                "supplier": "Trufoods LTD",
                "weight_per_unit": 0,
                "total_weight": 0,
                "weight_uom": null,
                "warehouse": "Storage - TSL",
                "target_warehouse": null,
                "prevdoc_docname": null,
                "against_blanket_order": 0,
                "blanket_order": null,
                "blanket_order_rate": 0,
                "bom_no": null,
                "projected_qty": 132,
                "actual_qty": 108,
                "ordered_qty": 0,
                "planned_qty": 0,
                "work_order_qty": 0,
                "produced_qty": 0,
                "delivered_qty": 0,
                "returned_qty": 0,
                "additional_notes": null,
                "page_break": 0,
                "item_tax_rate": "{\"VAT - 16% - TSL\": 16.0}",
                "transaction_date": "2024-07-09",
                "doctype": "Sales Order Item"
              },
              {
                "name": "295f852cd2",
                "owner": "elsie@bulkbox.co.ke",
                "creation": "2024-07-09 22:39:22.002237",
                "modified": "2024-07-11 13:24:17.258961",
                "modified_by": "vincent@bulkbox.co.ke",
                "parent": "SAL-ORD-2024-04085",
                "parentfield": "items",
                "parenttype": "Sales Order",
                "idx": 19,
                "docstatus": 1,
                "item_code": "KYD039",
                "customer_item_code": null,
                "ensure_delivery_based_on_produced_serial_no": 0,
                "posa_notes": null,
                "delivery_date": "2024-07-12",
                "item_name": "Kotex Ultrathin Sanitary Pads Super 8's",
                "posa_row_id": null,
                "description": "Kotex Ultrathin Sanitary Pads Super 8's",
                "item_group": "Feminine Products",
                "brand": "Kotex",
                "image": "",
                "qty": 10,
                "case_size": "16",
                "stock_uom": "PCS",
                "picked_qty": 0,
                "uom": "PCS",
                "conversion_factor": 1,
                "stock_qty": 10,
                "price_list_rate": 118.79,
                "base_price_list_rate": 118.79,
                "margin_type": "",
                "margin_rate_or_amount": 0,
                "rate_with_margin": 0,
                "discount_percentage": 0,
                "discount_amount": 0,
                "base_rate_with_margin": 0,
                "rate": 118.79,
                "amount": 1187.9,
                "item_tax_template": "0% - TSL",
                "base_rate": 118.79,
                "base_amount": 1187.9,
                "pricing_rules": "",
                "stock_uom_rate": 118.79,
                "is_free_item": 0,
                "grant_commission": 1,
                "net_rate": 118.79,
                "net_amount": 1187.9,
                "base_net_rate": 118.79,
                "base_net_amount": 1187.9,
                "billed_amt": 0,
                "valuation_rate": 110.08,
                "gross_profit": 87.1,
                "delivered_by_supplier": 0,
                "supplier": "Kimfay East Africa LTD",
                "weight_per_unit": 0,
                "total_weight": 0,
                "weight_uom": null,
                "warehouse": "Storage - TSL",
                "target_warehouse": null,
                "prevdoc_docname": null,
                "against_blanket_order": 0,
                "blanket_order": null,
                "blanket_order_rate": 0,
                "bom_no": null,
                "projected_qty": 60,
                "actual_qty": 48,
                "ordered_qty": 0,
                "planned_qty": 0,
                "work_order_qty": 0,
                "produced_qty": 0,
                "delivered_qty": 0,
                "returned_qty": 0,
                "additional_notes": null,
                "page_break": 0,
                "item_tax_rate": "{\"Zero Rated Tax - TSL\": 0.0}",
                "transaction_date": "2024-07-09",
                "doctype": "Sales Order Item"
              },
              {
                "name": "6fca892e8f",
                "owner": "elsie@bulkbox.co.ke",
                "creation": "2024-07-09 22:39:22.002237",
                "modified": "2024-07-11 13:24:17.258961",
                "modified_by": "vincent@bulkbox.co.ke",
                "parent": "SAL-ORD-2024-04085",
                "parentfield": "items",
                "parenttype": "Sales Order",
                "idx": 20,
                "docstatus": 1,
                "item_code": "WOB0002",
                "customer_item_code": null,
                "ensure_delivery_based_on_produced_serial_no": 0,
                "posa_notes": null,
                "delivery_date": "2024-07-12",
                "item_name": "Mcvities Digestive Biscuit 400g",
                "posa_row_id": null,
                "description": "Mcvities Digestive Biscuit 400g",
                "item_group": "Biscuit & Cookies",
                "brand": "Mcvities",
                "image": "https://v5.airtableusercontent.com/v3/u/26/26/1711044000000/ZaRBkBIwn6Q3MJ8jlyvxnQ/ZeEmWrBUMP5PNVBWuwd7137hjBrGgCjZS_nCTBIoCyEmoHZL78IMlACnpNs_X2zUk83gkvOWLBdcAGKc5mzOq5w5Y-hEZEYArJhGRAVXoo9sx_bcDYTwjALECCJveE08xvhZrNp9FZDcP53tg0ma0Q/A4eqzjdUsULWd-w6jtiTm-sEYYO848NGSA__yVaGqCw",
                "qty": 10,
                "case_size": "20",
                "stock_uom": "PCS",
                "picked_qty": 0,
                "uom": "PCS",
                "conversion_factor": 1,
                "stock_qty": 10,
                "price_list_rate": 354.15,
                "base_price_list_rate": 354.15,
                "margin_type": "",
                "margin_rate_or_amount": 0,
                "rate_with_margin": 0,
                "discount_percentage": 0,
                "discount_amount": 0,
                "base_rate_with_margin": 0,
                "rate": 354.15,
                "amount": 3541.5,
                "item_tax_template": "16% - TSL",
                "base_rate": 354.15,
                "base_amount": 3541.5,
                "pricing_rules": "",
                "stock_uom_rate": 354.15,
                "is_free_item": 0,
                "grant_commission": 1,
                "net_rate": 354.15,
                "net_amount": 3541.5,
                "base_net_rate": 354.15,
                "base_net_amount": 3541.5,
                "billed_amt": 0,
                "valuation_rate": 311.21,
                "gross_profit": 429.4,
                "delivered_by_supplier": 0,
                "supplier": "World Brands LTD",
                "weight_per_unit": 0,
                "total_weight": 0,
                "weight_uom": null,
                "warehouse": "Storage - TSL",
                "target_warehouse": null,
                "prevdoc_docname": null,
                "against_blanket_order": 0,
                "blanket_order": null,
                "blanket_order_rate": 0,
                "bom_no": null,
                "projected_qty": 105.723545304,
                "actual_qty": 46,
                "ordered_qty": 0,
                "planned_qty": 0,
                "work_order_qty": 0,
                "produced_qty": 0,
                "delivered_qty": 0,
                "returned_qty": 0,
                "additional_notes": null,
                "page_break": 0,
                "item_tax_rate": "{\"VAT - 16% - TSL\": 16.0}",
                "transaction_date": "2024-07-09",
                "doctype": "Sales Order Item"
              },
              {
                "name": "e115e9d93e",
                "owner": "elsie@bulkbox.co.ke",
                "creation": "2024-07-09 22:39:22.002237",
                "modified": "2024-07-11 13:24:17.258961",
                "modified_by": "vincent@bulkbox.co.ke",
                "parent": "SAL-ORD-2024-04085",
                "parentfield": "items",
                "parenttype": "Sales Order",
                "idx": 21,
                "docstatus": 1,
                "item_code": "KYD048",
                "customer_item_code": null,
                "ensure_delivery_based_on_produced_serial_no": 0,
                "posa_notes": null,
                "delivery_date": "2024-07-12",
                "item_name": "Kotex Panty Liners 20's",
                "posa_row_id": null,
                "description": "Kotex Panty Liners 20's",
                "item_group": "Feminine Products",
                "brand": "Kotex",
                "image": "https://v5.airtableusercontent.com/v3/u/29/29/1715875200000/VJgacrcfZruDqpfdW__qpw/OpR4LQbg-Z0kSwrmlCcbaAbORbsLeuPJDg7IAXKvunCg6kpCFk7pNzNV1fDvBaJkfjPdCFbUEIBB8b6dQJlTpibaxETR2EcKGxM6RTI6nLVbH3lLTppXxWJVAeczY4ePamyUsc_oeugDcjMj-yQ-Nnh-DZUzIliGUCEzNb5LfY0/VjUVINFIVM89BbVgECxGf_OZ92E9nBa1-jQLWifJ2X0",
                "qty": 5,
                "case_size": "16",
                "stock_uom": "PCS",
                "picked_qty": 0,
                "uom": "PCS",
                "conversion_factor": 1,
                "stock_qty": 5,
                "price_list_rate": 154.95,
                "base_price_list_rate": 154.95,
                "margin_type": "",
                "margin_rate_or_amount": 0,
                "rate_with_margin": 0,
                "discount_percentage": 0,
                "discount_amount": 0,
                "base_rate_with_margin": 0,
                "rate": 154.95,
                "amount": 774.75,
                "item_tax_template": "16% - TSL",
                "base_rate": 154.95,
                "base_amount": 774.75,
                "pricing_rules": "",
                "stock_uom_rate": 154.95,
                "is_free_item": 0,
                "grant_commission": 1,
                "net_rate": 154.95,
                "net_amount": 774.75,
                "base_net_rate": 154.95,
                "base_net_amount": 774.75,
                "billed_amt": 0,
                "valuation_rate": 128.11,
                "gross_profit": 134.2,
                "delivered_by_supplier": 0,
                "supplier": "Kimfay East Africa LTD",
                "weight_per_unit": 0,
                "total_weight": 0,
                "weight_uom": null,
                "warehouse": "Storage - TSL",
                "target_warehouse": null,
                "prevdoc_docname": null,
                "against_blanket_order": 0,
                "blanket_order": null,
                "blanket_order_rate": 0,
                "bom_no": null,
                "projected_qty": 24,
                "actual_qty": 24,
                "ordered_qty": 0,
                "planned_qty": 0,
                "work_order_qty": 0,
                "produced_qty": 0,
                "delivered_qty": 0,
                "returned_qty": 0,
                "additional_notes": null,
                "page_break": 0,
                "item_tax_rate": "{\"VAT - 16% - TSL\": 16.0}",
                "transaction_date": "2024-07-09",
                "doctype": "Sales Order Item"
              },
              {
                "name": "10a2d1694c",
                "owner": "elsie@bulkbox.co.ke",
                "creation": "2024-07-09 22:39:22.002237",
                "modified": "2024-07-11 13:24:17.258961",
                "modified_by": "vincent@bulkbox.co.ke",
                "parent": "SAL-ORD-2024-04085",
                "parentfield": "items",
                "parenttype": "Sales Order",
                "idx": 22,
                "docstatus": 1,
                "item_code": "RDD099",
                "customer_item_code": null,
                "ensure_delivery_based_on_produced_serial_no": 0,
                "posa_notes": null,
                "delivery_date": "2024-07-12",
                "item_name": "Haribo Happy Cherries 80g",
                "posa_row_id": null,
                "description": "Haribo Happy Cherries 80g",
                "item_group": "Chocolate & Candy",
                "brand": "Haribo",
                "image": "https://v5.airtableusercontent.com/v3/u/27/27/1712836800000/H92zB7As3_KK6M-6uKOybA/RoS1HbO2v2fFHQhOXD8smV-hn0yOAwiPGi7sJvSPY3iipLAm_AGEJt1AzTDwlBnKtM--0pXDzV6NgdeidB7KM9eLMFhc_Wwhu_B9xiEI5XxIikKWoUsEuDCrrefijHHgdOi5P86b-XUmVtUKe0x2kw/bj6A2v7T-Xkwejtn49i4-GTnsRDMbl5ZjcuJ_aX1OpI",
                "qty": 20,
                "case_size": "30",
                "stock_uom": "PCS",
                "picked_qty": 0,
                "uom": "PCS",
                "conversion_factor": 1,
                "stock_qty": 20,
                "price_list_rate": 163.83,
                "base_price_list_rate": 163.83,
                "margin_type": "",
                "margin_rate_or_amount": 0,
                "rate_with_margin": 0,
                "discount_percentage": 0,
                "discount_amount": 0,
                "base_rate_with_margin": 0,
                "rate": 163.83,
                "amount": 3276.6,
                "item_tax_template": "16% - TSL",
                "base_rate": 163.83,
                "base_amount": 3276.6,
                "pricing_rules": "",
                "stock_uom_rate": 163.83,
                "is_free_item": 0,
                "grant_commission": 1,
                "net_rate": 163.83,
                "net_amount": 3276.6,
                "base_net_rate": 163.83,
                "base_net_amount": 3276.6,
                "billed_amt": 0,
                "valuation_rate": 148.06,
                "gross_profit": 315.4,
                "delivered_by_supplier": 0,
                "supplier": "Roshni Distributors LTD",
                "weight_per_unit": 0,
                "total_weight": 0,
                "weight_uom": null,
                "warehouse": "Storage - TSL",
                "target_warehouse": null,
                "prevdoc_docname": null,
                "against_blanket_order": 0,
                "blanket_order": null,
                "blanket_order_rate": 0,
                "bom_no": null,
                "projected_qty": 90,
                "actual_qty": 30,
                "ordered_qty": 0,
                "planned_qty": 0,
                "work_order_qty": 0,
                "produced_qty": 0,
                "delivered_qty": 0,
                "returned_qty": 0,
                "additional_notes": null,
                "page_break": 0,
                "item_tax_rate": "{\"VAT - 16% - TSL\": 16.0}",
                "transaction_date": "2024-07-09",
                "doctype": "Sales Order Item"
              },
              {
                "name": "91c00076ad",
                "owner": "elsie@bulkbox.co.ke",
                "creation": "2024-07-09 22:39:22.002237",
                "modified": "2024-07-11 13:24:17.258961",
                "modified_by": "vincent@bulkbox.co.ke",
                "parent": "SAL-ORD-2024-04085",
                "parentfield": "items",
                "parenttype": "Sales Order",
                "idx": 23,
                "docstatus": 1,
                "item_code": "WSK027",
                "customer_item_code": null,
                "ensure_delivery_based_on_produced_serial_no": 0,
                "posa_notes": null,
                "delivery_date": "2024-07-12",
                "item_name": "Kensalt 2Kg",
                "posa_row_id": null,
                "description": "Kensalt 2Kg",
                "item_group": "Salt",
                "brand": "Kensalt",
                "image": "https://v5.airtableusercontent.com/v3/u/26/26/1711044000000/theeLLO-aq5UQ0mfn4fvJg/lkyXfHCIiv_t3i1YjTJYCnU-PYViOhwvTuA9gE3HBMvFiIlhFff5Vqn8FNDTuqf5MxsV4507_HNtG45t8wTlJ4euQFlk0jl2e73kCNwk-EzxBXHhDAs5fe11b3gh44fipp6K7xh5FWKE9tP2bJ1tuw/Lu7qapDdG5k-TaPhb8KZXTpE8UIQ4IN8tnlkDnJnvyY",
                "qty": 12,
                "case_size": "10",
                "stock_uom": "PCS",
                "picked_qty": 0,
                "uom": "PCS",
                "conversion_factor": 1,
                "stock_qty": 12,
                "price_list_rate": 75.79,
                "base_price_list_rate": 75.79,
                "margin_type": "",
                "margin_rate_or_amount": 0,
                "rate_with_margin": 0,
                "discount_percentage": 0,
                "discount_amount": 0,
                "base_rate_with_margin": 0,
                "rate": 75.79,
                "amount": 909.48,
                "item_tax_template": "0% - TSL",
                "base_rate": 75.79,
                "base_amount": 909.48,
                "pricing_rules": "",
                "stock_uom_rate": 75.79,
                "is_free_item": 0,
                "grant_commission": 1,
                "net_rate": 75.79,
                "net_amount": 909.48,
                "base_net_rate": 75.79,
                "base_net_amount": 909.48,
                "billed_amt": 0,
                "valuation_rate": 72,
                "gross_profit": 45.48,
                "delivered_by_supplier": 0,
                "supplier": "Wasoko LTD",
                "weight_per_unit": 0,
                "total_weight": 0,
                "weight_uom": null,
                "warehouse": "Storage - TSL",
                "target_warehouse": null,
                "prevdoc_docname": null,
                "against_blanket_order": 0,
                "blanket_order": null,
                "blanket_order_rate": 0,
                "bom_no": null,
                "projected_qty": 70,
                "actual_qty": 30,
                "ordered_qty": 0,
                "planned_qty": 0,
                "work_order_qty": 0,
                "produced_qty": 0,
                "delivered_qty": 0,
                "returned_qty": 0,
                "additional_notes": null,
                "page_break": 0,
                "item_tax_rate": "{\"Zero Rated Tax - TSL\": 0.0}",
                "transaction_date": "2024-07-09",
                "doctype": "Sales Order Item"
              },
              {
                "name": "ead9a33efe",
                "owner": "elsie@bulkbox.co.ke",
                "creation": "2024-07-09 22:39:22.002237",
                "modified": "2024-07-11 13:24:17.258961",
                "modified_by": "vincent@bulkbox.co.ke",
                "parent": "SAL-ORD-2024-04085",
                "parentfield": "items",
                "parenttype": "Sales Order",
                "idx": 24,
                "docstatus": 1,
                "item_code": "PCL015",
                "customer_item_code": null,
                "ensure_delivery_based_on_produced_serial_no": 0,
                "posa_notes": null,
                "delivery_date": "2024-07-12",
                "item_name": "Bakalland - Ba! Energy Bar 5 Dried Fruits 40g",
                "posa_row_id": null,
                "description": "Bakalland - Ba! Energy Bar 5 Dried Fruits 40g",
                "item_group": "Cereal & Energy Bars",
                "brand": "Bakalland",
                "image": "https://v5.airtableusercontent.com/v3/u/26/26/1711044000000/onk-6Pl8JOavhwZRL5ueyA/U_LIVcIq4j_NNPeNi8KHaL1ArMRZsV9KvP4h3GASgCI5UBrk7CMPXhV5pt8Sn5jokaJXw3XOWnNVdJ-a4_hpijwOSfATihvIA5ZVD6EI6qJUK0Sog2yqrGH5PxTqxw9flG3r6jFqLlUxaBohcLhuBg/9BH326ZJZe1r8d2Hxnl6iTw8JhON0Ss9BR34VPk_HTw",
                "qty": 20,
                "case_size": "25",
                "stock_uom": "PCS",
                "picked_qty": 0,
                "uom": "PCS",
                "conversion_factor": 1,
                "stock_qty": 20,
                "price_list_rate": 111.47,
                "base_price_list_rate": 111.47,
                "margin_type": "",
                "margin_rate_or_amount": 0,
                "rate_with_margin": 0,
                "discount_percentage": 0,
                "discount_amount": 0,
                "base_rate_with_margin": 0,
                "rate": 111.47,
                "amount": 2229.4,
                "item_tax_template": "16% - TSL",
                "base_rate": 111.47,
                "base_amount": 2229.4,
                "pricing_rules": "",
                "stock_uom_rate": 111.47,
                "is_free_item": 0,
                "grant_commission": 1,
                "net_rate": 111.47,
                "net_amount": 2229.4,
                "base_net_rate": 111.47,
                "base_net_amount": 2229.4,
                "billed_amt": 0,
                "valuation_rate": 96.98,
                "gross_profit": 289.8,
                "delivered_by_supplier": 0,
                "supplier": "Portcross LTD",
                "weight_per_unit": 0,
                "total_weight": 0,
                "weight_uom": null,
                "warehouse": "Storage - TSL",
                "target_warehouse": null,
                "prevdoc_docname": null,
                "against_blanket_order": 0,
                "blanket_order": null,
                "blanket_order_rate": 0,
                "bom_no": null,
                "projected_qty": 375,
                "actual_qty": 125,
                "ordered_qty": 0,
                "planned_qty": 0,
                "work_order_qty": 0,
                "produced_qty": 0,
                "delivered_qty": 0,
                "returned_qty": 0,
                "additional_notes": null,
                "page_break": 0,
                "item_tax_rate": "{\"VAT - 16% - TSL\": 16.0}",
                "transaction_date": "2024-07-09",
                "doctype": "Sales Order Item"
              },
              {
                "name": "ffa54727f3",
                "owner": "elsie@bulkbox.co.ke",
                "creation": "2024-07-09 22:39:22.002237",
                "modified": "2024-07-11 13:24:17.258961",
                "modified_by": "vincent@bulkbox.co.ke",
                "parent": "SAL-ORD-2024-04085",
                "parentfield": "items",
                "parenttype": "Sales Order",
                "idx": 25,
                "docstatus": 1,
                "item_code": "PCL016",
                "customer_item_code": null,
                "ensure_delivery_based_on_produced_serial_no": 0,
                "posa_notes": null,
                "delivery_date": "2024-07-12",
                "item_name": "Bakalland - Ba! Energy Bar 5 Nuts 40g",
                "posa_row_id": null,
                "description": "Bakalland - Ba! Energy Bar 5 Nuts 40g",
                "item_group": "Cereal & Energy Bars",
                "brand": "Bakalland",
                "image": "https://v5.airtableusercontent.com/v3/u/27/27/1711044000000/ghvapy2e9MHEUqvYpEHNQA/VcHsuhr1vPke5yF1Fk4s_t-0Ds3pBq7ruitKCf84LcxmCQ1Xah8FQ2wDKdRlPg1OY7bGS0063HcyvmWgwCU682Gs3Fgzlq8nwiHOKnO0yuwpeMBxu4DBkzO26B_IDWv0dn504R0_s6dwhzsE1yA_2g/BlZUt8dwEnXlTMfECQYaIiMVbQuBxsemYDM-nYmZ0iA",
                "qty": 36,
                "case_size": "25",
                "stock_uom": "PCS",
                "picked_qty": 0,
                "uom": "PCS",
                "conversion_factor": 1,
                "stock_qty": 36,
                "price_list_rate": 111.47,
                "base_price_list_rate": 111.47,
                "margin_type": "",
                "margin_rate_or_amount": 0,
                "rate_with_margin": 0,
                "discount_percentage": 0,
                "discount_amount": 0,
                "base_rate_with_margin": 0,
                "rate": 111.47,
                "amount": 4012.92,
                "item_tax_template": "16% - TSL",
                "base_rate": 111.47,
                "base_amount": 4012.92,
                "pricing_rules": "",
                "stock_uom_rate": 111.47,
                "is_free_item": 0,
                "grant_commission": 1,
                "net_rate": 111.47,
                "net_amount": 4012.92,
                "base_net_rate": 111.47,
                "base_net_amount": 4012.92,
                "billed_amt": 0,
                "valuation_rate": 96.98,
                "gross_profit": 521.64,
                "delivered_by_supplier": 0,
                "supplier": "Portcross LTD",
                "weight_per_unit": 0,
                "total_weight": 0,
                "weight_uom": null,
                "warehouse": "Storage - TSL",
                "target_warehouse": null,
                "prevdoc_docname": null,
                "against_blanket_order": 0,
                "blanket_order": null,
                "blanket_order_rate": 0,
                "bom_no": null,
                "projected_qty": 263,
                "actual_qty": 113,
                "ordered_qty": 0,
                "planned_qty": 0,
                "work_order_qty": 0,
                "produced_qty": 0,
                "delivered_qty": 0,
                "returned_qty": 0,
                "additional_notes": null,
                "page_break": 0,
                "item_tax_rate": "{\"VAT - 16% - TSL\": 16.0}",
                "transaction_date": "2024-07-09",
                "doctype": "Sales Order Item"
              },
              {
                "name": "34ccfd88c7",
                "owner": "elsie@bulkbox.co.ke",
                "creation": "2024-07-09 22:39:22.002237",
                "modified": "2024-07-11 13:24:17.258961",
                "modified_by": "vincent@bulkbox.co.ke",
                "parent": "SAL-ORD-2024-04085",
                "parentfield": "items",
                "parenttype": "Sales Order",
                "idx": 26,
                "docstatus": 1,
                "item_code": "WOB0120",
                "customer_item_code": null,
                "ensure_delivery_based_on_produced_serial_no": 0,
                "posa_notes": null,
                "delivery_date": "2024-07-12",
                "item_name": "Mcvities Oat Crunch Biscuit 255g",
                "posa_row_id": null,
                "description": "Mcvities Oat Crunch Biscuit 255g",
                "item_group": "Biscuit & Cookies",
                "brand": "Mcvities",
                "image": "https://v5.airtableusercontent.com/v3/u/26/26/1711044000000/hP5x8I2uJTexw_vMgtX63Q/noV1onywQmWZ8QUgn0LK791Nel-lXfsaUDVHE4eNmc22NIrCZK2olNhu5tVOubpkF0p_roKx1MnjSH9kCVPdbRHLLCOQ-xW3Ir_bMCxxfxnrb0cp8ZYbRcLuF06YmesjwhfMCxWTckQNWaTBD91ccg/WLW_NgrMJ7UtdsKSQlXsVT19Spa85eWXgybYHd2nr-A",
                "qty": 25,
                "case_size": "24",
                "stock_uom": "PCS",
                "picked_qty": 0,
                "uom": "PCS",
                "conversion_factor": 1,
                "stock_qty": 25,
                "price_list_rate": 335.51,
                "base_price_list_rate": 335.51,
                "margin_type": "",
                "margin_rate_or_amount": 0,
                "rate_with_margin": 0,
                "discount_percentage": 0,
                "discount_amount": 0,
                "base_rate_with_margin": 0,
                "rate": 335.51,
                "amount": 8387.75,
                "item_tax_template": "16% - TSL",
                "base_rate": 335.51,
                "base_amount": 8387.75,
                "pricing_rules": "",
                "stock_uom_rate": 335.51,
                "is_free_item": 0,
                "grant_commission": 1,
                "net_rate": 335.51,
                "net_amount": 8387.75,
                "base_net_rate": 335.51,
                "base_net_amount": 8387.75,
                "billed_amt": 0,
                "valuation_rate": 294.82,
                "gross_profit": 1017.25,
                "delivered_by_supplier": 0,
                "supplier": "World Brands LTD",
                "weight_per_unit": 0,
                "total_weight": 0,
                "weight_uom": null,
                "warehouse": "Storage - TSL",
                "target_warehouse": null,
                "prevdoc_docname": null,
                "against_blanket_order": 0,
                "blanket_order": null,
                "blanket_order_rate": 0,
                "bom_no": null,
                "projected_qty": 0,
                "actual_qty": 0,
                "ordered_qty": 0,
                "planned_qty": 0,
                "work_order_qty": 0,
                "produced_qty": 0,
                "delivered_qty": 0,
                "returned_qty": 0,
                "additional_notes": null,
                "page_break": 0,
                "item_tax_rate": "{\"VAT - 16% - TSL\": 16.0}",
                "transaction_date": "2024-07-09",
                "doctype": "Sales Order Item"
              },
              {
                "name": "088ede7997",
                "owner": "elsie@bulkbox.co.ke",
                "creation": "2024-07-09 22:39:22.002237",
                "modified": "2024-07-11 13:24:17.258961",
                "modified_by": "vincent@bulkbox.co.ke",
                "parent": "SAL-ORD-2024-04085",
                "parentfield": "items",
                "parenttype": "Sales Order",
                "idx": 27,
                "docstatus": 1,
                "item_code": "PCL014",
                "customer_item_code": null,
                "ensure_delivery_based_on_produced_serial_no": 0,
                "posa_notes": null,
                "delivery_date": "2024-07-12",
                "item_name": "Bakalland - Ba! Energy Bar 5 Forest Fruits 40g",
                "posa_row_id": null,
                "description": "Bakalland - Ba! Energy Bar 5 Forest Fruits 40g",
                "item_group": "Cereal & Energy Bars",
                "brand": "Bakalland",
                "image": "https://v5.airtableusercontent.com/v3/u/26/26/1711044000000/BTE1YRq4B8Rw7yzICaT4dQ/9KpW52-dA_MDgMsTkq2CnBa6v1VuwVfkYze0qt_4kmJZKUJy17c1rsBlhv-M8GK1gkBkfmR320ODebIE_ttTRQWzfCFDZwTRfTUNlL2DxCd5Ym5lQKqtFHTfVjYR1kPZ-QVhXZFqIUOdLTQSKFdWig/Yz0Bg-MktI77iCNgb75NYEjW1r0qhv1zKwEQVyhcslM",
                "qty": 30,
                "case_size": "25",
                "stock_uom": "PCS",
                "picked_qty": 0,
                "uom": "PCS",
                "conversion_factor": 1,
                "stock_qty": 30,
                "price_list_rate": 111.47,
                "base_price_list_rate": 111.47,
                "margin_type": "",
                "margin_rate_or_amount": 0,
                "rate_with_margin": 0,
                "discount_percentage": 0,
                "discount_amount": 0,
                "base_rate_with_margin": 0,
                "rate": 111.47,
                "amount": 3344.1,
                "item_tax_template": "16% - TSL",
                "base_rate": 111.47,
                "base_amount": 3344.1,
                "pricing_rules": "",
                "stock_uom_rate": 111.47,
                "is_free_item": 0,
                "grant_commission": 1,
                "net_rate": 111.47,
                "net_amount": 3344.1,
                "base_net_rate": 111.47,
                "base_net_amount": 3344.1,
                "billed_amt": 0,
                "valuation_rate": 96.98,
                "gross_profit": 434.7,
                "delivered_by_supplier": 0,
                "supplier": "Portcross LTD",
                "weight_per_unit": 0,
                "total_weight": 0,
                "weight_uom": null,
                "warehouse": "Storage - TSL",
                "target_warehouse": null,
                "prevdoc_docname": null,
                "against_blanket_order": 0,
                "blanket_order": null,
                "blanket_order_rate": 0,
                "bom_no": null,
                "projected_qty": 227,
                "actual_qty": 77,
                "ordered_qty": 0,
                "planned_qty": 0,
                "work_order_qty": 0,
                "produced_qty": 0,
                "delivered_qty": 0,
                "returned_qty": 0,
                "additional_notes": null,
                "page_break": 0,
                "item_tax_rate": "{\"VAT - 16% - TSL\": 16.0}",
                "transaction_date": "2024-07-09",
                "doctype": "Sales Order Item"
              },
              {
                "name": "67e0d63a50",
                "owner": "elsie@bulkbox.co.ke",
                "creation": "2024-07-09 22:39:22.002237",
                "modified": "2024-07-11 13:24:17.258961",
                "modified_by": "vincent@bulkbox.co.ke",
                "parent": "SAL-ORD-2024-04085",
                "parentfield": "items",
                "parenttype": "Sales Order",
                "idx": 28,
                "docstatus": 1,
                "item_code": "RDD095",
                "customer_item_code": null,
                "ensure_delivery_based_on_produced_serial_no": 0,
                "posa_notes": null,
                "delivery_date": "2024-07-12",
                "item_name": "Haribo Goldbears 80g",
                "posa_row_id": null,
                "description": "Haribo Goldbears 80g",
                "item_group": "Chocolate & Candy",
                "brand": "Haribo",
                "image": "https://v5.airtableusercontent.com/v3/u/27/27/1711044000000/sNfG6ml5PW3IOcp6F3LopA/XfmW_rNujkL9UhZTVDA_rD59vHjPwKLCWA75xPxVDmas4PykoZ6XSxZawC24w-8plKm1EtT1ywi2IOjD8ojSThYy6JHg6mR8JYEmCyi-KAkeB0xPAWEVvmLXfAVg9g6eWHzKpwYRyY5IbekCLpVsiA/ki_opZXvqKQ0Z0LlLOoKKZSOX0Kzs-Nc0BXxp_oI_Ig",
                "qty": 25,
                "case_size": "30",
                "stock_uom": "PCS",
                "picked_qty": 0,
                "uom": "PCS",
                "conversion_factor": 1,
                "stock_qty": 25,
                "price_list_rate": 163.83,
                "base_price_list_rate": 163.83,
                "margin_type": "",
                "margin_rate_or_amount": 0,
                "rate_with_margin": 0,
                "discount_percentage": 0,
                "discount_amount": 0,
                "base_rate_with_margin": 0,
                "rate": 163.83,
                "amount": 4095.75,
                "item_tax_template": "16% - TSL",
                "base_rate": 163.83,
                "base_amount": 4095.75,
                "pricing_rules": "",
                "stock_uom_rate": 163.83,
                "is_free_item": 0,
                "grant_commission": 1,
                "net_rate": 163.83,
                "net_amount": 4095.75,
                "base_net_rate": 163.83,
                "base_net_amount": 4095.75,
                "billed_amt": 0,
                "valuation_rate": 148.12,
                "gross_profit": 392.75,
                "delivered_by_supplier": 0,
                "supplier": "Roshni Distributors LTD",
                "weight_per_unit": 0,
                "total_weight": 0,
                "weight_uom": null,
                "warehouse": "Storage - TSL",
                "target_warehouse": null,
                "prevdoc_docname": null,
                "against_blanket_order": 0,
                "blanket_order": null,
                "blanket_order_rate": 0,
                "bom_no": null,
                "projected_qty": 226.791063848,
                "actual_qty": 126,
                "ordered_qty": 0,
                "planned_qty": 0,
                "work_order_qty": 0,
                "produced_qty": 0,
                "delivered_qty": 0,
                "returned_qty": 0,
                "additional_notes": null,
                "page_break": 0,
                "item_tax_rate": "{\"VAT - 16% - TSL\": 16.0}",
                "transaction_date": "2024-07-09",
                "doctype": "Sales Order Item"
              },
              {
                "name": "8d507b9d74",
                "owner": "elsie@bulkbox.co.ke",
                "creation": "2024-07-09 22:39:22.002237",
                "modified": "2024-07-11 13:24:17.258961",
                "modified_by": "vincent@bulkbox.co.ke",
                "parent": "SAL-ORD-2024-04085",
                "parentfield": "items",
                "parenttype": "Sales Order",
                "idx": 29,
                "docstatus": 1,
                "item_code": "PPK041",
                "customer_item_code": null,
                "ensure_delivery_based_on_produced_serial_no": 0,
                "posa_notes": null,
                "delivery_date": "2024-07-12",
                "item_name": "Kettle Cooked Potato Crisps Mediterranean Tomato 40g",
                "posa_row_id": null,
                "description": "Kettle Cooked Potato Crisps Mediterranean Tomato 40g",
                "item_group": "Chips & Crisps",
                "brand": "Krackles",
                "image": "https://v5.airtableusercontent.com/v3/u/26/26/1711044000000/u9f75MeW3X7pvTW7dtb1Fg/FX6kn-5xocVm_jEdp-Sa5flBxGuAVXqh6mXSAkRejw2MN3OOWSFD3SYmjQkSoEFbwvRcTfq7DV2QlsIdDacnCmxdn-4tPXTyrvS5_TBN2_wTdscbhjvBdNuh-jbCzYcix5gRmeV_nqzsOgl6UAg3YA/5gZ5htAmYvliUCZptGn7fawKSgGhBq7J2u-D6K8a65o",
                "qty": 12,
                "case_size": "48",
                "stock_uom": "PCS",
                "picked_qty": 0,
                "uom": "PCS",
                "conversion_factor": 1,
                "stock_qty": 12,
                "price_list_rate": 56.37,
                "base_price_list_rate": 56.37,
                "margin_type": "",
                "margin_rate_or_amount": 0,
                "rate_with_margin": 0,
                "discount_percentage": 0,
                "discount_amount": 0,
                "base_rate_with_margin": 0,
                "rate": 56.37,
                "amount": 676.44,
                "item_tax_template": "16% - TSL",
                "base_rate": 56.37,
                "base_amount": 676.44,
                "pricing_rules": "",
                "stock_uom_rate": 56.37,
                "is_free_item": 0,
                "grant_commission": 1,
                "net_rate": 56.37,
                "net_amount": 676.44,
                "base_net_rate": 56.37,
                "base_net_amount": 676.44,
                "billed_amt": 0,
                "valuation_rate": 54.96,
                "gross_profit": 16.92,
                "delivered_by_supplier": 0,
                "supplier": "Propack Kenya",
                "weight_per_unit": 0,
                "total_weight": 0,
                "weight_uom": null,
                "warehouse": "Storage - TSL",
                "target_warehouse": null,
                "prevdoc_docname": null,
                "against_blanket_order": 0,
                "blanket_order": null,
                "blanket_order_rate": 0,
                "bom_no": null,
                "projected_qty": 53.734417495,
                "actual_qty": 0,
                "ordered_qty": 0,
                "planned_qty": 0,
                "work_order_qty": 0,
                "produced_qty": 0,
                "delivered_qty": 0,
                "returned_qty": 0,
                "additional_notes": null,
                "page_break": 0,
                "item_tax_rate": "{\"VAT - 16% - TSL\": 16.0}",
                "transaction_date": "2024-07-09",
                "doctype": "Sales Order Item"
              },
              {
                "name": "20d27c352e",
                "owner": "elsie@bulkbox.co.ke",
                "creation": "2024-07-09 22:39:22.002237",
                "modified": "2024-07-11 13:24:17.258961",
                "modified_by": "vincent@bulkbox.co.ke",
                "parent": "SAL-ORD-2024-04085",
                "parentfield": "items",
                "parenttype": "Sales Order",
                "idx": 30,
                "docstatus": 1,
                "item_code": "PPK019",
                "customer_item_code": null,
                "ensure_delivery_based_on_produced_serial_no": 0,
                "posa_notes": null,
                "delivery_date": "2024-07-12",
                "item_name": "Krackles Potato Crisps Tingly Cheese & Onion 125g",
                "posa_row_id": null,
                "description": "Krackles Potato Crisps Tingly Cheese &amp; Onion 125g",
                "item_group": "Chips & Crisps",
                "brand": "Krackles",
                "image": "https://v5.airtableusercontent.com/v3/u/27/27/1711044000000/d1BYG2cJHwH4ksD_EBmjng/bioibsFYJH_LJX8EyvFL2YbVU3Z013ctz94YVtin4qTD0faCCht33hIXGsU5IKO2Enbz8D3EwDt42VofCdksZtN4IL8xfa18vJxkhFawl40CXu0Dudt9Z5nVLAC38dLbXzBnWjQxSOpR3u2FBOVeG_fEOITg0fvT41C8Z6fl2Ii2-tK3KV9eGDtXX2gquDdQvClLJNhSsAhoP8P05BND4w/C1Kz8bTNUYx7MsmOvYG4c0uEGk3IkuhMRmnrUXoBYGY",
                "qty": 36,
                "case_size": "12",
                "stock_uom": "PCS",
                "picked_qty": 0,
                "uom": "PCS",
                "conversion_factor": 1,
                "stock_qty": 36,
                "price_list_rate": 155.18,
                "base_price_list_rate": 155.18,
                "margin_type": "",
                "margin_rate_or_amount": 0,
                "rate_with_margin": 0,
                "discount_percentage": 0,
                "discount_amount": 0,
                "base_rate_with_margin": 0,
                "rate": 155.18,
                "amount": 5586.48,
                "item_tax_template": "16% - TSL",
                "base_rate": 155.18,
                "base_amount": 5586.48,
                "pricing_rules": "",
                "stock_uom_rate": 155.18,
                "is_free_item": 0,
                "grant_commission": 1,
                "net_rate": 155.18,
                "net_amount": 5586.48,
                "base_net_rate": 155.18,
                "base_net_amount": 5586.48,
                "billed_amt": 0,
                "valuation_rate": 139.66,
                "gross_profit": 558.72,
                "delivered_by_supplier": 0,
                "supplier": "Propack Kenya",
                "weight_per_unit": 0,
                "total_weight": 0,
                "weight_uom": null,
                "warehouse": "Storage - TSL",
                "target_warehouse": null,
                "prevdoc_docname": null,
                "against_blanket_order": 0,
                "blanket_order": null,
                "blanket_order_rate": 0,
                "bom_no": null,
                "projected_qty": 38.736124789,
                "actual_qty": 12,
                "ordered_qty": 0,
                "planned_qty": 0,
                "work_order_qty": 0,
                "produced_qty": 0,
                "delivered_qty": 0,
                "returned_qty": 0,
                "additional_notes": null,
                "page_break": 0,
                "item_tax_rate": "{\"VAT - 16% - TSL\": 16.0}",
                "transaction_date": "2024-07-09",
                "doctype": "Sales Order Item"
              },
              {
                "name": "03f09bcbe2",
                "owner": "elsie@bulkbox.co.ke",
                "creation": "2024-07-09 22:39:22.002237",
                "modified": "2024-07-11 13:24:17.258961",
                "modified_by": "vincent@bulkbox.co.ke",
                "parent": "SAL-ORD-2024-04085",
                "parentfield": "items",
                "parenttype": "Sales Order",
                "idx": 31,
                "docstatus": 1,
                "item_code": "PPK0282",
                "customer_item_code": null,
                "ensure_delivery_based_on_produced_serial_no": 0,
                "posa_notes": null,
                "delivery_date": "2024-07-12",
                "item_name": "Kettle Cooked Potato Crisps Assorted 40g",
                "posa_row_id": null,
                "description": "Kettle Cooked Potato Crisps Assorted 40g",
                "item_group": "Chips & Crisps",
                "brand": "Krackles",
                "image": "",
                "qty": 48,
                "case_size": "48",
                "stock_uom": "PCS",
                "picked_qty": 0,
                "uom": "PCS",
                "conversion_factor": 1,
                "stock_qty": 48,
                "price_list_rate": 0,
                "base_price_list_rate": 0,
                "margin_type": "",
                "margin_rate_or_amount": 0,
                "rate_with_margin": 0,
                "discount_percentage": 0,
                "discount_amount": 0,
                "base_rate_with_margin": 0,
                "rate": 0,
                "amount": 0,
                "item_tax_template": "16% - TSL",
                "base_rate": 0,
                "base_amount": 0,
                "pricing_rules": "",
                "stock_uom_rate": 0,
                "is_free_item": 0,
                "grant_commission": 1,
                "net_rate": 0,
                "net_amount": 0,
                "base_net_rate": 0,
                "base_net_amount": 0,
                "billed_amt": 0,
                "valuation_rate": 0,
                "gross_profit": 0,
                "delivered_by_supplier": 0,
                "supplier": null,
                "weight_per_unit": 0,
                "total_weight": 0,
                "weight_uom": null,
                "warehouse": "Storage - TSL",
                "target_warehouse": null,
                "prevdoc_docname": null,
                "against_blanket_order": 0,
                "blanket_order": null,
                "blanket_order_rate": 0,
                "bom_no": null,
                "projected_qty": 0,
                "actual_qty": 0,
                "ordered_qty": 0,
                "planned_qty": 0,
                "work_order_qty": 0,
                "produced_qty": 0,
                "delivered_qty": 0,
                "returned_qty": 0,
                "additional_notes": null,
                "page_break": 0,
                "item_tax_rate": "{\"VAT - 16% - TSL\": 16.0}",
                "transaction_date": "2024-07-09",
                "doctype": "Sales Order Item"
              },
              {
                "name": "cd3210aec6",
                "owner": "elsie@bulkbox.co.ke",
                "creation": "2024-07-09 22:39:22.002237",
                "modified": "2024-07-11 13:24:17.258961",
                "modified_by": "vincent@bulkbox.co.ke",
                "parent": "SAL-ORD-2024-04085",
                "parentfield": "items",
                "parenttype": "Sales Order",
                "idx": 32,
                "docstatus": 1,
                "item_code": "PPK040",
                "customer_item_code": null,
                "ensure_delivery_based_on_produced_serial_no": 0,
                "posa_notes": null,
                "delivery_date": "2024-07-12",
                "item_name": "Kettle Cooked Potato Crisps Perfectly Salted 40g",
                "posa_row_id": null,
                "description": "Kettle Cooked Potato Crisps Perfectly Salted 40g",
                "item_group": "Chips & Crisps",
                "brand": "Krackles",
                "image": "https://v5.airtableusercontent.com/v3/u/26/26/1711044000000/pDGQYtZT6gzvL99-Hsmxyg/wcjoEks6tWRterKGIULX0Yqnq4Y13-cJVOs1Zxw0DkJhPF9rMKJDTWqWN3rngIQX4sLIJ6vL3yRdhwlulWrHSqUG9lcwbPk6KaOwKTl7mM8tIf_zkRLTzCIpfTN-RY-CPuj1ThGvUluMe18x69aHOiWMNFcGv7HefDxgSGWYs7JT6SZV-T4vd_ontdZ7eqJ5/hBInukf63mHtXwCDVqEEKJoJ-14hyYXbICuErEqttCw",
                "qty": 12,
                "case_size": "48",
                "stock_uom": "PCS",
                "picked_qty": 0,
                "uom": "PCS",
                "conversion_factor": 1,
                "stock_qty": 12,
                "price_list_rate": 56.37,
                "base_price_list_rate": 56.37,
                "margin_type": "",
                "margin_rate_or_amount": 0,
                "rate_with_margin": 0,
                "discount_percentage": 0,
                "discount_amount": 0,
                "base_rate_with_margin": 0,
                "rate": 56.37,
                "amount": 676.44,
                "item_tax_template": "16% - TSL",
                "base_rate": 56.37,
                "base_amount": 676.44,
                "pricing_rules": "",
                "stock_uom_rate": 56.37,
                "is_free_item": 0,
                "grant_commission": 1,
                "net_rate": 56.37,
                "net_amount": 676.44,
                "base_net_rate": 56.37,
                "base_net_amount": 676.44,
                "billed_amt": 0,
                "valuation_rate": 49.46,
                "gross_profit": 82.92,
                "delivered_by_supplier": 0,
                "supplier": "Propack Kenya",
                "weight_per_unit": 0,
                "total_weight": 0,
                "weight_uom": null,
                "warehouse": "Storage - TSL",
                "target_warehouse": null,
                "prevdoc_docname": null,
                "against_blanket_order": 0,
                "blanket_order": null,
                "blanket_order_rate": 0,
                "bom_no": null,
                "projected_qty": 52.458201378,
                "actual_qty": 24,
                "ordered_qty": 0,
                "planned_qty": 0,
                "work_order_qty": 0,
                "produced_qty": 0,
                "delivered_qty": 0,
                "returned_qty": 0,
                "additional_notes": null,
                "page_break": 0,
                "item_tax_rate": "{\"VAT - 16% - TSL\": 16.0}",
                "transaction_date": "2024-07-09",
                "doctype": "Sales Order Item"
              },
              {
                "name": "c9c816c4c0",
                "owner": "elsie@bulkbox.co.ke",
                "creation": "2024-07-09 22:39:22.002237",
                "modified": "2024-07-11 13:24:17.258961",
                "modified_by": "vincent@bulkbox.co.ke",
                "parent": "SAL-ORD-2024-04085",
                "parentfield": "items",
                "parenttype": "Sales Order",
                "idx": 33,
                "docstatus": 1,
                "item_code": "PFT006",
                "customer_item_code": null,
                "ensure_delivery_based_on_produced_serial_no": 0,
                "posa_notes": null,
                "delivery_date": "2024-07-12",
                "item_name": "Nescaf Classic Coffee Jar 50g",
                "posa_row_id": null,
                "description": "Nescaf Classic Coffee Jar 50g",
                "item_group": "Instant Coffee",
                "brand": "Nestle",
                "image": "https://v5.airtableusercontent.com/v3/u/26/26/1711044000000/wO4gSKayd1kN7_xyXpWWaA/8-2pSRhX2xXoeTTCmyuttJJ6H1SSwLaIgd-21alXdPT4nyogW_ZZcO7j33qrqvEMDh9PkWjzMcEobN83I0pfGTKhyqGYolHzQjDI46LLI2ELDsXUUAoiy0FjS16k9OUT4dX5MrPNELFXnIOPQ5wEd-XYR0InLCzM9Jem4R7dJHA/9Yg-vfq7ATYWTc_W4OTjoC-6VqeNuRmrR_IWBJ9vyT8",
                "qty": 2,
                "case_size": "24",
                "stock_uom": "PCS",
                "picked_qty": 0,
                "uom": "PCS",
                "conversion_factor": 1,
                "stock_qty": 2,
                "price_list_rate": 308,
                "base_price_list_rate": 308,
                "margin_type": "",
                "margin_rate_or_amount": 0,
                "rate_with_margin": 0,
                "discount_percentage": 0,
                "discount_amount": 0,
                "base_rate_with_margin": 0,
                "rate": 308,
                "amount": 616,
                "item_tax_template": "16% - TSL",
                "base_rate": 308,
                "base_amount": 616,
                "pricing_rules": "",
                "stock_uom_rate": 308,
                "is_free_item": 0,
                "grant_commission": 1,
                "net_rate": 308,
                "net_amount": 616,
                "base_net_rate": 308,
                "base_net_amount": 616,
                "billed_amt": 0,
                "valuation_rate": 293.57,
                "gross_profit": 28.86,
                "delivered_by_supplier": 0,
                "supplier": "Pinefrost LTD",
                "weight_per_unit": 0,
                "total_weight": 0,
                "weight_uom": null,
                "warehouse": "Storage - TSL",
                "target_warehouse": null,
                "prevdoc_docname": null,
                "against_blanket_order": 0,
                "blanket_order": null,
                "blanket_order_rate": 0,
                "bom_no": null,
                "projected_qty": 36,
                "actual_qty": 16,
                "ordered_qty": 0,
                "planned_qty": 0,
                "work_order_qty": 0,
                "produced_qty": 0,
                "delivered_qty": 0,
                "returned_qty": 0,
                "additional_notes": null,
                "page_break": 0,
                "item_tax_rate": "{\"VAT - 16% - TSL\": 16.0}",
                "transaction_date": "2024-07-09",
                "doctype": "Sales Order Item"
              },
              {
                "name": "9bdc3e516a",
                "owner": "elsie@bulkbox.co.ke",
                "creation": "2024-07-09 22:39:22.002237",
                "modified": "2024-07-11 13:24:17.258961",
                "modified_by": "vincent@bulkbox.co.ke",
                "parent": "SAL-ORD-2024-04085",
                "parentfield": "items",
                "parenttype": "Sales Order",
                "idx": 34,
                "docstatus": 1,
                "item_code": "PFT007",
                "customer_item_code": null,
                "ensure_delivery_based_on_produced_serial_no": 0,
                "posa_notes": null,
                "delivery_date": "2024-07-12",
                "item_name": "Nescaf Classic Coffee Jar 100g",
                "posa_row_id": null,
                "description": "Nescaf Classic Coffee Jar 100g",
                "item_group": "Instant Coffee",
                "brand": "Nestle",
                "image": "https://v5.airtableusercontent.com/v3/u/27/27/1711044000000/N9H814figTGOurm3FaSvZA/7eDkKyfFKwroTkq-hIxdenQMck7UxtdRnY_mDJeT2vXSjOERjsHXztDk1LgQ-QjSEojZUASe33t1hej7AwXlLgHAA69wIz0IXhU8AVn7ToNxCewJoaNdVIZgYUzU14aOHYJluOhj558e0es9A0Bw5ELwsNPbt_CNnd8X-V1dsdo/kPvNl-azftbj4-Cl7BWztQlXHzePFUZqmkKd2FNtNOU",
                "qty": 2,
                "case_size": "24",
                "stock_uom": "PCS",
                "picked_qty": 0,
                "uom": "PCS",
                "conversion_factor": 1,
                "stock_qty": 2,
                "price_list_rate": 592.9,
                "base_price_list_rate": 592.9,
                "margin_type": "",
                "margin_rate_or_amount": 0,
                "rate_with_margin": 0,
                "discount_percentage": 0,
                "discount_amount": 0,
                "base_rate_with_margin": 0,
                "rate": 592.9,
                "amount": 1185.8,
                "item_tax_template": "16% - TSL",
                "base_rate": 592.9,
                "base_amount": 1185.8,
                "pricing_rules": "",
                "stock_uom_rate": 592.9,
                "is_free_item": 0,
                "grant_commission": 1,
                "net_rate": 592.9,
                "net_amount": 1185.8,
                "base_net_rate": 592.9,
                "base_net_amount": 1185.8,
                "billed_amt": 0,
                "valuation_rate": 542.8,
                "gross_profit": 100.2,
                "delivered_by_supplier": 0,
                "supplier": "Pinefrost LTD",
                "weight_per_unit": 0,
                "total_weight": 0,
                "weight_uom": null,
                "warehouse": "Storage - TSL",
                "target_warehouse": null,
                "prevdoc_docname": null,
                "against_blanket_order": 0,
                "blanket_order": null,
                "blanket_order_rate": 0,
                "bom_no": null,
                "projected_qty": 43.368062395,
                "actual_qty": 0,
                "ordered_qty": 0,
                "planned_qty": 0,
                "work_order_qty": 0,
                "produced_qty": 0,
                "delivered_qty": 0,
                "returned_qty": 0,
                "additional_notes": null,
                "page_break": 0,
                "item_tax_rate": "{\"VAT - 16% - TSL\": 16.0}",
                "transaction_date": "2024-07-09",
                "doctype": "Sales Order Item"
              },
              {
                "name": "d9fb29699a",
                "owner": "elsie@bulkbox.co.ke",
                "creation": "2024-07-09 22:39:22.002237",
                "modified": "2024-07-11 13:24:17.258961",
                "modified_by": "vincent@bulkbox.co.ke",
                "parent": "SAL-ORD-2024-04085",
                "parentfield": "items",
                "parenttype": "Sales Order",
                "idx": 35,
                "docstatus": 1,
                "item_code": "PPK007",
                "customer_item_code": null,
                "ensure_delivery_based_on_produced_serial_no": 0,
                "posa_notes": null,
                "delivery_date": "2024-07-12",
                "item_name": "Krackles Potato Crisps Assorted 30g",
                "posa_row_id": null,
                "description": "Krackles Potato Crisps Assorted 30g",
                "item_group": "Chips & Crisps",
                "brand": "Krackles",
                "image": "https://v5.airtableusercontent.com/v3/u/26/26/1711044000000/kl5qZy4GobhgaY-meb9Smw/3C9GQS_s7ynTBm9XonjyjAFMqywyMnYNujexE9Fam6MDhfJrnuC1kErSkeM2WFmDDmGacg7CtHWyrAAGcLD7b7uLsmsgu0ij3E-iBIuOOvHZ_-1wLfS0DXNARmHMdHzltVQp-y5oB0pWqUEpr9_hqlWPHp0lWNhR0_B9JDTHmp0/NLb_zSsQ5aOTrwWb5zFN6ZWUlUdn7CHjGRGEKsIb3vg",
                "qty": 144,
                "case_size": "48",
                "stock_uom": "PCS",
                "picked_qty": 0,
                "uom": "PCS",
                "conversion_factor": 1,
                "stock_qty": 144,
                "price_list_rate": 42.67,
                "base_price_list_rate": 42.67,
                "margin_type": "",
                "margin_rate_or_amount": 0,
                "rate_with_margin": 0,
                "discount_percentage": 0,
                "discount_amount": 0,
                "base_rate_with_margin": 0,
                "rate": 42.67,
                "amount": 6144.48,
                "item_tax_template": "16% - TSL",
                "base_rate": 42.67,
                "base_amount": 6144.48,
                "pricing_rules": "",
                "stock_uom_rate": 42.67,
                "is_free_item": 0,
                "grant_commission": 1,
                "net_rate": 42.67,
                "net_amount": 6144.48,
                "base_net_rate": 42.67,
                "base_net_amount": 6144.48,
                "billed_amt": 0,
                "valuation_rate": 38.41,
                "gross_profit": 613.44,
                "delivered_by_supplier": 0,
                "supplier": "Propack Kenya",
                "weight_per_unit": 0,
                "total_weight": 0,
                "weight_uom": null,
                "warehouse": "Storage - TSL",
                "target_warehouse": null,
                "prevdoc_docname": null,
                "against_blanket_order": 0,
                "blanket_order": null,
                "blanket_order_rate": 0,
                "bom_no": null,
                "projected_qty": 288,
                "actual_qty": 48,
                "ordered_qty": 0,
                "planned_qty": 0,
                "work_order_qty": 0,
                "produced_qty": 0,
                "delivered_qty": 0,
                "returned_qty": 0,
                "additional_notes": null,
                "page_break": 0,
                "item_tax_rate": "{\"VAT - 16% - TSL\": 16.0}",
                "transaction_date": "2024-07-09",
                "doctype": "Sales Order Item"
              }
            ]
          },
          "webhookUrl": "https://n8n.bulkbox.cloud/webhook/995ada04-97db-4594-94aa-584c5d9eb82d",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "pA3zEasbGp50knPq"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-03-05T20:25:50.007Z",
      "updatedAt": "2024-03-05T20:25:50.007Z",
      "id": "Axa7tUwnaZFPBQmp",
      "name": "Production"
    }
  ],
  "triggerCount": 2,
  "updatedAt": "2024-07-11T13:32:45.000Z",
  "versionId": "6df71be3-cfe8-4ef3-9a0e-4926ce9a8f0b"
}