workflows/Landing Page Assignment.json
{
  "active": false,
  "connections": {
    "When clicking \"Test workflow\"": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Airtable1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Airtable2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Airtable3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable2": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable3": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-09-10T09:41:00.545Z",
  "id": "VRdGmbHr8OQzjeTB",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Landing Page Assignment",
  "nodes": [
    {
      "parameters": {},
      "id": "e11ee090-3c2f-4728-878d-de1d0ac219a7",
      "name": "When clicking \"Test workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        840,
        340
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appqmFBvp9I9IB1YV",
          "mode": "list",
          "cachedResultName": "Contact Database",
          "cachedResultUrl": "https://airtable.com/appqmFBvp9I9IB1YV"
        },
        "table": {
          "__rl": true,
          "value": "tblBkafwuK7H4aReA",
          "mode": "list",
          "cachedResultName": "Contacts",
          "cachedResultUrl": "https://airtable.com/appqmFBvp9I9IB1YV/tblBkafwuK7H4aReA"
        },
        "filterByFormula": "({Source} = \"Landing Page\")",
        "options": {}
      },
      "id": "7b33f55d-d077-4b9a-a72e-9ec0c456d5aa",
      "name": "Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        1060,
        340
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "q5ICF2DzH8KpL3Ai",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "0f282f42-dc27-48c9-b6f0-2d69179db281",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2340,
        660
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "a16da689-2902-4db8-9cb7-0f111d46f36b",
              "leftValue": "={{ $json['Assign Sales Member'] }}",
              "rightValue": "Sophia Khalid",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0c46cea3-01b9-4f89-892d-26734d38b1f3",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2260,
        740
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appqmFBvp9I9IB1YV",
          "mode": "list",
          "cachedResultName": "Contact Database",
          "cachedResultUrl": "https://airtable.com/appqmFBvp9I9IB1YV"
        },
        "table": {
          "__rl": true,
          "value": "tblBkafwuK7H4aReA",
          "mode": "list",
          "cachedResultName": "Contacts",
          "cachedResultUrl": "https://airtable.com/appqmFBvp9I9IB1YV/tblBkafwuK7H4aReA"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "Assign Sales Member": "Sophia Khalid"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Job Role",
              "displayName": "Job Role",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Owner",
                  "value": "Owner"
                },
                {
                  "name": "General Manager",
                  "value": "General Manager"
                },
                {
                  "name": "Procurement Manager",
                  "value": "Procurement Manager"
                },
                {
                  "name": "Procurement Officer",
                  "value": "Procurement Officer"
                },
                {
                  "name": "Office Adminstrator",
                  "value": "Office Adminstrator"
                },
                {
                  "name": "Undefined",
                  "value": "Undefined"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Contact Status",
              "displayName": "Contact Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Lead",
                  "value": "Lead"
                },
                {
                  "name": "One Time Customers",
                  "value": "One Time Customers"
                },
                {
                  "name": "Account",
                  "value": "Account"
                },
                {
                  "name": "Unassigned",
                  "value": "Unassigned"
                },
                {
                  "name": "Lost Customer",
                  "value": "Lost Customer"
                },
                {
                  "name": "Closed",
                  "value": "Closed"
                },
                {
                  "name": "Cash Customer",
                  "value": "Cash Customer"
                },
                {
                  "name": "Credit Customer",
                  "value": "Credit Customer"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Contact Type",
              "displayName": "Contact Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Food Service",
                  "value": "Food Service"
                },
                {
                  "name": "Retail",
                  "value": "Retail"
                },
                {
                  "name": "Corporate",
                  "value": "Corporate"
                },
                {
                  "name": "Unassigned",
                  "value": "Unassigned"
                },
                {
                  "name": "Consumer",
                  "value": "Consumer"
                },
                {
                  "name": "Other Business",
                  "value": "Other Business"
                },
                {
                  "name": "Retailer",
                  "value": "Retailer"
                },
                {
                  "name": "Office",
                  "value": "Office"
                },
                {
                  "name": "NGO",
                  "value": "NGO"
                },
                {
                  "name": "Restaurant",
                  "value": "Restaurant"
                },
                {
                  "name": "Other",
                  "value": "Other"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Website",
                  "value": "Website"
                },
                {
                  "name": "App",
                  "value": "App"
                },
                {
                  "name": "Landing Page",
                  "value": "Landing Page"
                },
                {
                  "name": "Other Forms",
                  "value": "Other Forms"
                },
                {
                  "name": "ERP",
                  "value": "ERP"
                },
                {
                  "name": "Whatsapp",
                  "value": "Whatsapp"
                },
                {
                  "name": "Email",
                  "value": "Email"
                },
                {
                  "name": "Call in",
                  "value": "Call in"
                },
                {
                  "name": "Supplier Referall",
                  "value": "Supplier Referall"
                },
                {
                  "name": "Customer Referall",
                  "value": "Customer Referall"
                },
                {
                  "name": "Outbound",
                  "value": "Outbound"
                },
                {
                  "name": "Live Chat",
                  "value": "Live Chat"
                },
                {
                  "name": "",
                  "value": ""
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Tel",
              "displayName": "Tel",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Created Date",
              "displayName": "Created Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Send to CRM / Moosend",
              "displayName": "Send to CRM / Moosend",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Send to CRM",
                  "value": "Send to CRM"
                },
                {
                  "name": "Moosend",
                  "value": "Moosend"
                },
                {
                  "name": "Send to CRM Sophia",
                  "value": "Send to CRM Sophia"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Created By",
              "displayName": "Created By",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "User Group ID",
              "displayName": "User Group ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Assigned",
              "displayName": "Assigned",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Month",
              "displayName": "Month",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Send Sales Email",
              "displayName": "Send Sales Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Send Intro Sequence",
                  "value": "Send Intro Sequence"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "New Opportunity Stage",
              "displayName": "New Opportunity Stage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "New",
                  "value": "New"
                },
                {
                  "name": "Info Shared",
                  "value": "Info Shared"
                },
                {
                  "name": "Meeting Scheduled",
                  "value": "Meeting Scheduled"
                },
                {
                  "name": "Negotiation",
                  "value": "Negotiation"
                },
                {
                  "name": "Account Opening",
                  "value": "Account Opening"
                },
                {
                  "name": "Closed Won",
                  "value": "Closed Won"
                },
                {
                  "name": "Closed Lost",
                  "value": "Closed Lost"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Upsell Stage",
              "displayName": "Upsell Stage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Outreach Stage",
                  "value": "Outreach Stage"
                },
                {
                  "name": "Meeting Stage",
                  "value": "Meeting Stage"
                },
                {
                  "name": "Closed-Won",
                  "value": "Closed-Won"
                },
                {
                  "name": "Closed-Lost",
                  "value": "Closed-Lost"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expected MRR",
              "displayName": "Expected MRR",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expected Close Date",
              "displayName": "Expected Close Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "New Deals",
              "displayName": "New Deals",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "New Deals copy",
              "displayName": "New Deals copy",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Upsell Deals copy",
              "displayName": "Upsell Deals copy",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Interactions",
              "displayName": "Interactions",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Assign Sales Member",
              "displayName": "Assign Sales Member",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Ahmed Wurie",
                  "value": "Ahmed Wurie"
                },
                {
                  "name": "Assign Sales Member",
                  "value": "Assign Sales Member"
                },
                {
                  "name": "Brian Mong'are",
                  "value": "Brian Mong'are"
                },
                {
                  "name": "Elsie Watare",
                  "value": "Elsie Watare"
                },
                {
                  "name": "Emma Anagei Anagei",
                  "value": "Emma Anagei Anagei"
                },
                {
                  "name": "Eugene Aaron",
                  "value": "Eugene Aaron"
                },
                {
                  "name": "Rashid Salim",
                  "value": "Rashid Salim"
                },
                {
                  "name": "Sophia Khalid",
                  "value": "Sophia Khalid"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Allocation",
              "displayName": "Lead Allocation",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Assign Sales (Round Robin)",
              "displayName": "Assign Sales (Round Robin)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Last Calendar Week Check",
              "displayName": "Last Calendar Week Check",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Last Calendar Month",
              "displayName": "Last Calendar Month",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "60af7b13-d24a-4342-b41d-e9169c8a0455",
      "name": "Airtable1",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        2560,
        760
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "q5ICF2DzH8KpL3Ai",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "d2e214ea-5986-4837-b0d5-f977d8df687b",
      "name": "Loop Over Items1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1280,
        340
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "da20c77a-50c6-45f4-943d-732fec3390cc",
              "leftValue": "={{ $json.Name }}",
              "rightValue": "Emma",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b1e7d3ce-8ad6-481e-a573-f423a18b608c",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1740,
        460
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "base": {
          "__rl": true,
          "value": "appqmFBvp9I9IB1YV",
          "mode": "list",
          "cachedResultName": "Contact Database",
          "cachedResultUrl": "https://airtable.com/appqmFBvp9I9IB1YV"
        },
        "table": {
          "__rl": true,
          "value": "tblgfFeJj9iWctInZ",
          "mode": "list",
          "cachedResultName": "Lead Allocation",
          "cachedResultUrl": "https://airtable.com/appqmFBvp9I9IB1YV/tblgfFeJj9iWctInZ"
        },
        "id": "={{ $json['Lead Allocation'][0] }}",
        "options": {}
      },
      "id": "bd12a691-0fa0-4aca-903a-233403492bd5",
      "name": "Airtable2",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        1520,
        420
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "q5ICF2DzH8KpL3Ai",
          "name": "Airtable Personal Access Token account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appqmFBvp9I9IB1YV",
          "mode": "list",
          "cachedResultName": "Contact Database",
          "cachedResultUrl": "https://airtable.com/appqmFBvp9I9IB1YV"
        },
        "table": {
          "__rl": true,
          "value": "tblBkafwuK7H4aReA",
          "mode": "list",
          "cachedResultName": "Contacts",
          "cachedResultUrl": "https://airtable.com/appqmFBvp9I9IB1YV/tblBkafwuK7H4aReA"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Loop Over Items1').item.json.id }}",
            "Assign Sales Member": "Emma Anagei Anagei"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Job Role",
              "displayName": "Job Role",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Owner",
                  "value": "Owner"
                },
                {
                  "name": "General Manager",
                  "value": "General Manager"
                },
                {
                  "name": "Procurement Manager",
                  "value": "Procurement Manager"
                },
                {
                  "name": "Procurement Officer",
                  "value": "Procurement Officer"
                },
                {
                  "name": "Office Adminstrator",
                  "value": "Office Adminstrator"
                },
                {
                  "name": "Undefined",
                  "value": "Undefined"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Contact Status",
              "displayName": "Contact Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Lead",
                  "value": "Lead"
                },
                {
                  "name": "One Time Customers",
                  "value": "One Time Customers"
                },
                {
                  "name": "Account",
                  "value": "Account"
                },
                {
                  "name": "Unassigned",
                  "value": "Unassigned"
                },
                {
                  "name": "Lost Customer",
                  "value": "Lost Customer"
                },
                {
                  "name": "Closed",
                  "value": "Closed"
                },
                {
                  "name": "Cash Customer",
                  "value": "Cash Customer"
                },
                {
                  "name": "Credit Customer",
                  "value": "Credit Customer"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Contact Type",
              "displayName": "Contact Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Food Service",
                  "value": "Food Service"
                },
                {
                  "name": "Retail",
                  "value": "Retail"
                },
                {
                  "name": "Corporate",
                  "value": "Corporate"
                },
                {
                  "name": "Unassigned",
                  "value": "Unassigned"
                },
                {
                  "name": "Consumer",
                  "value": "Consumer"
                },
                {
                  "name": "Other Business",
                  "value": "Other Business"
                },
                {
                  "name": "Retailer",
                  "value": "Retailer"
                },
                {
                  "name": "Office",
                  "value": "Office"
                },
                {
                  "name": "NGO",
                  "value": "NGO"
                },
                {
                  "name": "Restaurant",
                  "value": "Restaurant"
                },
                {
                  "name": "Other",
                  "value": "Other"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Website",
                  "value": "Website"
                },
                {
                  "name": "App",
                  "value": "App"
                },
                {
                  "name": "Landing Page",
                  "value": "Landing Page"
                },
                {
                  "name": "Other Forms",
                  "value": "Other Forms"
                },
                {
                  "name": "ERP",
                  "value": "ERP"
                },
                {
                  "name": "Whatsapp",
                  "value": "Whatsapp"
                },
                {
                  "name": "Email",
                  "value": "Email"
                },
                {
                  "name": "Call in",
                  "value": "Call in"
                },
                {
                  "name": "Supplier Referall",
                  "value": "Supplier Referall"
                },
                {
                  "name": "Customer Referall",
                  "value": "Customer Referall"
                },
                {
                  "name": "Outbound",
                  "value": "Outbound"
                },
                {
                  "name": "Live Chat",
                  "value": "Live Chat"
                },
                {
                  "name": "",
                  "value": ""
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Tel",
              "displayName": "Tel",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Created Date",
              "displayName": "Created Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Send to CRM / Moosend",
              "displayName": "Send to CRM / Moosend",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Send to CRM",
                  "value": "Send to CRM"
                },
                {
                  "name": "Moosend",
                  "value": "Moosend"
                },
                {
                  "name": "Send to CRM Sophia",
                  "value": "Send to CRM Sophia"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Created By",
              "displayName": "Created By",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "User Group ID",
              "displayName": "User Group ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Assigned",
              "displayName": "Assigned",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Month",
              "displayName": "Month",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Send Sales Email",
              "displayName": "Send Sales Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Send Intro Sequence",
                  "value": "Send Intro Sequence"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "New Opportunity Stage",
              "displayName": "New Opportunity Stage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "New",
                  "value": "New"
                },
                {
                  "name": "Info Shared",
                  "value": "Info Shared"
                },
                {
                  "name": "Meeting Scheduled",
                  "value": "Meeting Scheduled"
                },
                {
                  "name": "Negotiation",
                  "value": "Negotiation"
                },
                {
                  "name": "Account Opening",
                  "value": "Account Opening"
                },
                {
                  "name": "Closed Won",
                  "value": "Closed Won"
                },
                {
                  "name": "Closed Lost",
                  "value": "Closed Lost"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Upsell Stage",
              "displayName": "Upsell Stage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Outreach Stage",
                  "value": "Outreach Stage"
                },
                {
                  "name": "Meeting Stage",
                  "value": "Meeting Stage"
                },
                {
                  "name": "Closed-Won",
                  "value": "Closed-Won"
                },
                {
                  "name": "Closed-Lost",
                  "value": "Closed-Lost"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expected MRR",
              "displayName": "Expected MRR",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expected Close Date",
              "displayName": "Expected Close Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "New Deals",
              "displayName": "New Deals",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "New Deals copy",
              "displayName": "New Deals copy",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Upsell Deals copy",
              "displayName": "Upsell Deals copy",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Interactions",
              "displayName": "Interactions",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Assign Sales Member",
              "displayName": "Assign Sales Member",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Ahmed Wurie",
                  "value": "Ahmed Wurie"
                },
                {
                  "name": "Assign Sales Member",
                  "value": "Assign Sales Member"
                },
                {
                  "name": "Brian Mong'are",
                  "value": "Brian Mong'are"
                },
                {
                  "name": "Elsie Watare",
                  "value": "Elsie Watare"
                },
                {
                  "name": "Emma Anagei Anagei",
                  "value": "Emma Anagei Anagei"
                },
                {
                  "name": "Eugene Aaron",
                  "value": "Eugene Aaron"
                },
                {
                  "name": "Rashid Salim",
                  "value": "Rashid Salim"
                },
                {
                  "name": "Sophia Khalid",
                  "value": "Sophia Khalid"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Allocation",
              "displayName": "Lead Allocation",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Assign Sales (Round Robin)",
              "displayName": "Assign Sales (Round Robin)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Last Calendar Week Check",
              "displayName": "Last Calendar Week Check",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Last Calendar Month",
              "displayName": "Last Calendar Month",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "86ddf0da-c553-4598-8309-d888434ae4ff",
      "name": "Airtable3",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        1980,
        500
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "q5ICF2DzH8KpL3Ai",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-09-10T11:09:39.000Z",
  "versionId": "e62d02e4-2fba-4b52-a6a9-7bbae5c60fe5"
}