workflows/Margin Share.json
{
  "active": false,
  "connections": {
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "0%",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "0%": {
      "main": [
        [
          {
            "node": "Airtable1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "35%",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "35%": {
      "main": [
        [
          {
            "node": "Airtable2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "30%",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "30%": {
      "main": [
        [
          {
            "node": "Airtable3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "40%",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "40%": {
      "main": [
        [
          {
            "node": "Airtable4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "45%",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "45%": {
      "main": [
        [
          {
            "node": "Airtable5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "50%",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "50%": {
      "main": [
        [
          {
            "node": "Airtable6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Airtable7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable3": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable4": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable5": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable6": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable7": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-09-26T09:48:31.339Z",
  "id": "MoCAgzCpvDuPgih2",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Margin Share",
  "nodes": [
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appSCi0a1zPuJizxg",
          "mode": "list",
          "cachedResultName": "Bulkbox Final Master",
          "cachedResultUrl": "https://airtable.com/appSCi0a1zPuJizxg"
        },
        "table": {
          "__rl": true,
          "value": "tblWlt70u5wv3qCre",
          "mode": "list",
          "cachedResultName": "JBP Price",
          "cachedResultUrl": "https://airtable.com/appSCi0a1zPuJizxg/tblWlt70u5wv3qCre"
        },
        "options": {}
      },
      "id": "7654d9ec-7b9f-48e0-8c11-58b593ddd32b",
      "name": "Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1120,
        520
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "q5ICF2DzH8KpL3Ai",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "7eeb0b94-de8e-4fed-8cc4-d6f8d9958d57",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1340,
        520
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "995ed3b4-1a4b-47d3-8df0-1fb476a5b909",
              "leftValue": "={{ Math.round($json.Margin*100) }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": "=",
        "options": {}
      },
      "id": "943502c5-971b-4d55-b3ee-d05a5b5d1376",
      "name": "0%",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1560,
        640
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "42b02759-3fd1-4b31-94f6-be6852cb67f4",
              "leftValue": "={{ Math.round($json.Margin*100) }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "6480ec4f-28f4-4758-a15d-6dac3bb9f564",
              "leftValue": "={{ Math.round($json.Margin*100) }}",
              "rightValue": 8,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b1623c92-9d79-4101-9131-2eae7bed9988",
      "name": "35%",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1800,
        720
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a90bc7dd-12b3-42af-8a70-2b2dd2d065e0",
              "leftValue": "={{ Math.round($json.Margin*100) }}",
              "rightValue": 8,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "f1be46df-46a4-434d-bb36-4757e04fe0ab",
              "leftValue": "={{ Math.round($json.Margin*100) }}",
              "rightValue": 15,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0bfefec2-0d1b-42ee-a030-3589b31c5fed",
      "name": "30%",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2040,
        800
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a90bc7dd-12b3-42af-8a70-2b2dd2d065e0",
              "leftValue": "={{ Math.round($json.Margin*100) }}",
              "rightValue": 15,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "f1be46df-46a4-434d-bb36-4757e04fe0ab",
              "leftValue": "={{ Math.round($json.Margin*100) }}",
              "rightValue": 25,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "aa321446-cd3c-4a3a-a212-a368ecd63269",
      "name": "40%",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2260,
        880
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a90bc7dd-12b3-42af-8a70-2b2dd2d065e0",
              "leftValue": "={{ Math.round($json.Margin*100) }}",
              "rightValue": 25,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "f1be46df-46a4-434d-bb36-4757e04fe0ab",
              "leftValue": "={{ Math.round($json.Margin*100) }}",
              "rightValue": 30,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "91d83061-da35-4980-9461-1f9ab55f33f7",
      "name": "45%",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2440,
        1000
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a90bc7dd-12b3-42af-8a70-2b2dd2d065e0",
              "leftValue": "={{ Math.round($json.Margin*100) }}",
              "rightValue": 30,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f28c4ee0-55fc-4681-8584-05efe65291fd",
      "name": "50%",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2680,
        1080
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appSCi0a1zPuJizxg",
          "mode": "list",
          "cachedResultName": "Bulkbox Final Master",
          "cachedResultUrl": "https://airtable.com/appSCi0a1zPuJizxg"
        },
        "table": {
          "__rl": true,
          "value": "tblWlt70u5wv3qCre",
          "mode": "list",
          "cachedResultName": "JBP Price",
          "cachedResultUrl": "https://airtable.com/appSCi0a1zPuJizxg/tblWlt70u5wv3qCre"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "JBP Margin Share": 0,
            "id": "={{ $json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Item Code2",
              "displayName": "Item Code2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Item Code2 copy",
              "displayName": "Item Code2 copy",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "taxes.item_tax_template (from Item Code2 copy) 2",
              "displayName": "taxes.item_tax_template (from Item Code2 copy) 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Supplier Discount (from Item Code2 copy)",
              "displayName": "Supplier Discount (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "CP Unit Incl VAT (from Item Code2 copy)",
              "displayName": "CP Unit Incl VAT (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Supplier (from Item Code2 copy)",
              "displayName": "Supplier (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Product Name (from Item Code2 copy)",
              "displayName": "Product Name (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "item_group (from Item Code2 copy)",
              "displayName": "item_group (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Bolt Price ID (from Item Code2 copy)",
              "displayName": "Bolt Price ID (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Retail Price (from Item Code2 copy)",
              "displayName": "Retail Price (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "buying_price_list_rate (from Item Code2 copy)",
              "displayName": "buying_price_list_rate (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "RRP ex VAT",
              "displayName": "RRP ex VAT",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Margin",
              "displayName": "Margin",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "JBP Margin Share",
              "displayName": "JBP Margin Share",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Product Lifecycle (from Item Code2 copy)",
              "displayName": "Product Lifecycle (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Product Life Cycle (from Item Code2 copy)",
              "displayName": "Product Life Cycle (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "ECOM Unit Price Excl VAT",
              "displayName": "ECOM Unit Price Excl VAT",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "GT Unit Price Excl VAT",
              "displayName": "GT Unit Price Excl VAT",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Difference",
              "displayName": "Difference",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "selling_price_list_rate (from Item Code2 copy)",
              "displayName": "selling_price_list_rate (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Standard Buying ID (from Item Code2 copy)",
              "displayName": "Standard Buying ID (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Standard Selling ID (from Item Code2 copy)",
              "displayName": "Standard Selling ID (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "GT Selling ID (from Item Code2 copy)",
              "displayName": "GT Selling ID (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "taxes.item_tax_template (from Item Code2 copy)",
              "displayName": "taxes.item_tax_template (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "GT Unit Price Excl VAT (from Item Code) (from Rate) 2",
              "displayName": "GT Unit Price Excl VAT (from Item Code) (from Rate) 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "GT Margin",
              "displayName": "GT Margin",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "5ee632b7-e8a3-44f3-954f-066c77fb330f",
      "name": "Airtable1",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1800,
        560
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "q5ICF2DzH8KpL3Ai",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appSCi0a1zPuJizxg",
          "mode": "list",
          "cachedResultName": "Bulkbox Final Master",
          "cachedResultUrl": "https://airtable.com/appSCi0a1zPuJizxg"
        },
        "table": {
          "__rl": true,
          "value": "tblWlt70u5wv3qCre",
          "mode": "list",
          "cachedResultName": "JBP Price",
          "cachedResultUrl": "https://airtable.com/appSCi0a1zPuJizxg/tblWlt70u5wv3qCre"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "JBP Margin Share": 0.35,
            "id": "={{ $json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Item Code2",
              "displayName": "Item Code2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Item Code2 copy",
              "displayName": "Item Code2 copy",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "taxes.item_tax_template (from Item Code2 copy) 2",
              "displayName": "taxes.item_tax_template (from Item Code2 copy) 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Supplier Discount (from Item Code2 copy)",
              "displayName": "Supplier Discount (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "CP Unit Incl VAT (from Item Code2 copy)",
              "displayName": "CP Unit Incl VAT (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Supplier (from Item Code2 copy)",
              "displayName": "Supplier (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Product Name (from Item Code2 copy)",
              "displayName": "Product Name (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "item_group (from Item Code2 copy)",
              "displayName": "item_group (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Bolt Price ID (from Item Code2 copy)",
              "displayName": "Bolt Price ID (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Retail Price (from Item Code2 copy)",
              "displayName": "Retail Price (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "buying_price_list_rate (from Item Code2 copy)",
              "displayName": "buying_price_list_rate (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "RRP ex VAT",
              "displayName": "RRP ex VAT",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Margin",
              "displayName": "Margin",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "JBP Margin Share",
              "displayName": "JBP Margin Share",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Product Lifecycle (from Item Code2 copy)",
              "displayName": "Product Lifecycle (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Product Life Cycle (from Item Code2 copy)",
              "displayName": "Product Life Cycle (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "ECOM Unit Price Excl VAT",
              "displayName": "ECOM Unit Price Excl VAT",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "GT Unit Price Excl VAT",
              "displayName": "GT Unit Price Excl VAT",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Difference",
              "displayName": "Difference",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "selling_price_list_rate (from Item Code2 copy)",
              "displayName": "selling_price_list_rate (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Standard Buying ID (from Item Code2 copy)",
              "displayName": "Standard Buying ID (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Standard Selling ID (from Item Code2 copy)",
              "displayName": "Standard Selling ID (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "GT Selling ID (from Item Code2 copy)",
              "displayName": "GT Selling ID (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "taxes.item_tax_template (from Item Code2 copy)",
              "displayName": "taxes.item_tax_template (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "GT Unit Price Excl VAT (from Item Code) (from Rate) 2",
              "displayName": "GT Unit Price Excl VAT (from Item Code) (from Rate) 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "GT Margin",
              "displayName": "GT Margin",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "cdcdd80f-4a5b-4b13-84e2-9a3d3553a5c4",
      "name": "Airtable2",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2040,
        640
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "q5ICF2DzH8KpL3Ai",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appSCi0a1zPuJizxg",
          "mode": "list",
          "cachedResultName": "Bulkbox Final Master",
          "cachedResultUrl": "https://airtable.com/appSCi0a1zPuJizxg"
        },
        "table": {
          "__rl": true,
          "value": "tblWlt70u5wv3qCre",
          "mode": "list",
          "cachedResultName": "JBP Price",
          "cachedResultUrl": "https://airtable.com/appSCi0a1zPuJizxg/tblWlt70u5wv3qCre"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "JBP Margin Share": 0.3,
            "id": "={{ $json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Item Code2",
              "displayName": "Item Code2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Item Code2 copy",
              "displayName": "Item Code2 copy",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "taxes.item_tax_template (from Item Code2 copy) 2",
              "displayName": "taxes.item_tax_template (from Item Code2 copy) 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Supplier Discount (from Item Code2 copy)",
              "displayName": "Supplier Discount (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "CP Unit Incl VAT (from Item Code2 copy)",
              "displayName": "CP Unit Incl VAT (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Supplier (from Item Code2 copy)",
              "displayName": "Supplier (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Product Name (from Item Code2 copy)",
              "displayName": "Product Name (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "item_group (from Item Code2 copy)",
              "displayName": "item_group (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Bolt Price ID (from Item Code2 copy)",
              "displayName": "Bolt Price ID (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Retail Price (from Item Code2 copy)",
              "displayName": "Retail Price (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "buying_price_list_rate (from Item Code2 copy)",
              "displayName": "buying_price_list_rate (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "RRP ex VAT",
              "displayName": "RRP ex VAT",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Margin",
              "displayName": "Margin",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "JBP Margin Share",
              "displayName": "JBP Margin Share",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Product Lifecycle (from Item Code2 copy)",
              "displayName": "Product Lifecycle (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Product Life Cycle (from Item Code2 copy)",
              "displayName": "Product Life Cycle (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "ECOM Unit Price Excl VAT",
              "displayName": "ECOM Unit Price Excl VAT",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "GT Unit Price Excl VAT",
              "displayName": "GT Unit Price Excl VAT",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Difference",
              "displayName": "Difference",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "selling_price_list_rate (from Item Code2 copy)",
              "displayName": "selling_price_list_rate (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Standard Buying ID (from Item Code2 copy)",
              "displayName": "Standard Buying ID (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Standard Selling ID (from Item Code2 copy)",
              "displayName": "Standard Selling ID (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "GT Selling ID (from Item Code2 copy)",
              "displayName": "GT Selling ID (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "taxes.item_tax_template (from Item Code2 copy)",
              "displayName": "taxes.item_tax_template (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "GT Unit Price Excl VAT (from Item Code) (from Rate) 2",
              "displayName": "GT Unit Price Excl VAT (from Item Code) (from Rate) 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "GT Margin",
              "displayName": "GT Margin",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "f7269977-7a27-4722-ba36-bf293bad2b71",
      "name": "Airtable3",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2300,
        720
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "q5ICF2DzH8KpL3Ai",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appSCi0a1zPuJizxg",
          "mode": "list",
          "cachedResultName": "Bulkbox Final Master",
          "cachedResultUrl": "https://airtable.com/appSCi0a1zPuJizxg"
        },
        "table": {
          "__rl": true,
          "value": "tblWlt70u5wv3qCre",
          "mode": "list",
          "cachedResultName": "JBP Price",
          "cachedResultUrl": "https://airtable.com/appSCi0a1zPuJizxg/tblWlt70u5wv3qCre"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "JBP Margin Share": 0.4
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Item Code2",
              "displayName": "Item Code2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Item Code2 copy",
              "displayName": "Item Code2 copy",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "taxes.item_tax_template (from Item Code2 copy) 2",
              "displayName": "taxes.item_tax_template (from Item Code2 copy) 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Supplier Discount (from Item Code2 copy)",
              "displayName": "Supplier Discount (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "CP Unit Incl VAT (from Item Code2 copy)",
              "displayName": "CP Unit Incl VAT (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Supplier (from Item Code2 copy)",
              "displayName": "Supplier (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Product Name (from Item Code2 copy)",
              "displayName": "Product Name (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "item_group (from Item Code2 copy)",
              "displayName": "item_group (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Bolt Price ID (from Item Code2 copy)",
              "displayName": "Bolt Price ID (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Retail Price (from Item Code2 copy)",
              "displayName": "Retail Price (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "buying_price_list_rate (from Item Code2 copy)",
              "displayName": "buying_price_list_rate (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "RRP ex VAT",
              "displayName": "RRP ex VAT",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Margin",
              "displayName": "Margin",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "JBP Margin Share",
              "displayName": "JBP Margin Share",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Product Lifecycle (from Item Code2 copy)",
              "displayName": "Product Lifecycle (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Product Life Cycle (from Item Code2 copy)",
              "displayName": "Product Life Cycle (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "ECOM Unit Price Excl VAT",
              "displayName": "ECOM Unit Price Excl VAT",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "GT Unit Price Excl VAT",
              "displayName": "GT Unit Price Excl VAT",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Difference",
              "displayName": "Difference",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "selling_price_list_rate (from Item Code2 copy)",
              "displayName": "selling_price_list_rate (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Standard Buying ID (from Item Code2 copy)",
              "displayName": "Standard Buying ID (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Standard Selling ID (from Item Code2 copy)",
              "displayName": "Standard Selling ID (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "GT Selling ID (from Item Code2 copy)",
              "displayName": "GT Selling ID (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "taxes.item_tax_template (from Item Code2 copy)",
              "displayName": "taxes.item_tax_template (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "GT Unit Price Excl VAT (from Item Code) (from Rate) 2",
              "displayName": "GT Unit Price Excl VAT (from Item Code) (from Rate) 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "GT Margin",
              "displayName": "GT Margin",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "8f2427cb-237e-48c0-b3b1-5ea25d0f9396",
      "name": "Airtable4",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2520,
        840
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "q5ICF2DzH8KpL3Ai",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appSCi0a1zPuJizxg",
          "mode": "list",
          "cachedResultName": "Bulkbox Final Master",
          "cachedResultUrl": "https://airtable.com/appSCi0a1zPuJizxg"
        },
        "table": {
          "__rl": true,
          "value": "tblWlt70u5wv3qCre",
          "mode": "list",
          "cachedResultName": "JBP Price",
          "cachedResultUrl": "https://airtable.com/appSCi0a1zPuJizxg/tblWlt70u5wv3qCre"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "JBP Margin Share": 0.45
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Item Code2",
              "displayName": "Item Code2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Item Code2 copy",
              "displayName": "Item Code2 copy",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "taxes.item_tax_template (from Item Code2 copy) 2",
              "displayName": "taxes.item_tax_template (from Item Code2 copy) 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Supplier Discount (from Item Code2 copy)",
              "displayName": "Supplier Discount (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "CP Unit Incl VAT (from Item Code2 copy)",
              "displayName": "CP Unit Incl VAT (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Supplier (from Item Code2 copy)",
              "displayName": "Supplier (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Product Name (from Item Code2 copy)",
              "displayName": "Product Name (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "item_group (from Item Code2 copy)",
              "displayName": "item_group (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Bolt Price ID (from Item Code2 copy)",
              "displayName": "Bolt Price ID (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Retail Price (from Item Code2 copy)",
              "displayName": "Retail Price (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "buying_price_list_rate (from Item Code2 copy)",
              "displayName": "buying_price_list_rate (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "RRP ex VAT",
              "displayName": "RRP ex VAT",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Margin",
              "displayName": "Margin",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "JBP Margin Share",
              "displayName": "JBP Margin Share",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Product Lifecycle (from Item Code2 copy)",
              "displayName": "Product Lifecycle (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Product Life Cycle (from Item Code2 copy)",
              "displayName": "Product Life Cycle (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "ECOM Unit Price Excl VAT",
              "displayName": "ECOM Unit Price Excl VAT",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "GT Unit Price Excl VAT",
              "displayName": "GT Unit Price Excl VAT",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Difference",
              "displayName": "Difference",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "selling_price_list_rate (from Item Code2 copy)",
              "displayName": "selling_price_list_rate (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Standard Buying ID (from Item Code2 copy)",
              "displayName": "Standard Buying ID (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Standard Selling ID (from Item Code2 copy)",
              "displayName": "Standard Selling ID (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "GT Selling ID (from Item Code2 copy)",
              "displayName": "GT Selling ID (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "taxes.item_tax_template (from Item Code2 copy)",
              "displayName": "taxes.item_tax_template (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "GT Unit Price Excl VAT (from Item Code) (from Rate) 2",
              "displayName": "GT Unit Price Excl VAT (from Item Code) (from Rate) 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "GT Margin",
              "displayName": "GT Margin",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "3219570e-481a-4947-a764-85babe400616",
      "name": "Airtable5",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2700,
        920
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "q5ICF2DzH8KpL3Ai",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appSCi0a1zPuJizxg",
          "mode": "list",
          "cachedResultName": "Bulkbox Final Master",
          "cachedResultUrl": "https://airtable.com/appSCi0a1zPuJizxg"
        },
        "table": {
          "__rl": true,
          "value": "tblWlt70u5wv3qCre",
          "mode": "list",
          "cachedResultName": "JBP Price",
          "cachedResultUrl": "https://airtable.com/appSCi0a1zPuJizxg/tblWlt70u5wv3qCre"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "JBP Margin Share": 0.5
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Item Code2",
              "displayName": "Item Code2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Item Code2 copy",
              "displayName": "Item Code2 copy",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "taxes.item_tax_template (from Item Code2 copy) 2",
              "displayName": "taxes.item_tax_template (from Item Code2 copy) 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Supplier Discount (from Item Code2 copy)",
              "displayName": "Supplier Discount (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "CP Unit Incl VAT (from Item Code2 copy)",
              "displayName": "CP Unit Incl VAT (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Supplier (from Item Code2 copy)",
              "displayName": "Supplier (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Product Name (from Item Code2 copy)",
              "displayName": "Product Name (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "item_group (from Item Code2 copy)",
              "displayName": "item_group (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Bolt Price ID (from Item Code2 copy)",
              "displayName": "Bolt Price ID (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Retail Price (from Item Code2 copy)",
              "displayName": "Retail Price (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "buying_price_list_rate (from Item Code2 copy)",
              "displayName": "buying_price_list_rate (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "RRP ex VAT",
              "displayName": "RRP ex VAT",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Margin",
              "displayName": "Margin",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "JBP Margin Share",
              "displayName": "JBP Margin Share",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Product Lifecycle (from Item Code2 copy)",
              "displayName": "Product Lifecycle (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Product Life Cycle (from Item Code2 copy)",
              "displayName": "Product Life Cycle (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "ECOM Unit Price Excl VAT",
              "displayName": "ECOM Unit Price Excl VAT",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "GT Unit Price Excl VAT",
              "displayName": "GT Unit Price Excl VAT",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Difference",
              "displayName": "Difference",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "selling_price_list_rate (from Item Code2 copy)",
              "displayName": "selling_price_list_rate (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Standard Buying ID (from Item Code2 copy)",
              "displayName": "Standard Buying ID (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Standard Selling ID (from Item Code2 copy)",
              "displayName": "Standard Selling ID (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "GT Selling ID (from Item Code2 copy)",
              "displayName": "GT Selling ID (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "taxes.item_tax_template (from Item Code2 copy)",
              "displayName": "taxes.item_tax_template (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "GT Unit Price Excl VAT (from Item Code) (from Rate) 2",
              "displayName": "GT Unit Price Excl VAT (from Item Code) (from Rate) 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "GT Margin",
              "displayName": "GT Margin",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "80d4cef2-816c-4bcf-add8-9d888df6d0af",
      "name": "Airtable6",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2920,
        1040
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "q5ICF2DzH8KpL3Ai",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appSCi0a1zPuJizxg",
          "mode": "list",
          "cachedResultName": "Bulkbox Final Master",
          "cachedResultUrl": "https://airtable.com/appSCi0a1zPuJizxg"
        },
        "table": {
          "__rl": true,
          "value": "tblWlt70u5wv3qCre",
          "mode": "list",
          "cachedResultName": "JBP Price",
          "cachedResultUrl": "https://airtable.com/appSCi0a1zPuJizxg/tblWlt70u5wv3qCre"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "JBP Margin Share": 0.5
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Item Code2",
              "displayName": "Item Code2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Item Code2 copy",
              "displayName": "Item Code2 copy",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "taxes.item_tax_template (from Item Code2 copy) 2",
              "displayName": "taxes.item_tax_template (from Item Code2 copy) 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Supplier Discount (from Item Code2 copy)",
              "displayName": "Supplier Discount (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "CP Unit Incl VAT (from Item Code2 copy)",
              "displayName": "CP Unit Incl VAT (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Supplier (from Item Code2 copy)",
              "displayName": "Supplier (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Product Name (from Item Code2 copy)",
              "displayName": "Product Name (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "item_group (from Item Code2 copy)",
              "displayName": "item_group (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Bolt Price ID (from Item Code2 copy)",
              "displayName": "Bolt Price ID (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Retail Price (from Item Code2 copy)",
              "displayName": "Retail Price (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "buying_price_list_rate (from Item Code2 copy)",
              "displayName": "buying_price_list_rate (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "RRP ex VAT",
              "displayName": "RRP ex VAT",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Margin",
              "displayName": "Margin",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "JBP Margin Share",
              "displayName": "JBP Margin Share",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Product Lifecycle (from Item Code2 copy)",
              "displayName": "Product Lifecycle (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Product Life Cycle (from Item Code2 copy)",
              "displayName": "Product Life Cycle (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "ECOM Unit Price Excl VAT",
              "displayName": "ECOM Unit Price Excl VAT",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "GT Unit Price Excl VAT",
              "displayName": "GT Unit Price Excl VAT",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Difference",
              "displayName": "Difference",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "selling_price_list_rate (from Item Code2 copy)",
              "displayName": "selling_price_list_rate (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Standard Buying ID (from Item Code2 copy)",
              "displayName": "Standard Buying ID (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Standard Selling ID (from Item Code2 copy)",
              "displayName": "Standard Selling ID (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "GT Selling ID (from Item Code2 copy)",
              "displayName": "GT Selling ID (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "taxes.item_tax_template (from Item Code2 copy)",
              "displayName": "taxes.item_tax_template (from Item Code2 copy)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "GT Unit Price Excl VAT (from Item Code) (from Rate) 2",
              "displayName": "GT Unit Price Excl VAT (from Item Code) (from Rate) 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "GT Margin",
              "displayName": "GT Margin",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "32d13fa7-a128-4f78-9e3f-26ebad6d2920",
      "name": "Airtable7",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2940,
        1220
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "q5ICF2DzH8KpL3Ai",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {},
      "id": "5a86e9ac-96d5-454f-8c29-f1ec0e60af1f",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        940,
        520
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "pA3zEasbGp50knPq"
  },
  "staticData": {
    "node:Airtable Trigger": {
      "lastTimeChecked": "2024-09-27T09:42:27Z"
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-09-27T09:46:52.000Z",
  "versionId": "b2f960d8-09f4-49ab-b669-f2dfd727d518"
}