workflows/My workflow 3.json
{
  "active": false,
  "connections": {
    "When clicking \"Test workflow\"": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "ERPNext",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ERPNext": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-08-23T08:08:53.186Z",
  "id": "RXOD7mJpmYstCuBs",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {},
      "id": "4848ef50-ab13-4194-ae5f-b3b5e3148509",
      "name": "When clicking \"Test workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1300,
        640
      ]
    },
    {
      "parameters": {
        "url": "=https://portal.bulkbox.cloud/api/resource/Item?filters=[[\"batch_number_series\",\"=\",\"\"]]",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "erpNextApi",
        "options": {}
      },
      "id": "1e92c76c-6c90-41b8-abda-95e3b59289c3",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1520,
        640
      ],
      "credentials": {
        "erpNextApi": {
          "id": "OVfEC6rfwqA5vwcf",
          "name": "ERPNext Prod"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "ec3133a9-7ce9-4788-9b1b-92f5701caac6",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2000,
        680
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "docType": "Item",
        "documentName": "={{ $('Split Out').item.json.name }}",
        "properties": {
          "customProperty": [
            {
              "field": "create_new_batch",
              "value": "1"
            },
            {
              "field": "batch_number_series",
              "value": "={{ $json.name }}"
            }
          ]
        }
      },
      "id": "3a4d446c-14de-419b-a08c-568ac926b633",
      "name": "ERPNext",
      "type": "n8n-nodes-base.erpNext",
      "typeVersion": 1,
      "position": [
        2220,
        780
      ],
      "credentials": {
        "erpNextApi": {
          "id": "OVfEC6rfwqA5vwcf",
          "name": "ERPNext Prod"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "a65e36ab-be48-4aa4-819b-70095914923d",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1740,
        640
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-08-23T08:20:10.000Z",
  "versionId": "ec29c24d-ee0a-4f27-863a-42fc67d848cb"
}