workflows/My workflow 4.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "ERPNext",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ERPNext": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "ERPNext1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ERPNext1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "update_customer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update_customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_customer": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-10-04T10:26:01.129Z",
  "id": "DnFYQermdfBlrmTf",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow 4",
  "nodes": [
    {
      "parameters": {},
      "id": "f7a60d51-743f-4235-8939-cbed817b45af",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        720,
        480
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "docType": "Customer",
        "limit": 100000,
        "options": {}
      },
      "id": "606b70fc-b9c4-4395-a3b3-968dd050308f",
      "name": "ERPNext",
      "type": "n8n-nodes-base.erpNext",
      "typeVersion": 1,
      "position": [
        920,
        480
      ],
      "credentials": {
        "erpNextApi": {
          "id": "OVfEC6rfwqA5vwcf",
          "name": "ERPNext Prod"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "70be9ec8-4804-4ef5-b9e2-45f99be89c30",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1140,
        480
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "docType": "Customer",
        "documentName": "={{ $json.name }}"
      },
      "id": "85143304-63b3-4cba-8cdc-0539002b4e2a",
      "name": "ERPNext1",
      "type": "n8n-nodes-base.erpNext",
      "typeVersion": 1,
      "position": [
        1360,
        600
      ],
      "credentials": {
        "erpNextApi": {
          "id": "OVfEC6rfwqA5vwcf",
          "name": "ERPNext Prod"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f20b5feb-4345-47e1-8ee1-e6a39ace10c7",
              "leftValue": "={{ $json.sales_team[0].sales_person }}",
              "rightValue": "=Brian Mong'are",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b8002fcf-d139-48de-9d07-e5400811da36",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1560,
        600
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appqmFBvp9I9IB1YV",
          "mode": "list",
          "cachedResultName": "Contact Database",
          "cachedResultUrl": "https://airtable.com/appqmFBvp9I9IB1YV"
        },
        "table": {
          "__rl": true,
          "value": "tblBkafwuK7H4aReA",
          "mode": "list",
          "cachedResultName": "Contacts",
          "cachedResultUrl": "https://airtable.com/appqmFBvp9I9IB1YV/tblBkafwuK7H4aReA"
        },
        "filterByFormula": "=({Company Name}=\"{{ $json.customer_name }}\") ",
        "options": {}
      },
      "id": "13f246d9-9957-4c95-a13d-ae7ec3f411aa",
      "name": "Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1780,
        560
      ],
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "q5ICF2DzH8KpL3Ai",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "55c43cba-47f7-4bf8-9f02-289708802cbb",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "682507fc-f560-4d78-8ea6-d2046f71c2ec",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2000,
        560
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://portal.bulkbox.cloud/api/resource/Customer/{{ $('ERPNext1').item.json.name }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "erpNextApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"data\": {\n        \"sales_team\": [\n            {\n                \"owner\": \"rashid@bulkbox.co.ke\",\n                \"parent\": \"{{ $('ERPNext1').item.json.name }}\",\n                \"parentfield\": \"sales_team\",\n                \"parenttype\": \"Customer\",\n                \"sales_person\": \"Assign Sales Member\",\n                \"allocated_percentage\": 100.0,\n                \"doctype\": \"Sales Team\"\n            }\n        ]\n    }\n}",
        "options": {}
      },
      "id": "367b0dbb-81cb-496a-8290-a9754a31b981",
      "name": "update_customer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2220,
        640
      ],
      "credentials": {
        "erpNextApi": {
          "id": "OVfEC6rfwqA5vwcf",
          "name": "ERPNext Prod"
        }
      }
    }
  ],
  "pinData": {
    "ERPNext": [
      {
        "json": {
          "name": "Inn and Out LTD"
        }
      },
      {
        "json": {
          "name": "Lecker & Co Ltd"
        }
      },
      {
        "json": {
          "name": "Izaak Walton Inn"
        }
      },
      {
        "json": {
          "name": "Try Cooked LTD"
        }
      },
      {
        "json": {
          "name": "Kune Food Lab Kenya LTD"
        }
      },
      {
        "json": {
          "name": "Savoan LTD"
        }
      },
      {
        "json": {
          "name": "Filanwa Wholesalers LTD"
        }
      },
      {
        "json": {
          "name": "Remeal Africa General Supplies PLC"
        }
      },
      {
        "json": {
          "name": "Epristal Ltd"
        }
      },
      {
        "json": {
          "name": "Vinas Mini Mart LTD"
        }
      },
      {
        "json": {
          "name": "PediaPharma Kenya LTD (Fiesta Liquor Store)"
        }
      },
      {
        "json": {
          "name": "Sapient Hospitality Ventures LTD"
        }
      },
      {
        "json": {
          "name": "BigNest Harvest"
        }
      },
      {
        "json": {
          "name": "AACC Guest House"
        }
      },
      {
        "json": {
          "name": "YOURBASKET"
        }
      },
      {
        "json": {
          "name": "Brisk Marketing"
        }
      },
      {
        "json": {
          "name": "Luxcare Pharmacy"
        }
      },
      {
        "json": {
          "name": "Advacafe And Restaurant"
        }
      },
      {
        "json": {
          "name": "Umang Holdings"
        }
      },
      {
        "json": {
          "name": "Mno Advocates Llp"
        }
      },
      {
        "json": {
          "name": "Paletas Food Limited"
        }
      },
      {
        "json": {
          "name": "Rachel"
        }
      },
      {
        "json": {
          "name": "Jiji Online Marketplace"
        }
      },
      {
        "json": {
          "name": "South Fitness Limited"
        }
      },
      {
        "json": {
          "name": "W3 Hospitality LTD // Wings Kenya"
        }
      },
      {
        "json": {
          "name": "Micro Labs"
        }
      },
      {
        "json": {
          "name": "Omeriye Limited"
        }
      },
      {
        "json": {
          "name": "Hishaam Asad"
        }
      },
      {
        "json": {
          "name": "Sunworld Safaris Ltd"
        }
      },
      {
        "json": {
          "name": "Polle Babu - 1"
        }
      },
      {
        "json": {
          "name": "Parma Grana - 1"
        }
      },
      {
        "json": {
          "name": "Jennifer Landlord"
        }
      },
      {
        "json": {
          "name": "7 Eleven Merchant LTD"
        }
      },
      {
        "json": {
          "name": "Om Nom Nom LTD"
        }
      },
      {
        "json": {
          "name": "Pauline Adul"
        }
      },
      {
        "json": {
          "name": "Duke Agencies"
        }
      },
      {
        "json": {
          "name": "Neoking Trading Limited"
        }
      },
      {
        "json": {
          "name": "Reshma Sodi"
        }
      },
      {
        "json": {
          "name": "Yusuf Abdi"
        }
      },
      {
        "json": {
          "name": "Agnes Mwangi"
        }
      },
      {
        "json": {
          "name": "Aquanet digital suppliers"
        }
      },
      {
        "json": {
          "name": "Nairobi pacific hotel"
        }
      },
      {
        "json": {
          "name": "Sylvia Ndei"
        }
      },
      {
        "json": {
          "name": "Elsie Maina"
        }
      },
      {
        "json": {
          "name": "Betty Mutile"
        }
      },
      {
        "json": {
          "name": "Polle Babu 4"
        }
      },
      {
        "json": {
          "name": "Jerusa Maina"
        }
      },
      {
        "json": {
          "name": "Equity Bank"
        }
      },
      {
        "json": {
          "name": "HABIBI CAFE AND RESTAURANT"
        }
      },
      {
        "json": {
          "name": "Polle Babu"
        }
      },
      {
        "json": {
          "name": "Leonel Kagiri"
        }
      },
      {
        "json": {
          "name": "Six Square Ltd"
        }
      },
      {
        "json": {
          "name": "Maureen ogongo"
        }
      },
      {
        "json": {
          "name": "Alice Wanjiru"
        }
      },
      {
        "json": {
          "name": "Elizibeth Odeyo"
        }
      },
      {
        "json": {
          "name": "Kenpoly"
        }
      },
      {
        "json": {
          "name": "Nahida Walli"
        }
      },
      {
        "json": {
          "name": "Janita Chirag Sheth"
        }
      },
      {
        "json": {
          "name": "Witaly Food & Beverage LTD"
        }
      },
      {
        "json": {
          "name": "Trevor Okoth"
        }
      },
      {
        "json": {
          "name": "Josephine Wangeci"
        }
      },
      {
        "json": {
          "name": "Anne Wanyoike"
        }
      },
      {
        "json": {
          "name": "Blair Legacy Ventures"
        }
      },
      {
        "json": {
          "name": "Marvin Ochieng"
        }
      },
      {
        "json": {
          "name": "Ourise Enterprises"
        }
      },
      {
        "json": {
          "name": "Wairimu Angele"
        }
      },
      {
        "json": {
          "name": "Rosemary Muendo"
        }
      },
      {
        "json": {
          "name": "Karen Wu"
        }
      },
      {
        "json": {
          "name": "Academy for women entrepreneur's c/o Ushindi Empowerment"
        }
      },
      {
        "json": {
          "name": "Elizabeth wanjiku"
        }
      },
      {
        "json": {
          "name": "Nalini C. Shah"
        }
      },
      {
        "json": {
          "name": "Fardosa"
        }
      },
      {
        "json": {
          "name": "Florence Ogola"
        }
      },
      {
        "json": {
          "name": "Kilimani Junior Academy"
        }
      },
      {
        "json": {
          "name": "Keep It 100 Marketing Agency"
        }
      },
      {
        "json": {
          "name": "Sabibu Beverages Africa Ltd"
        }
      },
      {
        "json": {
          "name": "Polle Babu Customer"
        }
      },
      {
        "json": {
          "name": "margaret Njoroge"
        }
      },
      {
        "json": {
          "name": "Bags and Balers Manufacturers (K) Ltd"
        }
      },
      {
        "json": {
          "name": "Achara Meal Prep LTD"
        }
      },
      {
        "json": {
          "name": "George Thiga K."
        }
      },
      {
        "json": {
          "name": "osephine Ongosi"
        }
      },
      {
        "json": {
          "name": "Lilian Njeri"
        }
      },
      {
        "json": {
          "name": "Jett inn gardens hotel ltd"
        }
      },
      {
        "json": {
          "name": "Utabibu Sacco"
        }
      },
      {
        "json": {
          "name": "Hannah Mangale"
        }
      },
      {
        "json": {
          "name": "Mara Bush Camp Ltd"
        }
      },
      {
        "json": {
          "name": "Kevin Isaac"
        }
      },
      {
        "json": {
          "name": "Nemerc General Stores"
        }
      },
      {
        "json": {
          "name": "Ramco Group"
        }
      },
      {
        "json": {
          "name": "FirstPower Fitness"
        }
      },
      {
        "json": {
          "name": "Dilliam Communications"
        }
      },
      {
        "json": {
          "name": "Mahfs Retails and Wholesale"
        }
      },
      {
        "json": {
          "name": "Kibo Safari Camp"
        }
      },
      {
        "json": {
          "name": "Whiskey River"
        }
      },
      {
        "json": {
          "name": "Hellen Kinyua"
        }
      },
      {
        "json": {
          "name": "Mama Gas Limited"
        }
      },
      {
        "json": {
          "name": "Adamji Multi Supplies Ltd"
        }
      },
      {
        "json": {
          "name": "Tasty Grubs Co. Ltd"
        }
      },
      {
        "json": {
          "name": "Julius Juma"
        }
      },
      {
        "json": {
          "name": "Everlyn Mwangi"
        }
      },
      {
        "json": {
          "name": "Maryann Mwihaki Mbugua"
        }
      },
      {
        "json": {
          "name": "Abdifatah"
        }
      },
      {
        "json": {
          "name": "Param Jandu"
        }
      },
      {
        "json": {
          "name": "Judith Anne"
        }
      },
      {
        "json": {
          "name": "Amina Haider"
        }
      },
      {
        "json": {
          "name": "Peter Nyangeri"
        }
      },
      {
        "json": {
          "name": "Barrack Mutokah"
        }
      },
      {
        "json": {
          "name": "Catherine munee"
        }
      },
      {
        "json": {
          "name": "Cedric Osoro"
        }
      },
      {
        "json": {
          "name": "Churrasco Yard Ltd"
        }
      },
      {
        "json": {
          "name": "Daphine Kandagor"
        }
      },
      {
        "json": {
          "name": "Paprika"
        }
      },
      {
        "json": {
          "name": "Dora Muuka Mudenda"
        }
      },
      {
        "json": {
          "name": "Total Langata Road"
        }
      },
      {
        "json": {
          "name": "Elham Bahkam"
        }
      },
      {
        "json": {
          "name": "Betty Bakes"
        }
      },
      {
        "json": {
          "name": "Esther Maina"
        }
      },
      {
        "json": {
          "name": "Farhiya Ali"
        }
      },
      {
        "json": {
          "name": "Phyllis Mburu"
        }
      },
      {
        "json": {
          "name": "Gallen kitchen"
        }
      },
      {
        "json": {
          "name": "George Mwakuriga"
        }
      },
      {
        "json": {
          "name": "glawas artswork"
        }
      },
      {
        "json": {
          "name": "Njoki Hottensia"
        }
      },
      {
        "json": {
          "name": "Lauryn Odula"
        }
      },
      {
        "json": {
          "name": "Lilly Bekele-Piper"
        }
      },
      {
        "json": {
          "name": "Linet Njeri Kihonge"
        }
      },
      {
        "json": {
          "name": "Lorna Mumbi Nyaga"
        }
      },
      {
        "json": {
          "name": "siraj  Almunir"
        }
      },
      {
        "json": {
          "name": "Miriam Melissa Gaya"
        }
      },
      {
        "json": {
          "name": "Mohammed Bachani"
        }
      },
      {
        "json": {
          "name": "Pinky Nair"
        }
      },
      {
        "json": {
          "name": "Nancy Kariuki"
        }
      },
      {
        "json": {
          "name": "Neel Shah"
        }
      },
      {
        "json": {
          "name": "wanjiku Kanja"
        }
      },
      {
        "json": {
          "name": "Nimesh Karsan"
        }
      },
      {
        "json": {
          "name": "Joyce Chebet"
        }
      },
      {
        "json": {
          "name": "Robby Rai"
        }
      },
      {
        "json": {
          "name": "Parma Grana"
        }
      },
      {
        "json": {
          "name": "The Food Library"
        }
      },
      {
        "json": {
          "name": "Rumba Kinuthia."
        }
      },
      {
        "json": {
          "name": "Ruth Wangari"
        }
      },
      {
        "json": {
          "name": "Sabina Joseph"
        }
      },
      {
        "json": {
          "name": "The Nairobi bread Company Ltd"
        }
      },
      {
        "json": {
          "name": "Shai Shaileen"
        }
      },
      {
        "json": {
          "name": "Daniel Omondi"
        }
      },
      {
        "json": {
          "name": "Ateka & Sons Supplies LTD"
        }
      },
      {
        "json": {
          "name": "Lavivance"
        }
      },
      {
        "json": {
          "name": "Saab Royale Hotel"
        }
      },
      {
        "json": {
          "name": "Sufyan Baradia"
        }
      },
      {
        "json": {
          "name": "Cynthia Karwitha"
        }
      },
      {
        "json": {
          "name": "Daily Pint LLP"
        }
      },
      {
        "json": {
          "name": "Shalina Healthcare Kenya Ltd"
        }
      },
      {
        "json": {
          "name": "Kabianga Tea Factory LTD"
        }
      },
      {
        "json": {
          "name": "William Aura"
        }
      },
      {
        "json": {
          "name": "Yusufn Yusuf"
        }
      },
      {
        "json": {
          "name": "Zahra Njoki"
        }
      },
      {
        "json": {
          "name": "Party Smartz"
        }
      },
      {
        "json": {
          "name": "Josephine Ndao"
        }
      },
      {
        "json": {
          "name": "Kendi Mmbijjewe"
        }
      },
      {
        "json": {
          "name": "Muminah Salim"
        }
      },
      {
        "json": {
          "name": "Naeema Bashir"
        }
      },
      {
        "json": {
          "name": "Uru Patel"
        }
      },
      {
        "json": {
          "name": "Roza Munyua"
        }
      },
      {
        "json": {
          "name": "Shakila Akram"
        }
      },
      {
        "json": {
          "name": "Ruth Wairimu Kairu"
        }
      },
      {
        "json": {
          "name": "Pots and Palms"
        }
      },
      {
        "json": {
          "name": "Otieno Obudho Anthony"
        }
      },
      {
        "json": {
          "name": "Shred Gym"
        }
      },
      {
        "json": {
          "name": "Jumia"
        }
      },
      {
        "json": {
          "name": "Mahendra Shah"
        }
      },
      {
        "json": {
          "name": "Salome Adhiambo"
        }
      },
      {
        "json": {
          "name": "Maureen Onyango-Ngesa"
        }
      },
      {
        "json": {
          "name": "Sammy Muiga- Onyx Entertainment Ltd"
        }
      },
      {
        "json": {
          "name": "Sahil Popat"
        }
      },
      {
        "json": {
          "name": "Michelle Oluoch"
        }
      },
      {
        "json": {
          "name": "Paulina Anyanga"
        }
      },
      {
        "json": {
          "name": "Waleed Asad"
        }
      },
      {
        "json": {
          "name": "Jajemelo Pizza"
        }
      },
      {
        "json": {
          "name": "Purity Aloo"
        }
      },
      {
        "json": {
          "name": "Eustine Kaduve"
        }
      },
      {
        "json": {
          "name": "Lawrence Mulasse"
        }
      },
      {
        "json": {
          "name": "David Wainaina"
        }
      },
      {
        "json": {
          "name": "Charity W."
        }
      },
      {
        "json": {
          "name": "Jacqueline Nyanjom"
        }
      },
      {
        "json": {
          "name": "Kidavi Imali"
        }
      },
      {
        "json": {
          "name": "KK Security Ltd"
        }
      },
      {
        "json": {
          "name": "Rosalia Irungu"
        }
      },
      {
        "json": {
          "name": "Ken Koech"
        }
      },
      {
        "json": {
          "name": "Mohamed Kassam Abdulkader Saidina"
        }
      },
      {
        "json": {
          "name": "Donglin Lyu"
        }
      },
      {
        "json": {
          "name": "Alex Samia"
        }
      },
      {
        "json": {
          "name": "Dharmesh Vekaria"
        }
      },
      {
        "json": {
          "name": "Urbanus Mbuvi"
        }
      },
      {
        "json": {
          "name": "Fatima Mamu"
        }
      },
      {
        "json": {
          "name": "Jacqueline Andhoga"
        }
      },
      {
        "json": {
          "name": "Abdullahi Hussein"
        }
      },
      {
        "json": {
          "name": "Huzaifah Yaseen"
        }
      },
      {
        "json": {
          "name": "Mervin"
        }
      },
      {
        "json": {
          "name": "Menya Mwambeu"
        }
      },
      {
        "json": {
          "name": "Norda Industries LTD"
        }
      },
      {
        "json": {
          "name": "Hamida Nanda"
        }
      },
      {
        "json": {
          "name": "Joyce Chepet"
        }
      },
      {
        "json": {
          "name": "Antony Norieka"
        }
      },
      {
        "json": {
          "name": "Moi Educational Centre"
        }
      },
      {
        "json": {
          "name": "fafaf afafaf"
        }
      },
      {
        "json": {
          "name": "666 666"
        }
      },
      {
        "json": {
          "name": "Mwendwa Musau"
        }
      },
      {
        "json": {
          "name": "Arvinder Singh Rattan"
        }
      },
      {
        "json": {
          "name": "Sharon Maviala"
        }
      },
      {
        "json": {
          "name": "Antoinette Ng'ang'a"
        }
      },
      {
        "json": {
          "name": "Anthony Ngila"
        }
      },
      {
        "json": {
          "name": "Linda Waiyaki"
        }
      },
      {
        "json": {
          "name": "Mustafa Sallaly"
        }
      },
      {
        "json": {
          "name": "Allison Male"
        }
      },
      {
        "json": {
          "name": "Amar African Eco Safaris"
        }
      },
      {
        "json": {
          "name": "Anne Chiuri"
        }
      },
      {
        "json": {
          "name": "Ash Mohammed"
        }
      },
      {
        "json": {
          "name": "Urban nails academy"
        }
      },
      {
        "json": {
          "name": "Lisa Keya"
        }
      },
      {
        "json": {
          "name": "Bijal Shah"
        }
      },
      {
        "json": {
          "name": "Bijou's"
        }
      },
      {
        "json": {
          "name": "Bridget Andere"
        }
      },
      {
        "json": {
          "name": "Bryonny Galley"
        }
      },
      {
        "json": {
          "name": "charity Gachuhi"
        }
      },
      {
        "json": {
          "name": "Claude Dsouza"
        }
      },
      {
        "json": {
          "name": "Dhanil Dodhia"
        }
      },
      {
        "json": {
          "name": "Dipna Malde"
        }
      },
      {
        "json": {
          "name": "Lucy Welland"
        }
      },
      {
        "json": {
          "name": "Elizabeth/Stephanie Sargeant"
        }
      },
      {
        "json": {
          "name": "Flavia Tschanz"
        }
      },
      {
        "json": {
          "name": "Frieder Haberecht"
        }
      },
      {
        "json": {
          "name": "Gloria Otieno"
        }
      },
      {
        "json": {
          "name": "Hannah said Mohamed"
        }
      },
      {
        "json": {
          "name": "Himith Vekaria"
        }
      },
      {
        "json": {
          "name": "1872 Restaurant"
        }
      },
      {
        "json": {
          "name": "Jaxs Jaques"
        }
      },
      {
        "json": {
          "name": "Jagdeep Singh"
        }
      },
      {
        "json": {
          "name": "Jason Grunstra"
        }
      },
      {
        "json": {
          "name": "Jeanne Kimani"
        }
      },
      {
        "json": {
          "name": "Karithi John"
        }
      },
      {
        "json": {
          "name": "Josephine Karimi Kassuki"
        }
      },
      {
        "json": {
          "name": "Judy Nderitu"
        }
      },
      {
        "json": {
          "name": "Ken Keoch"
        }
      },
      {
        "json": {
          "name": "Kevin Gitau"
        }
      },
      {
        "json": {
          "name": "2Fish Restaurant"
        }
      },
      {
        "json": {
          "name": "LUCY NGURU"
        }
      },
      {
        "json": {
          "name": "Eat Me LTD"
        }
      },
      {
        "json": {
          "name": "Malyun Farah"
        }
      },
      {
        "json": {
          "name": "Daphne D'souza"
        }
      },
      {
        "json": {
          "name": "Usama Haji"
        }
      },
      {
        "json": {
          "name": "Rose Mwangi"
        }
      },
      {
        "json": {
          "name": "Mohammed Noor"
        }
      },
      {
        "json": {
          "name": "Dennis Ouma"
        }
      },
      {
        "json": {
          "name": "Darshan Hirani"
        }
      },
      {
        "json": {
          "name": "Tulsi Raval"
        }
      },
      {
        "json": {
          "name": "Nickson Karewa"
        }
      },
      {
        "json": {
          "name": "Nisha Ligon"
        }
      },
      {
        "json": {
          "name": "Nina Munene"
        }
      },
      {
        "json": {
          "name": "Wangeci Ndung'u"
        }
      },
      {
        "json": {
          "name": "Ken Etemesi"
        }
      },
      {
        "json": {
          "name": "Ramla Ali"
        }
      },
      {
        "json": {
          "name": "Ravi Shah"
        }
      },
      {
        "json": {
          "name": "Rukia Shaukat"
        }
      },
      {
        "json": {
          "name": "Ruth Mutonyi"
        }
      },
      {
        "json": {
          "name": "Francesca Rampoldi"
        }
      },
      {
        "json": {
          "name": "Sandra Odima"
        }
      },
      {
        "json": {
          "name": "Sarah Wema"
        }
      },
      {
        "json": {
          "name": "Indaxe Steakhouse"
        }
      },
      {
        "json": {
          "name": "Sheila Mmbijjewe"
        }
      },
      {
        "json": {
          "name": "Yuvraj Gosai"
        }
      },
      {
        "json": {
          "name": "Alastair Sussock"
        }
      },
      {
        "json": {
          "name": "Tajinder Valji"
        }
      },
      {
        "json": {
          "name": "Tanvi Chandaria"
        }
      },
      {
        "json": {
          "name": "Valentine Mutua"
        }
      },
      {
        "json": {
          "name": "SIMON WOODS"
        }
      },
      {
        "json": {
          "name": "Amina Maalim"
        }
      },
      {
        "json": {
          "name": "Fatimasugra Irfanreza"
        }
      },
      {
        "json": {
          "name": "Phinney Muiru"
        }
      },
      {
        "json": {
          "name": "Matt Schiller"
        }
      },
      {
        "json": {
          "name": "Nissar Haji"
        }
      },
      {
        "json": {
          "name": "Wrapped Foods"
        }
      },
      {
        "json": {
          "name": "Tuntu Mazibuko"
        }
      },
      {
        "json": {
          "name": "peter wakaba"
        }
      },
      {
        "json": {
          "name": "Hiroyuki Futaki"
        }
      },
      {
        "json": {
          "name": "Kalil Moha"
        }
      },
      {
        "json": {
          "name": "Pickup Individuals"
        }
      },
      {
        "json": {
          "name": "Sharon Kahumbu"
        }
      },
      {
        "json": {
          "name": "Kush Samani"
        }
      },
      {
        "json": {
          "name": "Tipsy Sports Bar"
        }
      },
      {
        "json": {
          "name": "Claire Njuguna"
        }
      },
      {
        "json": {
          "name": "bhavit shah"
        }
      },
      {
        "json": {
          "name": "David Njue Mukinda"
        }
      },
      {
        "json": {
          "name": "Sarah Mbinji"
        }
      },
      {
        "json": {
          "name": "Doreen Mucheke"
        }
      },
      {
        "json": {
          "name": "Yusuf Salad"
        }
      },
      {
        "json": {
          "name": "Peter Mugo"
        }
      },
      {
        "json": {
          "name": "Abdul Varvany"
        }
      },
      {
        "json": {
          "name": "Jasper Ochieng - 2"
        }
      },
      {
        "json": {
          "name": "Willian Irungu"
        }
      },
      {
        "json": {
          "name": "Geophry Griffin Owiti"
        }
      },
      {
        "json": {
          "name": "Nuri K. Nataan"
        }
      },
      {
        "json": {
          "name": "Felix Oguda"
        }
      },
      {
        "json": {
          "name": "Duncodi Seven"
        }
      },
      {
        "json": {
          "name": "Mary Mutheu"
        }
      },
      {
        "json": {
          "name": "Christine kagwiria"
        }
      },
      {
        "json": {
          "name": "Fatuma Salim"
        }
      },
      {
        "json": {
          "name": "Transmega Logistics"
        }
      },
      {
        "json": {
          "name": "David"
        }
      },
      {
        "json": {
          "name": "Brigid Sawe - 1"
        }
      },
      {
        "json": {
          "name": "Brazilian Rodizio LTD"
        }
      },
      {
        "json": {
          "name": "Federico Sibona"
        }
      },
      {
        "json": {
          "name": "Deepthi Menon"
        }
      },
      {
        "json": {
          "name": "Atua Enkop"
        }
      },
      {
        "json": {
          "name": "Bean Bubble  - 1"
        }
      },
      {
        "json": {
          "name": "Suudi Ahmed Mohamud"
        }
      },
      {
        "json": {
          "name": "Joyce Kibe"
        }
      },
      {
        "json": {
          "name": "Amaica The Restaurant Ltd"
        }
      },
      {
        "json": {
          "name": "Dion Wine"
        }
      },
      {
        "json": {
          "name": "Sugar Baked Limited"
        }
      },
      {
        "json": {
          "name": "Anabas Trout & Seafood Grill"
        }
      },
      {
        "json": {
          "name": "Josephine Njoroge"
        }
      },
      {
        "json": {
          "name": "Zucchini Greengrocers LTD"
        }
      },
      {
        "json": {
          "name": "London Distillers LTD"
        }
      },
      {
        "json": {
          "name": "Westcon Africa (Kenya) Limited"
        }
      },
      {
        "json": {
          "name": "Entumoto Safari Camp Limited"
        }
      },
      {
        "json": {
          "name": "JPR Safaris Camp"
        }
      },
      {
        "json": {
          "name": "Lavington Hotel Limited"
        }
      },
      {
        "json": {
          "name": "Intl Montessori Schools (IMS)"
        }
      },
      {
        "json": {
          "name": "Shepmatt Ltd"
        }
      },
      {
        "json": {
          "name": "Avacare Kenya ltd"
        }
      },
      {
        "json": {
          "name": "Silver Holdings Ltd"
        }
      },
      {
        "json": {
          "name": "Black Rose cafe and market"
        }
      },
      {
        "json": {
          "name": "Lake Naivasha Resort"
        }
      },
      {
        "json": {
          "name": "New Carnation Hotel"
        }
      },
      {
        "json": {
          "name": "Pantry Provisions"
        }
      },
      {
        "json": {
          "name": "Nelson Newbery"
        }
      },
      {
        "json": {
          "name": "Chris Michuki"
        }
      },
      {
        "json": {
          "name": "Stacy Wingate"
        }
      },
      {
        "json": {
          "name": "Milli Shah"
        }
      },
      {
        "json": {
          "name": "Raphael Onyango"
        }
      },
      {
        "json": {
          "name": "Mackrine Abukah"
        }
      },
      {
        "json": {
          "name": "Upperhill Springs Restaurant"
        }
      },
      {
        "json": {
          "name": "Hatim S Hatim"
        }
      },
      {
        "json": {
          "name": "Open Quotation"
        }
      },
      {
        "json": {
          "name": "L’Oreal East Africa Ltd"
        }
      },
      {
        "json": {
          "name": "Cyrus Atuti"
        }
      },
      {
        "json": {
          "name": "Anar Dossa"
        }
      },
      {
        "json": {
          "name": "Maureen Kabugo"
        }
      },
      {
        "json": {
          "name": "Salimu ali Mwakutsuma"
        }
      },
      {
        "json": {
          "name": "Brenda Nawiri"
        }
      },
      {
        "json": {
          "name": "cyrus kinuthia"
        }
      },
      {
        "json": {
          "name": "Eric Murimi"
        }
      },
      {
        "json": {
          "name": "Mikul Shah"
        }
      },
      {
        "json": {
          "name": "hemal patel"
        }
      },
      {
        "json": {
          "name": "Nahid Mohamed"
        }
      },
      {
        "json": {
          "name": "Sabrina mohammed"
        }
      },
      {
        "json": {
          "name": "Bini Gajjar"
        }
      },
      {
        "json": {
          "name": "Nicholas Runo"
        }
      },
      {
        "json": {
          "name": "Rebbeca Majiwa"
        }
      },
      {
        "json": {
          "name": "Christine Amani"
        }
      },
      {
        "json": {
          "name": "Issa Rashid"
        }
      },
      {
        "json": {
          "name": "Harsh Misra"
        }
      },
      {
        "json": {
          "name": "Feitzi Company"
        }
      },
      {
        "json": {
          "name": "Kimani Mbatia"
        }
      },
      {
        "json": {
          "name": "Cash Customer"
        }
      },
      {
        "json": {
          "name": "Virali Patel"
        }
      },
      {
        "json": {
          "name": "Mwangi Wamae"
        }
      },
      {
        "json": {
          "name": "Lossesia Resort"
        }
      },
      {
        "json": {
          "name": "shani school"
        }
      },
      {
        "json": {
          "name": "Fenil Patel"
        }
      },
      {
        "json": {
          "name": "Zeinab Aidid"
        }
      },
      {
        "json": {
          "name": "Daisy Nyaronge"
        }
      },
      {
        "json": {
          "name": "Cape Suppliers Limited"
        }
      },
      {
        "json": {
          "name": "Hesbon Masaki"
        }
      },
      {
        "json": {
          "name": "Faith Mwendwa"
        }
      },
      {
        "json": {
          "name": "Kavita Yadav"
        }
      },
      {
        "json": {
          "name": "Sylvia Mande"
        }
      },
      {
        "json": {
          "name": "Christine Gachuru"
        }
      },
      {
        "json": {
          "name": "Sunaina Kassam"
        }
      },
      {
        "json": {
          "name": "Elvira Pilott - Charity"
        }
      },
      {
        "json": {
          "name": "Charles M l Lyer,"
        }
      },
      {
        "json": {
          "name": "Sawan Raikundalia"
        }
      },
      {
        "json": {
          "name": "Fahim Noorani"
        }
      },
      {
        "json": {
          "name": "David Nolte"
        }
      },
      {
        "json": {
          "name": "Hotel Riverview"
        }
      },
      {
        "json": {
          "name": "Deka Mohamed"
        }
      },
      {
        "json": {
          "name": "Hemang Rana"
        }
      },
      {
        "json": {
          "name": "Payments To be Confirmed"
        }
      },
      {
        "json": {
          "name": "Toprank Africa Invest"
        }
      },
      {
        "json": {
          "name": "Jasvanti Hirani"
        }
      },
      {
        "json": {
          "name": "Arwa Aliasgar Badri"
        }
      },
      {
        "json": {
          "name": "Caren Koros"
        }
      },
      {
        "json": {
          "name": "Neil page"
        }
      },
      {
        "json": {
          "name": "Vivian Computech"
        }
      },
      {
        "json": {
          "name": "Sylvia Gatimu"
        }
      },
      {
        "json": {
          "name": "Abdiaziz Mohamed Abdi"
        }
      },
      {
        "json": {
          "name": "Surer Mahamed"
        }
      },
      {
        "json": {
          "name": "Chrispine Otieno"
        }
      },
      {
        "json": {
          "name": "Brenda Otiende"
        }
      },
      {
        "json": {
          "name": "Lizzy Chepchumba"
        }
      },
      {
        "json": {
          "name": "Young Entrepreneurs"
        }
      },
      {
        "json": {
          "name": "Elvira Mwangi"
        }
      },
      {
        "json": {
          "name": "Fabian Cheruiyot"
        }
      },
      {
        "json": {
          "name": "Mrs LE DU"
        }
      },
      {
        "json": {
          "name": "Prestone Kiteme"
        }
      },
      {
        "json": {
          "name": "Judy Wangari"
        }
      },
      {
        "json": {
          "name": "Pentavest  Enterprise"
        }
      },
      {
        "json": {
          "name": "Ravi Saleh"
        }
      },
      {
        "json": {
          "name": "Janescovia Anyango"
        }
      },
      {
        "json": {
          "name": "Angela Mutuku"
        }
      },
      {
        "json": {
          "name": "wngari"
        }
      },
      {
        "json": {
          "name": "Naomi"
        }
      },
      {
        "json": {
          "name": "Abdi Hassan"
        }
      },
      {
        "json": {
          "name": "Fred Nyakundi"
        }
      },
      {
        "json": {
          "name": "Angela"
        }
      },
      {
        "json": {
          "name": "Adarsh Shah"
        }
      },
      {
        "json": {
          "name": "Akati Khasiani"
        }
      },
      {
        "json": {
          "name": "Windsor"
        }
      },
      {
        "json": {
          "name": "Jaimeen Pt"
        }
      },
      {
        "json": {
          "name": "Mercy Muthoni"
        }
      },
      {
        "json": {
          "name": "Sunaina Dhadialla"
        }
      },
      {
        "json": {
          "name": "Janet Gathere"
        }
      },
      {
        "json": {
          "name": "Bini Shah"
        }
      },
      {
        "json": {
          "name": "Gilphens Dry Goods"
        }
      },
      {
        "json": {
          "name": "Bilz Rashaan stores Ltd"
        }
      },
      {
        "json": {
          "name": "Takataka Solutions Limited"
        }
      },
      {
        "json": {
          "name": "Vimit Conwaters Ltd"
        }
      },
      {
        "json": {
          "name": "zameta holdings limited"
        }
      },
      {
        "json": {
          "name": "Sandy's Kitchen And Events"
        }
      },
      {
        "json": {
          "name": "White Anchor Investments Ltd"
        }
      },
      {
        "json": {
          "name": "Azile Limited"
        }
      },
      {
        "json": {
          "name": "Vibanda Village"
        }
      },
      {
        "json": {
          "name": "Leslex Enterprise"
        }
      },
      {
        "json": {
          "name": "GEOVENTURES WELFARE"
        }
      },
      {
        "json": {
          "name": "Cindy Cakes Haven"
        }
      },
      {
        "json": {
          "name": "Paul Kabuuri"
        }
      },
      {
        "json": {
          "name": "Ajra Abdullatif Mohamed"
        }
      },
      {
        "json": {
          "name": "Sarah Yusuf"
        }
      },
      {
        "json": {
          "name": "Kush Yang"
        }
      },
      {
        "json": {
          "name": "Judith Evelyn"
        }
      },
      {
        "json": {
          "name": "Ashwati"
        }
      },
      {
        "json": {
          "name": "Carly Gilbert-Patrick/Koinange"
        }
      },
      {
        "json": {
          "name": "Kevina Alfons"
        }
      },
      {
        "json": {
          "name": "Ruth Nyakebondo"
        }
      },
      {
        "json": {
          "name": "sanjay vasta"
        }
      },
      {
        "json": {
          "name": "Samantha Bunch"
        }
      },
      {
        "json": {
          "name": "Jenn Azael"
        }
      },
      {
        "json": {
          "name": "Daisy Kariuki"
        }
      },
      {
        "json": {
          "name": "Wanjiku Nganga"
        }
      },
      {
        "json": {
          "name": "Henry kirimi"
        }
      },
      {
        "json": {
          "name": "Nicholas Chege"
        }
      },
      {
        "json": {
          "name": "Halai Kaushil"
        }
      },
      {
        "json": {
          "name": "Zainab Adan"
        }
      },
      {
        "json": {
          "name": "Shezan Kara"
        }
      },
      {
        "json": {
          "name": "Susan Njeru"
        }
      },
      {
        "json": {
          "name": "Jasdeep Jutley"
        }
      },
      {
        "json": {
          "name": "Divyesh Patel - 1"
        }
      },
      {
        "json": {
          "name": "Juma Rajab"
        }
      },
      {
        "json": {
          "name": "Faith Linda"
        }
      },
      {
        "json": {
          "name": "Siad Dalacha"
        }
      },
      {
        "json": {
          "name": "Lillian Njoroge"
        }
      },
      {
        "json": {
          "name": "Nimmi"
        }
      },
      {
        "json": {
          "name": "Sheila Okara"
        }
      },
      {
        "json": {
          "name": "Fazal Butt"
        }
      },
      {
        "json": {
          "name": "Kelvin Mwaura"
        }
      },
      {
        "json": {
          "name": "Wahome Mukundi"
        }
      },
      {
        "json": {
          "name": "nicholas murerwa"
        }
      },
      {
        "json": {
          "name": "Effat Abdulwahab"
        }
      },
      {
        "json": {
          "name": "Gloria Khafafa"
        }
      },
      {
        "json": {
          "name": "Bhakti Chhabhaiya"
        }
      },
      {
        "json": {
          "name": "Nimi"
        }
      },
      {
        "json": {
          "name": "Abdi Dahir"
        }
      },
      {
        "json": {
          "name": "Karim Hasham"
        }
      },
      {
        "json": {
          "name": "Brenda Maina"
        }
      },
      {
        "json": {
          "name": "Meera Shah"
        }
      },
      {
        "json": {
          "name": "Wanjira Kiriro"
        }
      },
      {
        "json": {
          "name": "Diana Mwikali"
        }
      },
      {
        "json": {
          "name": "Charlene Waiganjo"
        }
      },
      {
        "json": {
          "name": "Wanuri Kahiu"
        }
      },
      {
        "json": {
          "name": "Gloria Tsentumbwe"
        }
      },
      {
        "json": {
          "name": "kamau wairimu"
        }
      },
      {
        "json": {
          "name": "Trusillah Kabete"
        }
      },
      {
        "json": {
          "name": "Elizabeth Wanjiku Mbugua"
        }
      },
      {
        "json": {
          "name": "Patriciah Machio"
        }
      },
      {
        "json": {
          "name": "Shane K"
        }
      },
      {
        "json": {
          "name": "Swamini Viking"
        }
      },
      {
        "json": {
          "name": "Elias Mungas"
        }
      },
      {
        "json": {
          "name": "Emanuel Pelote"
        }
      },
      {
        "json": {
          "name": "Rozie Wakasa"
        }
      },
      {
        "json": {
          "name": "Jackie Otieno"
        }
      },
      {
        "json": {
          "name": "Ahmed Aden"
        }
      },
      {
        "json": {
          "name": "Eric Omosh"
        }
      },
      {
        "json": {
          "name": "Loise Gakumo"
        }
      },
      {
        "json": {
          "name": "Selina Ochieng"
        }
      },
      {
        "json": {
          "name": "Viral Dodhia"
        }
      },
      {
        "json": {
          "name": "Kimberly Njau"
        }
      },
      {
        "json": {
          "name": "Lillian Nyambu"
        }
      },
      {
        "json": {
          "name": "Kathleen Murrey"
        }
      },
      {
        "json": {
          "name": "Nafisa Walijee"
        }
      },
      {
        "json": {
          "name": "Darshni Shah"
        }
      },
      {
        "json": {
          "name": "Isabella Schmidt"
        }
      },
      {
        "json": {
          "name": "Ruth Barassah"
        }
      },
      {
        "json": {
          "name": "Sheila Bhalloo"
        }
      },
      {
        "json": {
          "name": "Pauline Kamunya"
        }
      },
      {
        "json": {
          "name": "Anne Omwandho"
        }
      },
      {
        "json": {
          "name": "Neel Salva"
        }
      },
      {
        "json": {
          "name": "Jalpesh Upadhyay"
        }
      },
      {
        "json": {
          "name": "Salma Bashir"
        }
      },
      {
        "json": {
          "name": "Antony Munyiri"
        }
      },
      {
        "json": {
          "name": "Edna Kihara"
        }
      },
      {
        "json": {
          "name": "Prudence Khamati"
        }
      },
      {
        "json": {
          "name": "Catherine Tarayia"
        }
      },
      {
        "json": {
          "name": "Loise"
        }
      },
      {
        "json": {
          "name": "Salome Kagendo"
        }
      },
      {
        "json": {
          "name": "Elodie Sampere"
        }
      },
      {
        "json": {
          "name": "Albert"
        }
      },
      {
        "json": {
          "name": "Celline Ager"
        }
      },
      {
        "json": {
          "name": "Amer Omar"
        }
      },
      {
        "json": {
          "name": "Lucy Mecca"
        }
      },
      {
        "json": {
          "name": "William Omondi"
        }
      },
      {
        "json": {
          "name": "Zumbran Muhammad"
        }
      },
      {
        "json": {
          "name": "Esther Mutua"
        }
      },
      {
        "json": {
          "name": "Peter Mutuma"
        }
      },
      {
        "json": {
          "name": "Bella Aschemacher"
        }
      },
      {
        "json": {
          "name": "Kazmin Gandhi"
        }
      },
      {
        "json": {
          "name": "Lakshmi Moola"
        }
      },
      {
        "json": {
          "name": "David Kubasu"
        }
      },
      {
        "json": {
          "name": "Kajal Shah"
        }
      },
      {
        "json": {
          "name": "Zahir Kara"
        }
      },
      {
        "json": {
          "name": "Andy Hill"
        }
      },
      {
        "json": {
          "name": "Nancy Mwangi"
        }
      },
      {
        "json": {
          "name": "Abdul Rahim"
        }
      },
      {
        "json": {
          "name": "Patricia mwende"
        }
      },
      {
        "json": {
          "name": "Mariyam Haji"
        }
      },
      {
        "json": {
          "name": "hellen chepngetich"
        }
      },
      {
        "json": {
          "name": "Clare Nandi"
        }
      },
      {
        "json": {
          "name": "Cynthia"
        }
      },
      {
        "json": {
          "name": "Krunal Patel"
        }
      },
      {
        "json": {
          "name": "Mehul Vekaria"
        }
      },
      {
        "json": {
          "name": "Mercy Musyoki"
        }
      },
      {
        "json": {
          "name": "Michelle Mwaka"
        }
      },
      {
        "json": {
          "name": "Feysal Omar"
        }
      },
      {
        "json": {
          "name": "Alisha R"
        }
      },
      {
        "json": {
          "name": "Maggie Bashforth"
        }
      },
      {
        "json": {
          "name": "Parth Gupta"
        }
      },
      {
        "json": {
          "name": "Irene Wanderi"
        }
      },
      {
        "json": {
          "name": "JOY GREEN E.P"
        }
      },
      {
        "json": {
          "name": "Eli Mwangi"
        }
      },
      {
        "json": {
          "name": "Judy Amolo"
        }
      },
      {
        "json": {
          "name": "Saruni Kenya"
        }
      },
      {
        "json": {
          "name": "Tracy Bunch"
        }
      },
      {
        "json": {
          "name": "niphrey"
        }
      },
      {
        "json": {
          "name": "Ali Ali"
        }
      },
      {
        "json": {
          "name": "Julius Njoroge"
        }
      },
      {
        "json": {
          "name": "Maureen Njeri"
        }
      },
      {
        "json": {
          "name": "Abdulshakoor Abdulrazak"
        }
      },
      {
        "json": {
          "name": "Sofia"
        }
      },
      {
        "json": {
          "name": "Nasambu Flavia"
        }
      },
      {
        "json": {
          "name": "Drashti Pandit"
        }
      },
      {
        "json": {
          "name": "Birju"
        }
      },
      {
        "json": {
          "name": "Anne Mwangangi"
        }
      },
      {
        "json": {
          "name": "Dipesh Siyani"
        }
      },
      {
        "json": {
          "name": "Kevin Mukhami"
        }
      },
      {
        "json": {
          "name": "John Njenga"
        }
      },
      {
        "json": {
          "name": "Lilesh Gorasiya"
        }
      },
      {
        "json": {
          "name": "Gideon Nzeu"
        }
      },
      {
        "json": {
          "name": "Jane Karimi"
        }
      },
      {
        "json": {
          "name": "Stella"
        }
      },
      {
        "json": {
          "name": "joseph muigai"
        }
      },
      {
        "json": {
          "name": "Patrick Munyi"
        }
      },
      {
        "json": {
          "name": "Seeya"
        }
      },
      {
        "json": {
          "name": "Francis Osendi"
        }
      },
      {
        "json": {
          "name": "Kuki Wason"
        }
      },
      {
        "json": {
          "name": "John Mithamo"
        }
      },
      {
        "json": {
          "name": "Rajul"
        }
      },
      {
        "json": {
          "name": "Faith Kawira"
        }
      },
      {
        "json": {
          "name": "Suhail Salim"
        }
      },
      {
        "json": {
          "name": "Elizabeth Waithaka"
        }
      },
      {
        "json": {
          "name": "Misheck Mbugua"
        }
      },
      {
        "json": {
          "name": "Kavash Doran"
        }
      },
      {
        "json": {
          "name": "Frost Cakery"
        }
      },
      {
        "json": {
          "name": "Jacqueline Waititu"
        }
      },
      {
        "json": {
          "name": "Relief line kenya"
        }
      },
      {
        "json": {
          "name": "Patrick Onyancha"
        }
      },
      {
        "json": {
          "name": "Jaimika Patel"
        }
      },
      {
        "json": {
          "name": "Rachel Ombaka"
        }
      },
      {
        "json": {
          "name": "Leah Miano"
        }
      },
      {
        "json": {
          "name": "Meggy Ogoma"
        }
      },
      {
        "json": {
          "name": "Nicole"
        }
      },
      {
        "json": {
          "name": "Samuel Asibiko Apwacho"
        }
      },
      {
        "json": {
          "name": "Andras Porffy"
        }
      },
      {
        "json": {
          "name": "Muthoni Kioni"
        }
      },
      {
        "json": {
          "name": "Ben Harribenn"
        }
      },
      {
        "json": {
          "name": "Mary Muriithi"
        }
      },
      {
        "json": {
          "name": "Judith Malika"
        }
      },
      {
        "json": {
          "name": "Sarah Ndiba"
        }
      },
      {
        "json": {
          "name": "Denis Ondieki"
        }
      },
      {
        "json": {
          "name": "Leah Kimata"
        }
      },
      {
        "json": {
          "name": "Maira Bholla"
        }
      },
      {
        "json": {
          "name": "Monica Wanjiku"
        }
      },
      {
        "json": {
          "name": "Luv Gupta"
        }
      },
      {
        "json": {
          "name": "Yussuf Garat"
        }
      },
      {
        "json": {
          "name": "Joyce Micheni"
        }
      },
      {
        "json": {
          "name": "Farin Yusuf"
        }
      },
      {
        "json": {
          "name": "Saikrishna"
        }
      },
      {
        "json": {
          "name": "Ahlaam Ganzel"
        }
      },
      {
        "json": {
          "name": "Esther - 1"
        }
      },
      {
        "json": {
          "name": "Umar Ansari"
        }
      },
      {
        "json": {
          "name": "Alice Mathangani"
        }
      },
      {
        "json": {
          "name": "Angel Kamunge"
        }
      },
      {
        "json": {
          "name": "Elias Mungas - 1"
        }
      },
      {
        "json": {
          "name": "Rubina Haroon"
        }
      },
      {
        "json": {
          "name": "St. Mary Magdalene Retreat House"
        }
      },
      {
        "json": {
          "name": "Ali Hassan"
        }
      },
      {
        "json": {
          "name": "Joy Kimari"
        }
      },
      {
        "json": {
          "name": "Alison Kibera"
        }
      },
      {
        "json": {
          "name": "Kangonga Njoroge"
        }
      },
      {
        "json": {
          "name": "Indazi Gloria"
        }
      },
      {
        "json": {
          "name": "Manju Patel"
        }
      },
      {
        "json": {
          "name": "Ibrahim"
        }
      },
      {
        "json": {
          "name": "Antony Ekirapa"
        }
      },
      {
        "json": {
          "name": "Kathryn Robertson"
        }
      },
      {
        "json": {
          "name": "Abu"
        }
      },
      {
        "json": {
          "name": "Daniel Kamau"
        }
      },
      {
        "json": {
          "name": "Tamim"
        }
      },
      {
        "json": {
          "name": "Muthunga Victor"
        }
      },
      {
        "json": {
          "name": "Angela Mbugua"
        }
      },
      {
        "json": {
          "name": "Dipak Galaiya"
        }
      },
      {
        "json": {
          "name": "Karim Manji"
        }
      },
      {
        "json": {
          "name": "Joy Adhiambo"
        }
      },
      {
        "json": {
          "name": "Melissa Gaya"
        }
      },
      {
        "json": {
          "name": "ERIC MUCHIRA"
        }
      },
      {
        "json": {
          "name": "Rebecca Majiwa"
        }
      },
      {
        "json": {
          "name": "Harshna Chavda"
        }
      },
      {
        "json": {
          "name": "Lucia Wangui"
        }
      },
      {
        "json": {
          "name": "Michelle Liz"
        }
      },
      {
        "json": {
          "name": "Sagar shah"
        }
      },
      {
        "json": {
          "name": "Nicole Rogers"
        }
      },
      {
        "json": {
          "name": "Diana Obell"
        }
      },
      {
        "json": {
          "name": "Cynthia Dwalo"
        }
      },
      {
        "json": {
          "name": "Zainab"
        }
      },
      {
        "json": {
          "name": "Equity Unallocated"
        }
      },
      {
        "json": {
          "name": "Brigid Sawe"
        }
      },
      {
        "json": {
          "name": "Pavan Desai"
        }
      },
      {
        "json": {
          "name": "Neil Patel"
        }
      },
      {
        "json": {
          "name": "Ajay Singh"
        }
      },
      {
        "json": {
          "name": "Shairros Mannjji"
        }
      },
      {
        "json": {
          "name": "Eugene Aaron"
        }
      },
      {
        "json": {
          "name": "Three Spears Ltd"
        }
      },
      {
        "json": {
          "name": "Nadine Kamolleh"
        }
      },
      {
        "json": {
          "name": "Michael Magudedi"
        }
      },
      {
        "json": {
          "name": "Elsie Watare"
        }
      },
      {
        "json": {
          "name": "Jasmita Varsani"
        }
      },
      {
        "json": {
          "name": "Phoenix Timber"
        }
      },
      {
        "json": {
          "name": "Fatema Imran"
        }
      },
      {
        "json": {
          "name": "Hasan Nyakwara  Gechiko"
        }
      },
      {
        "json": {
          "name": "Sarah Mwangi"
        }
      },
      {
        "json": {
          "name": "Leah Wangui"
        }
      },
      {
        "json": {
          "name": "Nessy Lee"
        }
      },
      {
        "json": {
          "name": "Stephanie Nazi"
        }
      },
      {
        "json": {
          "name": "Ahmed Manjlai"
        }
      },
      {
        "json": {
          "name": "Esther Maina - 1"
        }
      },
      {
        "json": {
          "name": "Judy Gicharu"
        }
      },
      {
        "json": {
          "name": "Ayiesha Elseed"
        }
      },
      {
        "json": {
          "name": "Rupal Shah"
        }
      },
      {
        "json": {
          "name": "Dipty Shah"
        }
      },
      {
        "json": {
          "name": "Jazznam Investment"
        }
      },
      {
        "json": {
          "name": "Sanjay Shamsunder"
        }
      },
      {
        "json": {
          "name": "Anne  Maina"
        }
      },
      {
        "json": {
          "name": "Dickens Omollo"
        }
      },
      {
        "json": {
          "name": "Kennedy Musyoka"
        }
      },
      {
        "json": {
          "name": "Zahra Jamal"
        }
      },
      {
        "json": {
          "name": "Henry Ngure"
        }
      },
      {
        "json": {
          "name": "Ruth Wangui"
        }
      },
      {
        "json": {
          "name": "Ankit  Halai"
        }
      },
      {
        "json": {
          "name": "Virginia Kahia"
        }
      },
      {
        "json": {
          "name": "Francis Gatura"
        }
      },
      {
        "json": {
          "name": "Arzina Jeraj"
        }
      },
      {
        "json": {
          "name": "ESTHER ASAMI"
        }
      },
      {
        "json": {
          "name": "John Mwangi - 1"
        }
      },
      {
        "json": {
          "name": "Three Spears LTD - 1"
        }
      },
      {
        "json": {
          "name": "Eugene Mulama"
        }
      },
      {
        "json": {
          "name": "Wanja Kanyarati"
        }
      },
      {
        "json": {
          "name": "Charles Muchiri"
        }
      },
      {
        "json": {
          "name": "Amrit Panesar"
        }
      },
      {
        "json": {
          "name": "CHRISTTINE NKATHA"
        }
      },
      {
        "json": {
          "name": "Zubeda Nanji"
        }
      },
      {
        "json": {
          "name": "Wahida Mohamed - 1"
        }
      },
      {
        "json": {
          "name": "Michael Mwirichia"
        }
      },
      {
        "json": {
          "name": "Test Company"
        }
      },
      {
        "json": {
          "name": "Judy Thuita"
        }
      },
      {
        "json": {
          "name": "Sadiq Kasmani"
        }
      },
      {
        "json": {
          "name": "Joseph Lubarov"
        }
      },
      {
        "json": {
          "name": "Gatura"
        }
      },
      {
        "json": {
          "name": "Esolz Digital LTD"
        }
      },
      {
        "json": {
          "name": "Fred Ombachi"
        }
      },
      {
        "json": {
          "name": "Joseph Mbuthia"
        }
      },
      {
        "json": {
          "name": "Kelvin Kamau"
        }
      },
      {
        "json": {
          "name": "Michael Chacha"
        }
      },
      {
        "json": {
          "name": "Michael Aol"
        }
      },
      {
        "json": {
          "name": "Solomon Ndungu"
        }
      },
      {
        "json": {
          "name": "Idris Kassim"
        }
      },
      {
        "json": {
          "name": "Marvin Osir"
        }
      },
      {
        "json": {
          "name": "Maxwell Bowen"
        }
      },
      {
        "json": {
          "name": "Rosemary Kitony"
        }
      },
      {
        "json": {
          "name": "Sabeera ameen kana"
        }
      },
      {
        "json": {
          "name": "Charles Mbugua"
        }
      },
      {
        "json": {
          "name": "Shazia Farooque"
        }
      },
      {
        "json": {
          "name": "Sarah Maina"
        }
      },
      {
        "json": {
          "name": "Hafswa Guracha"
        }
      },
      {
        "json": {
          "name": "Esther"
        }
      },
      {
        "json": {
          "name": "Nelson Odhiambo"
        }
      },
      {
        "json": {
          "name": "Shem Reagan"
        }
      },
      {
        "json": {
          "name": "Nungari Mwangi"
        }
      },
      {
        "json": {
          "name": "Ayesha Abdulkadir"
        }
      },
      {
        "json": {
          "name": "Mildred Maisiba"
        }
      },
      {
        "json": {
          "name": "Emy Chep"
        }
      },
      {
        "json": {
          "name": "Albert  M"
        }
      },
      {
        "json": {
          "name": "Mohammed Viji"
        }
      },
      {
        "json": {
          "name": "Anabelle Sayi"
        }
      },
      {
        "json": {
          "name": "Aaron Amayi"
        }
      },
      {
        "json": {
          "name": "Nairobi West hospital"
        }
      },
      {
        "json": {
          "name": "Aliya Habib"
        }
      },
      {
        "json": {
          "name": "Rozie Wekesa"
        }
      },
      {
        "json": {
          "name": "Abdirahaman"
        }
      },
      {
        "json": {
          "name": "Voi Wildlife Lodge"
        }
      },
      {
        "json": {
          "name": "Clementine Vandeleur"
        }
      },
      {
        "json": {
          "name": "Millicent Adhiambo"
        }
      },
      {
        "json": {
          "name": "Benta"
        }
      },
      {
        "json": {
          "name": "Pammy Nauranga"
        }
      },
      {
        "json": {
          "name": "Lateefa Omar"
        }
      },
      {
        "json": {
          "name": "Virtech East Africa"
        }
      },
      {
        "json": {
          "name": "Vincent Koskei"
        }
      },
      {
        "json": {
          "name": "Yvonne Ochieng"
        }
      },
      {
        "json": {
          "name": "Best Western Kisumu"
        }
      },
      {
        "json": {
          "name": "Krupa Halai"
        }
      },
      {
        "json": {
          "name": "Tamizan Nathoo"
        }
      },
      {
        "json": {
          "name": "Emy Chep - 1"
        }
      },
      {
        "json": {
          "name": "Joyce Mwangi"
        }
      },
      {
        "json": {
          "name": "Natasha Natasha"
        }
      },
      {
        "json": {
          "name": "The Explorers Company Limited"
        }
      },
      {
        "json": {
          "name": "Flavour Town Cafe (CJs)"
        }
      },
      {
        "json": {
          "name": "Wachuka Ngure"
        }
      },
      {
        "json": {
          "name": "Amizu Ventures ltd"
        }
      },
      {
        "json": {
          "name": "Faith Gogo"
        }
      },
      {
        "json": {
          "name": "Ektaa Gada"
        }
      },
      {
        "json": {
          "name": "Jesse Kiarie"
        }
      },
      {
        "json": {
          "name": "Divyesh Patel"
        }
      },
      {
        "json": {
          "name": "Tinnie"
        }
      },
      {
        "json": {
          "name": "Peter Munge"
        }
      },
      {
        "json": {
          "name": "Clementine Vandeleur - 1"
        }
      },
      {
        "json": {
          "name": "Milan Varsani"
        }
      },
      {
        "json": {
          "name": "James Omitto"
        }
      },
      {
        "json": {
          "name": "Sarah Jackson"
        }
      },
      {
        "json": {
          "name": "Saleh Ali"
        }
      },
      {
        "json": {
          "name": "Dickson Ogutu"
        }
      },
      {
        "json": {
          "name": "MwitiMwiti"
        }
      },
      {
        "json": {
          "name": "Stashi Anna"
        }
      },
      {
        "json": {
          "name": "Veggie Creek"
        }
      },
      {
        "json": {
          "name": "Valeriana"
        }
      },
      {
        "json": {
          "name": "Elephant Gorge"
        }
      },
      {
        "json": {
          "name": "Mara Plains"
        }
      },
      {
        "json": {
          "name": "Peter Karichu"
        }
      },
      {
        "json": {
          "name": "JJ Wholesale Nakuru"
        }
      },
      {
        "json": {
          "name": "Doreen Kanana"
        }
      },
      {
        "json": {
          "name": "Sarah Diba"
        }
      },
      {
        "json": {
          "name": "Olivia Ogalo"
        }
      },
      {
        "json": {
          "name": "Nadir"
        }
      },
      {
        "json": {
          "name": "Yasin Mohammed"
        }
      },
      {
        "json": {
          "name": "Eric Averdung"
        }
      },
      {
        "json": {
          "name": "Abitalib Rajabali"
        }
      },
      {
        "json": {
          "name": "Anne Mbithe"
        }
      },
      {
        "json": {
          "name": "BaseCamp Explorer"
        }
      },
      {
        "json": {
          "name": "Naomi Elisealango"
        }
      },
      {
        "json": {
          "name": "Sarah  Achillah"
        }
      },
      {
        "json": {
          "name": "Amira"
        }
      },
      {
        "json": {
          "name": "Munaf Parkar"
        }
      },
      {
        "json": {
          "name": "Vincent Paul"
        }
      },
      {
        "json": {
          "name": "Mary Nyutho"
        }
      },
      {
        "json": {
          "name": "Mohan Gahuri"
        }
      },
      {
        "json": {
          "name": "Amiran Kenya"
        }
      },
      {
        "json": {
          "name": "Shakir Kongolo"
        }
      },
      {
        "json": {
          "name": "Phineas Murori"
        }
      },
      {
        "json": {
          "name": "JOHN OUMA"
        }
      },
      {
        "json": {
          "name": "Abigael Kangogo"
        }
      },
      {
        "json": {
          "name": "Barbara Mogotei"
        }
      },
      {
        "json": {
          "name": "Lynn Boke"
        }
      },
      {
        "json": {
          "name": "Joan Gichomo"
        }
      },
      {
        "json": {
          "name": "Sonia Gitau"
        }
      },
      {
        "json": {
          "name": "Gideon Mutui"
        }
      },
      {
        "json": {
          "name": "Marion Wanyoike"
        }
      },
      {
        "json": {
          "name": "Kelvin Njeru"
        }
      },
      {
        "json": {
          "name": "Ifssgroup"
        }
      },
      {
        "json": {
          "name": "Dash Growth Cleaning Services Limited"
        }
      },
      {
        "json": {
          "name": "Cross Boundary"
        }
      },
      {
        "json": {
          "name": "Bilz Rashan"
        }
      },
      {
        "json": {
          "name": "Angel Mwangi"
        }
      },
      {
        "json": {
          "name": "Hephie's Cloud Kitchen"
        }
      },
      {
        "json": {
          "name": "Acacia Farm Shop"
        }
      },
      {
        "json": {
          "name": "Vizuri Na Vitamu LTD"
        }
      },
      {
        "json": {
          "name": "E-Cart Services LTD"
        }
      },
      {
        "json": {
          "name": "Jinit Shah"
        }
      },
      {
        "json": {
          "name": "Gerald Novak"
        }
      },
      {
        "json": {
          "name": "Sunpower Limited"
        }
      },
      {
        "json": {
          "name": "Navin"
        }
      },
      {
        "json": {
          "name": "Kolat Media SL"
        }
      },
      {
        "json": {
          "name": "Regina Love Clarkson"
        }
      },
      {
        "json": {
          "name": "Kings Post Limited"
        }
      },
      {
        "json": {
          "name": "St Bridget Hospital"
        }
      },
      {
        "json": {
          "name": "Cyrus Kinuthia - 1"
        }
      },
      {
        "json": {
          "name": "Rumit Shah"
        }
      },
      {
        "json": {
          "name": "Leah Ogendi"
        }
      },
      {
        "json": {
          "name": "Nishith Mehta"
        }
      },
      {
        "json": {
          "name": "Judy Thom"
        }
      },
      {
        "json": {
          "name": "Precious Tina"
        }
      },
      {
        "json": {
          "name": "Test Employee User"
        }
      },
      {
        "json": {
          "name": "Isaac Hunja"
        }
      },
      {
        "json": {
          "name": "Bhavisha Halai"
        }
      },
      {
        "json": {
          "name": "Hillary Ogana"
        }
      },
      {
        "json": {
          "name": "Linda Karingithi"
        }
      },
      {
        "json": {
          "name": "Rosmary Irungu"
        }
      },
      {
        "json": {
          "name": "Narae Kang"
        }
      },
      {
        "json": {
          "name": "Caroline Karimi"
        }
      },
      {
        "json": {
          "name": "Jane Kitheka"
        }
      },
      {
        "json": {
          "name": "Sylvia Aluoch"
        }
      },
      {
        "json": {
          "name": "Juliet Mwithiga"
        }
      },
      {
        "json": {
          "name": "Kennedy Wakhu"
        }
      },
      {
        "json": {
          "name": "Tina Ram"
        }
      },
      {
        "json": {
          "name": "Samar Patel"
        }
      },
      {
        "json": {
          "name": "Leteipan Kanchori"
        }
      },
      {
        "json": {
          "name": "Winnie Manwari"
        }
      },
      {
        "json": {
          "name": "Edward Arkle"
        }
      },
      {
        "json": {
          "name": "Rawinder singh Virdee"
        }
      },
      {
        "json": {
          "name": "Mercy"
        }
      },
      {
        "json": {
          "name": "Muthoni Wanguru"
        }
      },
      {
        "json": {
          "name": "Joy Moisengo"
        }
      },
      {
        "json": {
          "name": "Anne Wakonyu"
        }
      },
      {
        "json": {
          "name": "Barbara Gitau"
        }
      },
      {
        "json": {
          "name": "Linah Kiwia"
        }
      },
      {
        "json": {
          "name": "Animesh Solanki"
        }
      },
      {
        "json": {
          "name": "Prasad Jonnavithula"
        }
      },
      {
        "json": {
          "name": "Kishan Vekaria"
        }
      },
      {
        "json": {
          "name": "Shepmatt Limited"
        }
      },
      {
        "json": {
          "name": "Maryanne Muriuki"
        }
      },
      {
        "json": {
          "name": "Kathyrn Millin"
        }
      },
      {
        "json": {
          "name": "Miriam Mbuvi"
        }
      },
      {
        "json": {
          "name": "Lucy Karume"
        }
      },
      {
        "json": {
          "name": "Clinton Obiri"
        }
      },
      {
        "json": {
          "name": "Shilpa Raghvani"
        }
      },
      {
        "json": {
          "name": "Jasper Ochieng"
        }
      },
      {
        "json": {
          "name": "Jasper Ochieng - 1"
        }
      },
      {
        "json": {
          "name": "Priya R.pandit"
        }
      },
      {
        "json": {
          "name": "Amelia hotel"
        }
      },
      {
        "json": {
          "name": "Catherine Mahiaini"
        }
      },
      {
        "json": {
          "name": "Eric Makimei"
        }
      },
      {
        "json": {
          "name": "Vignesh Ramachandran"
        }
      },
      {
        "json": {
          "name": "Evans Aming'a"
        }
      },
      {
        "json": {
          "name": "Mercy Kamara"
        }
      },
      {
        "json": {
          "name": "Mercy Githae"
        }
      },
      {
        "json": {
          "name": "Manoti M"
        }
      },
      {
        "json": {
          "name": "Mukesh Vekaria"
        }
      },
      {
        "json": {
          "name": "Linet Odah"
        }
      },
      {
        "json": {
          "name": "Millie Awiti"
        }
      },
      {
        "json": {
          "name": "Ibrahim Barrow"
        }
      },
      {
        "json": {
          "name": "Irene's Fast Foods"
        }
      },
      {
        "json": {
          "name": "Emarest Baking Accessories"
        }
      },
      {
        "json": {
          "name": "Noela Lagat"
        }
      },
      {
        "json": {
          "name": "Joseph Nyaga"
        }
      },
      {
        "json": {
          "name": "The Grand Gables Suites Limited"
        }
      },
      {
        "json": {
          "name": "TWIROH BUSINESSES PRIVATE (chop kitchen urban eatery)"
        }
      },
      {
        "json": {
          "name": "Betty Kiplagat"
        }
      },
      {
        "json": {
          "name": "Vidisha Raikundalia"
        }
      },
      {
        "json": {
          "name": "Ash Patel"
        }
      },
      {
        "json": {
          "name": "Evans Musau"
        }
      },
      {
        "json": {
          "name": "Sabrina Muchiri"
        }
      },
      {
        "json": {
          "name": "Avnish Sodha"
        }
      },
      {
        "json": {
          "name": "Caroline Wanjiku"
        }
      },
      {
        "json": {
          "name": "Yvonne Auma"
        }
      },
      {
        "json": {
          "name": "William Opundo"
        }
      },
      {
        "json": {
          "name": "Kingstone Theuri"
        }
      },
      {
        "json": {
          "name": "Taskin Butt"
        }
      },
      {
        "json": {
          "name": "Kavit Shah"
        }
      },
      {
        "json": {
          "name": "Dibeshree Raikundalia"
        }
      },
      {
        "json": {
          "name": "Mary Onyango"
        }
      },
      {
        "json": {
          "name": "Saiba N"
        }
      },
      {
        "json": {
          "name": "Sharon Nderitu"
        }
      },
      {
        "json": {
          "name": "Milan Kirei"
        }
      },
      {
        "json": {
          "name": "Issabel Karuthiru"
        }
      },
      {
        "json": {
          "name": "Barbara Gitau - 1"
        }
      },
      {
        "json": {
          "name": "Magdalene Nduati"
        }
      },
      {
        "json": {
          "name": "Alexander Kerich"
        }
      },
      {
        "json": {
          "name": "Abshir Mohammed"
        }
      },
      {
        "json": {
          "name": "Gabriel Adedayo"
        }
      },
      {
        "json": {
          "name": "Amal Badhawi"
        }
      },
      {
        "json": {
          "name": "Brian Githaiga"
        }
      },
      {
        "json": {
          "name": "Lucy Karume - 1"
        }
      },
      {
        "json": {
          "name": "Vito"
        }
      },
      {
        "json": {
          "name": "Grace Kirigo"
        }
      },
      {
        "json": {
          "name": "The Green Wood Grill & Lounge"
        }
      },
      {
        "json": {
          "name": "Geminvest ltd"
        }
      },
      {
        "json": {
          "name": "Michael Vaati"
        }
      },
      {
        "json": {
          "name": "Ushmi Shah"
        }
      },
      {
        "json": {
          "name": "Wajmar Amar Ali"
        }
      },
      {
        "json": {
          "name": "Mohamedfouz Ali"
        }
      },
      {
        "json": {
          "name": "Karanja Njenga"
        }
      },
      {
        "json": {
          "name": "Blefadin Enterprises"
        }
      },
      {
        "json": {
          "name": "Maryline"
        }
      },
      {
        "json": {
          "name": "Allamano Ondego"
        }
      },
      {
        "json": {
          "name": "Mital Shah"
        }
      },
      {
        "json": {
          "name": "KARISHMA CHANDRAVADAN"
        }
      },
      {
        "json": {
          "name": "Amanda Nthambi"
        }
      },
      {
        "json": {
          "name": "Tahera Panju"
        }
      },
      {
        "json": {
          "name": "Anna Gachie"
        }
      },
      {
        "json": {
          "name": "Kevin Wambani"
        }
      },
      {
        "json": {
          "name": "Jaclyn Franco"
        }
      },
      {
        "json": {
          "name": "Victor Ngumo"
        }
      },
      {
        "json": {
          "name": "Sameer Investments LTD"
        }
      },
      {
        "json": {
          "name": "Catherine Nzomo"
        }
      },
      {
        "json": {
          "name": "Jose M"
        }
      },
      {
        "json": {
          "name": "D Chepngeno"
        }
      },
      {
        "json": {
          "name": "Pisoi Saita"
        }
      },
      {
        "json": {
          "name": "Josephine Katambo"
        }
      },
      {
        "json": {
          "name": "Linah Wodera"
        }
      },
      {
        "json": {
          "name": "Lucy Rotich"
        }
      },
      {
        "json": {
          "name": "Trisha ochollah"
        }
      },
      {
        "json": {
          "name": "Pelle Jacobson"
        }
      },
      {
        "json": {
          "name": "Arie Kotia"
        }
      },
      {
        "json": {
          "name": "Wavinya Musyoka"
        }
      },
      {
        "json": {
          "name": "Danice N Kingori"
        }
      },
      {
        "json": {
          "name": "Thelma John"
        }
      },
      {
        "json": {
          "name": "Ross Bland"
        }
      },
      {
        "json": {
          "name": "Stockwell Properties Ltd"
        }
      },
      {
        "json": {
          "name": "Fix and Go  Auto service"
        }
      },
      {
        "json": {
          "name": "Shee He"
        }
      },
      {
        "json": {
          "name": "Jose Mungai"
        }
      },
      {
        "json": {
          "name": "Fidelis Likimani"
        }
      },
      {
        "json": {
          "name": "Rafiq Noorani"
        }
      },
      {
        "json": {
          "name": "Gitau G"
        }
      },
      {
        "json": {
          "name": "Sylvia Ombeva"
        }
      },
      {
        "json": {
          "name": "Jacqueline Mwihaki"
        }
      },
      {
        "json": {
          "name": "Mrs Ali"
        }
      },
      {
        "json": {
          "name": "Royal Greens Management"
        }
      },
      {
        "json": {
          "name": "Karan Sehmi"
        }
      },
      {
        "json": {
          "name": "Catherine Magua"
        }
      },
      {
        "json": {
          "name": "Shirley Ncharo"
        }
      },
      {
        "json": {
          "name": "Mohamed Ammar Khan"
        }
      },
      {
        "json": {
          "name": "Anita Ragain"
        }
      },
      {
        "json": {
          "name": "Dennis Irumba"
        }
      },
      {
        "json": {
          "name": "The Loft"
        }
      },
      {
        "json": {
          "name": "Bartha Awuor Odhiambo"
        }
      },
      {
        "json": {
          "name": "Ruth Nyakiamba"
        }
      },
      {
        "json": {
          "name": "Abram Ng'ang'a"
        }
      },
      {
        "json": {
          "name": "Keziah Murigi"
        }
      },
      {
        "json": {
          "name": "Vera Adomako-Nyantakyi"
        }
      },
      {
        "json": {
          "name": "Fatma Hassanali"
        }
      },
      {
        "json": {
          "name": "Abdullah Mithoowani"
        }
      },
      {
        "json": {
          "name": "George Owitti"
        }
      },
      {
        "json": {
          "name": "Kijiko Holdings Limited"
        }
      },
      {
        "json": {
          "name": "Huhus Pizza & Grill"
        }
      },
      {
        "json": {
          "name": "Fitspot Gym"
        }
      },
      {
        "json": {
          "name": "Denis Imonje"
        }
      },
      {
        "json": {
          "name": "Farha K"
        }
      },
      {
        "json": {
          "name": "JACKSON OKORIE"
        }
      },
      {
        "json": {
          "name": "Chef Link Ltd"
        }
      },
      {
        "json": {
          "name": "Charles Juma"
        }
      },
      {
        "json": {
          "name": "Martin Ngigi"
        }
      },
      {
        "json": {
          "name": "Sylvia Kigo"
        }
      },
      {
        "json": {
          "name": "Pia Papa Holdings LTD"
        }
      },
      {
        "json": {
          "name": "Jumia Retail"
        }
      },
      {
        "json": {
          "name": "E Cart Services Limited"
        }
      },
      {
        "json": {
          "name": "Araali Limited"
        }
      },
      {
        "json": {
          "name": "Ritesh Mirchandani"
        }
      },
      {
        "json": {
          "name": "Robert Maina"
        }
      },
      {
        "json": {
          "name": "Test Sales"
        }
      },
      {
        "json": {
          "name": "Shellina khimji- Montessori"
        }
      },
      {
        "json": {
          "name": "Website Test"
        }
      },
      {
        "json": {
          "name": "Website"
        }
      },
      {
        "json": {
          "name": "THE TAVERN LIMITED"
        }
      },
      {
        "json": {
          "name": "Monica Lopez Conlon"
        }
      },
      {
        "json": {
          "name": "Bwibo Restaurant"
        }
      },
      {
        "json": {
          "name": "Mondo Grill"
        }
      },
      {
        "json": {
          "name": "Fogo Gaucho Brazilian Steakhouse, Kilimani Branch"
        }
      },
      {
        "json": {
          "name": "Sheilla Mwaura"
        }
      },
      {
        "json": {
          "name": "Aden ice"
        }
      },
      {
        "json": {
          "name": "Keval Shah"
        }
      },
      {
        "json": {
          "name": "Testing"
        }
      },
      {
        "json": {
          "name": "Testing - 1"
        }
      },
      {
        "json": {
          "name": "Kellen Dena"
        }
      },
      {
        "json": {
          "name": "Jumping Monk Customer"
        }
      },
      {
        "json": {
          "name": "Bonface Mwangi"
        }
      },
      {
        "json": {
          "name": "Ashnera Ltd"
        }
      },
      {
        "json": {
          "name": "Ford Foundation"
        }
      },
      {
        "json": {
          "name": "Nancy’s Organic Foods Ltd"
        }
      },
      {
        "json": {
          "name": "Ampersand Emobility"
        }
      },
      {
        "json": {
          "name": "House Of Procurement Limited"
        }
      },
      {
        "json": {
          "name": "Nairowua Cafe Bar"
        }
      },
      {
        "json": {
          "name": "Biscotti Limited"
        }
      },
      {
        "json": {
          "name": "Baskin Bakery Ltd"
        }
      },
      {
        "json": {
          "name": "Lemoc"
        }
      },
      {
        "json": {
          "name": "Kb Creativity Ventures Smc Limited"
        }
      },
      {
        "json": {
          "name": "Tamarind Management Ltd"
        }
      },
      {
        "json": {
          "name": "The Green Table Pizza"
        }
      },
      {
        "json": {
          "name": "Debrah Obara"
        }
      },
      {
        "json": {
          "name": "Sweet Art Creations"
        }
      },
      {
        "json": {
          "name": "Childline Kenya"
        }
      },
      {
        "json": {
          "name": "Miami Lounge And Resturant"
        }
      },
      {
        "json": {
          "name": "CHINA ROAD AND BRIDGE CORPORATION KENYA"
        }
      },
      {
        "json": {
          "name": "DJC Express Kitchen Limited"
        }
      },
      {
        "json": {
          "name": "Evelyne M"
        }
      },
      {
        "json": {
          "name": "Mama Rocks Burgers Kitchen Ltd"
        }
      },
      {
        "json": {
          "name": "Jowam Coffee Roasters Ltd"
        }
      },
      {
        "json": {
          "name": "The Fig & Olive Limited"
        }
      },
      {
        "json": {
          "name": "Sheena Shah"
        }
      },
      {
        "json": {
          "name": "Test Final"
        }
      },
      {
        "json": {
          "name": "TEST ACCOUNT"
        }
      },
      {
        "json": {
          "name": "Stella Etemesi"
        }
      },
      {
        "json": {
          "name": "Rj's Coffee Shop"
        }
      },
      {
        "json": {
          "name": "Nababurger Limited"
        }
      },
      {
        "json": {
          "name": "Kista Cafe Ltd"
        }
      },
      {
        "json": {
          "name": "JC Oelofse"
        }
      },
      {
        "json": {
          "name": "Nicole Mburu"
        }
      },
      {
        "json": {
          "name": "Buona Festa Limited"
        }
      },
      {
        "json": {
          "name": "Homecare & Hardware"
        }
      },
      {
        "json": {
          "name": "La Paz Restaurant"
        }
      },
      {
        "json": {
          "name": "Andre Gayraud"
        }
      },
      {
        "json": {
          "name": "Gamez by Soni"
        }
      },
      {
        "json": {
          "name": "Joyce Ayoti"
        }
      },
      {
        "json": {
          "name": "Wacuka Nganga"
        }
      },
      {
        "json": {
          "name": "Isabelle Messer"
        }
      },
      {
        "json": {
          "name": "La Villa Italian Restaurant & Wine Bar"
        }
      },
      {
        "json": {
          "name": "County2county Smoke Hse & Grills"
        }
      },
      {
        "json": {
          "name": "Yvonne Kwamboka"
        }
      },
      {
        "json": {
          "name": "Axa Kitchen LTD"
        }
      },
      {
        "json": {
          "name": "Jireh Jalipa"
        }
      },
      {
        "json": {
          "name": "Preet Shah"
        }
      },
      {
        "json": {
          "name": "Saab Bakery & Café"
        }
      },
      {
        "json": {
          "name": "The Coffee Cabin"
        }
      },
      {
        "json": {
          "name": "Sarah Bayley"
        }
      },
      {
        "json": {
          "name": "Lilian Imani Ondala"
        }
      },
      {
        "json": {
          "name": "Paul Ongoma"
        }
      },
      {
        "json": {
          "name": "Amitros Ltd"
        }
      },
      {
        "json": {
          "name": "Madina Supermarket Limited"
        }
      },
      {
        "json": {
          "name": "Skynet Trading Limited"
        }
      },
      {
        "json": {
          "name": "Lynette Injette"
        }
      },
      {
        "json": {
          "name": "Joshua Wendo"
        }
      },
      {
        "json": {
          "name": "Martin Mburu"
        }
      },
      {
        "json": {
          "name": "Fusion Deligth Limited"
        }
      },
      {
        "json": {
          "name": "Christine Wanjiru"
        }
      },
      {
        "json": {
          "name": "Tandem Network"
        }
      },
      {
        "json": {
          "name": "Malo Malo Bbq Swahili Cuisine"
        }
      },
      {
        "json": {
          "name": "Sylvia Omoto"
        }
      },
      {
        "json": {
          "name": "Wairimu Kimani"
        }
      },
      {
        "json": {
          "name": "Rosemelia Mwenda"
        }
      },
      {
        "json": {
          "name": "Pamela Smith"
        }
      },
      {
        "json": {
          "name": "Martin Mungai"
        }
      },
      {
        "json": {
          "name": "Ashil Lakhani"
        }
      },
      {
        "json": {
          "name": "Ann Ngicu"
        }
      },
      {
        "json": {
          "name": "Quantum Stride Investment"
        }
      },
      {
        "json": {
          "name": "Mitesh Patel"
        }
      },
      {
        "json": {
          "name": "Sarah Mumo"
        }
      },
      {
        "json": {
          "name": "Ryan Langat"
        }
      },
      {
        "json": {
          "name": "Saviamaria Ondego"
        }
      },
      {
        "json": {
          "name": "Njenga Kuria"
        }
      },
      {
        "json": {
          "name": "Naumy Alwora"
        }
      },
      {
        "json": {
          "name": "Perminus Kiiru"
        }
      },
      {
        "json": {
          "name": "Leonard"
        }
      },
      {
        "json": {
          "name": "Khilna Shah"
        }
      },
      {
        "json": {
          "name": "Jinita Sheth"
        }
      },
      {
        "json": {
          "name": "Susu Juicy"
        }
      },
      {
        "json": {
          "name": "Robert Musembi"
        }
      },
      {
        "json": {
          "name": "Jane Mwatha"
        }
      },
      {
        "json": {
          "name": "The Tavern LTD"
        }
      },
      {
        "json": {
          "name": "Chunnilal Chobisa"
        }
      },
      {
        "json": {
          "name": "SIMON ROBERT WOODS"
        }
      },
      {
        "json": {
          "name": "Melvin Odhiambo"
        }
      },
      {
        "json": {
          "name": "Ann Chiuri"
        }
      },
      {
        "json": {
          "name": "Vikrant Shetty"
        }
      },
      {
        "json": {
          "name": "Chestersway Limited"
        }
      },
      {
        "json": {
          "name": "Rana A. Zein"
        }
      },
      {
        "json": {
          "name": "Benson Waweru"
        }
      },
      {
        "json": {
          "name": "Zain Manji"
        }
      },
      {
        "json": {
          "name": "Njenga Njenga"
        }
      },
      {
        "json": {
          "name": "Gastro And"
        }
      },
      {
        "json": {
          "name": "Ben Waweru"
        }
      },
      {
        "json": {
          "name": "Silverland Investment Limited"
        }
      },
      {
        "json": {
          "name": "Pouline Lumiti"
        }
      },
      {
        "json": {
          "name": "Gloria Kirui"
        }
      },
      {
        "json": {
          "name": "Anne A. Omwandho"
        }
      },
      {
        "json": {
          "name": "Claudio Ayiera"
        }
      },
      {
        "json": {
          "name": "Janet Wambui"
        }
      },
      {
        "json": {
          "name": "Braeside  School"
        }
      },
      {
        "json": {
          "name": "Kainat Shahid"
        }
      },
      {
        "json": {
          "name": "Manjot Dhanjal"
        }
      },
      {
        "json": {
          "name": "Victor Musungu"
        }
      },
      {
        "json": {
          "name": "Gathoni Kimani"
        }
      },
      {
        "json": {
          "name": "Nivendu Sennik"
        }
      },
      {
        "json": {
          "name": "Francis Mukuha"
        }
      },
      {
        "json": {
          "name": "Bhakti Shah"
        }
      },
      {
        "json": {
          "name": "Yogesh  Dhokia"
        }
      },
      {
        "json": {
          "name": "Dinnaz Limited"
        }
      },
      {
        "json": {
          "name": "Samuel Muturi"
        }
      },
      {
        "json": {
          "name": "Kathryn Millin"
        }
      },
      {
        "json": {
          "name": "Dorcas Onyango"
        }
      },
      {
        "json": {
          "name": "Harsh Patel"
        }
      },
      {
        "json": {
          "name": "Anisha Halai"
        }
      },
      {
        "json": {
          "name": "Golden Spoon Restaurant"
        }
      },
      {
        "json": {
          "name": "Fernandez Koroso"
        }
      },
      {
        "json": {
          "name": "Michael Mwangi Karanja"
        }
      },
      {
        "json": {
          "name": "Bettiecharo"
        }
      },
      {
        "json": {
          "name": "Linda Abildsten Gisnås"
        }
      },
      {
        "json": {
          "name": "Brian  Loe A Foe"
        }
      },
      {
        "json": {
          "name": "Desang Kmtc"
        }
      },
      {
        "json": {
          "name": "Kennedy Koech"
        }
      },
      {
        "json": {
          "name": "Bitu Kay"
        }
      },
      {
        "json": {
          "name": "Siham Ali"
        }
      },
      {
        "json": {
          "name": "Nimesh Patel"
        }
      },
      {
        "json": {
          "name": "Prashna Shah"
        }
      },
      {
        "json": {
          "name": "Lilian Mwangi"
        }
      },
      {
        "json": {
          "name": "Nasra  Abdi"
        }
      },
      {
        "json": {
          "name": "Hotel Riverview Westlands Ltd"
        }
      },
      {
        "json": {
          "name": "Esther Wahito"
        }
      },
      {
        "json": {
          "name": "Li Joey"
        }
      },
      {
        "json": {
          "name": "Iman Caesar"
        }
      },
      {
        "json": {
          "name": "Taro Africa Safaris Limited"
        }
      },
      {
        "json": {
          "name": "Nalugera  Specioza"
        }
      },
      {
        "json": {
          "name": "Evah Kungu"
        }
      },
      {
        "json": {
          "name": "Sarah Nkuchia"
        }
      },
      {
        "json": {
          "name": "Nalepo- Lazaro"
        }
      },
      {
        "json": {
          "name": "Sushin"
        }
      },
      {
        "json": {
          "name": "Tony G"
        }
      },
      {
        "json": {
          "name": "Larry Kiniu"
        }
      },
      {
        "json": {
          "name": "Nix Cleaning And Sanitation Services Ltd"
        }
      },
      {
        "json": {
          "name": "Royal Purple Shop"
        }
      },
      {
        "json": {
          "name": "Urvi Shah"
        }
      },
      {
        "json": {
          "name": "Patricia Njeru"
        }
      },
      {
        "json": {
          "name": "Alessia Iovinelli"
        }
      },
      {
        "json": {
          "name": "Michael  Nganga"
        }
      },
      {
        "json": {
          "name": "Shenaz  Popat"
        }
      },
      {
        "json": {
          "name": "Rosemary Njoroge"
        }
      },
      {
        "json": {
          "name": "Ms Juma"
        }
      },
      {
        "json": {
          "name": "Regina Muriuki"
        }
      },
      {
        "json": {
          "name": "Rikesh Laxmidas"
        }
      },
      {
        "json": {
          "name": "Dharam Kishore Hirani"
        }
      },
      {
        "json": {
          "name": "Trupti Gosai"
        }
      },
      {
        "json": {
          "name": "Rihana Hashim"
        }
      },
      {
        "json": {
          "name": "Daisy Kinoti"
        }
      },
      {
        "json": {
          "name": "Samwel Apwacho"
        }
      },
      {
        "json": {
          "name": "Rispah Wambugi"
        }
      },
      {
        "json": {
          "name": "KABEER Khan"
        }
      },
      {
        "json": {
          "name": "Mubeen Nazir"
        }
      },
      {
        "json": {
          "name": "Haandi Restaurant Ltd"
        }
      },
      {
        "json": {
          "name": "Lynn Achieng"
        }
      },
      {
        "json": {
          "name": "Jessica Maina"
        }
      },
      {
        "json": {
          "name": "Essy Cege"
        }
      },
      {
        "json": {
          "name": "F G"
        }
      },
      {
        "json": {
          "name": "Albert Averdung"
        }
      },
      {
        "json": {
          "name": "Shakira Khawaja"
        }
      },
      {
        "json": {
          "name": "Sunnys"
        }
      },
      {
        "json": {
          "name": "Kush Pattni"
        }
      },
      {
        "json": {
          "name": "Anne Mbugua"
        }
      },
      {
        "json": {
          "name": "Rohan Khanna"
        }
      },
      {
        "json": {
          "name": "Florence Maina"
        }
      },
      {
        "json": {
          "name": "Lili Mwangi"
        }
      },
      {
        "json": {
          "name": "Carol Kay"
        }
      },
      {
        "json": {
          "name": "Agape Omoto"
        }
      },
      {
        "json": {
          "name": "John Mwangi"
        }
      },
      {
        "json": {
          "name": "Ayz Gastro Limited"
        }
      },
      {
        "json": {
          "name": "Gastro And Liver Centre"
        }
      },
      {
        "json": {
          "name": "Vanessa Kiuna"
        }
      },
      {
        "json": {
          "name": "Gibson Kinyua"
        }
      },
      {
        "json": {
          "name": "Navroz  Murji"
        }
      },
      {
        "json": {
          "name": "Sky Joint Restaurant"
        }
      },
      {
        "json": {
          "name": "Janet Maingi"
        }
      },
      {
        "json": {
          "name": "Nina jayesh"
        }
      },
      {
        "json": {
          "name": "Rachael Ndungu"
        }
      },
      {
        "json": {
          "name": "Agnes Maina"
        }
      },
      {
        "json": {
          "name": "Christine Kamau"
        }
      },
      {
        "json": {
          "name": "Maggie Minvalla"
        }
      },
      {
        "json": {
          "name": "Sophie Govani"
        }
      },
      {
        "json": {
          "name": "Nancy Gichui"
        }
      },
      {
        "json": {
          "name": "Samca  Traders"
        }
      },
      {
        "json": {
          "name": "Tasnim Manji"
        }
      },
      {
        "json": {
          "name": "Effie Atieno"
        }
      },
      {
        "json": {
          "name": "Christine Waringa"
        }
      },
      {
        "json": {
          "name": "Magdalene Ochieng"
        }
      },
      {
        "json": {
          "name": "Mumbua Giati"
        }
      },
      {
        "json": {
          "name": "SAVIOUR MUSITA"
        }
      },
      {
        "json": {
          "name": "Cyrus Simwaka"
        }
      },
      {
        "json": {
          "name": "Diana O"
        }
      },
      {
        "json": {
          "name": "Chokolade Trading Limited"
        }
      },
      {
        "json": {
          "name": "Faysal Abdishare"
        }
      },
      {
        "json": {
          "name": "Fangfang Chinese restaurant"
        }
      },
      {
        "json": {
          "name": "Limrok Hotel Supplies Ltd"
        }
      },
      {
        "json": {
          "name": "Christina Nduba"
        }
      },
      {
        "json": {
          "name": "LS FOOD LAB LTD"
        }
      },
      {
        "json": {
          "name": "John Karuthai"
        }
      },
      {
        "json": {
          "name": "Ubah Ahmed"
        }
      },
      {
        "json": {
          "name": "Zap Foods Ltd"
        }
      },
      {
        "json": {
          "name": "Gigiri Bodega"
        }
      },
      {
        "json": {
          "name": "Pili Restaurant And Cafe"
        }
      },
      {
        "json": {
          "name": "Tyler Goodwin"
        }
      },
      {
        "json": {
          "name": "Renew Capital Kenya Ltd"
        }
      },
      {
        "json": {
          "name": "Sufra Gardens"
        }
      },
      {
        "json": {
          "name": "Rahul Maru"
        }
      },
      {
        "json": {
          "name": "Ken Mugambi"
        }
      },
      {
        "json": {
          "name": "Kim Ben Danny"
        }
      },
      {
        "json": {
          "name": "Abshir Jimale"
        }
      },
      {
        "json": {
          "name": "Harriet Kituyi"
        }
      },
      {
        "json": {
          "name": "Muzna Hanif"
        }
      },
      {
        "json": {
          "name": "Maco The Big Fish"
        }
      },
      {
        "json": {
          "name": "Helen Mwai"
        }
      },
      {
        "json": {
          "name": "Alice Maimba"
        }
      },
      {
        "json": {
          "name": "Leevans Ouma"
        }
      },
      {
        "json": {
          "name": "Hitul Adatia"
        }
      },
      {
        "json": {
          "name": "Rahul Vaya"
        }
      },
      {
        "json": {
          "name": "Maureen  Mwangi"
        }
      },
      {
        "json": {
          "name": "Annie Wachira"
        }
      },
      {
        "json": {
          "name": "Judi Lusike"
        }
      },
      {
        "json": {
          "name": "Rehal Traders Limited"
        }
      },
      {
        "json": {
          "name": "Simon Kobia"
        }
      },
      {
        "json": {
          "name": "Jackton Osewe"
        }
      },
      {
        "json": {
          "name": "Dalberg Advisors"
        }
      },
      {
        "json": {
          "name": "Zahra Ali"
        }
      },
      {
        "json": {
          "name": "Joan Mungai"
        }
      },
      {
        "json": {
          "name": "Millers Limited"
        }
      },
      {
        "json": {
          "name": "Kennedy Siru"
        }
      },
      {
        "json": {
          "name": "Silverbell Investments LTD"
        }
      },
      {
        "json": {
          "name": "Pots of Flavor"
        }
      },
      {
        "json": {
          "name": "Liz Manyara"
        }
      },
      {
        "json": {
          "name": "Josephine Kiamba"
        }
      },
      {
        "json": {
          "name": "Stella Shi"
        }
      },
      {
        "json": {
          "name": "Sadik Mini Market"
        }
      },
      {
        "json": {
          "name": "Alexis Gicheru"
        }
      },
      {
        "json": {
          "name": "Lawrence Nderitu Manini"
        }
      },
      {
        "json": {
          "name": "Juliana M"
        }
      },
      {
        "json": {
          "name": "Personal"
        }
      },
      {
        "json": {
          "name": "Steve A"
        }
      },
      {
        "json": {
          "name": "Nirali Patel"
        }
      },
      {
        "json": {
          "name": "Tracy Achieng"
        }
      },
      {
        "json": {
          "name": "Roshni Peshavaria"
        }
      },
      {
        "json": {
          "name": "Rosalia Chege"
        }
      },
      {
        "json": {
          "name": "Ramjos Supplies"
        }
      },
      {
        "json": {
          "name": "Pete Mugane"
        }
      },
      {
        "json": {
          "name": "Pauline  Githae"
        }
      },
      {
        "json": {
          "name": "Ethos Conscious"
        }
      },
      {
        "json": {
          "name": "Mulki Salat"
        }
      },
      {
        "json": {
          "name": "Petronila Yego"
        }
      },
      {
        "json": {
          "name": "Vars 'n' Sunn Cafe Ltd"
        }
      },
      {
        "json": {
          "name": "Garidon Enterprises // Express Shop"
        }
      },
      {
        "json": {
          "name": "Wellcreek Coffee"
        }
      },
      {
        "json": {
          "name": "Krafty Jester Limited"
        }
      },
      {
        "json": {
          "name": "Frontier Intergrated Solutions Limited"
        }
      },
      {
        "json": {
          "name": "Thukamis Enterprises"
        }
      },
      {
        "json": {
          "name": "The Jarrets Enterprises // Mugg and Bean"
        }
      },
      {
        "json": {
          "name": "Ammodump Kwenia Limited"
        }
      },
      {
        "json": {
          "name": "Preston Interiors and Electrical Supplies Limited"
        }
      },
      {
        "json": {
          "name": "Benmut Investment Limited"
        }
      },
      {
        "json": {
          "name": "Navuri Mvati"
        }
      },
      {
        "json": {
          "name": "Tin Tin Restaurant"
        }
      },
      {
        "json": {
          "name": "Craic Lounge"
        }
      },
      {
        "json": {
          "name": "Bullion productions"
        }
      },
      {
        "json": {
          "name": "John Kamau"
        }
      },
      {
        "json": {
          "name": "Crazy Plants Ltd"
        }
      },
      {
        "json": {
          "name": "Faith Anne Nyambura"
        }
      },
      {
        "json": {
          "name": "Uva Wines Limited"
        }
      },
      {
        "json": {
          "name": "Happy Sprinkles Limited"
        }
      },
      {
        "json": {
          "name": "Amani Ya Juu Foundation"
        }
      },
      {
        "json": {
          "name": "Djour Limited"
        }
      },
      {
        "json": {
          "name": "Diana Amukoa"
        }
      },
      {
        "json": {
          "name": "Design Stores"
        }
      },
      {
        "json": {
          "name": "Barbeque Nation Hospitality Ltd"
        }
      },
      {
        "json": {
          "name": "Tsg Hospitality"
        }
      },
      {
        "json": {
          "name": "Jettinn Gardens Hotel"
        }
      },
      {
        "json": {
          "name": "Masai Mara Wilderness Lodge Limited"
        }
      },
      {
        "json": {
          "name": "Wekeza Marketing Ltd"
        }
      },
      {
        "json": {
          "name": "Fair Acres Botique Hotel Limited"
        }
      },
      {
        "json": {
          "name": "Sylvester Mutuku"
        }
      },
      {
        "json": {
          "name": "Subz Kenya"
        }
      },
      {
        "json": {
          "name": "James Muchiri"
        }
      },
      {
        "json": {
          "name": "Grandwest Hotel"
        }
      },
      {
        "json": {
          "name": "Brookside Preparatory School"
        }
      },
      {
        "json": {
          "name": "United Nations Office for Project Services"
        }
      },
      {
        "json": {
          "name": "Indigo Co-Working Space"
        }
      },
      {
        "json": {
          "name": "Skyward Express Ltd"
        }
      },
      {
        "json": {
          "name": "Bean Bubble"
        }
      },
      {
        "json": {
          "name": "Power Innovations Diy"
        }
      },
      {
        "json": {
          "name": "Riscan Enterprises Limited"
        }
      },
      {
        "json": {
          "name": "Koa Group"
        }
      },
      {
        "json": {
          "name": "P Khimasia"
        }
      },
      {
        "json": {
          "name": "Steven Yohay"
        }
      },
      {
        "json": {
          "name": "Merapat Investments LLP"
        }
      },
      {
        "json": {
          "name": "Amrita Virdee"
        }
      },
      {
        "json": {
          "name": "Nairobi Street Kitchen Limited"
        }
      },
      {
        "json": {
          "name": "Purity Mwaka"
        }
      },
      {
        "json": {
          "name": "Almas Mart"
        }
      },
      {
        "json": {
          "name": "Stream Coffee"
        }
      },
      {
        "json": {
          "name": "Mexican Food House Limited"
        }
      },
      {
        "json": {
          "name": "Jett Inn Gardens Hotel"
        }
      },
      {
        "json": {
          "name": "Cafe Canopy LTD"
        }
      },
      {
        "json": {
          "name": "Kazuri Beads"
        }
      },
      {
        "json": {
          "name": "Solo Pizza Ltd"
        }
      },
      {
        "json": {
          "name": "Anne Mwirigi"
        }
      },
      {
        "json": {
          "name": "Candy Nellie"
        }
      },
      {
        "json": {
          "name": "Hembin Hardware LTD"
        }
      },
      {
        "json": {
          "name": "Maureen- Antica Bistro"
        }
      },
      {
        "json": {
          "name": "Mafoaat Cafe Limited"
        }
      },
      {
        "json": {
          "name": "VALLEYS LIMITED"
        }
      },
      {
        "json": {
          "name": "Ernest  Obare"
        }
      },
      {
        "json": {
          "name": "Kui’s Kitchen"
        }
      },
      {
        "json": {
          "name": "ISRAEL AID"
        }
      },
      {
        "json": {
          "name": "Isabel Wetzel"
        }
      },
      {
        "json": {
          "name": "Newton Musyimi"
        }
      },
      {
        "json": {
          "name": "Ann Adau"
        }
      },
      {
        "json": {
          "name": "Memorable"
        }
      },
      {
        "json": {
          "name": "Exponent Company Limited"
        }
      },
      {
        "json": {
          "name": "NOLDEN MURIUNGI"
        }
      },
      {
        "json": {
          "name": "Rongai Freshfinds Store Ltd"
        }
      },
      {
        "json": {
          "name": "Diana  Mungai"
        }
      },
      {
        "json": {
          "name": "Terry Khaduli"
        }
      },
      {
        "json": {
          "name": "Serena Hotel Test"
        }
      },
      {
        "json": {
          "name": "Joycom General Suppliers Ltd"
        }
      },
      {
        "json": {
          "name": "Mehdiyah Manji"
        }
      },
      {
        "json": {
          "name": "Swim Africa Limited"
        }
      },
      {
        "json": {
          "name": "Loureen  Adhiambo"
        }
      },
      {
        "json": {
          "name": "Sonumonu International Limited //Claypot Restaurant"
        }
      },
      {
        "json": {
          "name": "Palace Istanbul"
        }
      },
      {
        "json": {
          "name": "Juliet Mbatia"
        }
      },
      {
        "json": {
          "name": "Shalom"
        }
      },
      {
        "json": {
          "name": "Capraia Ltd"
        }
      },
      {
        "json": {
          "name": "Unclenenes Kitchen Limited"
        }
      },
      {
        "json": {
          "name": "Eric Kouskalis"
        }
      },
      {
        "json": {
          "name": "Sesa Caterers And Events Management Ltd"
        }
      },
      {
        "json": {
          "name": "Silver Oak Cafe Limited"
        }
      },
      {
        "json": {
          "name": "Volandi Super Market"
        }
      },
      {
        "json": {
          "name": "Arvince Electro Control"
        }
      },
      {
        "json": {
          "name": "Primrose Food X-Press Ltd"
        }
      },
      {
        "json": {
          "name": "Chateau Two Five Four (254)"
        }
      },
      {
        "json": {
          "name": "Revitalize Ventures Ltd"
        }
      },
      {
        "json": {
          "name": "Judy Leonard"
        }
      },
      {
        "json": {
          "name": "Roselida Parker"
        }
      },
      {
        "json": {
          "name": "Jabir Bachani"
        }
      },
      {
        "json": {
          "name": "Mercy  Wambui"
        }
      },
      {
        "json": {
          "name": "Trupty Patel"
        }
      },
      {
        "json": {
          "name": "Ascent Medmart"
        }
      },
      {
        "json": {
          "name": "Chilande Kuloba"
        }
      },
      {
        "json": {
          "name": "Mercy Amulega"
        }
      },
      {
        "json": {
          "name": "The Wrap Hut"
        }
      },
      {
        "json": {
          "name": "Steven Njenga"
        }
      },
      {
        "json": {
          "name": "Shelmith Ngari"
        }
      },
      {
        "json": {
          "name": "Victor de Waal"
        }
      },
      {
        "json": {
          "name": "Aida Kimani"
        }
      },
      {
        "json": {
          "name": "Vipingo Lounge Limited"
        }
      },
      {
        "json": {
          "name": "Otieno Otung"
        }
      },
      {
        "json": {
          "name": "Virginia Cameron"
        }
      },
      {
        "json": {
          "name": "Divyesh Vaghjiyani"
        }
      },
      {
        "json": {
          "name": "Ahmet Emre Acar"
        }
      },
      {
        "json": {
          "name": "Easebyytte Supermarket"
        }
      },
      {
        "json": {
          "name": "Alken Kenya Limited"
        }
      },
      {
        "json": {
          "name": "Jeniffer Mute"
        }
      },
      {
        "json": {
          "name": "Wahida Mohamed"
        }
      },
      {
        "json": {
          "name": "Collins Mutiso"
        }
      },
      {
        "json": {
          "name": "Village Dishes And Catering Services Ltd"
        }
      },
      {
        "json": {
          "name": "Ando Kitchens"
        }
      },
      {
        "json": {
          "name": "The Tranquil"
        }
      },
      {
        "json": {
          "name": "Carmelites Of Mary Immaculate"
        }
      },
      {
        "json": {
          "name": "Bush and Beyond Limited"
        }
      },
      {
        "json": {
          "name": "Miimart"
        }
      },
      {
        "json": {
          "name": "Ekta Varia"
        }
      },
      {
        "json": {
          "name": "Catherine Szlapak"
        }
      },
      {
        "json": {
          "name": "Millicent Kamau"
        }
      },
      {
        "json": {
          "name": "Everlyne Githuka"
        }
      },
      {
        "json": {
          "name": "Dashidy Royal Enterprises - 1"
        }
      },
      {
        "json": {
          "name": "Jilesh Hirani"
        }
      },
      {
        "json": {
          "name": "Ribracks Ltd"
        }
      },
      {
        "json": {
          "name": "Wellcreek Coffee2254"
        }
      },
      {
        "json": {
          "name": "Cyan Cakes And Creams"
        }
      },
      {
        "json": {
          "name": "Sarah Shivegah"
        }
      },
      {
        "json": {
          "name": "KOsewe Westlands"
        }
      },
      {
        "json": {
          "name": "iBury Lounge"
        }
      },
      {
        "json": {
          "name": "Cadelis Lounge & Grill Ltd"
        }
      },
      {
        "json": {
          "name": "The Spring Noshery LTD"
        }
      },
      {
        "json": {
          "name": "Funke Science Limited"
        }
      },
      {
        "json": {
          "name": "Cassowary Farm Shop - 1"
        }
      },
      {
        "json": {
          "name": "Ann Wanyiri"
        }
      },
      {
        "json": {
          "name": "Zaina Elizabeth"
        }
      },
      {
        "json": {
          "name": "Evryday Mart"
        }
      },
      {
        "json": {
          "name": "Nyambura Kanja"
        }
      },
      {
        "json": {
          "name": "Charles Pioneer Gardens"
        }
      },
      {
        "json": {
          "name": "Kristina Kotiscak"
        }
      },
      {
        "json": {
          "name": "Kenafric Biscuits Limited"
        }
      },
      {
        "json": {
          "name": "Ann Njenga"
        }
      },
      {
        "json": {
          "name": "Dennis Karanja"
        }
      },
      {
        "json": {
          "name": "Ruth Venza"
        }
      },
      {
        "json": {
          "name": "Kitengela Hot Glass Limited"
        }
      },
      {
        "json": {
          "name": "Njeri Kariuki"
        }
      },
      {
        "json": {
          "name": "Naisula Cuisine Limited"
        }
      },
      {
        "json": {
          "name": "Justine Sequeira"
        }
      },
      {
        "json": {
          "name": "Doppio Coffee House"
        }
      },
      {
        "json": {
          "name": "Liquor Library LTD"
        }
      },
      {
        "json": {
          "name": "Leonardo Technologies & Services Limited"
        }
      },
      {
        "json": {
          "name": "Kez Organics Tasting Room"
        }
      },
      {
        "json": {
          "name": "Ruth Nzaru"
        }
      },
      {
        "json": {
          "name": "Ben  Kamara"
        }
      },
      {
        "json": {
          "name": "Taylor Ashe Antivenom Foundation"
        }
      },
      {
        "json": {
          "name": "Joyce Waweru"
        }
      },
      {
        "json": {
          "name": "Workstyle Serviced Offices Limited"
        }
      },
      {
        "json": {
          "name": "Grace Muniu"
        }
      },
      {
        "json": {
          "name": "Alhamdu shop"
        }
      },
      {
        "json": {
          "name": "The Milk Spot"
        }
      },
      {
        "json": {
          "name": "Joan Macharia"
        }
      },
      {
        "json": {
          "name": "Rashid Salim 2"
        }
      },
      {
        "json": {
          "name": "Eddah Dena"
        }
      },
      {
        "json": {
          "name": "Royal"
        }
      },
      {
        "json": {
          "name": "ROBOT CAFE"
        }
      },
      {
        "json": {
          "name": "The Safari Series"
        }
      },
      {
        "json": {
          "name": "GEORGE KANGETHE"
        }
      },
      {
        "json": {
          "name": "Feroz Din"
        }
      },
      {
        "json": {
          "name": "Nancy Kinyanjui"
        }
      },
      {
        "json": {
          "name": "Psycle Kenya Ltd"
        }
      },
      {
        "json": {
          "name": "Easy Hotel Kenya"
        }
      },
      {
        "json": {
          "name": "Amani ya Juu"
        }
      },
      {
        "json": {
          "name": "Judy Thongori & Company Advocates"
        }
      },
      {
        "json": {
          "name": "Manmeet Roopra"
        }
      },
      {
        "json": {
          "name": "Muze Club"
        }
      },
      {
        "json": {
          "name": "Davies Namukosi"
        }
      },
      {
        "json": {
          "name": "The Wine Box"
        }
      },
      {
        "json": {
          "name": "Rashid Salim - 1"
        }
      },
      {
        "json": {
          "name": "Chupa Chap Limited"
        }
      },
      {
        "json": {
          "name": "Rahab  Mbugua"
        }
      },
      {
        "json": {
          "name": "Amara Gardens Restaurant"
        }
      },
      {
        "json": {
          "name": "Team Investment Concept Limited"
        }
      },
      {
        "json": {
          "name": "Pillie Gichuki"
        }
      },
      {
        "json": {
          "name": "Cracker Jack Cafe Ltd"
        }
      },
      {
        "json": {
          "name": "Yrimu Hotel And Restaurant"
        }
      },
      {
        "json": {
          "name": "Nushin  Shariff"
        }
      },
      {
        "json": {
          "name": "Vincent Chilo"
        }
      },
      {
        "json": {
          "name": "MJ's whiskey HUB"
        }
      },
      {
        "json": {
          "name": "Rashid Salim"
        }
      },
      {
        "json": {
          "name": "Ved  Patel"
        }
      },
      {
        "json": {
          "name": "Andrew Mutea"
        }
      },
      {
        "json": {
          "name": "Ann  Wanyiri"
        }
      },
      {
        "json": {
          "name": "Alexander Forrester"
        }
      },
      {
        "json": {
          "name": "Sanante Pharmacy"
        }
      },
      {
        "json": {
          "name": "Chait Limited"
        }
      },
      {
        "json": {
          "name": "Dashidy Royal Enterprises"
        }
      },
      {
        "json": {
          "name": "Nicole Magabo"
        }
      },
      {
        "json": {
          "name": "Bhavisha  Shah"
        }
      },
      {
        "json": {
          "name": "Dancan Imboba"
        }
      },
      {
        "json": {
          "name": "City Professional Cleaners Ltd"
        }
      },
      {
        "json": {
          "name": "Ishara Experience LTD"
        }
      },
      {
        "json": {
          "name": "Estimmas Investment"
        }
      },
      {
        "json": {
          "name": "Dion Wines And Spirits East Africa"
        }
      },
      {
        "json": {
          "name": "Dan Shamblin"
        }
      },
      {
        "json": {
          "name": "Faeza Khan"
        }
      },
      {
        "json": {
          "name": "Tushop Pamoja Limited"
        }
      },
      {
        "json": {
          "name": "Andrew  Heycott"
        }
      },
      {
        "json": {
          "name": "Isaac Kimondi"
        }
      },
      {
        "json": {
          "name": "Irumbis Enterprise // Bonjour Shop"
        }
      },
      {
        "json": {
          "name": "Clay Oven Indian Restaurant"
        }
      },
      {
        "json": {
          "name": "Nobeel Najam"
        }
      },
      {
        "json": {
          "name": "Novotel Nairobi Westlands"
        }
      },
      {
        "json": {
          "name": "Qmins Kenya Ltd"
        }
      },
      {
        "json": {
          "name": "Bambino Kitchen"
        }
      },
      {
        "json": {
          "name": "Nuru Hospitality Africa Limited"
        }
      },
      {
        "json": {
          "name": "Rapid Meal Ltd"
        }
      },
      {
        "json": {
          "name": "Gojo Ethiopian Traditional Restaurant"
        }
      },
      {
        "json": {
          "name": "Eden Life"
        }
      },
      {
        "json": {
          "name": "Anunda Mong'ina"
        }
      },
      {
        "json": {
          "name": "Pinky Matama"
        }
      },
      {
        "json": {
          "name": "La Cucina Restuarant"
        }
      },
      {
        "json": {
          "name": "Virginia Ngare"
        }
      },
      {
        "json": {
          "name": "Seenoi Tiren"
        }
      },
      {
        "json": {
          "name": "Total Energies Gigiri"
        }
      },
      {
        "json": {
          "name": "Pink Forest"
        }
      },
      {
        "json": {
          "name": "Lyput Ventures Ltd"
        }
      },
      {
        "json": {
          "name": "Wok on Wheels"
        }
      },
      {
        "json": {
          "name": "Edmax LTD"
        }
      },
      {
        "json": {
          "name": "Rugaiya  Ebrahim"
        }
      },
      {
        "json": {
          "name": "Maimuna  Bakari"
        }
      },
      {
        "json": {
          "name": "Milly  Nzuki"
        }
      },
      {
        "json": {
          "name": "The Wine and Bottle"
        }
      },
      {
        "json": {
          "name": "Nana Swahili Restaurant"
        }
      },
      {
        "json": {
          "name": "Sophie Holmberg"
        }
      },
      {
        "json": {
          "name": "Betty Wangari"
        }
      },
      {
        "json": {
          "name": "Grace Mutia"
        }
      },
      {
        "json": {
          "name": "Elizabeth  Adira"
        }
      },
      {
        "json": {
          "name": "Lolkirr Agritech Ltd"
        }
      },
      {
        "json": {
          "name": "Jeby Enterprises // Mugg and Bean"
        }
      },
      {
        "json": {
          "name": "Daniel Alberts"
        }
      },
      {
        "json": {
          "name": "Sand Trap Kenya Limited"
        }
      },
      {
        "json": {
          "name": "PEPPERTREE KENYA"
        }
      },
      {
        "json": {
          "name": "Wildlife Clubs Of Kenya - 1"
        }
      },
      {
        "json": {
          "name": "Asya Mrodhi"
        }
      },
      {
        "json": {
          "name": "Phillips"
        }
      },
      {
        "json": {
          "name": "Frontdoor Ltd"
        }
      },
      {
        "json": {
          "name": "Musmark Retreat House"
        }
      },
      {
        "json": {
          "name": "Enchula Resort Limited"
        }
      },
      {
        "json": {
          "name": "Monica Lopez"
        }
      },
      {
        "json": {
          "name": "Arife Basaran"
        }
      },
      {
        "json": {
          "name": "Computech LTD"
        }
      },
      {
        "json": {
          "name": "The Pot Belly"
        }
      },
      {
        "json": {
          "name": "Charlotte Sanginga"
        }
      },
      {
        "json": {
          "name": "Wildlife Clubs Of Kenya"
        }
      },
      {
        "json": {
          "name": "Grace Naserian"
        }
      },
      {
        "json": {
          "name": "Angama Limited"
        }
      },
      {
        "json": {
          "name": "Serviced Offices Workshop Ltd"
        }
      },
      {
        "json": {
          "name": "Roros Co Ltd"
        }
      },
      {
        "json": {
          "name": "Jetpresso"
        }
      },
      {
        "json": {
          "name": "Janna Deeble"
        }
      },
      {
        "json": {
          "name": "Freda Mbogori"
        }
      },
      {
        "json": {
          "name": "SERENITY SPA LIMITED"
        }
      },
      {
        "json": {
          "name": "Shamsa Kassim"
        }
      },
      {
        "json": {
          "name": "Pulchra Holdings"
        }
      },
      {
        "json": {
          "name": "Bolt Support Ke Limited"
        }
      },
      {
        "json": {
          "name": "Rob Winters"
        }
      },
      {
        "json": {
          "name": "King Quality"
        }
      },
      {
        "json": {
          "name": "Zasha Investments // Mugg and Bean"
        }
      },
      {
        "json": {
          "name": "Anabas Resort"
        }
      },
      {
        "json": {
          "name": "Reginah  Mwangi"
        }
      },
      {
        "json": {
          "name": "Caffe And More Limited"
        }
      },
      {
        "json": {
          "name": "The Cookie Bar"
        }
      },
      {
        "json": {
          "name": "Reeta Patel"
        }
      },
      {
        "json": {
          "name": "The Bar Next Door"
        }
      },
      {
        "json": {
          "name": "About Thyme Restaurant"
        }
      },
      {
        "json": {
          "name": "Rahma Mohamoud"
        }
      },
      {
        "json": {
          "name": "Westview Dishes"
        }
      },
      {
        "json": {
          "name": "La Casa Commodities Ltd"
        }
      },
      {
        "json": {
          "name": "Stephanie  Holder"
        }
      },
      {
        "json": {
          "name": "Diana International Limited // Andrews Apartments"
        }
      },
      {
        "json": {
          "name": "Ipay Unallocated"
        }
      },
      {
        "json": {
          "name": "Bolt Retail"
        }
      },
      {
        "json": {
          "name": "Oyana School"
        }
      },
      {
        "json": {
          "name": "Tsebo Facility Solutions Ltd"
        }
      },
      {
        "json": {
          "name": "Sunbird Business Services Kenya Ltd"
        }
      },
      {
        "json": {
          "name": "Xalco Limited"
        }
      },
      {
        "json": {
          "name": "Mary Mwaura"
        }
      },
      {
        "json": {
          "name": "Grind & Groove Coffee Shop"
        }
      },
      {
        "json": {
          "name": "Darkstore Retail Services Ltd"
        }
      },
      {
        "json": {
          "name": "Crafty Chameleon Restaurant"
        }
      },
      {
        "json": {
          "name": "Sirwo Coffee Limited"
        }
      },
      {
        "json": {
          "name": "Sri Sathya Sai Centre - Kenya"
        }
      },
      {
        "json": {
          "name": "WORKABLE LLP"
        }
      },
      {
        "json": {
          "name": "Thefahad Investment"
        }
      },
      {
        "json": {
          "name": "Woodmere Apartments"
        }
      },
      {
        "json": {
          "name": "Impresso Espresso Patisserie"
        }
      },
      {
        "json": {
          "name": "Chapavel Investments // Mugg And Bean"
        }
      },
      {
        "json": {
          "name": "Rescue Connect Limited"
        }
      },
      {
        "json": {
          "name": "Freshtek Investment Ltd"
        }
      },
      {
        "json": {
          "name": "Catering Services Limited"
        }
      },
      {
        "json": {
          "name": "Test Customer"
        }
      },
      {
        "json": {
          "name": "Montessori Learning Centre"
        }
      },
      {
        "json": {
          "name": "Kundan Shah"
        }
      },
      {
        "json": {
          "name": "Le Specialita' Di Donna Rosa Limited"
        }
      },
      {
        "json": {
          "name": "Anab Haji"
        }
      },
      {
        "json": {
          "name": "Fahreen Gilani"
        }
      },
      {
        "json": {
          "name": "Fortis Limited"
        }
      },
      {
        "json": {
          "name": "QOFIBEAN Ltd"
        }
      },
      {
        "json": {
          "name": "Winnie Githiri"
        }
      },
      {
        "json": {
          "name": "High On Whisk Enterprise Limited"
        }
      },
      {
        "json": {
          "name": "Noir Gallery"
        }
      },
      {
        "json": {
          "name": "Cozy Cupz LTD"
        }
      },
      {
        "json": {
          "name": "MSF Switzerland- SKID"
        }
      },
      {
        "json": {
          "name": "Workable"
        }
      },
      {
        "json": {
          "name": "Nictas Enterprise // Mugg and Bean"
        }
      },
      {
        "json": {
          "name": "Valary Kirui"
        }
      },
      {
        "json": {
          "name": "Joosmoo Somalabl Limited"
        }
      },
      {
        "json": {
          "name": "Zahra Noorani"
        }
      },
      {
        "json": {
          "name": "Irumbis Enterprise // Mugg and Bean"
        }
      },
      {
        "json": {
          "name": "Eva Kimunya"
        }
      },
      {
        "json": {
          "name": "Invegara Club"
        }
      },
      {
        "json": {
          "name": "Papparoti"
        }
      },
      {
        "json": {
          "name": "Vuyanzi Koffee House"
        }
      },
      {
        "json": {
          "name": "V&o Traventure Ltd"
        }
      },
      {
        "json": {
          "name": "Rosemary Teka"
        }
      },
      {
        "json": {
          "name": "Octavia Mambori"
        }
      },
      {
        "json": {
          "name": "Enna"
        }
      },
      {
        "json": {
          "name": "Timothy Otieno"
        }
      },
      {
        "json": {
          "name": "Jovan Reid"
        }
      },
      {
        "json": {
          "name": "Dequalmak Enterprise"
        }
      },
      {
        "json": {
          "name": "Fogo Gaucho Restaurant-Panari Branch"
        }
      },
      {
        "json": {
          "name": "Favour  Muthuri"
        }
      },
      {
        "json": {
          "name": "Jambo Mutara Camp"
        }
      },
      {
        "json": {
          "name": "Sunbird Support Services Limited"
        }
      },
      {
        "json": {
          "name": "Nextgen Gym"
        }
      },
      {
        "json": {
          "name": "Rainlex Investment LTD"
        }
      },
      {
        "json": {
          "name": "Aln House"
        }
      },
      {
        "json": {
          "name": "Dishi Limited"
        }
      },
      {
        "json": {
          "name": "Artbravo LTD"
        }
      },
      {
        "json": {
          "name": "Casita"
        }
      },
      {
        "json": {
          "name": "Connect Coffee Company Ltd"
        }
      },
      {
        "json": {
          "name": "Bulkbox Office"
        }
      },
      {
        "json": {
          "name": "Waugh McDonald Wealth Management"
        }
      },
      {
        "json": {
          "name": "Dorian Enterprises // Mugg And Bean"
        }
      },
      {
        "json": {
          "name": "Silver Oak Cafe"
        }
      },
      {
        "json": {
          "name": "Le Decanter"
        }
      },
      {
        "json": {
          "name": "Ando Foods"
        }
      },
      {
        "json": {
          "name": "Cathy Otieno"
        }
      },
      {
        "json": {
          "name": "Cassowary Farm Shop"
        }
      },
      {
        "json": {
          "name": "Leah Nzioki"
        }
      },
      {
        "json": {
          "name": "Derrick Njatha"
        }
      },
      {
        "json": {
          "name": "Fadumo Salad"
        }
      },
      {
        "json": {
          "name": "Rockbern Coffee"
        }
      },
      {
        "json": {
          "name": "Andrew Aseka"
        }
      },
      {
        "json": {
          "name": "Matteo‘s Italian Restaurant Limited"
        }
      },
      {
        "json": {
          "name": "Phoenix Aviation LTD"
        }
      },
      {
        "json": {
          "name": "Nostalgic Foods Ltd"
        }
      },
      {
        "json": {
          "name": "The Heron Hotel"
        }
      },
      {
        "json": {
          "name": "Chatikom Enterprises Ltd"
        }
      },
      {
        "json": {
          "name": "Topserve Investments LTD // Mugg and Bean"
        }
      },
      {
        "json": {
          "name": "Dinebag"
        }
      },
      {
        "json": {
          "name": "Ankole Grill Limited"
        }
      },
      {
        "json": {
          "name": "Zehneria Hotel Ltd"
        }
      },
      {
        "json": {
          "name": "Saggys Suites Limited"
        }
      },
      {
        "json": {
          "name": "Greenspoon Kenya Limited"
        }
      },
      {
        "json": {
          "name": "Reed ONeal"
        }
      },
      {
        "json": {
          "name": "Team Investment – Ikigai"
        }
      },
      {
        "json": {
          "name": "Glovo Infrustracture Services Kenya Limited"
        }
      },
      {
        "json": {
          "name": "Choco Delicious Limited"
        }
      },
      {
        "json": {
          "name": "Ahmed Wurie"
        }
      },
      {
        "json": {
          "name": "Terassen"
        }
      },
      {
        "json": {
          "name": "Roshni Distributers Ltd"
        }
      },
      {
        "json": {
          "name": "SHELIZA ANDRIS"
        }
      },
      {
        "json": {
          "name": "Leven And Grain Nairobi Limited"
        }
      },
      {
        "json": {
          "name": "Mr Green Africa"
        }
      },
      {
        "json": {
          "name": "Team Investment – Roasted Truth"
        }
      },
      {
        "json": {
          "name": "Hello Vietnam Limited"
        }
      },
      {
        "json": {
          "name": "Inicus Innovations Limited"
        }
      },
      {
        "json": {
          "name": "Vivek Gosrani"
        }
      },
      {
        "json": {
          "name": "Spez Ltd"
        }
      },
      {
        "json": {
          "name": "Fogo Gaucho Restaurant- Vikings House"
        }
      },
      {
        "json": {
          "name": "Sacred Mill Coffee Roasters"
        }
      },
      {
        "json": {
          "name": "Hussein  Mustafa"
        }
      },
      {
        "json": {
          "name": "Dennis Keiser"
        }
      },
      {
        "json": {
          "name": "Feng Sheng Supermarket"
        }
      },
      {
        "json": {
          "name": "Bio Food Products Ltd"
        }
      },
      {
        "json": {
          "name": "Hagon Restaurants"
        }
      },
      {
        "json": {
          "name": "Apa Insurance Ltd"
        }
      },
      {
        "json": {
          "name": "Izzi Brunch And Cake"
        }
      },
      {
        "json": {
          "name": "The Wine Shop"
        }
      },
      {
        "json": {
          "name": "Hospitality Refreshments Limited"
        }
      },
      {
        "json": {
          "name": "Sun King"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-10-04T10:56:38.000Z",
  "versionId": "07f9c6e3-35b8-491c-801f-1689c91e5a78"
}