workflows/Payment Entry -> Query Account Balance.json
{
  "active": true,
  "connections": {
    "Customer": {
      "main": [
        [
          {
            "node": "Query Balance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Today": {
      "main": [
        [
          {
            "node": "Customer",
            "type": "main",
            "index": 0
          },
          {
            "node": "Supplier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Balance": {
      "main": [
        [
          {
            "node": "Get Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supplier": {
      "main": [
        [
          {
            "node": "Query Balance1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Balance1": {
      "main": [
        [
          {
            "node": "Get Supplier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Customer": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Supplier": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Update Supplier",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Supplier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Update Customer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Payment Entry": {
      "main": [
        [
          {
            "node": "Today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-04-23T09:10:39.941Z",
  "id": "BbfWou8CDj9EZZn3",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Payment Entry -> Query Account Balance",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "114a344e-e937-45e8-a1f0-3b2e687efb46",
              "leftValue": "={{ $('Payment Entry').item.json[\"body\"][\"party_type\"] }}",
              "rightValue": "Customer",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9f4a67dd-076b-41f1-bf67-790db4a0f89a",
      "name": "Customer",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        1340,
        300
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $today }}",
        "format": "yyyy-MM-dd",
        "options": {}
      },
      "id": "e92e0f16-8fd3-4bdb-8fa7-0ec149fb4308",
      "name": "Today",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1060,
        400
      ]
    },
    {
      "parameters": {
        "url": "=https://portal.bulkbox.cloud/api/method/frappe.desk.query_report.run?report_name=Accounts+Receivable+Summary&filters={\"company\":\"Three+Spears+Limited\",\"ageing_based_on\":\"Posting+Date\",\"report_date\":\"{{ $('Today').item.json[\"formattedDate\"] }}\",\"range1\":7,\"range2\":15,\"range3\":30,\"range4\":45,\"range5\":46,\"customer\":\"{{ encodeURIComponent($('Payment Entry').item.json[\"body\"][\"party\"]) }}\"}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "erpNextApi",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "a0caac5d-c0dd-4bd7-bef5-15c04026758c",
      "name": "Query Balance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1560,
        300
      ],
      "credentials": {
        "erpNextApi": {
          "id": "OVfEC6rfwqA5vwcf",
          "name": "ERPNext account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "9ec29679-a614-4b58-b6f9-2e5630bb5172",
              "leftValue": "={{ $('Payment Entry').item.json.body.party_type }}",
              "rightValue": "Supplier",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7a5353b1-e1f0-484b-9cfd-e39cf6b0a1ff",
      "name": "Supplier",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        1340,
        540
      ]
    },
    {
      "parameters": {
        "url": "=https://portal.bulkbox.cloud/api/method/frappe.desk.query_report.run?report_name=Accounts+Payable+Summary&filters={\"company\":\"Three+Spears+Limited\",\"ageing_based_on\":\"Posting+Date\",\"report_date\":\"{{ $('Today').item.json[\"formattedDate\"] }}\",\"range1\":7,\"range2\":15,\"range3\":30,\"range4\":45,\"range5\":46,\"supplier\":\"{{ encodeURIComponent($('Payment Entry').item.json[\"body\"][\"party\"]) }}\"}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "erpNextApi",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "8b769182-d5fd-4d03-b7c1-e334d275715e",
      "name": "Query Balance1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1560,
        540
      ],
      "credentials": {
        "erpNextApi": {
          "id": "OVfEC6rfwqA5vwcf",
          "name": "ERPNext account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app7c9cfju1wCcghr",
          "mode": "list",
          "cachedResultName": "AR Management Tool",
          "cachedResultUrl": "https://airtable.com/app7c9cfju1wCcghr"
        },
        "table": {
          "__rl": true,
          "value": "tblzg5Zj11G3fiwyr",
          "mode": "list",
          "cachedResultName": "Main",
          "cachedResultUrl": "https://airtable.com/app7c9cfju1wCcghr/tblzg5Zj11G3fiwyr"
        },
        "filterByFormula": "=({Customer ID}=\"{{ $('Payment Entry').item.json.body.party }}\")",
        "options": {}
      },
      "id": "0eee6e72-2553-48c1-8377-f37292461245",
      "name": "Get Customer",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        1760,
        300
      ],
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "q5ICF2DzH8KpL3Ai",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app7c9cfju1wCcghr",
          "mode": "list",
          "cachedResultName": "AR Management Tool",
          "cachedResultUrl": "https://airtable.com/app7c9cfju1wCcghr"
        },
        "table": {
          "__rl": true,
          "value": "tblzg5Zj11G3fiwyr",
          "mode": "list",
          "cachedResultName": "Main",
          "cachedResultUrl": "https://airtable.com/app7c9cfju1wCcghr/tblzg5Zj11G3fiwyr"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "account-balance": "={{ $ifEmpty($('Query Balance').item.json.body.message.result[0].outstanding,0) }}",
            "0 - 7": "={{ $ifEmpty($('Query Balance').item.json.body.message.result[0].range1,0) }}",
            "8 - 15": "={{ $ifEmpty($('Query Balance').item.json.body.message.result[0].range2,0) }}",
            "16 - 30": "={{ $ifEmpty($('Query Balance').item.json.body.message.result[0].range3,0) }}",
            "31 - 45": "={{ $ifEmpty($('Query Balance').item.json.body.message.result[0].range4,0) }}",
            "46+": "={{ $ifEmpty($('Query Balance').item.json.body.message.result[0].range5,0) }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Customer ID",
              "displayName": "Customer ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Company",
                  "value": "Company"
                },
                {
                  "name": "Individual",
                  "value": "Individual"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Customer Group",
              "displayName": "Customer Group",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Account Sales",
                  "value": "Account Sales"
                },
                {
                  "name": "Service Sales",
                  "value": "Service Sales"
                },
                {
                  "name": "Corporate",
                  "value": "Corporate"
                },
                {
                  "name": "Consumer",
                  "value": "Consumer"
                },
                {
                  "name": "Food Service",
                  "value": "Food Service"
                },
                {
                  "name": "Retail",
                  "value": "Retail"
                },
                {
                  "name": "Cash Sales",
                  "value": "Cash Sales"
                },
                {
                  "name": "All Customer Groups",
                  "value": "All Customer Groups"
                },
                {
                  "name": "Restaurant Sales",
                  "value": "Restaurant Sales"
                },
                {
                  "name": "Bolt Retail Shop",
                  "value": "Bolt Retail Shop"
                },
                {
                  "name": "B2C",
                  "value": "B2C"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Territory",
              "displayName": "Territory",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Kenya",
                  "value": "Kenya"
                },
                {
                  "name": "All Territories",
                  "value": "All Territories"
                },
                {
                  "name": "Rest Of The World",
                  "value": "Rest Of The World"
                },
                {
                  "name": "Nairobi",
                  "value": "Nairobi"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Account Manager",
              "displayName": "Account Manager",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "",
                  "value": ""
                },
                {
                  "name": "ahmed@bulkbox.co.ke",
                  "value": "ahmed@bulkbox.co.ke"
                },
                {
                  "name": "rashid@bulkbox.co.ke",
                  "value": "rashid@bulkbox.co.ke"
                },
                {
                  "name": "eugene@bulkbox.co.ke",
                  "value": "eugene@bulkbox.co.ke"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Tax ID",
              "displayName": "Tax ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Mobile No",
              "displayName": "Mobile No",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email ID",
              "displayName": "Email ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Sales Team Assignment",
              "displayName": "Sales Team Assignment",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Brian Mong'are",
                  "value": "Brian Mong'are"
                },
                {
                  "name": "Sophia Khalid",
                  "value": "Sophia Khalid"
                },
                {
                  "name": "Emma Anagei",
                  "value": "Emma Anagei"
                },
                {
                  "name": "Assign Sales Member",
                  "value": "Assign Sales Member"
                },
                {
                  "name": "Eugene Aaron",
                  "value": "Eugene Aaron"
                },
                {
                  "name": "Elsie Watere",
                  "value": "Elsie Watere"
                },
                {
                  "name": "Rashid Salim",
                  "value": "Rashid Salim"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Account Functions",
              "displayName": "Account Functions",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Freeze Account",
                  "value": "Freeze Account"
                },
                {
                  "name": "Unfreeze Account",
                  "value": "Unfreeze Account"
                },
                {
                  "name": "Update Limit",
                  "value": "Update Limit"
                },
                {
                  "name": "Query Balance",
                  "value": "Query Balance"
                },
                {
                  "name": "Update Payment Terms",
                  "value": "Update Payment Terms"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Credit Limit",
              "displayName": "Credit Limit",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "account-balance",
              "displayName": "account-balance",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Limit Notification",
              "displayName": "Limit Notification",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Payment Terms",
              "displayName": "Payment Terms",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Cash on Delivery",
                  "value": "Cash on Delivery"
                },
                {
                  "name": "End of Day",
                  "value": "End of Day"
                },
                {
                  "name": "NET 7",
                  "value": "NET 7"
                },
                {
                  "name": "NET 15",
                  "value": "NET 15"
                },
                {
                  "name": "NET 30",
                  "value": "NET 30"
                },
                {
                  "name": "Prepayment",
                  "value": "Prepayment"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "0 - 7",
              "displayName": "0 - 7",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "8 - 15",
              "displayName": "8 - 15",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "16 - 30",
              "displayName": "16 - 30",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "31 - 45",
              "displayName": "31 - 45",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "46+",
              "displayName": "46+",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Created Date",
              "displayName": "Created Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Account Status",
              "displayName": "Account Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Active",
                  "value": "Active"
                },
                {
                  "name": "Disabled",
                  "value": "Disabled"
                },
                {
                  "name": "Frozen",
                  "value": "Frozen"
                },
                {
                  "name": "Deleted",
                  "value": "Deleted"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Collection Amount",
              "displayName": "Collection Amount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Credit Utlization",
              "displayName": "Credit Utlization",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Risk Level %",
              "displayName": "Risk Level %",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Risk Level",
              "displayName": "Risk Level",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Low",
                  "value": "Low"
                },
                {
                  "name": "Medium",
                  "value": "Medium"
                },
                {
                  "name": "High",
                  "value": "High"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Follow Up Date",
              "displayName": "Follow Up Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Follow Up Status",
              "displayName": "Follow Up Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Unresponsive",
                  "value": "Unresponsive"
                },
                {
                  "name": "Expecting Payment",
                  "value": "Expecting Payment"
                },
                {
                  "name": "ETR Invoices",
                  "value": "ETR Invoices"
                },
                {
                  "name": "Non commital",
                  "value": "Non commital"
                },
                {
                  "name": "SOA/AR Sent",
                  "value": "SOA/AR Sent"
                },
                {
                  "name": "Cheque Ready for Collection",
                  "value": "Cheque Ready for Collection"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Risk Category",
              "displayName": "Risk Category",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Disabled",
              "displayName": "Disabled",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Default Price List",
              "displayName": "Default Price List",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Customer Primary Contact",
              "displayName": "Customer Primary Contact",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Is Frozen",
              "displayName": "Is Frozen",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Bypass Credit Limit Check",
              "displayName": "Bypass Credit Limit Check",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Credit Collection Tasks",
              "displayName": "Credit Collection Tasks",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Customer Account",
              "displayName": "Customer Account",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Credit Collection Tasks 2",
              "displayName": "Credit Collection Tasks 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Collection Status",
              "displayName": "Collection Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pending",
                  "value": "Pending"
                },
                {
                  "name": "In Progress",
                  "value": "In Progress"
                },
                {
                  "name": "Complete",
                  "value": "Complete"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expected Amount",
              "displayName": "Expected Amount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Remarks",
              "displayName": "Remarks",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Collection Priority",
              "displayName": "Collection Priority",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Low",
                  "value": "Low"
                },
                {
                  "name": "Medium",
                  "value": "Medium"
                },
                {
                  "name": "High",
                  "value": "High"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Cc'd Email ID",
              "displayName": "Cc'd Email ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Credit Collection Tasks 3",
              "displayName": "Credit Collection Tasks 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "7f2abbd7-b6bb-4017-870b-da51863b6f84",
      "name": "Update Customer",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        2160,
        220
      ],
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "q5ICF2DzH8KpL3Ai",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app7c9cfju1wCcghr",
          "mode": "list",
          "cachedResultName": "AR Management Tool",
          "cachedResultUrl": "https://airtable.com/app7c9cfju1wCcghr"
        },
        "table": {
          "__rl": true,
          "value": "tblMiTmkqqkqJesn6",
          "mode": "list",
          "cachedResultName": "AP Management",
          "cachedResultUrl": "https://airtable.com/app7c9cfju1wCcghr/tblMiTmkqqkqJesn6"
        },
        "filterByFormula": "=({Supplier}=\"{{ $('Payment Entry').item.json.body.party }}\")",
        "options": {}
      },
      "id": "ff9e67d9-a53d-474a-ab2c-d273d5c7dccd",
      "name": "Get Supplier",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        1760,
        540
      ],
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "q5ICF2DzH8KpL3Ai",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app7c9cfju1wCcghr",
          "mode": "list",
          "cachedResultName": "AR Management Tool",
          "cachedResultUrl": "https://airtable.com/app7c9cfju1wCcghr"
        },
        "table": {
          "__rl": true,
          "value": "tblMiTmkqqkqJesn6",
          "mode": "list",
          "cachedResultName": "AP Management",
          "cachedResultUrl": "https://airtable.com/app7c9cfju1wCcghr/tblMiTmkqqkqJesn6"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "Outstanding Amount": "={{ $ifEmpty($('Query Balance1').item.json.body.message.result[0].outstanding,0) }}",
            "0-15": "={{ $ifEmpty($('Query Balance1').item.json.body.message.result[0].range1,0) }}",
            "16-30": "={{ $ifEmpty($('Query Balance1').item.json.body.message.result[0].range2,0) }}",
            "31-45": "={{ $ifEmpty($('Query Balance1').item.json.body.message.result[0].range3,0) }}",
            "46-60": "={{ $ifEmpty($('Query Balance1').item.json.body.message.result[0].range4,0) }}",
            "61-Above": "={{ $ifEmpty($('Query Balance1').item.json.body.message.result[0].range5,0) }}",
            "Total Amount Due": "={{ $ifEmpty($('Query Balance1').item.json.body.message.result[0].total_due,0) }}",
            "Advance Amount": "={{ $ifEmpty($('Query Balance1').item.json.body.message.result[0].advance,0) }}",
            "Supplier Group": "={{ $('Query Balance1').item.json.body.message.result[0].supplier_group }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Supplier",
              "displayName": "Supplier",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ERP Function",
              "displayName": "ERP Function",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Query Balance",
                  "value": "Query Balance"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Default Payment Terms Template",
              "displayName": "Default Payment Terms Template",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "NET 30",
                  "value": "NET 30"
                },
                {
                  "name": "NET 15",
                  "value": "NET 15"
                },
                {
                  "name": "NET 7",
                  "value": "NET 7"
                },
                {
                  "name": "Cash on Delivery",
                  "value": "Cash on Delivery"
                },
                {
                  "name": "",
                  "value": ""
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Outstanding Amount",
              "displayName": "Outstanding Amount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "0-15",
              "displayName": "0-15",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "16-30",
              "displayName": "16-30",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "31-45",
              "displayName": "31-45",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "46-60",
              "displayName": "46-60",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "61-Above",
              "displayName": "61-Above",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Total Amount Due",
              "displayName": "Total Amount Due",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Supplier Group",
              "displayName": "Supplier Group",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Currency",
              "displayName": "Currency",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "KES",
                  "value": "KES"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Advance Amount",
              "displayName": "Advance Amount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Invoiced Amount",
              "displayName": "Invoiced Amount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Paid Amount",
              "displayName": "Paid Amount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Debit Note",
              "displayName": "Debit Note",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "0aee975b-7bd7-4f1a-bf4d-e46b38d237b5",
      "name": "Update Supplier",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        2160,
        520
      ],
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "q5ICF2DzH8KpL3Ai",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6cb16079-0b65-4589-9967-0838c1a114c9",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "bb9c6d80-f081-4f94-8209-7ccadfedeffb",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1940,
        540
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app7c9cfju1wCcghr",
          "mode": "list",
          "cachedResultName": "AR Management Tool",
          "cachedResultUrl": "https://airtable.com/app7c9cfju1wCcghr"
        },
        "table": {
          "__rl": true,
          "value": "tblMiTmkqqkqJesn6",
          "mode": "list",
          "cachedResultName": "AP Management",
          "cachedResultUrl": "https://airtable.com/app7c9cfju1wCcghr/tblMiTmkqqkqJesn6"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Outstanding Amount": "={{ $ifEmpty($('Query Balance1').item.json.body.message.result[0].outstanding,0) }}",
            "0-15": "={{ $ifEmpty($('Query Balance1').item.json.body.message.result[0].range1,0) }}",
            "16-30": "={{ $ifEmpty($('Query Balance1').item.json.body.message.result[0].range2,0) }}",
            "31-45": "={{ $ifEmpty($('Query Balance1').item.json.body.message.result[0].range3,0) }}",
            "46-60": "={{ $ifEmpty($('Query Balance1').item.json.body.message.result[0].range4,0) }}",
            "61-Above": "={{ $ifEmpty($('Query Balance1').item.json.body.message.result[0].range5,0) }}",
            "Total Amount Due": "={{ $ifEmpty($('Query Balance1').item.json.body.message.result[0].total_due,0) }}",
            "Advance Amount": "={{ $ifEmpty($('Query Balance1').item.json.body.message.result[0].advance,0) }}",
            "Supplier": "={{ $('Query Balance1').item.json.body.message.result[0].party }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "Supplier",
              "displayName": "Supplier",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ERP Function",
              "displayName": "ERP Function",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Query Balance",
                  "value": "Query Balance"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Default Payment Terms Template",
              "displayName": "Default Payment Terms Template",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "NET 30",
                  "value": "NET 30"
                },
                {
                  "name": "NET 15",
                  "value": "NET 15"
                },
                {
                  "name": "NET 7",
                  "value": "NET 7"
                },
                {
                  "name": "Cash on Delivery",
                  "value": "Cash on Delivery"
                },
                {
                  "name": "",
                  "value": ""
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Outstanding Amount",
              "displayName": "Outstanding Amount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "0-15",
              "displayName": "0-15",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "16-30",
              "displayName": "16-30",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "31-45",
              "displayName": "31-45",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "46-60",
              "displayName": "46-60",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "61-Above",
              "displayName": "61-Above",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Total Amount Due",
              "displayName": "Total Amount Due",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Supplier Group",
              "displayName": "Supplier Group",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Currency",
              "displayName": "Currency",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "KES",
                  "value": "KES"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Advance Amount",
              "displayName": "Advance Amount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Invoiced Amount",
              "displayName": "Invoiced Amount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Paid Amount",
              "displayName": "Paid Amount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Debit Note",
              "displayName": "Debit Note",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "e309c17d-3173-4967-b6e9-ce531ac086d0",
      "name": "Create Supplier",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        2160,
        680
      ],
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "q5ICF2DzH8KpL3Ai",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "b6b8f79b-8b06-430c-871c-1e2a5ec6cb21",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6f616505-aedd-4272-a6da-1abf290a60a9",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1940,
        300
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app7c9cfju1wCcghr",
          "mode": "list",
          "cachedResultName": "AR Management Tool",
          "cachedResultUrl": "https://airtable.com/app7c9cfju1wCcghr"
        },
        "table": {
          "__rl": true,
          "value": "tblzg5Zj11G3fiwyr",
          "mode": "list",
          "cachedResultName": "Main",
          "cachedResultUrl": "https://airtable.com/app7c9cfju1wCcghr/tblzg5Zj11G3fiwyr"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "account-balance": "={{ $ifEmpty($('Query Balance').item.json.body.message.result[0].outstanding,0) }}",
            "0 - 7": "={{ $ifEmpty($('Query Balance').item.json.body.message.result[0].range1,0) }}",
            "8 - 15": "={{ $ifEmpty($('Query Balance').item.json.body.message.result[0].range2,0) }}",
            "16 - 30": "={{ $ifEmpty($('Query Balance').item.json.body.message.result[0].range3,0) }}",
            "31 - 45": "={{ $ifEmpty($('Query Balance').item.json.body.message.result[0].range4,0) }}",
            "46+": "={{ $ifEmpty($('Query Balance').item.json.body.message.result[0].range5,0) }}",
            "Customer ID": "={{ $('Query Balance').item.json.body.message.result[0].party }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Customer ID",
              "displayName": "Customer ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Company",
                  "value": "Company"
                },
                {
                  "name": "Individual",
                  "value": "Individual"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Customer Group",
              "displayName": "Customer Group",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Account Sales",
                  "value": "Account Sales"
                },
                {
                  "name": "Service Sales",
                  "value": "Service Sales"
                },
                {
                  "name": "Corporate",
                  "value": "Corporate"
                },
                {
                  "name": "Consumer",
                  "value": "Consumer"
                },
                {
                  "name": "Food Service",
                  "value": "Food Service"
                },
                {
                  "name": "Retail",
                  "value": "Retail"
                },
                {
                  "name": "Cash Sales",
                  "value": "Cash Sales"
                },
                {
                  "name": "All Customer Groups",
                  "value": "All Customer Groups"
                },
                {
                  "name": "Restaurant Sales",
                  "value": "Restaurant Sales"
                },
                {
                  "name": "Bolt Retail Shop",
                  "value": "Bolt Retail Shop"
                },
                {
                  "name": "B2C",
                  "value": "B2C"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Territory",
              "displayName": "Territory",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Kenya",
                  "value": "Kenya"
                },
                {
                  "name": "All Territories",
                  "value": "All Territories"
                },
                {
                  "name": "Rest Of The World",
                  "value": "Rest Of The World"
                },
                {
                  "name": "Nairobi",
                  "value": "Nairobi"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Account Manager",
              "displayName": "Account Manager",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "",
                  "value": ""
                },
                {
                  "name": "ahmed@bulkbox.co.ke",
                  "value": "ahmed@bulkbox.co.ke"
                },
                {
                  "name": "rashid@bulkbox.co.ke",
                  "value": "rashid@bulkbox.co.ke"
                },
                {
                  "name": "eugene@bulkbox.co.ke",
                  "value": "eugene@bulkbox.co.ke"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Tax ID",
              "displayName": "Tax ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Mobile No",
              "displayName": "Mobile No",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email ID",
              "displayName": "Email ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Sales Team Assignment",
              "displayName": "Sales Team Assignment",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Brian Mong'are",
                  "value": "Brian Mong'are"
                },
                {
                  "name": "Sophia Khalid",
                  "value": "Sophia Khalid"
                },
                {
                  "name": "Emma Anagei",
                  "value": "Emma Anagei"
                },
                {
                  "name": "Assign Sales Member",
                  "value": "Assign Sales Member"
                },
                {
                  "name": "Eugene Aaron",
                  "value": "Eugene Aaron"
                },
                {
                  "name": "Elsie Watere",
                  "value": "Elsie Watere"
                },
                {
                  "name": "Rashid Salim",
                  "value": "Rashid Salim"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Account Functions",
              "displayName": "Account Functions",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Freeze Account",
                  "value": "Freeze Account"
                },
                {
                  "name": "Unfreeze Account",
                  "value": "Unfreeze Account"
                },
                {
                  "name": "Update Limit",
                  "value": "Update Limit"
                },
                {
                  "name": "Query Balance",
                  "value": "Query Balance"
                },
                {
                  "name": "Update Payment Terms",
                  "value": "Update Payment Terms"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Credit Limit",
              "displayName": "Credit Limit",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "account-balance",
              "displayName": "account-balance",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Limit Notification",
              "displayName": "Limit Notification",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Payment Terms",
              "displayName": "Payment Terms",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Cash on Delivery",
                  "value": "Cash on Delivery"
                },
                {
                  "name": "End of Day",
                  "value": "End of Day"
                },
                {
                  "name": "NET 7",
                  "value": "NET 7"
                },
                {
                  "name": "NET 15",
                  "value": "NET 15"
                },
                {
                  "name": "NET 30",
                  "value": "NET 30"
                },
                {
                  "name": "Prepayment",
                  "value": "Prepayment"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "0 - 7",
              "displayName": "0 - 7",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "8 - 15",
              "displayName": "8 - 15",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "16 - 30",
              "displayName": "16 - 30",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "31 - 45",
              "displayName": "31 - 45",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "46+",
              "displayName": "46+",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Created Date",
              "displayName": "Created Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Account Status",
              "displayName": "Account Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Active",
                  "value": "Active"
                },
                {
                  "name": "Disabled",
                  "value": "Disabled"
                },
                {
                  "name": "Frozen",
                  "value": "Frozen"
                },
                {
                  "name": "Deleted",
                  "value": "Deleted"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Collection Amount",
              "displayName": "Collection Amount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Credit Utlization",
              "displayName": "Credit Utlization",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Risk Level %",
              "displayName": "Risk Level %",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Risk Level",
              "displayName": "Risk Level",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Low",
                  "value": "Low"
                },
                {
                  "name": "Medium",
                  "value": "Medium"
                },
                {
                  "name": "High",
                  "value": "High"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Follow Up Date",
              "displayName": "Follow Up Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Follow Up Status",
              "displayName": "Follow Up Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Unresponsive",
                  "value": "Unresponsive"
                },
                {
                  "name": "Expecting Payment",
                  "value": "Expecting Payment"
                },
                {
                  "name": "ETR Invoices",
                  "value": "ETR Invoices"
                },
                {
                  "name": "Non commital",
                  "value": "Non commital"
                },
                {
                  "name": "SOA/AR Sent",
                  "value": "SOA/AR Sent"
                },
                {
                  "name": "Cheque Ready for Collection",
                  "value": "Cheque Ready for Collection"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Risk Category",
              "displayName": "Risk Category",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Disabled",
              "displayName": "Disabled",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Default Price List",
              "displayName": "Default Price List",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Customer Primary Contact",
              "displayName": "Customer Primary Contact",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Is Frozen",
              "displayName": "Is Frozen",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Bypass Credit Limit Check",
              "displayName": "Bypass Credit Limit Check",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Credit Collection Tasks",
              "displayName": "Credit Collection Tasks",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Customer Account",
              "displayName": "Customer Account",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Credit Collection Tasks 2",
              "displayName": "Credit Collection Tasks 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Collection Status",
              "displayName": "Collection Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pending",
                  "value": "Pending"
                },
                {
                  "name": "In Progress",
                  "value": "In Progress"
                },
                {
                  "name": "Complete",
                  "value": "Complete"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expected Amount",
              "displayName": "Expected Amount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Remarks",
              "displayName": "Remarks",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Collection Priority",
              "displayName": "Collection Priority",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Low",
                  "value": "Low"
                },
                {
                  "name": "Medium",
                  "value": "Medium"
                },
                {
                  "name": "High",
                  "value": "High"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Cc'd Email ID",
              "displayName": "Cc'd Email ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Credit Collection Tasks 3",
              "displayName": "Credit Collection Tasks 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "6339742c-8621-4fd4-87e3-cdfbf20355ed",
      "name": "Create Customer",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        2160,
        360
      ],
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "q5ICF2DzH8KpL3Ai",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "paymententry-queryaccountbalance",
        "options": {}
      },
      "id": "77c5ba4f-ce55-4841-bd92-d113c7357ccc",
      "name": "Payment Entry",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        840,
        400
      ],
      "webhookId": "fdd4def0-aaa0-4eb8-8d58-a56457f90ae2"
    }
  ],
  "pinData": {
    "Payment Entry": [
      {
        "json": {
          "headers": {
            "host": "n8n.bulkbox.cloud",
            "user-agent": "python-requests/2.31.0",
            "content-length": "166",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate",
            "content-type": "application/json",
            "x-forwarded-for": "167.235.206.20",
            "x-forwarded-host": "n8n.bulkbox.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "19ac6f0cdfeb",
            "x-real-ip": "167.235.206.20"
          },
          "params": {},
          "query": {},
          "body": {
            "name": "ACC-PAY-2024-02943",
            "payment_type": "Receive",
            "party_type": "Customer",
            "party": "Cathy Otieno",
            "party_name": "Cathy Otieno",
            "base_paid_amount": 5817
          },
          "webhookUrl": "https://n8n.bulkbox.cloud/webhook/paymententry-queryaccountbalance",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "pA3zEasbGp50knPq"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-03-05T20:25:50.007Z",
      "updatedAt": "2024-03-05T20:25:50.007Z",
      "id": "Axa7tUwnaZFPBQmp",
      "name": "Production"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-06-15T19:02:26.000Z",
  "versionId": "8353c6cb-6ce8-4561-94d2-aeda47a7e8e8"
}