workflows/Purchase Receipt 2.0.json
{
  "active": false,
  "connections": {
    "Not Return": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Not Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-07-03T13:51:43.577Z",
  "id": "8WabYF43db8ZpcDa",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Purchase Receipt 2.0",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "267e1c63-847b-465f-b7ab-e942d3c10c1e",
              "leftValue": "={{ $json.body.is_return }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c4d006fa-a0b2-46ed-a56a-a4bcaf663d3a",
      "name": "Not Return",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        740,
        360
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "acd7ecac-4591-4256-a45e-5a1df6c4615c",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1180,
        360
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.items",
        "options": {}
      },
      "id": "3b85e1d3-ca8a-4027-92e5-7e6029ca5db2",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        960,
        360
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "apppMcUAglwU1JD9u",
          "mode": "list",
          "cachedResultName": "Inventory Manager",
          "cachedResultUrl": "https://airtable.com/apppMcUAglwU1JD9u"
        },
        "table": {
          "__rl": true,
          "value": "tblrOsfdu9ADkLpNy",
          "mode": "list",
          "cachedResultName": "Purchase Receipt Data",
          "cachedResultUrl": "https://airtable.com/apppMcUAglwU1JD9u/tblrOsfdu9ADkLpNy"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Accepted Quantity": "={{ $('Loop Over Items').item.json.received_qty }}",
            "Cost Excl VAT(ERP)": "={{ $('Loop Over Items').item.json.rate }}",
            "Purchase Receipt No.": "={{ $('Loop Over Items').item.json.parent }}",
            "Batch No": "={{ $('Loop Over Items').item.json.batch_no }}",
            "Expiry Date": "={{ $json.formattedDate }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Item Code",
              "displayName": "Item Code",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Purchase Receipt No.",
              "displayName": "Purchase Receipt No.",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Product Code",
              "displayName": "Product Code",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Product Name Final",
              "displayName": "Product Name Final",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Accepted Quantity",
              "displayName": "Accepted Quantity",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Expiry Date",
              "displayName": "Expiry Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Expiry Days",
              "displayName": "Expiry Days",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Cost Excl VAT(ERP)",
              "displayName": "Cost Excl VAT(ERP)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Supplier",
              "displayName": "Supplier",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Created Date",
              "displayName": "Created Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Total Days Before Expiry",
              "displayName": "Total Days Before Expiry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Quarter Values",
              "displayName": "Quarter Values",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Price Analysis",
              "displayName": "Price Analysis",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Batch No",
              "displayName": "Batch No",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "CP Unit Price Excl VAT Incl Disc",
              "displayName": "CP Unit Price Excl VAT Incl Disc",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "VAT (from Product Code)",
              "displayName": "VAT (from Product Code)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Price Difference",
              "displayName": "Price Difference",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Cost Excl Disc Inc VAT",
              "displayName": "Cost Excl Disc Inc VAT",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Supplier Discount (from Product Code)",
              "displayName": "Supplier Discount (from Product Code)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "CP Unit Incl VAT (from Product Code)",
              "displayName": "CP Unit Incl VAT (from Product Code)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "item_group (from Product Code)",
              "displayName": "item_group (from Product Code)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "5635f37b-dcb6-4a6e-89d3-b550b0d801c9",
      "name": "Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        1480,
        480
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "q5ICF2DzH8KpL3Ai",
          "name": "Airtable Personal Access Token account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e37f020a-478b-45f7-8eb5-4739c6f33020",
        "options": {}
      },
      "id": "6dc4ce82-1cf4-4451-ae2f-33af0ef57412",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        520,
        360
      ],
      "webhookId": "e37f020a-478b-45f7-8eb5-4739c6f33020"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.bulkbox.cloud",
            "user-agent": "python-requests/2.31.0",
            "content-length": "27096",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate",
            "content-type": "application/json",
            "x-forwarded-for": "167.235.206.20",
            "x-forwarded-host": "n8n.bulkbox.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "19ac6f0cdfeb",
            "x-real-ip": "167.235.206.20"
          },
          "params": {},
          "query": {},
          "body": {
            "name": "MAT-PRE-2024-01285",
            "total": 108340.62,
            "items": [
              {
                "name": "a38dd1a2dc",
                "owner": "samwel@bulkbox.co.ke",
                "creation": "2024-07-04 07:28:14.422363",
                "modified": "2024-07-04 07:30:20.821823",
                "modified_by": "benson@bulkbox.co.ke",
                "parent": "MAT-PRE-2024-01237",
                "parentfield": "items",
                "parenttype": "Purchase Receipt",
                "idx": 1,
                "docstatus": 1,
                "barcode": null,
                "item_code": "BFK004",
                "product_bundle": null,
                "supplier_part_no": null,
                "item_name": "Bio Yoghurt Vanilla 90ml",
                "description": "Bio Yoghurt Vanilla 90ml",
                "brand": "Bio Food",
                "item_group": "Fruit Yoghurt",
                "image": "https://v5.airtableusercontent.com/v3/u/26/26/1711044000000/lfv90LZRnhQsj5l6F-wZZA/yRZAyVHL6OlOAHCOD-AUEv0FgnvxNzu2lFiOZZ80wYw2HH9Y8V9BYwPL0uM6AYzbxhNVQvsLpRMOFlXkj8W0-3YZw7vK3OBze5ns_2F-8jpmitzgt2Axdeh7ZWicKRfT787kWvjOV-oeohBB0XwNGmBwRsWsHwVfmeRLLqI7iflZDjTGStqUoS8bHASqXMCM/6bTS4Z-YVn8sIvICCtckeY-5IAC5KaHcPf4au3vRy8I",
                "received_qty": 180,
                "qty": 180,
                "expiry_date": "2024-08-08",
                "rejected_qty": 0,
                "uom": "PCS",
                "stock_uom": "PCS",
                "conversion_factor": 1,
                "retain_sample": 0,
                "sample_quantity": 0,
                "received_stock_qty": 180,
                "stock_qty": 180,
                "returned_qty": 0,
                "price_list_rate": 47.09,
                "base_price_list_rate": 47.09,
                "margin_type": "",
                "margin_rate_or_amount": 0,
                "rate_with_margin": 0,
                "discount_percentage": 0,
                "discount_amount": 0,
                "base_rate_with_margin": 0,
                "rate": 47.09,
                "amount": 8476.2,
                "base_rate": 47.09,
                "base_amount": 8476.2,
                "pricing_rules": null,
                "stock_uom_rate": 47.09,
                "is_free_item": 0,
                "net_rate": 47.09,
                "net_amount": 8476.2,
                "item_tax_template": "16% - TSL",
                "base_net_rate": 47.09,
                "base_net_amount": 8476.2,
                "valuation_rate": 47.09,
                "item_tax_amount": 0,
                "rm_supp_cost": 0,
                "landed_cost_voucher_amount": 0,
                "billed_amt": 0,
                "warehouse": "Storage - TSL",
                "rejected_warehouse": null,
                "from_warehouse": null,
                "material_request": null,
                "purchase_order": "PUR-ORD-2024-01186",
                "purchase_invoice": null,
                "is_fixed_asset": 0,
                "asset_location": null,
                "asset_category": null,
                "schedule_date": "2024-07-04",
                "quality_inspection": null,
                "material_request_item": null,
                "purchase_order_item": "3b62c98878",
                "purchase_invoice_item": null,
                "purchase_receipt_item": null,
                "delivery_note_item": null,
                "putaway_rule": null,
                "allow_zero_valuation_rate": 0,
                "bom": null,
                "serial_no": "",
                "include_exploded_items": 0,
                "batch_no": "BFK00400099",
                "rejected_serial_no": null,
                "item_tax_rate": "{\"VAT - 16% - TSL\": 16.0}",
                "weight_per_unit": 0,
                "total_weight": 0,
                "weight_uom": null,
                "manufacturer": null,
                "manufacturer_part_no": null,
                "expense_account": "Dairy COGS - TSL",
                "provisional_expense_account": null,
                "project": null,
                "cost_center": "B2B Unga House - TSL",
                "page_break": 0,
                "doctype": "Purchase Receipt Item"
              },
              {
                "name": "a1ca2f5177",
                "owner": "samwel@bulkbox.co.ke",
                "creation": "2024-07-04 07:28:14.422363",
                "modified": "2024-07-04 07:30:20.827513",
                "modified_by": "benson@bulkbox.co.ke",
                "parent": "MAT-PRE-2024-01237",
                "parentfield": "items",
                "parenttype": "Purchase Receipt",
                "idx": 2,
                "docstatus": 1,
                "barcode": null,
                "item_code": "BFK002",
                "product_bundle": null,
                "supplier_part_no": null,
                "item_name": "Bio Yoghurt Strawberry 90ml",
                "description": "Bio Yoghurt Strawberry 90ml",
                "brand": "Bio Food",
                "item_group": "Fruit Yoghurt",
                "image": "https://v5.airtableusercontent.com/v3/u/27/27/1711044000000/TY2Uw-_JwYXwohcpRGV04w/L63XppM1x9l4AAF8CztQ7gWUFOb8YgnhsoqCFl4veu6cYEwOd3K3LXlltDCiCBP4M7XT78DrYKIx_FiUt6Um8Ez9Jh3v1Tuj8JjTlzu-XpNNkL8vuCtsrt6W04jZSQ8vzGtpDMCn8DlT0EVftFXh9JgEanfYLvh5lhYpWcEwuMcbwx2rhz1rUW5CAbhdDDhh/0d4SxP-7cuWanh1EJFx9ctBr19guRzc_IKuyDCUxDYs",
                "received_qty": 180,
                "qty": 180,
                "expiry_date": "2024-08-14",
                "rejected_qty": 0,
                "uom": "PCS",
                "stock_uom": "PCS",
                "conversion_factor": 1,
                "retain_sample": 0,
                "sample_quantity": 0,
                "received_stock_qty": 180,
                "stock_qty": 180,
                "returned_qty": 0,
                "price_list_rate": 47.09,
                "base_price_list_rate": 47.09,
                "margin_type": "",
                "margin_rate_or_amount": 0,
                "rate_with_margin": 0,
                "discount_percentage": 0,
                "discount_amount": 0,
                "base_rate_with_margin": 0,
                "rate": 47.09,
                "amount": 8476.2,
                "base_rate": 47.09,
                "base_amount": 8476.2,
                "pricing_rules": null,
                "stock_uom_rate": 47.09,
                "is_free_item": 0,
                "net_rate": 47.09,
                "net_amount": 8476.2,
                "item_tax_template": "16% - TSL",
                "base_net_rate": 47.09,
                "base_net_amount": 8476.2,
                "valuation_rate": 47.09,
                "item_tax_amount": 0,
                "rm_supp_cost": 0,
                "landed_cost_voucher_amount": 0,
                "billed_amt": 0,
                "warehouse": "Storage - TSL",
                "rejected_warehouse": null,
                "from_warehouse": null,
                "material_request": null,
                "purchase_order": "PUR-ORD-2024-01186",
                "purchase_invoice": null,
                "is_fixed_asset": 0,
                "asset_location": null,
                "asset_category": null,
                "schedule_date": "2024-07-04",
                "quality_inspection": null,
                "material_request_item": null,
                "purchase_order_item": "272923ffd1",
                "purchase_invoice_item": null,
                "purchase_receipt_item": null,
                "delivery_note_item": null,
                "putaway_rule": null,
                "allow_zero_valuation_rate": 0,
                "bom": null,
                "serial_no": "",
                "include_exploded_items": 0,
                "batch_no": "BFK00200088",
                "rejected_serial_no": null,
                "item_tax_rate": "{\"VAT - 16% - TSL\": 16.0}",
                "weight_per_unit": 0,
                "total_weight": 0,
                "weight_uom": null,
                "manufacturer": null,
                "manufacturer_part_no": null,
                "expense_account": "Dairy COGS - TSL",
                "provisional_expense_account": null,
                "project": null,
                "cost_center": "B2B Unga House - TSL",
                "page_break": 0,
                "doctype": "Purchase Receipt Item"
              },
              {
                "name": "35e102ff1a",
                "owner": "samwel@bulkbox.co.ke",
                "creation": "2024-07-04 07:28:14.422363",
                "modified": "2024-07-04 07:30:20.833264",
                "modified_by": "benson@bulkbox.co.ke",
                "parent": "MAT-PRE-2024-01237",
                "parentfield": "items",
                "parenttype": "Purchase Receipt",
                "idx": 3,
                "docstatus": 1,
                "barcode": null,
                "item_code": "BFK165",
                "product_bundle": null,
                "supplier_part_no": null,
                "item_name": "Bio Barista Fresh Milk 1L",
                "description": "Bio Barista Fresh Milk 1L",
                "brand": "Bio Food",
                "item_group": "Fresh Milk",
                "image": "https://v5.airtableusercontent.com/v3/u/26/26/1711044000000/NB37Fnqwx4NPn-OriR1oyQ/z6uigWBB4P0w_4OBxYtbXDqKUEGuGq9c5Wsh2dy9Gyz_cYnoti28xcaOpRt5r5s38K4VE8D1cCVN4RGlR8sIvU879yX4eN8GB3gfHbZCv7Z7GvEyc7Fg0qfZNFiypuzW6Oi4Qvf4lhATnHWP4xFXZlu7P20XlbMa8irvASg55Gk/1Arq_eFaCfWELIXuXEPkMKENVz-zsFNR27CVkxSt1Q0",
                "received_qty": 120,
                "qty": 120,
                "expiry_date": "2024-07-18",
                "rejected_qty": 0,
                "uom": "PCS",
                "stock_uom": "PCS",
                "conversion_factor": 1,
                "retain_sample": 0,
                "sample_quantity": 0,
                "received_stock_qty": 120,
                "stock_qty": 120,
                "returned_qty": 0,
                "price_list_rate": 126,
                "base_price_list_rate": 126,
                "margin_type": "Amount",
                "margin_rate_or_amount": 4.01,
                "rate_with_margin": 0,
                "discount_percentage": 0,
                "discount_amount": -4.01,
                "base_rate_with_margin": 0,
                "rate": 130.01,
                "amount": 15601.2,
                "base_rate": 130.01,
                "base_amount": 15601.2,
                "pricing_rules": null,
                "stock_uom_rate": 130.01,
                "is_free_item": 0,
                "net_rate": 130.01,
                "net_amount": 15601.2,
                "item_tax_template": "0% - TSL",
                "base_net_rate": 130.01,
                "base_net_amount": 15601.2,
                "valuation_rate": 130.01,
                "item_tax_amount": 0,
                "rm_supp_cost": 0,
                "landed_cost_voucher_amount": 0,
                "billed_amt": 0,
                "warehouse": "Storage - TSL",
                "rejected_warehouse": null,
                "from_warehouse": null,
                "material_request": null,
                "purchase_order": "PUR-ORD-2024-01186",
                "purchase_invoice": null,
                "is_fixed_asset": 0,
                "asset_location": null,
                "asset_category": null,
                "schedule_date": "2024-07-04",
                "quality_inspection": null,
                "material_request_item": null,
                "purchase_order_item": "c3e55e447a",
                "purchase_invoice_item": null,
                "purchase_receipt_item": null,
                "delivery_note_item": null,
                "putaway_rule": null,
                "allow_zero_valuation_rate": 0,
                "bom": null,
                "serial_no": "",
                "include_exploded_items": 0,
                "batch_no": "BFK16500199",
                "rejected_serial_no": null,
                "item_tax_rate": "{\"Zero Rated Tax - TSL\": 0.0}",
                "weight_per_unit": 0,
                "total_weight": 0,
                "weight_uom": null,
                "manufacturer": null,
                "manufacturer_part_no": null,
                "expense_account": "Dairy COGS - TSL",
                "provisional_expense_account": null,
                "project": null,
                "cost_center": "B2B Unga House - TSL",
                "page_break": 0,
                "doctype": "Purchase Receipt Item"
              },
              {
                "name": "fa8a46999b",
                "owner": "samwel@bulkbox.co.ke",
                "creation": "2024-07-04 07:28:14.422363",
                "modified": "2024-07-04 07:30:20.838867",
                "modified_by": "benson@bulkbox.co.ke",
                "parent": "MAT-PRE-2024-01237",
                "parentfield": "items",
                "parenttype": "Purchase Receipt",
                "idx": 4,
                "docstatus": 1,
                "barcode": "6161108006050",
                "item_code": "BFK160",
                "product_bundle": null,
                "supplier_part_no": null,
                "item_name": "Bio Fresh Semi-Skimmed Milk 1L",
                "description": "Bio Fresh Semi-Skimmed Milk 1L",
                "brand": "Bio Food",
                "item_group": "Fresh Milk",
                "image": "https://v5.airtableusercontent.com/v3/u/26/26/1711044000000/aDNclwtp3ZFeWmnJeoEQ9A/COOo64WrkQCMRfXbTFMAuG6Zn57V7JHIN3JyHpO8DeVBKHD-zrVkWWF0HLgA6F7smk1Njdi1cAlh8khfymp0goI65SF9pHkir9V_BlmZ84U5DEM8uA1DANuonzAFEbxPDnk3MJRpkarlmsUUep3MZvHnPtKtTdlc_wYzYsF-QeI4MUWtimr75Qe3n1NTOsml/TwOz_7eT7BrL70LPO8M2si1sTdrC4lNbxmVUG2OyiFI",
                "received_qty": 24,
                "qty": 24,
                "expiry_date": "2024-07-18",
                "rejected_qty": 0,
                "uom": "PCS",
                "stock_uom": "PCS",
                "conversion_factor": 1,
                "retain_sample": 0,
                "sample_quantity": 0,
                "received_stock_qty": 24,
                "stock_qty": 24,
                "returned_qty": 0,
                "price_list_rate": 109,
                "base_price_list_rate": 109,
                "margin_type": "Amount",
                "margin_rate_or_amount": 4.33,
                "rate_with_margin": 0,
                "discount_percentage": 0,
                "discount_amount": -4.33,
                "base_rate_with_margin": 0,
                "rate": 113.33,
                "amount": 2719.92,
                "base_rate": 113.33,
                "base_amount": 2719.92,
                "pricing_rules": null,
                "stock_uom_rate": 113.33,
                "is_free_item": 0,
                "net_rate": 113.33,
                "net_amount": 2719.92,
                "item_tax_template": "0% - TSL",
                "base_net_rate": 113.33,
                "base_net_amount": 2719.92,
                "valuation_rate": 113.33,
                "item_tax_amount": 0,
                "rm_supp_cost": 0,
                "landed_cost_voucher_amount": 0,
                "billed_amt": 0,
                "warehouse": "Storage - TSL",
                "rejected_warehouse": null,
                "from_warehouse": null,
                "material_request": null,
                "purchase_order": "PUR-ORD-2024-01186",
                "purchase_invoice": null,
                "is_fixed_asset": 0,
                "asset_location": null,
                "asset_category": null,
                "schedule_date": "2024-07-04",
                "quality_inspection": null,
                "material_request_item": null,
                "purchase_order_item": "da88289547",
                "purchase_invoice_item": null,
                "purchase_receipt_item": null,
                "delivery_note_item": null,
                "putaway_rule": null,
                "allow_zero_valuation_rate": 0,
                "bom": null,
                "serial_no": "",
                "include_exploded_items": 0,
                "batch_no": "BFK16000082",
                "rejected_serial_no": null,
                "item_tax_rate": "{\"Zero Rated Tax - TSL\": 0.0}",
                "weight_per_unit": 0,
                "total_weight": 0,
                "weight_uom": null,
                "manufacturer": null,
                "manufacturer_part_no": null,
                "expense_account": "Dairy COGS - TSL",
                "provisional_expense_account": null,
                "project": null,
                "cost_center": "B2B Unga House - TSL",
                "page_break": 0,
                "doctype": "Purchase Receipt Item"
              },
              {
                "name": "0fa1ceb143",
                "owner": "samwel@bulkbox.co.ke",
                "creation": "2024-07-04 07:28:14.422363",
                "modified": "2024-07-04 07:30:20.862681",
                "modified_by": "benson@bulkbox.co.ke",
                "parent": "MAT-PRE-2024-01237",
                "parentfield": "items",
                "parenttype": "Purchase Receipt",
                "idx": 5,
                "docstatus": 1,
                "barcode": null,
                "item_code": "BFK310",
                "product_bundle": null,
                "supplier_part_no": null,
                "item_name": "Bio Yoghurt Vanilla 4Pack 90ml",
                "description": "Bio Yoghurt Vanilla 4Pack 90ml",
                "brand": "Bio Food",
                "item_group": "Fruit Yoghurt",
                "image": "https://v5.airtableusercontent.com/v3/u/26/26/1711044000000/nSfs1wTBgJ9KaMg8W75O0A/mYLrBZAPj8q26gWTNexeglfxBjinGHmYGIPDqnsmQaZ-euxuCh9xl2WqzipOsCvvBeAJwplifYTjsttb3HCRyyeeajl1yA7tscVyAcxekakcUngQgVrQXog-2weQxSKqHzGwi6EHjEelQfK89la6kA/Rldzn8VtT0_CgNGnyRCgWMH8B4YOSN2yslAheuV_oVM",
                "received_qty": 6,
                "qty": 6,
                "expiry_date": "2024-08-07",
                "rejected_qty": 0,
                "uom": "PCS",
                "stock_uom": "PCS",
                "conversion_factor": 1,
                "retain_sample": 0,
                "sample_quantity": 0,
                "received_stock_qty": 6,
                "stock_qty": 6,
                "returned_qty": 0,
                "price_list_rate": 197.25,
                "base_price_list_rate": 197.25,
                "margin_type": "",
                "margin_rate_or_amount": 0,
                "rate_with_margin": 0,
                "discount_percentage": 0,
                "discount_amount": 0,
                "base_rate_with_margin": 0,
                "rate": 197.25,
                "amount": 1183.5,
                "base_rate": 197.25,
                "base_amount": 1183.5,
                "pricing_rules": null,
                "stock_uom_rate": 197.25,
                "is_free_item": 0,
                "net_rate": 197.25,
                "net_amount": 1183.5,
                "item_tax_template": "16% - TSL",
                "base_net_rate": 197.25,
                "base_net_amount": 1183.5,
                "valuation_rate": 197.25,
                "item_tax_amount": 0,
                "rm_supp_cost": 0,
                "landed_cost_voucher_amount": 0,
                "billed_amt": 0,
                "warehouse": "Storage - TSL",
                "rejected_warehouse": null,
                "from_warehouse": null,
                "material_request": null,
                "purchase_order": "PUR-ORD-2024-01186",
                "purchase_invoice": null,
                "is_fixed_asset": 0,
                "asset_location": null,
                "asset_category": null,
                "schedule_date": "2024-07-04",
                "quality_inspection": null,
                "material_request_item": null,
                "purchase_order_item": "c9694c2ca0",
                "purchase_invoice_item": null,
                "purchase_receipt_item": null,
                "delivery_note_item": null,
                "putaway_rule": null,
                "allow_zero_valuation_rate": 0,
                "bom": null,
                "serial_no": "",
                "include_exploded_items": 0,
                "batch_no": "BFK31000089",
                "rejected_serial_no": null,
                "item_tax_rate": "{\"VAT - 16% - TSL\": 16.0}",
                "weight_per_unit": 0,
                "total_weight": 0,
                "weight_uom": null,
                "manufacturer": null,
                "manufacturer_part_no": null,
                "expense_account": "Dairy COGS - TSL",
                "provisional_expense_account": null,
                "project": null,
                "cost_center": "B2B Unga House - TSL",
                "page_break": 0,
                "doctype": "Purchase Receipt Item"
              },
              {
                "name": "08ff726490",
                "owner": "samwel@bulkbox.co.ke",
                "creation": "2024-07-04 07:28:14.422363",
                "modified": "2024-07-04 07:30:20.868437",
                "modified_by": "benson@bulkbox.co.ke",
                "parent": "MAT-PRE-2024-01237",
                "parentfield": "items",
                "parenttype": "Purchase Receipt",
                "idx": 6,
                "docstatus": 1,
                "barcode": "6161108005121",
                "item_code": "BFK024",
                "product_bundle": null,
                "supplier_part_no": null,
                "item_name": "Bio Yoghurt Vanilla 450ml",
                "description": "Bio Yoghurt Vanilla 450ml",
                "brand": "Bio Food",
                "item_group": "Fruit Yoghurt",
                "image": "https://v5.airtableusercontent.com/v3/u/26/26/1711044000000/B0Cso6htmrDudMLbRW2LXA/Zssb2HdP8kGJpA3OVK4LA9Enidz1q3-qTi0htuHjLIgCxamWLI056YNYHPOhdFvkP6iwCiGCdyH-ae0pJVUtO7XWghLOim_TPeyBhqHQ9Kx155CFVN7s770paS7HNgIaGW-oHOqhqjjFsBmg3JJmYRYGIGMAWE6thpUlVkYHBix8xpRuKLpKbKvTWG-FxkUL/TzuWhV0dfQCGTsxmW5eVcvoSq5BUKp67TRGMTj6cEto",
                "received_qty": 5,
                "qty": 5,
                "expiry_date": "2024-07-30",
                "rejected_qty": 0,
                "uom": "PCS",
                "stock_uom": "PCS",
                "conversion_factor": 1,
                "retain_sample": 0,
                "sample_quantity": 0,
                "received_stock_qty": 5,
                "stock_qty": 5,
                "returned_qty": 0,
                "price_list_rate": 216.56,
                "base_price_list_rate": 216.56,
                "margin_type": "",
                "margin_rate_or_amount": 0,
                "rate_with_margin": 0,
                "discount_percentage": 0,
                "discount_amount": 0,
                "base_rate_with_margin": 0,
                "rate": 216.56,
                "amount": 1082.8,
                "base_rate": 216.56,
                "base_amount": 1082.8,
                "pricing_rules": null,
                "stock_uom_rate": 216.56,
                "is_free_item": 0,
                "net_rate": 216.56,
                "net_amount": 1082.8,
                "item_tax_template": "16% - TSL",
                "base_net_rate": 216.56,
                "base_net_amount": 1082.8,
                "valuation_rate": 216.56,
                "item_tax_amount": 0,
                "rm_supp_cost": 0,
                "landed_cost_voucher_amount": 0,
                "billed_amt": 0,
                "warehouse": "Storage - TSL",
                "rejected_warehouse": null,
                "from_warehouse": null,
                "material_request": null,
                "purchase_order": "PUR-ORD-2024-01186",
                "purchase_invoice": null,
                "is_fixed_asset": 0,
                "asset_location": null,
                "asset_category": null,
                "schedule_date": "2024-07-04",
                "quality_inspection": null,
                "material_request_item": null,
                "purchase_order_item": "7cce89e887",
                "purchase_invoice_item": null,
                "purchase_receipt_item": null,
                "delivery_note_item": null,
                "putaway_rule": null,
                "allow_zero_valuation_rate": 0,
                "bom": null,
                "serial_no": "",
                "include_exploded_items": 0,
                "batch_no": "BFK02400098",
                "rejected_serial_no": null,
                "item_tax_rate": "{\"VAT - 16% - TSL\": 16.0}",
                "weight_per_unit": 0,
                "total_weight": 0,
                "weight_uom": null,
                "manufacturer": null,
                "manufacturer_part_no": null,
                "expense_account": "Dairy COGS - TSL",
                "provisional_expense_account": null,
                "project": null,
                "cost_center": "B2B Unga House - TSL",
                "page_break": 0,
                "doctype": "Purchase Receipt Item"
              },
              {
                "name": "e84517a6fc",
                "owner": "samwel@bulkbox.co.ke",
                "creation": "2024-07-04 07:28:14.422363",
                "modified": "2024-07-04 07:30:20.874999",
                "modified_by": "benson@bulkbox.co.ke",
                "parent": "MAT-PRE-2024-01237",
                "parentfield": "items",
                "parenttype": "Purchase Receipt",
                "idx": 7,
                "docstatus": 1,
                "barcode": "6161108006029",
                "item_code": "BFK162",
                "product_bundle": null,
                "supplier_part_no": null,
                "item_name": "Bio Fresh Whole Milk 2L",
                "description": "Bio Fresh Whole Milk 2L",
                "brand": "Bio Food",
                "item_group": "Fresh Milk",
                "image": "https://v5.airtableusercontent.com/v3/u/27/27/1711044000000/5_uTkzb89hfVDCvJuDPQfg/HSaER7F7Xu7fL24ZOnh7ePEXC-eSI9KdTKymN_s4paAy0-nktuIa5tdskOPCcfOhGMVzoQCqBsHoWq0l_AQXnc2OwxXCJkG7s7fLUwaoE782e6pRvY_zR8oZBNUfjum61bu52R1VOtwWgp1NuPqIK-tq-Z2R6y58Ety0cFM7svE/QKo-NPVjFdFI84fNqMcdx53sncMaj4ulRDtAvClMiJw",
                "received_qty": 240,
                "qty": 240,
                "expiry_date": "2024-07-16",
                "rejected_qty": 0,
                "uom": "PCS",
                "stock_uom": "PCS",
                "conversion_factor": 1,
                "retain_sample": 0,
                "sample_quantity": 0,
                "received_stock_qty": 240,
                "stock_qty": 240,
                "returned_qty": 0,
                "price_list_rate": 220,
                "base_price_list_rate": 220,
                "margin_type": "Amount",
                "margin_rate_or_amount": 13.33,
                "rate_with_margin": 0,
                "discount_percentage": 0,
                "discount_amount": -13.33,
                "base_rate_with_margin": 0,
                "rate": 233.33,
                "amount": 55999.2,
                "base_rate": 233.33,
                "base_amount": 55999.2,
                "pricing_rules": null,
                "stock_uom_rate": 233.33,
                "is_free_item": 0,
                "net_rate": 233.33,
                "net_amount": 55999.2,
                "item_tax_template": "0% - TSL",
                "base_net_rate": 233.33,
                "base_net_amount": 55999.2,
                "valuation_rate": 233.33,
                "item_tax_amount": 0,
                "rm_supp_cost": 0,
                "landed_cost_voucher_amount": 0,
                "billed_amt": 0,
                "warehouse": "Storage - TSL",
                "rejected_warehouse": null,
                "from_warehouse": null,
                "material_request": null,
                "purchase_order": "PUR-ORD-2024-01186",
                "purchase_invoice": null,
                "is_fixed_asset": 0,
                "asset_location": null,
                "asset_category": null,
                "schedule_date": "2024-07-04",
                "quality_inspection": null,
                "material_request_item": null,
                "purchase_order_item": "aa02aceecd",
                "purchase_invoice_item": null,
                "purchase_receipt_item": null,
                "delivery_note_item": null,
                "putaway_rule": null,
                "allow_zero_valuation_rate": 0,
                "bom": null,
                "serial_no": "",
                "include_exploded_items": 0,
                "batch_no": "BFK16200297",
                "rejected_serial_no": null,
                "item_tax_rate": "{\"Zero Rated Tax - TSL\": 0.0}",
                "weight_per_unit": 0,
                "total_weight": 0,
                "weight_uom": null,
                "manufacturer": null,
                "manufacturer_part_no": null,
                "expense_account": "Dairy COGS - TSL",
                "provisional_expense_account": null,
                "project": null,
                "cost_center": "B2B Unga House - TSL",
                "page_break": 0,
                "doctype": "Purchase Receipt Item"
              },
              {
                "name": "f19307af52",
                "owner": "samwel@bulkbox.co.ke",
                "creation": "2024-07-04 07:28:14.422363",
                "modified": "2024-07-04 07:30:20.880812",
                "modified_by": "benson@bulkbox.co.ke",
                "parent": "MAT-PRE-2024-01237",
                "parentfield": "items",
                "parenttype": "Purchase Receipt",
                "idx": 8,
                "docstatus": 1,
                "barcode": "6161108005039",
                "item_code": "BFK021",
                "product_bundle": null,
                "supplier_part_no": null,
                "item_name": "Bio Yoghurt Nature plain 450ml",
                "description": "Bio Yoghurt Nature plain 450ml",
                "brand": "Bio Food",
                "item_group": "Fruit Yoghurt",
                "image": "https://v5.airtableusercontent.com/v3/u/29/29/1716393600000/lFhAxUaI_kvxOfXQ1PqaMQ/L6Pg4LkKHgQqkDyZubASaoGL4EmFzpNml6Zl9Y4EgCQtAJgenhorGT-6bDRb30sdnROfHfLGe5YU5Vbznym-4HbR3hQnD6Lgskiq6-qHCXsa8ZGphOXgHEX-hDk4jUlJKHMQx45DsMkFwhC9msiMz-gy4gC3xJTTpqmKR58WdsBdbrWFArq6sh8ndtqiU4BO/ucrsopt7mp28xf9cT73dLc2hp_QBZEa_5znE-ezXNl4",
                "received_qty": 10,
                "qty": 10,
                "expiry_date": "2024-08-09",
                "rejected_qty": 0,
                "uom": "PCS",
                "stock_uom": "PCS",
                "conversion_factor": 1,
                "retain_sample": 0,
                "sample_quantity": 0,
                "received_stock_qty": 10,
                "stock_qty": 10,
                "returned_qty": 0,
                "price_list_rate": 216.56,
                "base_price_list_rate": 216.56,
                "margin_type": "",
                "margin_rate_or_amount": 0,
                "rate_with_margin": 0,
                "discount_percentage": 0,
                "discount_amount": 0,
                "base_rate_with_margin": 0,
                "rate": 216.56,
                "amount": 2165.6,
                "base_rate": 216.56,
                "base_amount": 2165.6,
                "pricing_rules": null,
                "stock_uom_rate": 216.56,
                "is_free_item": 0,
                "net_rate": 216.56,
                "net_amount": 2165.6,
                "item_tax_template": "16% - TSL",
                "base_net_rate": 216.56,
                "base_net_amount": 2165.6,
                "valuation_rate": 216.56,
                "item_tax_amount": 0,
                "rm_supp_cost": 0,
                "landed_cost_voucher_amount": 0,
                "billed_amt": 0,
                "warehouse": "Storage - TSL",
                "rejected_warehouse": null,
                "from_warehouse": null,
                "material_request": null,
                "purchase_order": "PUR-ORD-2024-01186",
                "purchase_invoice": null,
                "is_fixed_asset": 0,
                "asset_location": null,
                "asset_category": null,
                "schedule_date": "2024-07-04",
                "quality_inspection": null,
                "material_request_item": null,
                "purchase_order_item": "129c3d45ac",
                "purchase_invoice_item": null,
                "purchase_receipt_item": null,
                "delivery_note_item": null,
                "putaway_rule": null,
                "allow_zero_valuation_rate": 0,
                "bom": null,
                "serial_no": "",
                "include_exploded_items": 0,
                "batch_no": "BFK02100113",
                "rejected_serial_no": null,
                "item_tax_rate": "{\"VAT - 16% - TSL\": 16.0}",
                "weight_per_unit": 0,
                "total_weight": 0,
                "weight_uom": null,
                "manufacturer": null,
                "manufacturer_part_no": null,
                "expense_account": "Dairy COGS - TSL",
                "provisional_expense_account": null,
                "project": null,
                "cost_center": "B2B Unga House - TSL",
                "page_break": 0,
                "doctype": "Purchase Receipt Item"
              },
              {
                "name": "1b7d41caca",
                "owner": "samwel@bulkbox.co.ke",
                "creation": "2024-07-04 07:28:14.422363",
                "modified": "2024-07-04 07:30:20.888364",
                "modified_by": "benson@bulkbox.co.ke",
                "parent": "MAT-PRE-2024-01237",
                "parentfield": "items",
                "parenttype": "Purchase Receipt",
                "idx": 9,
                "docstatus": 1,
                "barcode": "6161108006012",
                "item_code": "BFK159",
                "product_bundle": null,
                "supplier_part_no": null,
                "item_name": "Bio Fresh Whole Milk 1L",
                "description": "Bio Fresh Whole Milk 1L",
                "brand": "Bio Food",
                "item_group": "Fresh Milk",
                "image": "https://v5.airtableusercontent.com/v3/u/27/27/1711044000000/lKMFOz9aYSNq7XCNSzmQ3A/2TdGeFN0wnrX4dTBh3_KVMQimLP0gk45DvdQk3eQyKsHLkP7W6aRziqiXSTUqTCBjWrFbUWBPnB1E1v2R7JEX0LZHn9sDga1yKuWwznNKbvNHvZIhJVCThBwKscinHAKEqW93NC8e2Rlb5D1oHaVRwr7k05rUx2p0XlMJBstE4M/Yqx9YtykqoUCZw8RZ3wE3OpQxWZJtGrAifD94irZnBc",
                "received_qty": 60,
                "qty": 60,
                "expiry_date": "2024-07-18",
                "rejected_qty": 0,
                "uom": "PCS",
                "stock_uom": "PCS",
                "conversion_factor": 1,
                "retain_sample": 0,
                "sample_quantity": 0,
                "received_stock_qty": 60,
                "stock_qty": 60,
                "returned_qty": 0,
                "price_list_rate": 116,
                "base_price_list_rate": 116,
                "margin_type": "Amount",
                "margin_rate_or_amount": 5,
                "rate_with_margin": 0,
                "discount_percentage": 0,
                "discount_amount": -5,
                "base_rate_with_margin": 0,
                "rate": 121,
                "amount": 7260,
                "base_rate": 121,
                "base_amount": 7260,
                "pricing_rules": null,
                "stock_uom_rate": 121,
                "is_free_item": 0,
                "net_rate": 121,
                "net_amount": 7260,
                "item_tax_template": "0% - TSL",
                "base_net_rate": 121,
                "base_net_amount": 7260,
                "valuation_rate": 121,
                "item_tax_amount": 0,
                "rm_supp_cost": 0,
                "landed_cost_voucher_amount": 0,
                "billed_amt": 0,
                "warehouse": "Storage - TSL",
                "rejected_warehouse": null,
                "from_warehouse": null,
                "material_request": null,
                "purchase_order": "PUR-ORD-2024-01186",
                "purchase_invoice": null,
                "is_fixed_asset": 0,
                "asset_location": null,
                "asset_category": null,
                "schedule_date": "2024-07-04",
                "quality_inspection": null,
                "material_request_item": null,
                "purchase_order_item": "2b220a4020",
                "purchase_invoice_item": null,
                "purchase_receipt_item": null,
                "delivery_note_item": null,
                "putaway_rule": null,
                "allow_zero_valuation_rate": 0,
                "bom": null,
                "serial_no": "",
                "include_exploded_items": 0,
                "batch_no": "BFK15900223",
                "rejected_serial_no": null,
                "item_tax_rate": "{\"Zero Rated Tax - TSL\": 0.0}",
                "weight_per_unit": 0,
                "total_weight": 0,
                "weight_uom": null,
                "manufacturer": null,
                "manufacturer_part_no": null,
                "expense_account": "Dairy COGS - TSL",
                "provisional_expense_account": null,
                "project": null,
                "cost_center": "B2B Unga House - TSL",
                "page_break": 0,
                "doctype": "Purchase Receipt Item"
              },
              {
                "name": "52f747c523",
                "owner": "samwel@bulkbox.co.ke",
                "creation": "2024-07-04 07:28:14.422363",
                "modified": "2024-07-04 07:30:20.894367",
                "modified_by": "benson@bulkbox.co.ke",
                "parent": "MAT-PRE-2024-01237",
                "parentfield": "items",
                "parenttype": "Purchase Receipt",
                "idx": 10,
                "docstatus": 1,
                "barcode": null,
                "item_code": "BFK163",
                "product_bundle": null,
                "supplier_part_no": null,
                "item_name": "Bio Fresh Semi-Skimmed Milk 2L",
                "description": "Bio Fresh Semi-Skimmed Milk 2L",
                "brand": "Bio Food",
                "item_group": "Fresh Milk",
                "image": "https://v5.airtableusercontent.com/v3/u/26/26/1711044000000/1Edcp8TWCKbIP4q2NXmr7w/9xKsYvy5xczEFpPa8G-rUS5hTxVdha70TA8J2oO8h6ZwLMm_Xjs2W1_-VOa8I0G7w76aotA3ir9FXYRQ_nzx4kLHvtWxwb6wFDO8lDLa3FLtaJLoBSXcYxhY_wYW4a5YwREImK7WJ5NURlB_QSBAZuqOiksBzmQsB8F4Gbk8qpg/dLIpAIWi1TKlST_hmFPbeapGa6NvbUIM-R72vpVlgyo",
                "received_qty": 24,
                "qty": 24,
                "expiry_date": "2024-07-16",
                "rejected_qty": 0,
                "uom": "PCS",
                "stock_uom": "PCS",
                "conversion_factor": 1,
                "retain_sample": 0,
                "sample_quantity": 0,
                "received_stock_qty": 24,
                "stock_qty": 24,
                "returned_qty": 0,
                "price_list_rate": 216,
                "base_price_list_rate": 216,
                "margin_type": "Amount",
                "margin_rate_or_amount": 8,
                "rate_with_margin": 0,
                "discount_percentage": 0,
                "discount_amount": -8,
                "base_rate_with_margin": 0,
                "rate": 224,
                "amount": 5376,
                "base_rate": 224,
                "base_amount": 5376,
                "pricing_rules": null,
                "stock_uom_rate": 224,
                "is_free_item": 0,
                "net_rate": 224,
                "net_amount": 5376,
                "item_tax_template": "0% - TSL",
                "base_net_rate": 224,
                "base_net_amount": 5376,
                "valuation_rate": 224,
                "item_tax_amount": 0,
                "rm_supp_cost": 0,
                "landed_cost_voucher_amount": 0,
                "billed_amt": 0,
                "warehouse": "Storage - TSL",
                "rejected_warehouse": null,
                "from_warehouse": null,
                "material_request": null,
                "purchase_order": "PUR-ORD-2024-01186",
                "purchase_invoice": null,
                "is_fixed_asset": 0,
                "asset_location": null,
                "asset_category": null,
                "schedule_date": "2024-07-04",
                "quality_inspection": null,
                "material_request_item": null,
                "purchase_order_item": "7942c17250",
                "purchase_invoice_item": null,
                "purchase_receipt_item": null,
                "delivery_note_item": null,
                "putaway_rule": null,
                "allow_zero_valuation_rate": 0,
                "bom": null,
                "serial_no": "",
                "include_exploded_items": 0,
                "batch_no": "BFK16300110",
                "rejected_serial_no": null,
                "item_tax_rate": "{\"Zero Rated Tax - TSL\": 0.0}",
                "weight_per_unit": 0,
                "total_weight": 0,
                "weight_uom": null,
                "manufacturer": null,
                "manufacturer_part_no": null,
                "expense_account": "Dairy COGS - TSL",
                "provisional_expense_account": null,
                "project": null,
                "cost_center": "B2B Unga House - TSL",
                "page_break": 0,
                "doctype": "Purchase Receipt Item"
              }
            ],
            "is_return": 0
          },
          "webhookUrl": "https://n8n.bulkbox.cloud/webhook/e37f020a-478b-45f7-8eb5-4739c6f33020",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-04-13T07:17:56.132Z",
      "updatedAt": "2024-04-13T07:17:56.132Z",
      "id": "BREwPdgeEC5njFaD",
      "name": "In Development"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-07-08T11:15:39.000Z",
  "versionId": "b05250a5-fb16-457e-bbf7-fb8b744caec4"
}