workflows/Update Sales Assignment.json
{
  "active": false,
  "connections": {
    "When clicking \"Test workflow\"": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "ERPNext",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ERPNext": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-09-04T12:35:01.159Z",
  "id": "dm7Exs8o2tE8KjZD",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Update Sales Assignment",
  "nodes": [
    {
      "parameters": {},
      "id": "5df0ec04-e436-4079-90fa-65bbd5526658",
      "name": "When clicking \"Test workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        140,
        580
      ]
    },
    {
      "parameters": {
        "url": "=https://portal.bulkbox.cloud/api/resource/Customer?limit_page_length=10000",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "erpNextApi",
        "options": {}
      },
      "id": "0c03b165-8524-4fa3-b10f-e11d2d94aedc",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        340,
        580
      ],
      "credentials": {
        "erpNextApi": {
          "id": "OVfEC6rfwqA5vwcf",
          "name": "ERPNext Prod"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "96fb934c-a283-4c46-bd16-2ca1d15a557e",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        740,
        580
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "docType": "Customer",
        "documentName": "={{ $json.name }}"
      },
      "id": "635bfa22-a7df-4dfa-9d49-9da2c0646ec2",
      "name": "ERPNext",
      "type": "n8n-nodes-base.erpNext",
      "typeVersion": 1,
      "position": [
        980,
        680
      ],
      "credentials": {
        "erpNextApi": {
          "id": "OVfEC6rfwqA5vwcf",
          "name": "ERPNext Prod"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "36ca1a5f-6010-4b0d-9048-24ae0470e404",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        540,
        580
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "2625b999-9484-4c80-9a76-470c9f11ece0",
              "leftValue": "={{ $json.sales_team[0].name }}",
              "rightValue": "=",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "67d53dc6-432c-4db1-9a2b-9808bc877cac",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1200,
        680
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "15782179-4666-478d-844e-53eb515313d5",
              "leftValue": "={{ $json.sales_team[0].sales_person }}",
              "rightValue": "Brian Mong'are",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "8e845f61-5da8-417d-9d0d-62d3a2311a87",
              "leftValue": "={{ $json.disabled }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c8dac7f7-f5f1-4ed3-81a9-046e41ad83d0",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1420,
        760
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app7c9cfju1wCcghr",
          "mode": "list",
          "cachedResultName": "AR Management Tool",
          "cachedResultUrl": "https://airtable.com/app7c9cfju1wCcghr"
        },
        "table": {
          "__rl": true,
          "value": "tblzg5Zj11G3fiwyr",
          "mode": "list",
          "cachedResultName": "Main",
          "cachedResultUrl": "https://airtable.com/app7c9cfju1wCcghr/tblzg5Zj11G3fiwyr"
        },
        "filterByFormula": "=({Full Name} = \"{{ $json.name }}\")",
        "returnAll": false,
        "limit": 1,
        "options": {}
      },
      "id": "ced2e912-311d-49b9-934c-9a561f07d796",
      "name": "Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        1640,
        820
      ],
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "q5ICF2DzH8KpL3Ai",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "ef917676-0581-420e-94e3-d6241b993ce7",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7a045d98-f508-46a4-a2a6-06da3375b024",
      "name": "If2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1860,
        900
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "9835e2b2-b6c3-4c9d-a80d-426cfe4e1943",
              "leftValue": "={{ $('Airtable').item.json[\"Sales Team Assignment\"] }}",
              "rightValue": "Assign Sales Member",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f9c9a379-0c1e-4ff3-9279-f7e8584f6775",
      "name": "If3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2080,
        900
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "docType": "Customer",
        "documentName": "={{ $('Loop Over Items').item.json.name }}",
        "properties": {
          "customProperty": [
            {
              "field": "sales_team_section",
              "value": "=[]"
            }
          ]
        }
      },
      "id": "25154cd8-7743-4959-9ee3-f0bbde215cfe",
      "name": "ERPNext1",
      "type": "n8n-nodes-base.erpNext",
      "typeVersion": 1,
      "position": [
        2160,
        540
      ],
      "credentials": {
        "erpNextApi": {
          "id": "OVfEC6rfwqA5vwcf",
          "name": "ERPNext Prod"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://portal.bulkbox.cloud/api/resource/Customer/{{ $('Loop Over Items').item.json.name }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "erpNextApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n    \"data\": {\n        \"sales_team\": [\n          \n        ]\n    }\n}",
        "options": {}
      },
      "id": "d9ba1f68-19cf-4e2d-a7bb-e731a52a520d",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2860,
        1180
      ],
      "credentials": {
        "erpNextApi": {
          "id": "OVfEC6rfwqA5vwcf",
          "name": "ERPNext Prod"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "2fbcea0f-c44a-4ac3-bf00-d5b369ab5ff8",
              "leftValue": "={{ $json[\"Sales Team Assignment\"] }}",
              "rightValue": "Sophia",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "f44135d4-cf25-4fe0-a718-1bd5dedceccb",
              "leftValue": "={{ $json[\"Sales Team Assignment\"] }}",
              "rightValue": "Emma",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "9f35aa17-4136-4db4-95b1-ccf91cc048fb",
      "name": "If4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2220,
        1060
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://portal.bulkbox.cloud/api/resource/Customer/{{ $('Loop Over Items').item.json.name }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "erpNextApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"data\": {\n        \"sales_team\": [\n          {\n            \"sales_person\":\"{{ $('If3').item.json[\"Sales Team Assignment\"] }}\",\n            \"allocated_percentage\": 100.0\n          }\n        ]\n    }\n}",
        "options": {}
      },
      "id": "aaedc631-c9f0-490d-b976-0a3cedeaf32d",
      "name": "HTTP Request2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        1160
      ],
      "credentials": {
        "erpNextApi": {
          "id": "OVfEC6rfwqA5vwcf",
          "name": "ERPNext Prod"
        }
      }
    }
  ],
  "pinData": {
    "HTTP Request": [
      {
        "json": {
          "data": [
            {
              "name": "Inn and Out LTD"
            },
            {
              "name": "Lecker & Co Ltd"
            },
            {
              "name": "Izaak Walton Inn"
            },
            {
              "name": "Try Cooked LTD"
            },
            {
              "name": "Kune Food Lab Kenya LTD"
            },
            {
              "name": "Savoan LTD"
            },
            {
              "name": "Filanwa Wholesalers LTD"
            },
            {
              "name": "Remeal Africa General Supplies PLC"
            },
            {
              "name": "Epristal Ltd"
            },
            {
              "name": "Vinas Mini Mart LTD"
            },
            {
              "name": "PediaPharma Kenya LTD (Fiesta Liquor Store)"
            },
            {
              "name": "Sapient Hospitality Ventures LTD"
            },
            {
              "name": "BigNest Harvest"
            },
            {
              "name": "AACC Guest House"
            },
            {
              "name": "YOURBASKET"
            },
            {
              "name": "Brisk Marketing"
            },
            {
              "name": "Luxcare Pharmacy"
            },
            {
              "name": "Advacafe And Restaurant"
            },
            {
              "name": "Umang Holdings"
            },
            {
              "name": "Mno Advocates Llp"
            },
            {
              "name": "Paletas Food Limited"
            },
            {
              "name": "Rachel"
            },
            {
              "name": "Jiji Online Marketplace"
            },
            {
              "name": "South Fitness Limited"
            },
            {
              "name": "W3 Hospitality LTD // Wings Kenya"
            },
            {
              "name": "Micro Labs"
            },
            {
              "name": "Omeriye Limited"
            },
            {
              "name": "Hishaam Asad"
            },
            {
              "name": "Sunworld Safaris Ltd"
            },
            {
              "name": "Polle Babu - 1"
            },
            {
              "name": "Parma Grana - 1"
            },
            {
              "name": "Jennifer Landlord"
            },
            {
              "name": "7 Eleven Merchant LTD"
            },
            {
              "name": "Om Nom Nom LTD"
            },
            {
              "name": "Pauline Adul"
            },
            {
              "name": "Duke Agencies"
            },
            {
              "name": "Neoking Trading Limited"
            },
            {
              "name": "Reshma Sodi"
            },
            {
              "name": "Yusuf Abdi"
            },
            {
              "name": "Agnes Mwangi"
            },
            {
              "name": "Aquanet digital suppliers"
            },
            {
              "name": "Nairobi pacific hotel"
            },
            {
              "name": "Sylvia Ndei"
            },
            {
              "name": "Elsie Maina"
            },
            {
              "name": "Betty Mutile"
            },
            {
              "name": "Polle Babu 4"
            },
            {
              "name": "Jerusa Maina"
            },
            {
              "name": "Equity Bank"
            },
            {
              "name": "HABIBI CAFE AND RESTAURANT"
            },
            {
              "name": "Polle Babu"
            },
            {
              "name": "Leonel Kagiri"
            },
            {
              "name": "Six Square Ltd"
            },
            {
              "name": "Maureen ogongo"
            },
            {
              "name": "Alice Wanjiru"
            },
            {
              "name": "Elizibeth Odeyo"
            },
            {
              "name": "Kenpoly"
            },
            {
              "name": "Nahida Walli"
            },
            {
              "name": "Janita Chirag Sheth"
            },
            {
              "name": "Witaly Food & Beverage LTD"
            },
            {
              "name": "Trevor Okoth"
            },
            {
              "name": "Josephine Wangeci"
            },
            {
              "name": "Anne Wanyoike"
            },
            {
              "name": "Blair Legacy Ventures"
            },
            {
              "name": "Marvin Ochieng"
            },
            {
              "name": "Ourise Enterprises"
            },
            {
              "name": "Wairimu Angele"
            },
            {
              "name": "Rosemary Muendo"
            },
            {
              "name": "Karen Wu"
            },
            {
              "name": "Academy for women entrepreneur's c/o Ushindi Empowerment"
            },
            {
              "name": "Elizabeth wanjiku"
            },
            {
              "name": "Nalini C. Shah"
            },
            {
              "name": "Fardosa"
            },
            {
              "name": "Florence Ogola"
            },
            {
              "name": "Kilimani Junior Academy"
            },
            {
              "name": "Keep It 100 Marketing Agency"
            },
            {
              "name": "Sabibu Beverages Africa Ltd"
            },
            {
              "name": "Polle Babu Customer"
            },
            {
              "name": "margaret Njoroge"
            },
            {
              "name": "Bags and Balers Manufacturers (K) Ltd"
            },
            {
              "name": "Achara Meal Prep LTD"
            },
            {
              "name": "George Thiga K."
            },
            {
              "name": "osephine Ongosi"
            },
            {
              "name": "Lilian Njeri"
            },
            {
              "name": "Jett inn gardens hotel ltd"
            },
            {
              "name": "Utabibu Sacco"
            },
            {
              "name": "Hannah Mangale"
            },
            {
              "name": "Mara Bush Camp Ltd"
            },
            {
              "name": "Kevin Isaac"
            },
            {
              "name": "Nemerc General Stores"
            },
            {
              "name": "Ramco Group"
            },
            {
              "name": "FirstPower Fitness"
            },
            {
              "name": "Dilliam Communications"
            },
            {
              "name": "Mahfs Retails and Wholesale"
            },
            {
              "name": "Kibo Safari Camp"
            },
            {
              "name": "Whiskey River"
            },
            {
              "name": "Hellen Kinyua"
            },
            {
              "name": "Mama Gas Limited"
            },
            {
              "name": "Adamji Multi Supplies Ltd"
            },
            {
              "name": "Tasty Grubs Co. Ltd"
            },
            {
              "name": "Julius Juma"
            },
            {
              "name": "Everlyn Mwangi"
            },
            {
              "name": "Maryann Mwihaki Mbugua"
            },
            {
              "name": "Abdifatah"
            },
            {
              "name": "Param Jandu"
            },
            {
              "name": "Judith Anne"
            },
            {
              "name": "Amina Haider"
            },
            {
              "name": "Peter Nyangeri"
            },
            {
              "name": "Barrack Mutokah"
            },
            {
              "name": "Catherine munee"
            },
            {
              "name": "Cedric Osoro"
            },
            {
              "name": "Churrasco Yard Ltd"
            },
            {
              "name": "Daphine Kandagor"
            },
            {
              "name": "Paprika"
            },
            {
              "name": "Dora Muuka Mudenda"
            },
            {
              "name": "Total Langata Road"
            },
            {
              "name": "Elham Bahkam"
            },
            {
              "name": "Betty Bakes"
            },
            {
              "name": "Esther Maina"
            },
            {
              "name": "Farhiya Ali"
            },
            {
              "name": "Phyllis Mburu"
            },
            {
              "name": "Gallen kitchen"
            },
            {
              "name": "George Mwakuriga"
            },
            {
              "name": "glawas artswork"
            },
            {
              "name": "Njoki Hottensia"
            },
            {
              "name": "Lauryn Odula"
            },
            {
              "name": "Lilly Bekele-Piper"
            },
            {
              "name": "Linet Njeri Kihonge"
            },
            {
              "name": "Lorna Mumbi Nyaga"
            },
            {
              "name": "siraj  Almunir"
            },
            {
              "name": "Miriam Melissa Gaya"
            },
            {
              "name": "Mohammed Bachani"
            },
            {
              "name": "Pinky Nair"
            },
            {
              "name": "Nancy Kariuki"
            },
            {
              "name": "Neel Shah"
            },
            {
              "name": "wanjiku Kanja"
            },
            {
              "name": "Nimesh Karsan"
            },
            {
              "name": "Joyce Chebet"
            },
            {
              "name": "Robby Rai"
            },
            {
              "name": "Parma Grana"
            },
            {
              "name": "The Food Library"
            },
            {
              "name": "Rumba Kinuthia."
            },
            {
              "name": "Ruth Wangari"
            },
            {
              "name": "Sabina Joseph"
            },
            {
              "name": "The Nairobi bread Company Ltd"
            },
            {
              "name": "Shai Shaileen"
            },
            {
              "name": "Daniel Omondi"
            },
            {
              "name": "Ateka & Sons Supplies LTD"
            },
            {
              "name": "Lavivance"
            },
            {
              "name": "Saab Royale Hotel"
            },
            {
              "name": "Sufyan Baradia"
            },
            {
              "name": "Cynthia Karwitha"
            },
            {
              "name": "Daily Pint LLP"
            },
            {
              "name": "Shalina Healthcare Kenya Ltd"
            },
            {
              "name": "Kabianga Tea Factory LTD"
            },
            {
              "name": "William Aura"
            },
            {
              "name": "Yusufn Yusuf"
            },
            {
              "name": "Zahra Njoki"
            },
            {
              "name": "Party Smartz"
            },
            {
              "name": "Josephine Ndao"
            },
            {
              "name": "Kendi Mmbijjewe"
            },
            {
              "name": "Muminah Salim"
            },
            {
              "name": "Naeema Bashir"
            },
            {
              "name": "Uru Patel"
            },
            {
              "name": "Roza Munyua"
            },
            {
              "name": "Shakila Akram"
            },
            {
              "name": "Amani ya Juu"
            },
            {
              "name": "Ruth Wairimu Kairu"
            },
            {
              "name": "Pots and Palms"
            },
            {
              "name": "Otieno Obudho Anthony"
            },
            {
              "name": "Shred Gym"
            },
            {
              "name": "Jumia"
            },
            {
              "name": "Mahendra Shah"
            },
            {
              "name": "Salome Adhiambo"
            },
            {
              "name": "Maureen Onyango-Ngesa"
            },
            {
              "name": "Sammy Muiga- Onyx Entertainment Ltd"
            },
            {
              "name": "Sahil Popat"
            },
            {
              "name": "Michelle Oluoch"
            },
            {
              "name": "Paulina Anyanga"
            },
            {
              "name": "Waleed Asad"
            },
            {
              "name": "Jajemelo Pizza"
            },
            {
              "name": "Purity Aloo"
            },
            {
              "name": "Eustine Kaduve"
            },
            {
              "name": "Lawrence Mulasse"
            },
            {
              "name": "David Wainaina"
            },
            {
              "name": "Charity W."
            },
            {
              "name": "Jacqueline Nyanjom"
            },
            {
              "name": "Kidavi Imali"
            },
            {
              "name": "KK Security Ltd"
            },
            {
              "name": "Rosalia Irungu"
            },
            {
              "name": "Ken Koech"
            },
            {
              "name": "Mohamed Kassam Abdulkader Saidina"
            },
            {
              "name": "Donglin Lyu"
            },
            {
              "name": "Alex Samia"
            },
            {
              "name": "Dharmesh Vekaria"
            },
            {
              "name": "Urbanus Mbuvi"
            },
            {
              "name": "Fatima Mamu"
            },
            {
              "name": "Jacqueline Andhoga"
            },
            {
              "name": "Abdullahi Hussein"
            },
            {
              "name": "Huzaifah Yaseen"
            },
            {
              "name": "Mervin"
            },
            {
              "name": "Menya Mwambeu"
            },
            {
              "name": "Norda Industries LTD"
            },
            {
              "name": "Hamida Nanda"
            },
            {
              "name": "Joyce Chepet"
            },
            {
              "name": "Antony Norieka"
            },
            {
              "name": "Moi Educational Centre"
            },
            {
              "name": "fafaf afafaf"
            },
            {
              "name": "666 666"
            },
            {
              "name": "Mwendwa Musau"
            },
            {
              "name": "Arvinder Singh Rattan"
            },
            {
              "name": "Sharon Maviala"
            },
            {
              "name": "Antoinette Ng'ang'a"
            },
            {
              "name": "Anthony Ngila"
            },
            {
              "name": "Linda Waiyaki"
            },
            {
              "name": "Mustafa Sallaly"
            },
            {
              "name": "Allison Male"
            },
            {
              "name": "Amar African Eco Safaris"
            },
            {
              "name": "Anne Chiuri"
            },
            {
              "name": "Ash Mohammed"
            },
            {
              "name": "Urban nails academy"
            },
            {
              "name": "Lisa Keya"
            },
            {
              "name": "Bijal Shah"
            },
            {
              "name": "Bijou's"
            },
            {
              "name": "Bridget Andere"
            },
            {
              "name": "Bryonny Galley"
            },
            {
              "name": "charity Gachuhi"
            },
            {
              "name": "Claude Dsouza"
            },
            {
              "name": "Dhanil Dodhia"
            },
            {
              "name": "Dipna Malde"
            },
            {
              "name": "Lucy Welland"
            },
            {
              "name": "Elizabeth/Stephanie Sargeant"
            },
            {
              "name": "Flavia Tschanz"
            },
            {
              "name": "Frieder Haberecht"
            },
            {
              "name": "Gloria Otieno"
            },
            {
              "name": "Hannah said Mohamed"
            },
            {
              "name": "Himith Vekaria"
            },
            {
              "name": "1872 Restaurant"
            },
            {
              "name": "Jaxs Jaques"
            },
            {
              "name": "Jagdeep Singh"
            },
            {
              "name": "Jason Grunstra"
            },
            {
              "name": "Jeanne Kimani"
            },
            {
              "name": "Karithi John"
            },
            {
              "name": "Josephine Karimi Kassuki"
            },
            {
              "name": "Judy Nderitu"
            },
            {
              "name": "Ken Keoch"
            },
            {
              "name": "Kevin Gitau"
            },
            {
              "name": "2Fish Restaurant"
            },
            {
              "name": "LUCY NGURU"
            },
            {
              "name": "Eat Me LTD"
            },
            {
              "name": "Malyun Farah"
            },
            {
              "name": "Daphne D'souza"
            },
            {
              "name": "Usama Haji"
            },
            {
              "name": "Rose Mwangi"
            },
            {
              "name": "Mohammed Noor"
            },
            {
              "name": "Dennis Ouma"
            },
            {
              "name": "Darshan Hirani"
            },
            {
              "name": "Tulsi Raval"
            },
            {
              "name": "Nickson Karewa"
            },
            {
              "name": "Nisha Ligon"
            },
            {
              "name": "Nina Munene"
            },
            {
              "name": "Wangeci Ndung'u"
            },
            {
              "name": "Ken Etemesi"
            },
            {
              "name": "Ramla Ali"
            },
            {
              "name": "Ravi Shah"
            },
            {
              "name": "Rukia Shaukat"
            },
            {
              "name": "Ruth Mutonyi"
            },
            {
              "name": "Francesca Rampoldi"
            },
            {
              "name": "Sandra Odima"
            },
            {
              "name": "Sarah Wema"
            },
            {
              "name": "Indaxe Steakhouse"
            },
            {
              "name": "Sheila Mmbijjewe"
            },
            {
              "name": "Yuvraj Gosai"
            },
            {
              "name": "Alastair Sussock"
            },
            {
              "name": "Tajinder Valji"
            },
            {
              "name": "Tanvi Chandaria"
            },
            {
              "name": "Valentine Mutua"
            },
            {
              "name": "SIMON WOODS"
            },
            {
              "name": "Amina Maalim"
            },
            {
              "name": "Fatimasugra Irfanreza"
            },
            {
              "name": "Phinney Muiru"
            },
            {
              "name": "Matt Schiller"
            },
            {
              "name": "Nissar Haji"
            },
            {
              "name": "Wrapped Foods"
            },
            {
              "name": "Tuntu Mazibuko"
            },
            {
              "name": "Janna Deeble"
            },
            {
              "name": "peter wakaba"
            },
            {
              "name": "Hiroyuki Futaki"
            },
            {
              "name": "Kalil Moha"
            },
            {
              "name": "Pickup Individuals"
            },
            {
              "name": "Sharon Kahumbu"
            },
            {
              "name": "Kush Samani"
            },
            {
              "name": "Tipsy Sports Bar"
            },
            {
              "name": "Claire Njuguna"
            },
            {
              "name": "bhavit shah"
            },
            {
              "name": "David Njue Mukinda"
            },
            {
              "name": "Sarah Mbinji"
            },
            {
              "name": "Doreen Mucheke"
            },
            {
              "name": "Yusuf Salad"
            },
            {
              "name": "Peter Mugo"
            },
            {
              "name": "Abdul Varvany"
            },
            {
              "name": "Jasper Ochieng - 2"
            },
            {
              "name": "Willian Irungu"
            },
            {
              "name": "Geophry Griffin Owiti"
            },
            {
              "name": "Nuri K. Nataan"
            },
            {
              "name": "Felix Oguda"
            },
            {
              "name": "Duncodi Seven"
            },
            {
              "name": "Mary Mutheu"
            },
            {
              "name": "Christine kagwiria"
            },
            {
              "name": "Fatuma Salim"
            },
            {
              "name": "Transmega Logistics"
            },
            {
              "name": "David"
            },
            {
              "name": "Brigid Sawe - 1"
            },
            {
              "name": "Brazilian Rodizio LTD"
            },
            {
              "name": "Federico Sibona"
            },
            {
              "name": "Deepthi Menon"
            },
            {
              "name": "Nicole Magabo"
            },
            {
              "name": "Atua Enkop"
            },
            {
              "name": "Bean Bubble  - 1"
            },
            {
              "name": "Nancy Kinyanjui"
            },
            {
              "name": "Suudi Ahmed Mohamud"
            },
            {
              "name": "Joyce Kibe"
            },
            {
              "name": "Amaica The Restaurant Ltd"
            },
            {
              "name": "Dion Wine"
            },
            {
              "name": "Sugar Baked Limited"
            },
            {
              "name": "Anabas Trout & Seafood Grill"
            },
            {
              "name": "Leonardo Technologies & Services Limited"
            },
            {
              "name": "Josephine Njoroge"
            },
            {
              "name": "Zucchini Greengrocers LTD"
            },
            {
              "name": "London Distillers LTD"
            },
            {
              "name": "Westcon Africa (Kenya) Limited"
            },
            {
              "name": "Entumoto Safari Camp Limited"
            },
            {
              "name": "JPR Safaris Camp"
            },
            {
              "name": "Lavington Hotel Limited"
            },
            {
              "name": "Intl Montessori Schools (IMS)"
            },
            {
              "name": "Shepmatt Ltd"
            },
            {
              "name": "Avacare Kenya ltd"
            },
            {
              "name": "Silver Holdings Ltd"
            },
            {
              "name": "Black Rose cafe and market"
            },
            {
              "name": "Lake Naivasha Resort"
            },
            {
              "name": "New Carnation Hotel"
            },
            {
              "name": "Pantry Provisions"
            },
            {
              "name": "Nelson Newbery"
            },
            {
              "name": "Chris Michuki"
            },
            {
              "name": "Stacy Wingate"
            },
            {
              "name": "Milli Shah"
            },
            {
              "name": "Psycle Kenya Ltd"
            },
            {
              "name": "Raphael Onyango"
            },
            {
              "name": "Mackrine Abukah"
            },
            {
              "name": "Upperhill Springs Restaurant"
            },
            {
              "name": "Hatim S Hatim"
            },
            {
              "name": "Open Quotation"
            },
            {
              "name": "L’Oreal East Africa Ltd"
            },
            {
              "name": "Cyrus Atuti"
            },
            {
              "name": "Anar Dossa"
            },
            {
              "name": "Maureen Kabugo"
            },
            {
              "name": "Salimu ali Mwakutsuma"
            },
            {
              "name": "Brenda Nawiri"
            },
            {
              "name": "cyrus kinuthia"
            },
            {
              "name": "Eric Murimi"
            },
            {
              "name": "Mikul Shah"
            },
            {
              "name": "hemal patel"
            },
            {
              "name": "Nahid Mohamed"
            },
            {
              "name": "Sabrina mohammed"
            },
            {
              "name": "Bini Gajjar"
            },
            {
              "name": "Nicholas Runo"
            },
            {
              "name": "Rebbeca Majiwa"
            },
            {
              "name": "Christine Amani"
            },
            {
              "name": "Issa Rashid"
            },
            {
              "name": "Harsh Misra"
            },
            {
              "name": "Feitzi Company"
            },
            {
              "name": "Kimani Mbatia"
            },
            {
              "name": "Cash Customer"
            },
            {
              "name": "Virali Patel"
            },
            {
              "name": "Mwangi Wamae"
            },
            {
              "name": "Lossesia Resort"
            },
            {
              "name": "shani school"
            },
            {
              "name": "Fenil Patel"
            },
            {
              "name": "Zeinab Aidid"
            },
            {
              "name": "Daisy Nyaronge"
            },
            {
              "name": "Cape Suppliers Limited"
            },
            {
              "name": "Hesbon Masaki"
            },
            {
              "name": "Faith Mwendwa"
            },
            {
              "name": "Kavita Yadav"
            },
            {
              "name": "Sylvia Mande"
            },
            {
              "name": "Christine Gachuru"
            },
            {
              "name": "Sunaina Kassam"
            },
            {
              "name": "Elvira Pilott - Charity"
            },
            {
              "name": "Charles M l Lyer,"
            },
            {
              "name": "Sawan Raikundalia"
            },
            {
              "name": "Fahim Noorani"
            },
            {
              "name": "David Nolte"
            },
            {
              "name": "Hotel Riverview"
            },
            {
              "name": "Deka Mohamed"
            },
            {
              "name": "Hemang Rana"
            },
            {
              "name": "Payments To be Confirmed"
            },
            {
              "name": "Toprank Africa Invest"
            },
            {
              "name": "Jasvanti Hirani"
            },
            {
              "name": "Arwa Aliasgar Badri"
            },
            {
              "name": "Caren Koros"
            },
            {
              "name": "Neil page"
            },
            {
              "name": "Vivian Computech"
            },
            {
              "name": "Sylvia Gatimu"
            },
            {
              "name": "Abdiaziz Mohamed Abdi"
            },
            {
              "name": "Surer Mahamed"
            },
            {
              "name": "Chrispine Otieno"
            },
            {
              "name": "Brenda Otiende"
            },
            {
              "name": "Lizzy Chepchumba"
            },
            {
              "name": "Young Entrepreneurs"
            },
            {
              "name": "Elvira Mwangi"
            },
            {
              "name": "Fabian Cheruiyot"
            },
            {
              "name": "Mrs LE DU"
            },
            {
              "name": "Prestone Kiteme"
            },
            {
              "name": "Judy Wangari"
            },
            {
              "name": "Pentavest  Enterprise"
            },
            {
              "name": "Ravi Saleh"
            },
            {
              "name": "Janescovia Anyango"
            },
            {
              "name": "Angela Mutuku"
            },
            {
              "name": "wngari"
            },
            {
              "name": "Naomi"
            },
            {
              "name": "Abdi Hassan"
            },
            {
              "name": "Fred Nyakundi"
            },
            {
              "name": "Angela"
            },
            {
              "name": "Adarsh Shah"
            },
            {
              "name": "Akati Khasiani"
            },
            {
              "name": "Windsor"
            },
            {
              "name": "Jaimeen Pt"
            },
            {
              "name": "Mercy Muthoni"
            },
            {
              "name": "Sunaina Dhadialla"
            },
            {
              "name": "Janet Gathere"
            },
            {
              "name": "Bini Shah"
            },
            {
              "name": "Gilphens Dry Goods"
            },
            {
              "name": "Bilz Rashaan stores Ltd"
            },
            {
              "name": "Takataka Solutions Limited"
            },
            {
              "name": "Vimit Conwaters Ltd"
            },
            {
              "name": "zameta holdings limited"
            },
            {
              "name": "Sandy's Kitchen And Events"
            },
            {
              "name": "White Anchor Investments Ltd"
            },
            {
              "name": "Azile Limited"
            },
            {
              "name": "Vibanda Village"
            },
            {
              "name": "Leslex Enterprise"
            },
            {
              "name": "GEOVENTURES WELFARE"
            },
            {
              "name": "Cindy Cakes Haven"
            },
            {
              "name": "Paul Kabuuri"
            },
            {
              "name": "Ajra Abdullatif Mohamed"
            },
            {
              "name": "Sarah Yusuf"
            },
            {
              "name": "Kush Yang"
            },
            {
              "name": "Judith Evelyn"
            },
            {
              "name": "Ashwati"
            },
            {
              "name": "Carly Gilbert-Patrick/Koinange"
            },
            {
              "name": "Kevina Alfons"
            },
            {
              "name": "Ruth Nyakebondo"
            },
            {
              "name": "sanjay vasta"
            },
            {
              "name": "Samantha Bunch"
            },
            {
              "name": "Jenn Azael"
            },
            {
              "name": "Daisy Kariuki"
            },
            {
              "name": "Wanjiku Nganga"
            },
            {
              "name": "Henry kirimi"
            },
            {
              "name": "Nicholas Chege"
            },
            {
              "name": "Halai Kaushil"
            },
            {
              "name": "Zainab Adan"
            },
            {
              "name": "Shezan Kara"
            },
            {
              "name": "Susan Njeru"
            },
            {
              "name": "Jasdeep Jutley"
            },
            {
              "name": "Divyesh Patel - 1"
            },
            {
              "name": "Juma Rajab"
            },
            {
              "name": "Faith Linda"
            },
            {
              "name": "Siad Dalacha"
            },
            {
              "name": "Lillian Njoroge"
            },
            {
              "name": "Nimmi"
            },
            {
              "name": "Sheila Okara"
            },
            {
              "name": "Fazal Butt"
            },
            {
              "name": "Kelvin Mwaura"
            },
            {
              "name": "Wahome Mukundi"
            },
            {
              "name": "nicholas murerwa"
            },
            {
              "name": "Effat Abdulwahab"
            },
            {
              "name": "Gloria Khafafa"
            },
            {
              "name": "Bhakti Chhabhaiya"
            },
            {
              "name": "Nimi"
            },
            {
              "name": "Abdi Dahir"
            },
            {
              "name": "Karim Hasham"
            },
            {
              "name": "Brenda Maina"
            },
            {
              "name": "Meera Shah"
            },
            {
              "name": "Wanjira Kiriro"
            },
            {
              "name": "Diana Mwikali"
            },
            {
              "name": "Charlene Waiganjo"
            },
            {
              "name": "Wanuri Kahiu"
            },
            {
              "name": "Gloria Tsentumbwe"
            },
            {
              "name": "kamau wairimu"
            },
            {
              "name": "Trusillah Kabete"
            },
            {
              "name": "Elizabeth Wanjiku Mbugua"
            },
            {
              "name": "Patriciah Machio"
            },
            {
              "name": "Shane K"
            },
            {
              "name": "Swamini Viking"
            },
            {
              "name": "Elias Mungas"
            },
            {
              "name": "Emanuel Pelote"
            },
            {
              "name": "Rozie Wakasa"
            },
            {
              "name": "Jackie Otieno"
            },
            {
              "name": "Ahmed Aden"
            },
            {
              "name": "Eric Omosh"
            },
            {
              "name": "Loise Gakumo"
            },
            {
              "name": "Selina Ochieng"
            },
            {
              "name": "Viral Dodhia"
            },
            {
              "name": "Kimberly Njau"
            },
            {
              "name": "Lillian Nyambu"
            },
            {
              "name": "Kathleen Murrey"
            },
            {
              "name": "Nafisa Walijee"
            },
            {
              "name": "Darshni Shah"
            },
            {
              "name": "Isabella Schmidt"
            },
            {
              "name": "Ruth Barassah"
            },
            {
              "name": "Sheila Bhalloo"
            },
            {
              "name": "Pauline Kamunya"
            },
            {
              "name": "Anne Omwandho"
            },
            {
              "name": "Neel Salva"
            },
            {
              "name": "Jalpesh Upadhyay"
            },
            {
              "name": "Salma Bashir"
            },
            {
              "name": "Antony Munyiri"
            },
            {
              "name": "Edna Kihara"
            },
            {
              "name": "Prudence Khamati"
            },
            {
              "name": "Catherine Tarayia"
            },
            {
              "name": "Loise"
            },
            {
              "name": "Salome Kagendo"
            },
            {
              "name": "Elodie Sampere"
            },
            {
              "name": "Albert"
            },
            {
              "name": "Celline Ager"
            },
            {
              "name": "Amer Omar"
            },
            {
              "name": "Lucy Mecca"
            },
            {
              "name": "William Omondi"
            },
            {
              "name": "Zumbran Muhammad"
            },
            {
              "name": "Esther Mutua"
            },
            {
              "name": "Peter Mutuma"
            },
            {
              "name": "Bella Aschemacher"
            },
            {
              "name": "Kazmin Gandhi"
            },
            {
              "name": "Lakshmi Moola"
            },
            {
              "name": "David Kubasu"
            },
            {
              "name": "Kajal Shah"
            },
            {
              "name": "Zahir Kara"
            },
            {
              "name": "Andy Hill"
            },
            {
              "name": "Nancy Mwangi"
            },
            {
              "name": "Abdul Rahim"
            },
            {
              "name": "Patricia mwende"
            },
            {
              "name": "Mariyam Haji"
            },
            {
              "name": "hellen chepngetich"
            },
            {
              "name": "Clare Nandi"
            },
            {
              "name": "Cynthia"
            },
            {
              "name": "Krunal Patel"
            },
            {
              "name": "Mehul Vekaria"
            },
            {
              "name": "Mercy Musyoki"
            },
            {
              "name": "Michelle Mwaka"
            },
            {
              "name": "Feysal Omar"
            },
            {
              "name": "Alisha R"
            },
            {
              "name": "Maggie Bashforth"
            },
            {
              "name": "Parth Gupta"
            },
            {
              "name": "Irene Wanderi"
            },
            {
              "name": "JOY GREEN E.P"
            },
            {
              "name": "Eli Mwangi"
            },
            {
              "name": "Judy Amolo"
            },
            {
              "name": "Saruni Kenya"
            },
            {
              "name": "Tracy Bunch"
            },
            {
              "name": "niphrey"
            },
            {
              "name": "Ali Ali"
            },
            {
              "name": "Julius Njoroge"
            },
            {
              "name": "Maureen Njeri"
            },
            {
              "name": "Abdulshakoor Abdulrazak"
            },
            {
              "name": "Sofia"
            },
            {
              "name": "Nasambu Flavia"
            },
            {
              "name": "Drashti Pandit"
            },
            {
              "name": "Birju"
            },
            {
              "name": "Anne Mwangangi"
            },
            {
              "name": "Dipesh Siyani"
            },
            {
              "name": "Kevin Mukhami"
            },
            {
              "name": "John Njenga"
            },
            {
              "name": "Lilesh Gorasiya"
            },
            {
              "name": "Gideon Nzeu"
            },
            {
              "name": "Jane Karimi"
            },
            {
              "name": "Stella"
            },
            {
              "name": "joseph muigai"
            },
            {
              "name": "Patrick Munyi"
            },
            {
              "name": "Seeya"
            },
            {
              "name": "Francis Osendi"
            },
            {
              "name": "Kuki Wason"
            },
            {
              "name": "John Mithamo"
            },
            {
              "name": "Rajul"
            },
            {
              "name": "Faith Kawira"
            },
            {
              "name": "Suhail Salim"
            },
            {
              "name": "Elizabeth Waithaka"
            },
            {
              "name": "Misheck Mbugua"
            },
            {
              "name": "Kavash Doran"
            },
            {
              "name": "Frost Cakery"
            },
            {
              "name": "Jacqueline Waititu"
            },
            {
              "name": "Relief line kenya"
            },
            {
              "name": "Patrick Onyancha"
            },
            {
              "name": "Jaimika Patel"
            },
            {
              "name": "Rachel Ombaka"
            },
            {
              "name": "Leah Miano"
            },
            {
              "name": "Meggy Ogoma"
            },
            {
              "name": "Nicole"
            },
            {
              "name": "Samuel Asibiko Apwacho"
            },
            {
              "name": "Andras Porffy"
            },
            {
              "name": "Muthoni Kioni"
            },
            {
              "name": "Ben Harribenn"
            },
            {
              "name": "Mary Muriithi"
            },
            {
              "name": "Judith Malika"
            },
            {
              "name": "Sarah Ndiba"
            },
            {
              "name": "Denis Ondieki"
            },
            {
              "name": "Leah Kimata"
            },
            {
              "name": "Maira Bholla"
            },
            {
              "name": "Monica Wanjiku"
            },
            {
              "name": "Luv Gupta"
            },
            {
              "name": "Yussuf Garat"
            },
            {
              "name": "Joyce Micheni"
            },
            {
              "name": "Farin Yusuf"
            },
            {
              "name": "Saikrishna"
            },
            {
              "name": "Ahlaam Ganzel"
            },
            {
              "name": "Esther - 1"
            },
            {
              "name": "Umar Ansari"
            },
            {
              "name": "Alice Mathangani"
            },
            {
              "name": "Angel Kamunge"
            },
            {
              "name": "Elias Mungas - 1"
            },
            {
              "name": "Rubina Haroon"
            },
            {
              "name": "St. Mary Magdalene Retreat House"
            },
            {
              "name": "Ali Hassan"
            },
            {
              "name": "Joy Kimari"
            },
            {
              "name": "Alison Kibera"
            },
            {
              "name": "Kangonga Njoroge"
            },
            {
              "name": "Indazi Gloria"
            },
            {
              "name": "Manju Patel"
            },
            {
              "name": "Ibrahim"
            },
            {
              "name": "Antony Ekirapa"
            },
            {
              "name": "Kathryn Robertson"
            },
            {
              "name": "Abu"
            },
            {
              "name": "Daniel Kamau"
            },
            {
              "name": "Tamim"
            },
            {
              "name": "Muthunga Victor"
            },
            {
              "name": "Angela Mbugua"
            },
            {
              "name": "Dipak Galaiya"
            },
            {
              "name": "Karim Manji"
            },
            {
              "name": "Joy Adhiambo"
            },
            {
              "name": "Melissa Gaya"
            },
            {
              "name": "ERIC MUCHIRA"
            },
            {
              "name": "Rebecca Majiwa"
            },
            {
              "name": "Harshna Chavda"
            },
            {
              "name": "Lucia Wangui"
            },
            {
              "name": "Michelle Liz"
            },
            {
              "name": "Sagar shah"
            },
            {
              "name": "Nicole Rogers"
            },
            {
              "name": "Diana Obell"
            },
            {
              "name": "Cynthia Dwalo"
            },
            {
              "name": "Zainab"
            },
            {
              "name": "Equity Unallocated"
            },
            {
              "name": "Brigid Sawe"
            },
            {
              "name": "Pavan Desai"
            },
            {
              "name": "Neil Patel"
            },
            {
              "name": "Ajay Singh"
            },
            {
              "name": "Shairros Mannjji"
            },
            {
              "name": "Eugene Aaron"
            },
            {
              "name": "Three Spears Ltd"
            },
            {
              "name": "Nadine Kamolleh"
            },
            {
              "name": "Michael Magudedi"
            },
            {
              "name": "Elsie Watare"
            },
            {
              "name": "Jasmita Varsani"
            },
            {
              "name": "Phoenix Timber"
            },
            {
              "name": "Fatema Imran"
            },
            {
              "name": "Hasan Nyakwara  Gechiko"
            },
            {
              "name": "Sarah Mwangi"
            },
            {
              "name": "Leah Wangui"
            },
            {
              "name": "Nessy Lee"
            },
            {
              "name": "Stephanie Nazi"
            },
            {
              "name": "Ahmed Manjlai"
            },
            {
              "name": "Esther Maina - 1"
            },
            {
              "name": "Judy Gicharu"
            },
            {
              "name": "Ayiesha Elseed"
            },
            {
              "name": "Rupal Shah"
            },
            {
              "name": "Dipty Shah"
            },
            {
              "name": "Jazznam Investment"
            },
            {
              "name": "Sanjay Shamsunder"
            },
            {
              "name": "Anne  Maina"
            },
            {
              "name": "Dickens Omollo"
            },
            {
              "name": "Kennedy Musyoka"
            },
            {
              "name": "Zahra Jamal"
            },
            {
              "name": "Henry Ngure"
            },
            {
              "name": "Ruth Wangui"
            },
            {
              "name": "Ankit  Halai"
            },
            {
              "name": "Virginia Kahia"
            },
            {
              "name": "Francis Gatura"
            },
            {
              "name": "Arzina Jeraj"
            },
            {
              "name": "ESTHER ASAMI"
            },
            {
              "name": "John Mwangi - 1"
            },
            {
              "name": "Three Spears LTD - 1"
            },
            {
              "name": "Eugene Mulama"
            },
            {
              "name": "Wanja Kanyarati"
            },
            {
              "name": "Charles Muchiri"
            },
            {
              "name": "Amrit Panesar"
            },
            {
              "name": "CHRISTTINE NKATHA"
            },
            {
              "name": "Zubeda Nanji"
            },
            {
              "name": "Wahida Mohamed - 1"
            },
            {
              "name": "Michael Mwirichia"
            },
            {
              "name": "Test Company"
            },
            {
              "name": "Judy Thuita"
            },
            {
              "name": "Sadiq Kasmani"
            },
            {
              "name": "Joseph Lubarov"
            },
            {
              "name": "Gatura"
            },
            {
              "name": "Esolz Digital LTD"
            },
            {
              "name": "Fred Ombachi"
            },
            {
              "name": "Joseph Mbuthia"
            },
            {
              "name": "Kelvin Kamau"
            },
            {
              "name": "Michael Chacha"
            },
            {
              "name": "Michael Aol"
            },
            {
              "name": "Solomon Ndungu"
            },
            {
              "name": "Idris Kassim"
            },
            {
              "name": "Marvin Osir"
            },
            {
              "name": "Maxwell Bowen"
            },
            {
              "name": "Rosemary Kitony"
            },
            {
              "name": "Sabeera ameen kana"
            },
            {
              "name": "Charles Mbugua"
            },
            {
              "name": "Shazia Farooque"
            },
            {
              "name": "Sarah Maina"
            },
            {
              "name": "Hafswa Guracha"
            },
            {
              "name": "Esther"
            },
            {
              "name": "Nelson Odhiambo"
            },
            {
              "name": "Shem Reagan"
            },
            {
              "name": "Nungari Mwangi"
            },
            {
              "name": "Ayesha Abdulkadir"
            },
            {
              "name": "Mildred Maisiba"
            },
            {
              "name": "Emy Chep"
            },
            {
              "name": "Albert  M"
            },
            {
              "name": "Mohammed Viji"
            },
            {
              "name": "Anabelle Sayi"
            },
            {
              "name": "Aaron Amayi"
            },
            {
              "name": "Nairobi West hospital"
            },
            {
              "name": "Aliya Habib"
            },
            {
              "name": "Rozie Wekesa"
            },
            {
              "name": "Abdirahaman"
            },
            {
              "name": "Voi Wildlife Lodge"
            },
            {
              "name": "Clementine Vandeleur"
            },
            {
              "name": "Millicent Adhiambo"
            },
            {
              "name": "Benta"
            },
            {
              "name": "Pammy Nauranga"
            },
            {
              "name": "Lateefa Omar"
            },
            {
              "name": "Virtech East Africa"
            },
            {
              "name": "Vincent Koskei"
            },
            {
              "name": "Yvonne Ochieng"
            },
            {
              "name": "Best Western Kisumu"
            },
            {
              "name": "Krupa Halai"
            },
            {
              "name": "Tamizan Nathoo"
            },
            {
              "name": "Emy Chep - 1"
            },
            {
              "name": "Joyce Mwangi"
            },
            {
              "name": "Natasha Natasha"
            },
            {
              "name": "The Explorers Company Limited"
            },
            {
              "name": "Flavour Town Cafe (CJs)"
            },
            {
              "name": "Wachuka Ngure"
            },
            {
              "name": "Amizu Ventures ltd"
            },
            {
              "name": "Faith Gogo"
            },
            {
              "name": "Ektaa Gada"
            },
            {
              "name": "Jesse Kiarie"
            },
            {
              "name": "Divyesh Patel"
            },
            {
              "name": "Tinnie"
            },
            {
              "name": "Peter Munge"
            },
            {
              "name": "Clementine Vandeleur - 1"
            },
            {
              "name": "Milan Varsani"
            },
            {
              "name": "James Omitto"
            },
            {
              "name": "Sarah Jackson"
            },
            {
              "name": "Saleh Ali"
            },
            {
              "name": "Dickson Ogutu"
            },
            {
              "name": "MwitiMwiti"
            },
            {
              "name": "Stashi Anna"
            },
            {
              "name": "Veggie Creek"
            },
            {
              "name": "Valeriana"
            },
            {
              "name": "Elephant Gorge"
            },
            {
              "name": "Mara Plains"
            },
            {
              "name": "Peter Karichu"
            },
            {
              "name": "JJ Wholesale Nakuru"
            },
            {
              "name": "Doreen Kanana"
            },
            {
              "name": "Sarah Diba"
            },
            {
              "name": "Olivia Ogalo"
            },
            {
              "name": "Nadir"
            },
            {
              "name": "Yasin Mohammed"
            },
            {
              "name": "Eric Averdung"
            },
            {
              "name": "Abitalib Rajabali"
            },
            {
              "name": "Anne Mbithe"
            },
            {
              "name": "BaseCamp Explorer"
            },
            {
              "name": "Naomi Elisealango"
            },
            {
              "name": "Sarah  Achillah"
            },
            {
              "name": "Amira"
            },
            {
              "name": "Munaf Parkar"
            },
            {
              "name": "Vincent Paul"
            },
            {
              "name": "Mary Nyutho"
            },
            {
              "name": "Mohan Gahuri"
            },
            {
              "name": "Amiran Kenya"
            },
            {
              "name": "Shakir Kongolo"
            },
            {
              "name": "Phineas Murori"
            },
            {
              "name": "JOHN OUMA"
            },
            {
              "name": "Abigael Kangogo"
            },
            {
              "name": "Barbara Mogotei"
            },
            {
              "name": "Lynn Boke"
            },
            {
              "name": "Joan Gichomo"
            },
            {
              "name": "Sonia Gitau"
            },
            {
              "name": "Gideon Mutui"
            },
            {
              "name": "Marion Wanyoike"
            },
            {
              "name": "Kelvin Njeru"
            },
            {
              "name": "Ifssgroup"
            },
            {
              "name": "Dash Growth Cleaning Services Limited"
            },
            {
              "name": "Cross Boundary"
            },
            {
              "name": "Bilz Rashan"
            },
            {
              "name": "Angel Mwangi"
            },
            {
              "name": "Hephie's Cloud Kitchen"
            },
            {
              "name": "Acacia Farm Shop"
            },
            {
              "name": "Vizuri Na Vitamu LTD"
            },
            {
              "name": "E-Cart Services LTD"
            },
            {
              "name": "Jinit Shah"
            },
            {
              "name": "Gerald Novak"
            },
            {
              "name": "Sunpower Limited"
            },
            {
              "name": "Navin"
            },
            {
              "name": "Kolat Media SL"
            },
            {
              "name": "Regina Love Clarkson"
            },
            {
              "name": "Kings Post Limited"
            },
            {
              "name": "St Bridget Hospital"
            },
            {
              "name": "Cyrus Kinuthia - 1"
            },
            {
              "name": "Rumit Shah"
            },
            {
              "name": "Leah Ogendi"
            },
            {
              "name": "Nishith Mehta"
            },
            {
              "name": "Judy Thom"
            },
            {
              "name": "Precious Tina"
            },
            {
              "name": "Test Employee User"
            },
            {
              "name": "Isaac Hunja"
            },
            {
              "name": "Bhavisha Halai"
            },
            {
              "name": "Hillary Ogana"
            },
            {
              "name": "Linda Karingithi"
            },
            {
              "name": "Rosmary Irungu"
            },
            {
              "name": "Narae Kang"
            },
            {
              "name": "Caroline Karimi"
            },
            {
              "name": "Jane Kitheka"
            },
            {
              "name": "Sylvia Aluoch"
            },
            {
              "name": "Juliet Mwithiga"
            },
            {
              "name": "Kennedy Wakhu"
            },
            {
              "name": "Tina Ram"
            },
            {
              "name": "Samar Patel"
            },
            {
              "name": "Leteipan Kanchori"
            },
            {
              "name": "Winnie Manwari"
            },
            {
              "name": "Edward Arkle"
            },
            {
              "name": "Rawinder singh Virdee"
            },
            {
              "name": "Mercy"
            },
            {
              "name": "Muthoni Wanguru"
            },
            {
              "name": "Joy Moisengo"
            },
            {
              "name": "Anne Wakonyu"
            },
            {
              "name": "Barbara Gitau"
            },
            {
              "name": "Linah Kiwia"
            },
            {
              "name": "Animesh Solanki"
            },
            {
              "name": "Prasad Jonnavithula"
            },
            {
              "name": "Kishan Vekaria"
            },
            {
              "name": "Shepmatt Limited"
            },
            {
              "name": "Maryanne Muriuki"
            },
            {
              "name": "Kathyrn Millin"
            },
            {
              "name": "Miriam Mbuvi"
            },
            {
              "name": "Lucy Karume"
            },
            {
              "name": "Clinton Obiri"
            },
            {
              "name": "Shilpa Raghvani"
            },
            {
              "name": "Jasper Ochieng"
            },
            {
              "name": "Jasper Ochieng - 1"
            },
            {
              "name": "Priya R.pandit"
            },
            {
              "name": "Amelia hotel"
            },
            {
              "name": "Catherine Mahiaini"
            },
            {
              "name": "Eric Makimei"
            },
            {
              "name": "Vignesh Ramachandran"
            },
            {
              "name": "Evans Aming'a"
            },
            {
              "name": "Mercy Kamara"
            },
            {
              "name": "Mercy Githae"
            },
            {
              "name": "Manoti M"
            },
            {
              "name": "Mukesh Vekaria"
            },
            {
              "name": "Linet Odah"
            },
            {
              "name": "Millie Awiti"
            },
            {
              "name": "Ibrahim Barrow"
            },
            {
              "name": "Irene's Fast Foods"
            },
            {
              "name": "Emarest Baking Accessories"
            },
            {
              "name": "Noela Lagat"
            },
            {
              "name": "Joseph Nyaga"
            },
            {
              "name": "The Grand Gables Suites Limited"
            },
            {
              "name": "TWIROH BUSINESSES PRIVATE (chop kitchen urban eatery)"
            },
            {
              "name": "Betty Kiplagat"
            },
            {
              "name": "Vidisha Raikundalia"
            },
            {
              "name": "Ash Patel"
            },
            {
              "name": "Evans Musau"
            },
            {
              "name": "Sabrina Muchiri"
            },
            {
              "name": "Avnish Sodha"
            },
            {
              "name": "Caroline Wanjiku"
            },
            {
              "name": "Yvonne Auma"
            },
            {
              "name": "William Opundo"
            },
            {
              "name": "Kingstone Theuri"
            },
            {
              "name": "Taskin Butt"
            },
            {
              "name": "Kavit Shah"
            },
            {
              "name": "Dibeshree Raikundalia"
            },
            {
              "name": "Mary Onyango"
            },
            {
              "name": "Saiba N"
            },
            {
              "name": "Sharon Nderitu"
            },
            {
              "name": "Milan Kirei"
            },
            {
              "name": "Issabel Karuthiru"
            },
            {
              "name": "Barbara Gitau - 1"
            },
            {
              "name": "Magdalene Nduati"
            },
            {
              "name": "Alexander Kerich"
            },
            {
              "name": "Abshir Mohammed"
            },
            {
              "name": "Gabriel Adedayo"
            },
            {
              "name": "Amal Badhawi"
            },
            {
              "name": "Zaina Elizabeth"
            },
            {
              "name": "Brian Githaiga"
            },
            {
              "name": "Lucy Karume - 1"
            },
            {
              "name": "Vito"
            },
            {
              "name": "Grace Kirigo"
            },
            {
              "name": "The Green Wood Grill & Lounge"
            },
            {
              "name": "Geminvest ltd"
            },
            {
              "name": "Michael Vaati"
            },
            {
              "name": "Ushmi Shah"
            },
            {
              "name": "Wajmar Amar Ali"
            },
            {
              "name": "Mohamedfouz Ali"
            },
            {
              "name": "Karanja Njenga"
            },
            {
              "name": "Blefadin Enterprises"
            },
            {
              "name": "Maryline"
            },
            {
              "name": "Allamano Ondego"
            },
            {
              "name": "Mital Shah"
            },
            {
              "name": "KARISHMA CHANDRAVADAN"
            },
            {
              "name": "Amanda Nthambi"
            },
            {
              "name": "Tahera Panju"
            },
            {
              "name": "Anna Gachie"
            },
            {
              "name": "Kevin Wambani"
            },
            {
              "name": "Jaclyn Franco"
            },
            {
              "name": "Victor Ngumo"
            },
            {
              "name": "Sameer Investments LTD"
            },
            {
              "name": "Catherine Nzomo"
            },
            {
              "name": "Jose M"
            },
            {
              "name": "D Chepngeno"
            },
            {
              "name": "Pisoi Saita"
            },
            {
              "name": "Josephine Katambo"
            },
            {
              "name": "Linah Wodera"
            },
            {
              "name": "Lucy Rotich"
            },
            {
              "name": "Trisha ochollah"
            },
            {
              "name": "Pelle Jacobson"
            },
            {
              "name": "Arie Kotia"
            },
            {
              "name": "Wavinya Musyoka"
            },
            {
              "name": "Danice N Kingori"
            },
            {
              "name": "Thelma John"
            },
            {
              "name": "Ross Bland"
            },
            {
              "name": "Stockwell Properties Ltd"
            },
            {
              "name": "Fix and Go  Auto service"
            },
            {
              "name": "Shee He"
            },
            {
              "name": "Jose Mungai"
            },
            {
              "name": "Fidelis Likimani"
            },
            {
              "name": "Rafiq Noorani"
            },
            {
              "name": "Gitau G"
            },
            {
              "name": "Sylvia Ombeva"
            },
            {
              "name": "Jacqueline Mwihaki"
            },
            {
              "name": "Mrs Ali"
            },
            {
              "name": "Royal Greens Management"
            },
            {
              "name": "Karan Sehmi"
            },
            {
              "name": "Catherine Magua"
            },
            {
              "name": "Shirley Ncharo"
            },
            {
              "name": "Mohamed Ammar Khan"
            },
            {
              "name": "Anita Ragain"
            },
            {
              "name": "Dennis Irumba"
            },
            {
              "name": "The Loft"
            },
            {
              "name": "Bartha Awuor Odhiambo"
            },
            {
              "name": "Ruth Nyakiamba"
            },
            {
              "name": "Abram Ng'ang'a"
            },
            {
              "name": "Keziah Murigi"
            },
            {
              "name": "Vera Adomako-Nyantakyi"
            },
            {
              "name": "Fatma Hassanali"
            },
            {
              "name": "Abdullah Mithoowani"
            },
            {
              "name": "George Owitti"
            },
            {
              "name": "Kijiko Holdings Limited"
            },
            {
              "name": "Huhus Pizza & Grill"
            },
            {
              "name": "Fitspot Gym"
            },
            {
              "name": "Sarah Shivegah"
            },
            {
              "name": "Denis Imonje"
            },
            {
              "name": "Farha K"
            },
            {
              "name": "JACKSON OKORIE"
            },
            {
              "name": "KOsewe Westlands"
            },
            {
              "name": "Chef Link Ltd"
            },
            {
              "name": "Charles Juma"
            },
            {
              "name": "Martin Ngigi"
            },
            {
              "name": "Sylvia Kigo"
            },
            {
              "name": "Pia Papa Holdings LTD"
            },
            {
              "name": "Rashid Salim 2"
            },
            {
              "name": "Jumia Retail"
            },
            {
              "name": "E Cart Services Limited"
            },
            {
              "name": "Araali Limited"
            },
            {
              "name": "Pinky Matama"
            },
            {
              "name": "Ritesh Mirchandani"
            },
            {
              "name": "Robert Maina"
            },
            {
              "name": "Test Sales"
            },
            {
              "name": "Shellina khimji- Montessori"
            },
            {
              "name": "Website Test"
            },
            {
              "name": "Website"
            },
            {
              "name": "THE TAVERN LIMITED"
            },
            {
              "name": "Monica Lopez Conlon"
            },
            {
              "name": "Bwibo Restaurant"
            },
            {
              "name": "Mondo Grill"
            },
            {
              "name": "Fogo Gaucho Brazilian Steakhouse, Kilimani Branch"
            },
            {
              "name": "iBury Lounge"
            },
            {
              "name": "Cadelis Lounge & Grill Ltd"
            },
            {
              "name": "Sheilla Mwaura"
            },
            {
              "name": "Aden ice"
            },
            {
              "name": "Keval Shah"
            },
            {
              "name": "Testing"
            },
            {
              "name": "Testing - 1"
            },
            {
              "name": "PEPPERTREE KENYA"
            },
            {
              "name": "Kellen Dena"
            },
            {
              "name": "Jumping Monk Customer"
            },
            {
              "name": "Bonface Mwangi"
            },
            {
              "name": "Ashnera Ltd"
            },
            {
              "name": "Ford Foundation"
            },
            {
              "name": "Sun King"
            },
            {
              "name": "Nancy’s Organic Foods Ltd"
            },
            {
              "name": "Ampersand Emobility"
            },
            {
              "name": "House Of Procurement Limited"
            },
            {
              "name": "Nairowua Cafe Bar"
            },
            {
              "name": "Biscotti Limited"
            },
            {
              "name": "Baskin Bakery Ltd"
            },
            {
              "name": "Lemoc"
            },
            {
              "name": "Kb Creativity Ventures Smc Limited"
            },
            {
              "name": "Tamarind Management Ltd"
            },
            {
              "name": "The Green Table Pizza"
            },
            {
              "name": "Debrah Obara"
            },
            {
              "name": "Sirwo Coffee Limited"
            },
            {
              "name": "Sweet Art Creations"
            },
            {
              "name": "Childline Kenya"
            },
            {
              "name": "Miami Lounge And Resturant"
            },
            {
              "name": "CHINA ROAD AND BRIDGE CORPORATION KENYA"
            },
            {
              "name": "DJC Express Kitchen Limited"
            },
            {
              "name": "Evelyne M"
            },
            {
              "name": "Mama Rocks Burgers Kitchen Ltd"
            },
            {
              "name": "Jowam Coffee Roasters Ltd"
            },
            {
              "name": "The Fig & Olive Limited"
            },
            {
              "name": "Sheena Shah"
            },
            {
              "name": "Test Final"
            },
            {
              "name": "TEST ACCOUNT"
            },
            {
              "name": "Stella Etemesi"
            },
            {
              "name": "Rj's Coffee Shop"
            },
            {
              "name": "Nababurger Limited"
            },
            {
              "name": "Kista Cafe Ltd"
            },
            {
              "name": "JC Oelofse"
            },
            {
              "name": "Nicole Mburu"
            },
            {
              "name": "Test Customer"
            },
            {
              "name": "Buona Festa Limited"
            },
            {
              "name": "Homecare & Hardware"
            },
            {
              "name": "La Paz Restaurant"
            },
            {
              "name": "Andre Gayraud"
            },
            {
              "name": "Gamez by Soni"
            },
            {
              "name": "Joyce Ayoti"
            },
            {
              "name": "Wacuka Nganga"
            },
            {
              "name": "Isabelle Messer"
            },
            {
              "name": "La Villa Italian Restaurant & Wine Bar"
            },
            {
              "name": "County2county Smoke Hse & Grills"
            },
            {
              "name": "GEORGE KANGETHE"
            },
            {
              "name": "Feroz Din"
            },
            {
              "name": "Grind & Groove Coffee Shop"
            },
            {
              "name": "Yvonne Kwamboka"
            },
            {
              "name": "Axa Kitchen LTD"
            },
            {
              "name": "Rashid Salim"
            },
            {
              "name": "Jireh Jalipa"
            },
            {
              "name": "Preet Shah"
            },
            {
              "name": "Saab Bakery & Café"
            },
            {
              "name": "Kitengela Hot Glass Limited"
            },
            {
              "name": "The Pot Belly"
            },
            {
              "name": "The Coffee Cabin"
            },
            {
              "name": "Sarah Bayley"
            },
            {
              "name": "Lilian Imani Ondala"
            },
            {
              "name": "Paul Ongoma"
            },
            {
              "name": "Amitros Ltd"
            },
            {
              "name": "Madina Supermarket Limited"
            },
            {
              "name": "Skynet Trading Limited"
            },
            {
              "name": "Lynette Injette"
            },
            {
              "name": "Joshua Wendo"
            },
            {
              "name": "Martin Mburu"
            },
            {
              "name": "Alhamdu shop"
            },
            {
              "name": "Fusion Deligth Limited"
            },
            {
              "name": "Team Investment Concept Limited"
            },
            {
              "name": "Christine Wanjiru"
            },
            {
              "name": "Tandem Network"
            },
            {
              "name": "Malo Malo Bbq Swahili Cuisine"
            },
            {
              "name": "Sylvia Omoto"
            },
            {
              "name": "Wairimu Kimani"
            },
            {
              "name": "Rosemelia Mwenda"
            },
            {
              "name": "Pamela Smith"
            },
            {
              "name": "Martin Mungai"
            },
            {
              "name": "Ashil Lakhani"
            },
            {
              "name": "Ann Ngicu"
            },
            {
              "name": "Quantum Stride Investment"
            },
            {
              "name": "Mitesh Patel"
            },
            {
              "name": "Sarah Mumo"
            },
            {
              "name": "Ryan Langat"
            },
            {
              "name": "Saviamaria Ondego"
            },
            {
              "name": "Njenga Kuria"
            },
            {
              "name": "Naumy Alwora"
            },
            {
              "name": "Perminus Kiiru"
            },
            {
              "name": "Leonard"
            },
            {
              "name": "Sand Trap Kenya Limited"
            },
            {
              "name": "Khilna Shah"
            },
            {
              "name": "Jinita Sheth"
            },
            {
              "name": "Susu Juicy"
            },
            {
              "name": "Robert Musembi"
            },
            {
              "name": "Jane Mwatha"
            },
            {
              "name": "The Tavern LTD"
            },
            {
              "name": "Chatikom Enterprises Ltd"
            },
            {
              "name": "Enchula Resort Limited"
            },
            {
              "name": "Chunnilal Chobisa"
            },
            {
              "name": "SIMON ROBERT WOODS"
            },
            {
              "name": "Melvin Odhiambo"
            },
            {
              "name": "Ann Chiuri"
            },
            {
              "name": "Vikrant Shetty"
            },
            {
              "name": "Dancan Imboba"
            },
            {
              "name": "Chestersway Limited"
            },
            {
              "name": "Rana A. Zein"
            },
            {
              "name": "Benson Waweru"
            },
            {
              "name": "Zain Manji"
            },
            {
              "name": "Njenga Njenga"
            },
            {
              "name": "Gastro And"
            },
            {
              "name": "Ben Waweru"
            },
            {
              "name": "Silverland Investment Limited"
            },
            {
              "name": "Pouline Lumiti"
            },
            {
              "name": "Gloria Kirui"
            },
            {
              "name": "Anne A. Omwandho"
            },
            {
              "name": "Claudio Ayiera"
            },
            {
              "name": "Janet Wambui"
            },
            {
              "name": "Braeside  School"
            },
            {
              "name": "Kainat Shahid"
            },
            {
              "name": "Manjot Dhanjal"
            },
            {
              "name": "Victor Musungu"
            },
            {
              "name": "Gathoni Kimani"
            },
            {
              "name": "Kundan Shah"
            },
            {
              "name": "Nivendu Sennik"
            },
            {
              "name": "Francis Mukuha"
            },
            {
              "name": "Bhakti Shah"
            },
            {
              "name": "Yogesh  Dhokia"
            },
            {
              "name": "Dinnaz Limited"
            },
            {
              "name": "Samuel Muturi"
            },
            {
              "name": "Kathryn Millin"
            },
            {
              "name": "Dorcas Onyango"
            },
            {
              "name": "Harsh Patel"
            },
            {
              "name": "Anisha Halai"
            },
            {
              "name": "Golden Spoon Restaurant"
            },
            {
              "name": "Fernandez Koroso"
            },
            {
              "name": "Michael Mwangi Karanja"
            },
            {
              "name": "Bettiecharo"
            },
            {
              "name": "Linda Abildsten Gisnås"
            },
            {
              "name": "Brian  Loe A Foe"
            },
            {
              "name": "Desang Kmtc"
            },
            {
              "name": "Kennedy Koech"
            },
            {
              "name": "Bitu Kay"
            },
            {
              "name": "Phillips"
            },
            {
              "name": "Siham Ali"
            },
            {
              "name": "Nimesh Patel"
            },
            {
              "name": "Prashna Shah"
            },
            {
              "name": "Lilian Mwangi"
            },
            {
              "name": "Nasra  Abdi"
            },
            {
              "name": "Hotel Riverview Westlands Ltd"
            },
            {
              "name": "Esther Wahito"
            },
            {
              "name": "Li Joey"
            },
            {
              "name": "Iman Caesar"
            },
            {
              "name": "Taro Africa Safaris Limited"
            },
            {
              "name": "Nalugera  Specioza"
            },
            {
              "name": "Evah Kungu"
            },
            {
              "name": "Sarah Nkuchia"
            },
            {
              "name": "Nalepo- Lazaro"
            },
            {
              "name": "Sushin"
            },
            {
              "name": "Tony G"
            },
            {
              "name": "Larry Kiniu"
            },
            {
              "name": "Nix Cleaning And Sanitation Services Ltd"
            },
            {
              "name": "Royal Purple Shop"
            },
            {
              "name": "Justine Sequeira"
            },
            {
              "name": "Urvi Shah"
            },
            {
              "name": "Patricia Njeru"
            },
            {
              "name": "Alessia Iovinelli"
            },
            {
              "name": "Michael  Nganga"
            },
            {
              "name": "Shenaz  Popat"
            },
            {
              "name": "Rosemary Njoroge"
            },
            {
              "name": "Ms Juma"
            },
            {
              "name": "Regina Muriuki"
            },
            {
              "name": "Rikesh Laxmidas"
            },
            {
              "name": "Dharam Kishore Hirani"
            },
            {
              "name": "Trupti Gosai"
            },
            {
              "name": "Rihana Hashim"
            },
            {
              "name": "Daisy Kinoti"
            },
            {
              "name": "Samwel Apwacho"
            },
            {
              "name": "Rispah Wambugi"
            },
            {
              "name": "KABEER Khan"
            },
            {
              "name": "Mubeen Nazir"
            },
            {
              "name": "Haandi Restaurant Ltd"
            },
            {
              "name": "Lynn Achieng"
            },
            {
              "name": "Jessica Maina"
            },
            {
              "name": "Essy Cege"
            },
            {
              "name": "F G"
            },
            {
              "name": "Albert Averdung"
            },
            {
              "name": "Shakira Khawaja"
            },
            {
              "name": "Sunnys"
            },
            {
              "name": "Kush Pattni"
            },
            {
              "name": "Anne Mbugua"
            },
            {
              "name": "Rohan Khanna"
            },
            {
              "name": "Florence Maina"
            },
            {
              "name": "Lili Mwangi"
            },
            {
              "name": "Carol Kay"
            },
            {
              "name": "Agape Omoto"
            },
            {
              "name": "John Mwangi"
            },
            {
              "name": "Ayz Gastro Limited"
            },
            {
              "name": "Eddah Dena"
            },
            {
              "name": "Gastro And Liver Centre"
            },
            {
              "name": "Vanessa Kiuna"
            },
            {
              "name": "Gibson Kinyua"
            },
            {
              "name": "Navroz  Murji"
            },
            {
              "name": "Sky Joint Restaurant"
            },
            {
              "name": "Nushin  Shariff"
            },
            {
              "name": "Janet Maingi"
            },
            {
              "name": "Nina jayesh"
            },
            {
              "name": "Rachael Ndungu"
            },
            {
              "name": "Agnes Maina"
            },
            {
              "name": "Christine Kamau"
            },
            {
              "name": "Maggie Minvalla"
            },
            {
              "name": "Sophie Govani"
            },
            {
              "name": "Rugaiya  Ebrahim"
            },
            {
              "name": "Anunda Mong'ina"
            },
            {
              "name": "Nancy Gichui"
            },
            {
              "name": "Samca  Traders"
            },
            {
              "name": "Tasnim Manji"
            },
            {
              "name": "Effie Atieno"
            },
            {
              "name": "Christine Waringa"
            },
            {
              "name": "Magdalene Ochieng"
            },
            {
              "name": "Sanante Pharmacy"
            },
            {
              "name": "Mumbua Giati"
            },
            {
              "name": "SAVIOUR MUSITA"
            },
            {
              "name": "Cyrus Simwaka"
            },
            {
              "name": "Diana O"
            },
            {
              "name": "Chokolade Trading Limited"
            },
            {
              "name": "Faysal Abdishare"
            },
            {
              "name": "Fangfang Chinese restaurant"
            },
            {
              "name": "Limrok Hotel Supplies Ltd"
            },
            {
              "name": "Christina Nduba"
            },
            {
              "name": "LS FOOD LAB LTD"
            },
            {
              "name": "John Karuthai"
            },
            {
              "name": "Ubah Ahmed"
            },
            {
              "name": "Zap Foods Ltd"
            },
            {
              "name": "Gigiri Bodega"
            },
            {
              "name": "Pili Restaurant And Cafe"
            },
            {
              "name": "Tyler Goodwin"
            },
            {
              "name": "Renew Capital Kenya Ltd"
            },
            {
              "name": "Sufra Gardens"
            },
            {
              "name": "Rahul Maru"
            },
            {
              "name": "Ken Mugambi"
            },
            {
              "name": "Kim Ben Danny"
            },
            {
              "name": "Abshir Jimale"
            },
            {
              "name": "Harriet Kituyi"
            },
            {
              "name": "Muzna Hanif"
            },
            {
              "name": "Maco The Big Fish"
            },
            {
              "name": "Sri Sathya Sai Centre - Kenya"
            },
            {
              "name": "Helen Mwai"
            },
            {
              "name": "Alice Maimba"
            },
            {
              "name": "Leevans Ouma"
            },
            {
              "name": "Hitul Adatia"
            },
            {
              "name": "Rahul Vaya"
            },
            {
              "name": "Maureen  Mwangi"
            },
            {
              "name": "Annie Wachira"
            },
            {
              "name": "Judi Lusike"
            },
            {
              "name": "Rehal Traders Limited"
            },
            {
              "name": "Simon Kobia"
            },
            {
              "name": "Jackton Osewe"
            },
            {
              "name": "Dalberg Advisors"
            },
            {
              "name": "Zahra Ali"
            },
            {
              "name": "Joan Mungai"
            },
            {
              "name": "Millers Limited"
            },
            {
              "name": "Kennedy Siru"
            },
            {
              "name": "Silverbell Investments LTD"
            },
            {
              "name": "Pots of Flavor"
            },
            {
              "name": "Liz Manyara"
            },
            {
              "name": "Josephine Kiamba"
            },
            {
              "name": "The Wine Shop"
            },
            {
              "name": "Stella Shi"
            },
            {
              "name": "Sadik Mini Market"
            },
            {
              "name": "Alexis Gicheru"
            },
            {
              "name": "Lawrence Nderitu Manini"
            },
            {
              "name": "Juliana M"
            },
            {
              "name": "Personal"
            },
            {
              "name": "Irumbis Enterprise // Bonjour Shop"
            },
            {
              "name": "Steve A"
            },
            {
              "name": "Nirali Patel"
            },
            {
              "name": "Tracy Achieng"
            },
            {
              "name": "Roshni Peshavaria"
            },
            {
              "name": "Rosalia Chege"
            },
            {
              "name": "Ramjos Supplies"
            },
            {
              "name": "Pete Mugane"
            },
            {
              "name": "Pauline  Githae"
            },
            {
              "name": "Ethos Conscious"
            },
            {
              "name": "Mulki Salat"
            },
            {
              "name": "Petronila Yego"
            },
            {
              "name": "Vars 'n' Sunn Cafe Ltd"
            },
            {
              "name": "Garidon Enterprises // Express Shop"
            },
            {
              "name": "Wellcreek Coffee"
            },
            {
              "name": "Krafty Jester Limited"
            },
            {
              "name": "Frontier Intergrated Solutions Limited"
            },
            {
              "name": "Thukamis Enterprises"
            },
            {
              "name": "The Jarrets Enterprises // Mugg and Bean"
            },
            {
              "name": "Ammodump Kwenia Limited"
            },
            {
              "name": "Preston Interiors and Electrical Supplies Limited"
            },
            {
              "name": "Benmut Investment Limited"
            },
            {
              "name": "Navuri Mvati"
            },
            {
              "name": "Tin Tin Restaurant"
            },
            {
              "name": "Craic Lounge"
            },
            {
              "name": "Bullion productions"
            },
            {
              "name": "John Kamau"
            },
            {
              "name": "Crazy Plants Ltd"
            },
            {
              "name": "Nana Swahili Restaurant"
            },
            {
              "name": "Faith Anne Nyambura"
            },
            {
              "name": "Uva Wines Limited"
            },
            {
              "name": "Happy Sprinkles Limited"
            },
            {
              "name": "Amani Ya Juu Foundation"
            },
            {
              "name": "Djour Limited"
            },
            {
              "name": "Diana Amukoa"
            },
            {
              "name": "Design Stores"
            },
            {
              "name": "Barbeque Nation Hospitality Ltd"
            },
            {
              "name": "Tsg Hospitality"
            },
            {
              "name": "Jettinn Gardens Hotel"
            },
            {
              "name": "Masai Mara Wilderness Lodge Limited"
            },
            {
              "name": "Wekeza Marketing Ltd"
            },
            {
              "name": "Fair Acres Botique Hotel Limited"
            },
            {
              "name": "Sylvester Mutuku"
            },
            {
              "name": "Subz Kenya"
            },
            {
              "name": "James Muchiri"
            },
            {
              "name": "Grandwest Hotel"
            },
            {
              "name": "Brookside Preparatory School"
            },
            {
              "name": "United Nations Office for Project Services"
            },
            {
              "name": "Indigo Co-Working Space"
            },
            {
              "name": "Skyward Express Ltd"
            },
            {
              "name": "Bean Bubble"
            },
            {
              "name": "Power Innovations Diy"
            },
            {
              "name": "Riscan Enterprises Limited"
            },
            {
              "name": "Koa Group"
            },
            {
              "name": "P Khimasia"
            },
            {
              "name": "Steven Yohay"
            },
            {
              "name": "Merapat Investments LLP"
            },
            {
              "name": "Amrita Virdee"
            },
            {
              "name": "Nairobi Street Kitchen Limited"
            },
            {
              "name": "Purity Mwaka"
            },
            {
              "name": "Xalco Limited"
            },
            {
              "name": "Shamsa Kassim"
            },
            {
              "name": "The Milk Spot"
            },
            {
              "name": "Noir Gallery"
            },
            {
              "name": "Almas Mart"
            },
            {
              "name": "Stream Coffee"
            },
            {
              "name": "Mexican Food House Limited"
            },
            {
              "name": "Jett Inn Gardens Hotel"
            },
            {
              "name": "Cafe Canopy LTD"
            },
            {
              "name": "Ahmed Wurie"
            },
            {
              "name": "Kazuri Beads"
            },
            {
              "name": "Solo Pizza Ltd"
            },
            {
              "name": "Anne Mwirigi"
            },
            {
              "name": "Candy Nellie"
            },
            {
              "name": "Reed ONeal"
            },
            {
              "name": "Hembin Hardware LTD"
            },
            {
              "name": "Maureen- Antica Bistro"
            },
            {
              "name": "Mafoaat Cafe Limited"
            },
            {
              "name": "VALLEYS LIMITED"
            },
            {
              "name": "Joan Macharia"
            },
            {
              "name": "The Spring Noshery LTD"
            },
            {
              "name": "Cozy Cupz LTD"
            },
            {
              "name": "Ernest  Obare"
            },
            {
              "name": "Waugh McDonald Wealth Management"
            },
            {
              "name": "MSF Switzerland- SKID"
            },
            {
              "name": "Rainlex Investment LTD"
            },
            {
              "name": "Saggys Suites Limited"
            },
            {
              "name": "Jetpresso"
            },
            {
              "name": "Glovo Infrustracture Services Kenya Limited"
            },
            {
              "name": "Choco Delicious Limited"
            },
            {
              "name": "WORKABLE LLP"
            },
            {
              "name": "Dennis Karanja"
            },
            {
              "name": "Kui’s Kitchen"
            },
            {
              "name": "Wok on Wheels"
            },
            {
              "name": "ISRAEL AID"
            },
            {
              "name": "Rescue Connect Limited"
            },
            {
              "name": "Rosemary Teka"
            },
            {
              "name": "Muze Club"
            },
            {
              "name": "Isabel Wetzel"
            },
            {
              "name": "Vincent Chilo"
            },
            {
              "name": "Newton Musyimi"
            },
            {
              "name": "Ann Adau"
            },
            {
              "name": "Memorable"
            },
            {
              "name": "Nyambura Kanja"
            },
            {
              "name": "Exponent Company Limited"
            },
            {
              "name": "NOLDEN MURIUNGI"
            },
            {
              "name": "Rongai Freshfinds Store Ltd"
            },
            {
              "name": "Diana  Mungai"
            },
            {
              "name": "Liquor Library LTD"
            },
            {
              "name": "Nostalgic Foods Ltd"
            },
            {
              "name": "Charlotte Sanginga"
            },
            {
              "name": "Terry Khaduli"
            },
            {
              "name": "SERENITY SPA LIMITED"
            },
            {
              "name": "Serena Hotel Test"
            },
            {
              "name": "Bulkbox Office"
            },
            {
              "name": "Kez Organics Tasting Room"
            },
            {
              "name": "Joycom General Suppliers Ltd"
            },
            {
              "name": "Mehdiyah Manji"
            },
            {
              "name": "Mary Mwaura"
            },
            {
              "name": "Swim Africa Limited"
            },
            {
              "name": "Loureen  Adhiambo"
            },
            {
              "name": "Sonumonu International Limited //Claypot Restaurant"
            },
            {
              "name": "Palace Istanbul"
            },
            {
              "name": "Rapid Meal Ltd"
            },
            {
              "name": "Daniel Alberts"
            },
            {
              "name": "Juliet Mbatia"
            },
            {
              "name": "Fahreen Gilani"
            },
            {
              "name": "Shalom"
            },
            {
              "name": "Capraia Ltd"
            },
            {
              "name": "Amara Gardens Restaurant"
            },
            {
              "name": "Ben  Kamara"
            },
            {
              "name": "Unclenenes Kitchen Limited"
            },
            {
              "name": "Judy Thongori & Company Advocates"
            },
            {
              "name": "Funke Science Limited"
            },
            {
              "name": "Eric Kouskalis"
            },
            {
              "name": "Rob Winters"
            },
            {
              "name": "Clay Oven Indian Restaurant"
            },
            {
              "name": "Sesa Caterers And Events Management Ltd"
            },
            {
              "name": "Cracker Jack Cafe Ltd"
            },
            {
              "name": "Silver Oak Cafe Limited"
            },
            {
              "name": "Volandi Super Market"
            },
            {
              "name": "Arvince Electro Control"
            },
            {
              "name": "Edmax LTD"
            },
            {
              "name": "Primrose Food X-Press Ltd"
            },
            {
              "name": "Dan Shamblin"
            },
            {
              "name": "Terassen"
            },
            {
              "name": "Charles Pioneer Gardens"
            },
            {
              "name": "Chateau Two Five Four (254)"
            },
            {
              "name": "Revitalize Ventures Ltd"
            },
            {
              "name": "Joyce Waweru"
            },
            {
              "name": "Le Decanter"
            },
            {
              "name": "Judy Leonard"
            },
            {
              "name": "Zehneria Hotel Ltd"
            },
            {
              "name": "Roselida Parker"
            },
            {
              "name": "Jabir Bachani"
            },
            {
              "name": "Casita"
            },
            {
              "name": "Mercy  Wambui"
            },
            {
              "name": "Trupty Patel"
            },
            {
              "name": "Ascent Medmart"
            },
            {
              "name": "Bhavisha  Shah"
            },
            {
              "name": "MJ's whiskey HUB"
            },
            {
              "name": "Chilande Kuloba"
            },
            {
              "name": "Cathy Otieno"
            },
            {
              "name": "Mercy Amulega"
            },
            {
              "name": "The Wrap Hut"
            },
            {
              "name": "Steven Njenga"
            },
            {
              "name": "Shelmith Ngari"
            },
            {
              "name": "Victor de Waal"
            },
            {
              "name": "Aida Kimani"
            },
            {
              "name": "Vipingo Lounge Limited"
            },
            {
              "name": "Freda Mbogori"
            },
            {
              "name": "Otieno Otung"
            },
            {
              "name": "Virginia Cameron"
            },
            {
              "name": "Divyesh Vaghjiyani"
            },
            {
              "name": "Montessori Learning Centre"
            },
            {
              "name": "Phoenix Aviation LTD"
            },
            {
              "name": "Andrew  Heycott"
            },
            {
              "name": "Evryday Mart"
            },
            {
              "name": "Fogo Gaucho Restaurant-Panari Branch"
            },
            {
              "name": "Workstyle Serviced Offices Limited"
            },
            {
              "name": "The Wine and Bottle"
            },
            {
              "name": "Ipay Unallocated"
            },
            {
              "name": "Angama Limited"
            },
            {
              "name": "Ahmet Emre Acar"
            },
            {
              "name": "Nextgen Gym"
            },
            {
              "name": "Nobeel Najam"
            },
            {
              "name": "Easebyytte Supermarket"
            },
            {
              "name": "Derrick Njatha"
            },
            {
              "name": "Alken Kenya Limited"
            },
            {
              "name": "Jeniffer Mute"
            },
            {
              "name": "Workable"
            },
            {
              "name": "Wahida Mohamed"
            },
            {
              "name": "City Professional Cleaners Ltd"
            },
            {
              "name": "Reeta Patel"
            },
            {
              "name": "Collins Mutiso"
            },
            {
              "name": "Alexander Forrester"
            },
            {
              "name": "Village Dishes And Catering Services Ltd"
            },
            {
              "name": "Ando Kitchens"
            },
            {
              "name": "Dion Wines And Spirits East Africa"
            },
            {
              "name": "Tushop Pamoja Limited"
            },
            {
              "name": "Greenspoon Kenya Limited"
            },
            {
              "name": "Papparoti"
            },
            {
              "name": "The Wine Box"
            },
            {
              "name": "Irumbis Enterprise // Mugg and Bean"
            },
            {
              "name": "The Tranquil"
            },
            {
              "name": "Invegara Club"
            },
            {
              "name": "Grace Naserian"
            },
            {
              "name": "V&o Traventure Ltd"
            },
            {
              "name": "Dishi Limited"
            },
            {
              "name": "Team Investment – Ikigai"
            },
            {
              "name": "Team Investment – Roasted Truth"
            },
            {
              "name": "Carmelites Of Mary Immaculate"
            },
            {
              "name": "Eva Kimunya"
            },
            {
              "name": "Isaac Kimondi"
            },
            {
              "name": "Bush and Beyond Limited"
            },
            {
              "name": "The Bar Next Door"
            },
            {
              "name": "Diana International Limited // Andrews Apartments"
            },
            {
              "name": "Chapavel Investments // Mugg And Bean"
            },
            {
              "name": "Lolkirr Agritech Ltd"
            },
            {
              "name": "Miimart"
            },
            {
              "name": "Monica Lopez"
            },
            {
              "name": "Ekta Varia"
            },
            {
              "name": "Qmins Kenya Ltd"
            },
            {
              "name": "Bolt Support Ke Limited"
            },
            {
              "name": "Oyana School"
            },
            {
              "name": "Frontdoor Ltd"
            },
            {
              "name": "Kristina Kotiscak"
            },
            {
              "name": "Catherine Szlapak"
            },
            {
              "name": "Nictas Enterprise // Mugg and Bean"
            },
            {
              "name": "Leven And Grain Nairobi Limited"
            },
            {
              "name": "Millicent Kamau"
            },
            {
              "name": "High On Whisk Enterprise Limited"
            },
            {
              "name": "Everlyne Githuka"
            },
            {
              "name": "Kenafric Biscuits Limited"
            },
            {
              "name": "Total Energies Gigiri"
            },
            {
              "name": "Chait Limited"
            },
            {
              "name": "Catering Services Limited"
            },
            {
              "name": "Stephanie  Holder"
            },
            {
              "name": "QOFIBEAN Ltd"
            },
            {
              "name": "Favour  Muthuri"
            },
            {
              "name": "Le Specialita' Di Donna Rosa Limited"
            },
            {
              "name": "Reginah  Mwangi"
            },
            {
              "name": "Ando Foods"
            },
            {
              "name": "Fortis Limited"
            },
            {
              "name": "Winnie Githiri"
            },
            {
              "name": "Grace Muniu"
            },
            {
              "name": "Oscar Irungu"
            },
            {
              "name": "Fogo Gaucho Restaurant- Vikings House"
            },
            {
              "name": "Sophie Holmberg"
            },
            {
              "name": "La Cucina Restuarant"
            },
            {
              "name": "Vuyanzi Koffee House"
            },
            {
              "name": "Elizabeth  Adira"
            },
            {
              "name": "Joosmoo Somalabl Limited"
            },
            {
              "name": "Pulchra Holdings"
            },
            {
              "name": "Octavia Mambori"
            },
            {
              "name": "Dashidy Royal Enterprises - 1"
            },
            {
              "name": "Dashidy Royal Enterprises"
            },
            {
              "name": "The Safari Series"
            },
            {
              "name": "Feng Sheng Supermarket"
            },
            {
              "name": "Silver Oak Cafe"
            },
            {
              "name": "Zahra Noorani"
            },
            {
              "name": "Jilesh Hirani"
            },
            {
              "name": "Chupa Chap Limited"
            },
            {
              "name": "Dequalmak Enterprise"
            },
            {
              "name": "Ruth Venza"
            },
            {
              "name": "Matteo‘s Italian Restaurant Limited"
            },
            {
              "name": "The Cookie Bar"
            },
            {
              "name": "Serviced Offices Workshop Ltd"
            },
            {
              "name": "Artbravo LTD"
            },
            {
              "name": "Eden Life"
            },
            {
              "name": "Ruth Nzaru"
            },
            {
              "name": "Taylor Ashe Antivenom Foundation"
            },
            {
              "name": "Bolt Retail"
            },
            {
              "name": "Izzi Brunch And Cake"
            },
            {
              "name": "About Thyme Restaurant"
            },
            {
              "name": "Jeby Enterprises // Mugg and Bean"
            },
            {
              "name": "Sacred Mill Coffee Roasters"
            },
            {
              "name": "Ribracks Ltd"
            },
            {
              "name": "Ved  Patel"
            },
            {
              "name": "Wellcreek Coffee2254"
            },
            {
              "name": "Dinebag"
            },
            {
              "name": "La Casa Commodities Ltd"
            },
            {
              "name": "Ankole Grill Limited"
            },
            {
              "name": "Dennis Keiser"
            },
            {
              "name": "Gojo Ethiopian Traditional Restaurant"
            },
            {
              "name": "Estimmas Investment"
            },
            {
              "name": "Zasha Investments // Mugg and Bean"
            },
            {
              "name": "Crafty Chameleon Restaurant"
            },
            {
              "name": "Topserve Investments LTD // Mugg and Bean"
            },
            {
              "name": "Mr Green Africa"
            },
            {
              "name": "Woodmere Apartments"
            },
            {
              "name": "Doppio Coffee House"
            },
            {
              "name": "Dorian Enterprises // Mugg And Bean"
            },
            {
              "name": "Roros Co Ltd"
            },
            {
              "name": "King Quality"
            },
            {
              "name": "Rockbern Coffee"
            },
            {
              "name": "Hagon Restaurants"
            },
            {
              "name": "Sunbird Support Services Limited"
            },
            {
              "name": "Sunbird Business Services Kenya Ltd"
            },
            {
              "name": "Leah Nzioki"
            },
            {
              "name": "The Heron Hotel"
            },
            {
              "name": "Nuru Hospitality Africa Limited"
            },
            {
              "name": "Ishara Experience LTD"
            },
            {
              "name": "ROBOT CAFE"
            },
            {
              "name": "Tsebo Facility Solutions Ltd"
            },
            {
              "name": "Westview Dishes"
            },
            {
              "name": "SHELIZA ANDRIS"
            },
            {
              "name": "Jambo Mutara Camp"
            },
            {
              "name": "Cyan Cakes And Creams"
            },
            {
              "name": "Pink Forest"
            },
            {
              "name": "Computech LTD"
            },
            {
              "name": "Connect Coffee Company Ltd"
            },
            {
              "name": "Aln House"
            }
          ]
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-09-04T19:17:09.000Z",
  "versionId": "3abdd32f-f254-4f34-ab25-59d4a01a804a"
}