workflows/Update Website Stock to Case Size.json
{
  "active": false,
  "connections": {
    "When clicking \"Test workflow\"": {
      "main": [
        [
          {
            "node": "Get Records (Stock Summary>0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Update website-stock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cs Cart Exists": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Records (Stock Summary>0)": {
      "main": [
        [
          {
            "node": "Cs Cart Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update website-stock": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-04-29T08:26:34.788Z",
  "id": "1ddl0UGmO9VpdcgH",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Update Website Stock to Case Size",
  "nodes": [
    {
      "parameters": {},
      "id": "25edbc18-2338-4612-88bf-c1e91b358da0",
      "name": "When clicking \"Test workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        900,
        400
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "150ae8a8-a9c3-44ea-8804-430d50020ad0",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1560,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "2514f45a-ac0f-4c7d-ab95-01b82707438b",
              "leftValue": "={{ $json['CS Cart Product ID'][0] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f9a24889-3955-4a06-8aaf-22004e1c87e3",
      "name": "Cs Cart Exists",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        1340,
        400
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appSCi0a1zPuJizxg",
          "mode": "list",
          "cachedResultName": "Bulkbox Final Master",
          "cachedResultUrl": "https://airtable.com/appSCi0a1zPuJizxg"
        },
        "table": {
          "__rl": true,
          "value": "tbl2hGiQmpSg73Una",
          "mode": "list",
          "cachedResultName": "MASTER",
          "cachedResultUrl": "https://airtable.com/appSCi0a1zPuJizxg/tbl2hGiQmpSg73Una"
        },
        "filterByFormula": "({CS Cart Product ID}!=BLANK())",
        "options": {}
      },
      "id": "aa77e15b-bfaa-47b3-9018-95b9d7e0281c",
      "name": "Get Records (Stock Summary>0)",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        1120,
        400
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "q5ICF2DzH8KpL3Ai",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://bulkbox.co.ke/api/products/{{ $json['CS Cart Product ID'][0] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic cmFzaGlkQGJ1bGtib3guY28ua2U6MTQwM1VEMnRTVzMyWjEzN3kzUEZrc3ZRRzFXNGt1d08="
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "amount",
              "value": "={{ $json['website-stock'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c46c2c28-4334-4329-b9af-ec024cdcff4a",
      "name": "Update website-stock",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1780,
        500
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-04-29T12:02:27.000Z",
  "versionId": "8faf8bd4-e52a-4b99-a2aa-8f49823828ee"
}